﻿

#modal--confirm {
    padding: 0
}
#modal--confirm .modal-content {
    padding: 30px;
    border: 0;
    border-radius: 5px;
    box-shadow: rgba(35,35,35,0.1) -3px 4px 12px;
    transition: 0.3s ease-in
}

    #modal--confirm .modal-content:hover {
        transition: 0.3s ease-out;
        box-shadow: rgba(35,35,35,0.1) -5px 6px 12px
    }

#modal--confirm .modal-body {
    padding: 0px;
    position: relative
}

    #modal--confirm .modal-body button {
        background-image: linear-gradient(135deg,#fe4545,#d70153);
        border: none;
        padding: 12px 24px;
        font-size: 15px;
        color: #fff;
        border-radius: 5px;
        text-transform: capitalize;
        line-height: 17px;
        position: relative;
        white-space: nowrap;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        -webkit-perspective: 1000;
        transition: 0.3s ease-out
    }

        #modal--confirm .modal-body button span {
            margin-left: 6px
        }

@media only screen and (max-width:1030px) {
    #modal--confirm .modal-body button {
        font-size: 16px
    }
}

@media only screen and (max-width:455px) {
    #modal--confirm .modal-body button {
        font-size: 14px;
        padding: 14px 20px;
        line-height: 14px;
        border-width: 1px
    }
}

#modal--confirm .modal-body button:active {
    transition: 0.3s ease-in;
    transform: translateY(0px);
    box-shadow: none !important;
    outline: none
}

#modal--confirm .modal-body button.deactive {
    background-color: #f6f7f9;
    background-image: none;
    color: rgba(35,35,35,0.3)
}

#modal--confirm .modal-body .modal-title {
    margin-bottom: 20px
}

#modal--confirm .close {
    background-color: #e9e9e9;
    height: 42px;
    width: 42px;
    border-radius: 12px;
    line-height: 40px;
    padding: 0;
    font-size: 40px;
    margin: 0;
    color: #fff;
    opacity: 1
}

    #modal--confirm .close svg {
        height: 22px;
        width: auto;
        transform: translateY(-1px)
    }

        #modal--confirm .close svg .cls-1 {
            opacity: 1;
            fill: #fff
        }

#modal--confirm .modal-header {
    border: 0;
    padding: 0
}

    #modal--confirm .modal-header.title__wrapper .section__title {
        flex-grow: 2;
        text-align: center
    }

#modal--confirm .card__link {
    display: flex;
    justify-content: center
}

    #modal--confirm .card__link button {
        margin: 0 10px
    }

