﻿@page "/U/{Username:required?}"
@model FanBucketUI.Pages.LockProfileModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>fanbucket</title>
    <link rel="icon" href="~/Content/gallery/logo.png" />
    <!-- bootstrap icon -->
    <link rel="stylesheet" href="~/Content/node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <!-- fancybox -->
    <!-- <link rel="stylesheet" href="~/Content/css/fancybox/fancybox.min.css"> -->
    <!-- moments -->
    <!-- demo styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/demo/style.css">
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/demo/style.css">
    <!-- lib styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/zuck.min.css">

    <!-- lib skins -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/snapgram.css">
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/vemdezap.css">
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/facesnap.css">
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/snapssenger.css">



    <!-- slick -->
    <link rel="stylesheet" href="~/Content/css/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Content/css/slick/slick.css">

    <!-- animate -->
    <link rel="stylesheet"
          href="~/Content/node_modules/animate.css/animate.min.css" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/otherstyle.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- style -->
    <!-- <link rel="stylesheet" href="~/Content/css/style.css"> -->
    <style>
        .mainColor {
            background: linear-gradient( 135deg,#fe4545,#d70153);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .badge .grid {
            display: grid;
            grid-gap: 12px;
            grid-template: auto/repeat(6,1fr);
        }

        .badge .image {
            height: 50px;
        }

            .badge .image img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
    </style>

</head>

<body>
    <link rel="stylesheet" href="~/Content/css/extra-pages.css">
    <aside class="right--aside profile--right--aside profile--logout--aside">
        <div class="sticky-top right--aside__wrapper">
            <div class="logo">
                <img src="/Content/gallery/logo--hr.png" alt="">
            </div>


            <section class="signup--right">

                <div class="logo--top">
                    <h2 class="section__title section__title--lg">Ready to make fans?</h2>
                </div>
                <div class="signup--bottom">
                    <p class="dark">Join fanbucket now.</p>
                    <div class="signup--bottom--bottom">
                        <button class="common" onclick="location.href = '/login';">Sign Up</button>
                        <button class="br" onclick="location.href = '/login';">Log In</button>
                    </div>
                    <div class="app">
                        <a href="#" target="_blank">
                            <img src="/Content/gallery/app/google_play.png" alt="">
                        </a>
                        <a href="#" target="_blank">
                            <img src="/Content/gallery/app/istore.png" alt="">
                        </a>
                    </div>
                </div>



            </section>
            @*<section class="section--video">
                <div class="video--wrapper">
                <video src="~/Content/gallery/Digital_Marketing_Trial_Shoot.mp4"></video>
                <div class="play">
                <i class="bi bi-play-circle-fill"></i>
                </div>

                </div>
                </section>*@

            <footer style="position:absolute;bottom:0px;">
                <div class="footer--link">
                    <a href="#" class="para ">Terms of Services</a>
                    <a href="#" class="para ">Private Policy</a>
                    <a href="#" class="para ">Cookie Policy</a>
                    <a href="#" class="para ">More</a>
                    <a href="#" class="para ">&copy; 2020 Fanbucket</a>

                </div>
            </footer>
        </div>
    </aside>

    <main class="main profile--main profile--logout">
        <section class="profile__card profile__card__wallpaper">
            <div class="card__wallpaper">
                <img src="@Model.usr.CoverImgLocation" alt="">
            </div>
            <div class="card__body">
                <div class="card__top">
                    <div class="card__img active">
                        <img src="@Model.usr.ProfileImgLocation" alt="">
                    </div>

                </div>
                <h2 class="section__title mb-0">@Model.usr.Fullname</h2>
                <p class="user--name">@Model.usr.Username</p>
                <div class="profile__card__bottom">
                    <p class="mb-0">@Model.usr.ShortBio</p>
                    <div class="ml-auto profile-numbers">

                        <a href="#!">
                            <h2 class="profile-numbers--title">@Model.usr.TotalFollowers</h2>
                            <small>followers</small>
                        </a>
                        <a class="px-2" href="#">
                            <h2 class="profile-numbers--title">@Model.usr.TotalSubscribers</h2>
                            <small>subscribers</small>
                        </a>
                        <a href="#!">
                            <h2 class="profile-numbers--title">@Model.usr.TotalFollowing</h2>
                            <small>following</small>
                        </a>



                    </div>
                </div>

            </div>
        </section>
        <section class="feed">
            <div class="image--grid">
                @if (!string.IsNullOrEmpty(Model.usr.FeaturedImageLeft))
                {
                    <article class="card">
                        <div class="card__body">
                            <div class="re-late">
                                <div class="card__img ">
                                    <img src="@(Model.usr.FeaturedImageLeft)" alt="">
                                </div>
                                <div class="absolute--info">
                                </div>
                            </div>
                        </div>
                    </article>

                }
                @if (!string.IsNullOrEmpty(Model.usr.FeaturedImageRight))
                {
                    <article class="card">
                        <div class="card__body">
                            <div class="re-late">
                                <div class="card__img ">
                                    <img src="@(Model.usr.FeaturedImageRight)" alt="">
                                </div>
                                <div class="absolute--info">
                                </div>
                            </div>
                        </div>
                    </article>

                }
                @if (Model.usr.SocialMediaLinks.Count > 0)
                {
                    <article class="card--button--group">
                        @foreach (var item in Model.usr.SocialMediaLinks)
                        {
                            <a href="@(item.BaseUrl+item.Name)" target="_blank" class="outline--common"><img src="@(item.LogoUrl)"><span>@(item.Name)</span></a>
                        }
                        @*<button class="outline--common"><img src="./gallery/social/facebook.png"><span>Facebook</span></button>
                            <button class="outline--common"><img src="./gallery/social/instagram.png"><span>Instagram</span></button>
                            <button class="outline--common"><img src="./gallery/social/tiktok.png"><span>Tiktok</span></button>
                            <button class="outline--common"><img src="./gallery/social/onlyfans.png"><span>Onlyfans</span></button>*@
                    </article>
                }


            </div>
        </section>

    </main>


    <footer class="login-pages__footer m-0 p-0">
        <div class="section__rule">
            <ul class="nav">
                <li class="nav-item">
                    <p class="nav-link">&copy; 2020 fanbucket</p>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link" target="_blank">About</a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link" target="_blank">Terms</a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link" target="_blank">Developers </a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link" target="_blank">Help Center</a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link" target="_blank">Language </a>
                </li>
            </ul>
        </div>
    </footer>





    <!--jquery  -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script src="https://kit.fontawesome.com/021b940a03.js" crossorigin="anonymous"></script>


    <!-- fancybox -->
    <!-- <script type="text/javascript" src="~/Content/css/fancybox/jquery.fancybox.min.js"></script> -->
    <!-- owl -->
    <script type="text/javascript" src="~/Content/css/slick/slick.min.js"></script>

    <script src="~/Content/js/hammerjs.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="~/Content/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Content/css/bootstrap/js/bootstrap.min.js"></script>

    <!-- moments -->
    <!-- <script src="~/Content/node_modules/zuck.js/dist/zuck.min.js"></script> -->
    <!-- <script src="~/Content/node_modules/zuck.js/demo/script.js"></script> -->
    <!-- commom js -->
    <script type="text/javascript" src="~/Content/js/commonjs.js"></script>
    <script>
        $(document).ready(function (e) {
            //         var loadImages = function () {
            //    var xhttp = new XMLHttpRequest();
            //    var UserId = document.getElementById('UserId').value;
            //    $(this).toggleClass('active');
            //    xhttp.onreadystatechange = function () {
            //        if (this.readyState == 4 && this.status == 200) {
            //            var Feed = document.querySelector("#viewFeed .feed");
            //            Feed.innerHTML = this.responseText;
            //            //CommonSite.ContentAddons();
            //            Fancybox.destroy("[data-fancybox]");
            //            Fancybox.bind("[data-fancybox]", {
            //                // Your options go here
            //            });

            //        }
            //    };
            //    xhttp.open("GET", CommonSite.appURL + "/User/GuestUserPostByImageContent", true);
            //    xhttp.send();
            //};


            $('.signup--bottom button').click(function (e) {
                e.preventDefault();
                let parent = $(this).parents('.signup--wrapper__half');
                let parentFormHide = parent.find('.sign-up--form:hidden')[0];
                let parentFormVisible = parent.find('.sign-up--form:visible')[0];

                if (!parent.hasClass('active')) {
                    parent.addClass('active');
                    $(this).prev().hide('300');
                    $(this).text('next');
                    $(parentFormHide).show('500');

                }
                else if ($(parentFormVisible).next().hasClass('sign-up--form')) {
                    $(parentFormVisible).hide('300')
                    $(parentFormHide).show('500');
                    $(this).text('sign up');

                }
                else {
                    $('.step1').submit();
                }

            })

            $('.signup--wrapper__half .sign-up--form.step1').submit(function (e) {
                let parentFormHide = $('.signup--wrapper__half .sign-up--form:hidden')[0];
                let parentFormVisible = $('.signup--wrapper__half .sign-up--form:visible')[0];
                $(parentFormVisible).hide('300')
                $(parentFormHide).show('500');
            })


        })
    </script>

</body>
</html>

