﻿@page

@model FanBucketUI.Pages.LoginModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Fanbucket</title>
    <link rel="icon" href="~/Content/gallery/logo.png" />
    <!-- bootstrap icon -->
    <link rel="stylesheet" href="~/Content/node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <!-- fancybox -->
    <!-- <link rel="stylesheet" href="~/Content/css/fancybox/fancybox.min.css"> -->
    <!-- moments -->
    <!-- demo styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/demo/style.css">
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/demo/style.css">
    <!-- lib styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/zuck.min.css">

    <!-- lib skins -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/snapgram.css">
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/vemdezap.css">
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/facesnap.css">
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/snapssenger.css">



    <!-- slick -->
    <link rel="stylesheet" href="~/Content/css/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Content/css/slick/slick.css">

    <!-- animate -->
    <link rel="stylesheet"
          href="~/Content/node_modules/animate.css/animate.min.css" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap.min.css">
    @*
        <link rel="stylesheet" href="~/Content/css/animate.css">*@
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- style -->
    <!-- <link rel="stylesheet" href="~/Content/css/style.css"> -->
    <style>
        .video--wrappers {
            margin-left: -50%;
            border-radius: 50px;
            width: 100%;
            height: auto;
        }

        .errorAnimate {
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
            box-shadow: 0 0 1em #fe4545 !important;
            border: none;
        }

        form {
            transition: box-shadow 0.5s;
        }

        .hide {
            display: none;
        }

        @@keyframes shake {
            10%, 90% {
                transform: translate3d(-1px, 0, 0);
            }

            20%, 80% {
                transform: translate3d(2px, 0, 0);
            }

            30%, 50%, 70% {
                transform: translate3d(-4px, 0, 0);
            }

            40%, 60% {
                transform: translate3d(4px, 0, 0);
            }
        }
    </style>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJJ5GBN');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <link rel="stylesheet" href="~/Content/css/extra-pages.css">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJJ5GBN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="progress--loader">
        <div class="loader--bg"></div>
    </div>
    <main class="main login-pages inner-page no-navs">
        <aside class="illustration">
            <img src="~/Content/gallery/login/loginbg01.jpg" alt="">

            <div class="animation--part">
                <div class="person--circular--wrapper">
                    <div class="person--circular">
                        <div class="circle--lg"></div>
                        <div class="circle--sm"></div>

                        <div class="pp--image">
                            <img src="~/Content/gallery/ali-yahya-43cZUXtT3yc-unsplash-min.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="person--circular--wrapper">
                    <div class="person--circular">
                        <div class="circle--lg"></div>
                        <div class="circle--sm"></div>

                        <div class="pp--image">
                            <img src="~/Content/gallery/ali-yahya-kK47cG2EyMk-unsplash-min.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="person--circular--wrapper">
                    <div class="person--circular">
                        <div class="circle--lg"></div>
                        <div class="circle--sm"></div>

                        <div class="pp--image">
                            <img src="~/Content/gallery/allef-vinicius-QHvtBAYVcfw-unsplash-min.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="person--circular--wrapper">
                    <div class="person--circular">
                        <div class="circle--lg"></div>
                        <div class="circle--sm"></div>

                        <div class="pp--image">
                            <img src="~/Content/gallery/allef-vinicius-xxTHuC_wdn0-unsplash-min.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="person--circular--wrapper">
                    <div class="person--circular">
                        <div class="circle--lg"></div>
                        <div class="circle--sm"></div>

                        <div class="pp--image">
                            <img src="~/Content/gallery/charles-etoroma-NPF8rG7pmAw-unsplash-min.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="person--circular--wrapper">
                    <div class="person--circular">
                        <div class="circle--lg"></div>
                        <div class="circle--sm"></div>

                        <div class="pp--image">
                            <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="person--circular--wrapper">
                    <div class="person--circular">
                        <div class="circle--lg"></div>
                        <div class="circle--sm"></div>

                        <div class="pp--image">
                            <img src="~/Content/gallery/hanny-naibaho-Wx_ThCrudko-unsplash-min.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="person--circular--wrapper">
                    <div class="person--circular">
                        <div class="circle--lg"></div>
                        <div class="circle--sm"></div>

                        <div class="pp--image">
                            <img src="~/Content/gallery/josh-parsons-qBA9e_Sv-jY-unsplash-min.jpg" alt="">
                        </div>
                    </div>
                </div>

                <div class="logo">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 134.78 134.78">
                        <defs>
                            <style>
                                .cls-1, .cls-4 {
                                    fill: #fcedf2;
                                }

                                .cls-3 {
                                    clip-path: url(#clip-path);
                                }
                            </style>
                            <clipPath id="clip-path" transform="translate(35.42 31.59)"><path class="cls-1" d="M62.33,43,58,23.62c-2.93,10.28-9.57,17.22-19.33,21s-19.42,3.08-28.43-2.89c0,.31,0,.42,0,.49,4.33,7.53,8.68,15,13,22.6a10.46,10.46,0,0,0,6.16,4.94,22.73,22.73,0,0,0,11.66.54c8.3-1.63,15.59-5.08,20.69-12.16a10.42,10.42,0,0,0,2-8.76c-.5-2.11-1-4.22-1.44-6.33m-18-37.3a30,30,0,0,0-4.13-.19A28,28,0,0,0,34,6.46a65.67,65.67,0,0,0-9.48,3s-11.13,3.94-15.42,9.9a4.67,4.67,0,0,0-.89,1.71c-.1.47.51.79,1,.52l.56-.28a3.77,3.77,0,0,0,1.59-1.45,4.64,4.64,0,0,1,.59-.79c5-5.37,13.23-7.91,13.66-8.09a58.22,58.22,0,0,1,13-3.42,19.66,19.66,0,0,1,3.43-.15,6.41,6.41,0,0,1,1.07.15,4.45,4.45,0,0,0,2.29-.08l.61-.16c.57-.15.72-.76.25-1a5.38,5.38,0,0,0-2-.58M14.79,25.17c-.76.07-1.52.1-2.29.12a29.55,29.55,0,0,1-5.32-.24c-3.5-.54-4.36-3.11-2.24-5.94A21.86,21.86,0,0,1,8.08,15.8,52.75,52.75,0,0,1,22.34,7.6,61.25,61.25,0,0,1,37,3.2l.88-.1L40.21,3a42.69,42.69,0,0,1,6.09.07c3.51.37,4.62,2.9,2.56,5.77A21.17,21.17,0,0,1,44,13.65a88.64,88.64,0,0,1-8.7,5.18c-4.29,2.36-13,4.93-15,5.34a39.66,39.66,0,0,1-5.5,1M49.86.82A21.82,21.82,0,0,0,43,0a39.5,39.5,0,0,0-4.48.44L37.8.55a46.68,46.68,0,0,0-6.53,1.34l-1.11.32A74.47,74.47,0,0,0,11.4,10.29c-3.93,2.45-7.69,5.14-10.26,9.12a5.49,5.49,0,0,0-.3,6.25,74.89,74.89,0,0,0,4.42,7c4.34,5.65,9.88,9.57,17,10.75,5.86.93,11.45-.31,16.81-2.69C45.93,37.62,51.18,33,53.78,25.78c2.49-6.87,2-13.79.15-20.73a5.56,5.56,0,0,0-4-4.23" /></clipPath>
                        </defs>
                        <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><path class="cls-1" d="M62.33,43,58,23.62c-2.93,10.28-9.57,17.22-19.33,21s-19.42,3.08-28.43-2.89c0,.31,0,.42,0,.49,4.33,7.53,8.68,15,13,22.6a10.46,10.46,0,0,0,6.16,4.94,22.73,22.73,0,0,0,11.66.54c8.3-1.63,15.59-5.08,20.69-12.16a10.42,10.42,0,0,0,2-8.76c-.5-2.11-1-4.22-1.44-6.33m-18-37.3a30,30,0,0,0-4.13-.19A28,28,0,0,0,34,6.46a65.67,65.67,0,0,0-9.48,3s-11.13,3.94-15.42,9.9a4.67,4.67,0,0,0-.89,1.71c-.1.47.51.79,1,.52l.56-.28a3.77,3.77,0,0,0,1.59-1.45,4.64,4.64,0,0,1,.59-.79c5-5.37,13.23-7.91,13.66-8.09a58.22,58.22,0,0,1,13-3.42,19.66,19.66,0,0,1,3.43-.15,6.41,6.41,0,0,1,1.07.15,4.45,4.45,0,0,0,2.29-.08l.61-.16c.57-.15.72-.76.25-1a5.38,5.38,0,0,0-2-.58M14.79,25.17c-.76.07-1.52.1-2.29.12a29.55,29.55,0,0,1-5.32-.24c-3.5-.54-4.36-3.11-2.24-5.94A21.86,21.86,0,0,1,8.08,15.8,52.75,52.75,0,0,1,22.34,7.6,61.25,61.25,0,0,1,37,3.2l.88-.1L40.21,3a42.69,42.69,0,0,1,6.09.07c3.51.37,4.62,2.9,2.56,5.77A21.17,21.17,0,0,1,44,13.65a88.64,88.64,0,0,1-8.7,5.18c-4.29,2.36-13,4.93-15,5.34a39.66,39.66,0,0,1-5.5,1M49.86.82A21.82,21.82,0,0,0,43,0a39.5,39.5,0,0,0-4.48.44L37.8.55a46.68,46.68,0,0,0-6.53,1.34l-1.11.32A74.47,74.47,0,0,0,11.4,10.29c-3.93,2.45-7.69,5.14-10.26,9.12a5.49,5.49,0,0,0-.3,6.25,74.89,74.89,0,0,0,4.42,7c4.34,5.65,9.88,9.57,17,10.75,5.86.93,11.45-.31,16.81-2.69C45.93,37.62,51.18,33,53.78,25.78c2.49-6.87,2-13.79.15-20.73a5.56,5.56,0,0,0-4-4.23" transform="translate(35.42 31.59)" /><g class="cls-3"><rect class="cls-4" x="-15.71" y="-11.87" width="95.35" height="95.35" transform="translate(19.41 66.2) rotate(-46.82)" /></g></g></g></g>
                    </svg>
                </div>
            </div>
        </aside>


        <aside class="login-pages__main main--padding">
            <article class="mob-login mob-login--top">
                <div class="logo--top">
                    <img src="~/Content/gallery/logo--hr.png" alt="">
                    <a class="link" href="#!">Sign Up</a>
                </div>
                <img src="~/Content/gallery/mobpp.png" alt="" class="mobpp">

            </article>
            <article class="login__top">
                <div class="mob-login">
                    <h2 class="section__title text-active">Log In</h2>
                    <p class="para">Welcome back !</p>
                </div>

                <form autocomplete="false" action="~/Login/" method="post" class="fieldShake" id="loginForm">
                    <div class="form-group ">
                        <input type="text" name="username" class="form-control br" autocomplete="off" placeholder="Username" autofocus="">
                        <p class="text-success">@Model._LoginMsg</p>
                        @*<p class="text-danger">@Model._Msg</p>*@
                    </div>
                    <div class="form-group ">
                        <input type="password" name="password" class="form-control br" autocomplete="off" placeholder="Password">
                        <small><a href="/User/ForgotPassword">Forget password ?</a></small>
                    </div>
                    <button type="submit" class="br common">
                        Log In
                    </button>
                </form>

            </article>


            <article class="signup--wrapper">
                <div class="d-flex">
                    <div class="signup--left ">
                        <div class="popular--user">
                            <div class="profile--card">
                                <a class="card__img active">
                                    <img src="~/Content/gallery/ali-yahya-43cZUXtT3yc-unsplash-mi.jpg" alt="">
                                </a>
                                <div class="card__body">
                                    <h2 class="card__title">Oh hey! I'm a Dj.</h2>
                                    <p class="para small">Let's connect here.</p>
                                </div>
                            </div>
                        </div>
                        <div class="video--wrapper">

                            <video muted="" autoplay="" loop="" controlsList="nofullscreen nodownload">
                                <source src="https://media.milanote.com/p/files/1LAXVU1ibv0sax/qLA/Trail7.mp4" />
                            </video>
                            <div class="user--gesture__blocked">
                            </div>
                        </div>

                    </div>
                    <div class="signup--right ">
                        <div class="signup--wrapper__half">

                            <div class="logo--top">
                                <img src="~/Content/gallery/logo--hr.png" alt="">
                                <p>Possibilities are endless with Fanbucket</p>
                                <h2 class="section__title ">Create Exclusive Content,<br /> Share & Earn Money</h2>
                            </div>

                            <div class="mob-login">
                                <h2 class="section__title text-active">Sign Up</h2>
                                <p class="para">Ready to make fans?</p>
                            </div>



                            <form class="sign-up--form sign-up--form--1 " asp-page="/Login" asp-page-handler="RegisterClient" method="post">
                                <div class="form-group ">
                                    <input type="text" class="form-control br" name="Fullname" placeholder="Full name" required="required" autocomplete="off">
                                </div>
                                <div class="form-group ">
                                    <input type="text" class="form-control br Username" name="Username" placeholder="Username" required="required" value="@(Model.RegisterClient.Username)" autocomplete="off">
                                    <p class="text-danger hide">An account with that username already exists, please use another or request for a password reset.</p>

                                </div>
                                <div class="form-group ">
                                    <input type="email" class="form-control br Email" name="Email" placeholder="Email" required="required" value="@(Model.RegisterClient.Email)" autocomplete="off">
                                    <p class="text-danger hide">An account with that email already exists, please use another or request for a password reset.</p>

                                </div>
                                <div class="form-group ">
                                    <input type="password" class="form-control br Password" name="Password" placeholder="Password" id="signup_password" required="required" value="@(Model.RegisterClient.Password)" autocomplete="new-password">

                                    <div id="pass_signup_error" class="text-danger">
                                    </div>
                                    <!--<div class="password--text input--text">
                                        <small>your password is <span>weak</span></small>
                                        <div class="progress">-->
                                    <!-- weak, mid, strong -->
                                    <!--<div class="progress-bar weak" role="progressbar"></div>
                                        </div>

                                    </div>-->
                                </div>
                                <input type="hidden" class="form-control br" id="latitude" name="Latitude" placeholder="latitude" value="@(Model.RegisterClient.Latitude)">
                                <input type="hidden" class="form-control br" id="longitude" name="Longitude" placeholder="longitude" value="@(Model.RegisterClient.Longitude)">

                                <div class="form-check form-group custom-control custom-checkbox">
                                    <input class="form-check-input custom-control-input" type="checkbox" value="" id="flexCheckDefault">
                                    <label class="form-check-label custom-control-label" for="flexCheckDefault">
                                        By selecting 'Submit' you agree to Fanbucket's <a href="#" target="_blank" class="nm-link">Terms and Conditions</a>.<br />
                                        <a href="#" target="_blank" class="nm-link">Privacy Statement</a>
                                        @*Please ensure you read and <a href="#" target="_blank" class="nm-link">terms and conditions</a> prior to subscribing via the button below.*@
                                    </label>
                                </div>
                                <div class="signup--bottom ">
                                    <button class="common" disabled="disabled">Submit</button>
                                    <button class="btn--common deactive back w-100 text--dark" type="button">Back</button>
                                </div>
                            </form>
                            @*<div class=" sign-up--form join--form ">

                                <iframe src="https://forms.office.com/Pages/ResponsePage.aspx?id=tRppukfxn0GSJ_mBbHjZ_5_nrDEMFFNIuvAWBUOtXKpUN1VVNFg2WEJYTlZEREtWQ0NRT1JXSktETy4u" frameborder="0" marginwidth="0" marginheight="0" style="border: none; width:100%; height:100%"> </iframe>
                                </div>*@
                            <form class=" sign-up--form join--form " id="signupqueue">
                                <div class="step-0">
                                    <div class="form-group ">
                                        <input type="text" class="form-control br" name="Fullname" placeholder="Full name" required="required" autocomplete="off">
                                    </div>
                                    <div class="form-group ">
                                        <input type="text" class="form-control br Username" name="Username" placeholder="Username" required="required" value="" autocomplete="off">
                                        <p class="text-danger hide">An account with that username already exists, please use another or request for a password reset.</p>

                                    </div>
                                    <div class="form-group ">
                                        <input type="email" class="form-control br Email" name="Email" placeholder="Email" required="required" value="" autocomplete="off">
                                        <p class="text-danger hide">An account with that email already exists, please use another or request for a password reset.</p>

                                    </div>
                                    <div class="form-group ">
                                        <input type="password" class="form-control br Password" name="Password" placeholder="Password" id="signup_queue_password" required="required" value="" autocomplete="new-password">

                                        <div id="pass_error" class="text-danger">
                                        </div>
                                    </div>


                                    <div class="signup--bottom ">
                                        <button class="common next" type="button">Next</button>
                                        <button class="btn--common deactive back w-100 text--dark" type="button">Back</button>
                                    </div>
                                </div>

                                <div class="step-1">
                                    <div>
                                        @* <div class="form-group ">
                                            <input type="text" class="form-control br" name="FirstName" placeholder="Full Name" required="required">
                                            <input type="hidden" class="form-control br" name="LastName" placeholder="Last Name" value=" ">
                                            </div>
                                            <div class="form-group ">
                                            <input type="email" class="form-control br" placeholder="Email" name="EmailAddress" required="required">
                                            </div>*@
                                        <div class="form__wrapper check-list">
                                            <p>How would you describe your content creation style?</p>
                                            <div class="form-group ">
                                                <div class="list-group">
                                                    <div class="form-check">
                                                        <input name="content--style" class="form-check-input" type="checkbox" value="Podcaster" id="subject--1">
                                                        <label class="list-group-item list-group-item-action form-check-label" for="subject--1">
                                                            <i class="bi bi-check-circle"></i> Podcaster
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input name="content--style" class="form-check-input" type="checkbox" value="Video Creator/VBlogger/Youtuber" id="subject--2">
                                                        <label class="list-group-item list-group-item-action form-check-label" for="subject--2">
                                                            <i class="bi bi-check-circle"></i> Video Creator/VBlogger/Youtuber
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input name="content--style" class="form-check-input" type="checkbox" value="Musician" id="subject--3">
                                                        <label class="list-group-item list-group-item-action form-check-label" for="subject--3">
                                                            <i class="bi bi-check-circle"></i> Musician
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input name="content--style" class="form-check-input" type="checkbox" value="Graphic Designer" id="subject--4">
                                                        <label class="list-group-item list-group-item-action form-check-label" for="subject--4">
                                                            <i class="bi bi-check-circle"></i> Graphic Designer
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input name="content--style" class="form-check-input" type="checkbox" value="Tutorial and Education" id="subject--5">
                                                        <label class="list-group-item list-group-item-action form-check-label" for="subject--5">
                                                            <i class="bi bi-check-circle"></i> Tutorial and Education
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input name="content--style" class="form-check-input" type="checkbox" value="Writer and Journalist/Blogger" id="subject--6">
                                                        <label class="list-group-item list-group-item-action form-check-label" for="subject--6">
                                                            <i class="bi bi-check-circle"></i> Writer and Journalist/Blogger
                                                        </label>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="list-group-item list-group-item-action form-check-label">
                                                            <input type="text" name="Other" id="Other" placeholder="Other" class="form-control">
                                                        </label>
                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="signup--bottom ">
                                            <!-- <button class="common" type="submit">Next</button> -->
                                            <button class="common next" type="button">Next</button>
                                            <button class="btn--common deactive back w-100 text--dark" type="button">Back</button>
                                        </div>

                                    </div>
                                </div>
                                <div class="step-2  w-100">
                                    <div>
                                        <div class="form-group ">
                                            <textarea class="form-control br" name="FollowersAndPlatfrom" placeholder="Subscriber/Followers count? and Platform?" required="required"></textarea>
                                        </div>
                                        <div class="form-group ">
                                            <textarea class="form-control br" name="SocialMediaLinks" placeholder="Social Media Links" required="required"></textarea>
                                        </div>
                                        <div class="form-group ">
                                            <textarea class="form-control br" name="CSMReason" placeholder="Customer Success Managers (CSM) are limited, let us know why you would like one?" required="required"></textarea>
                                        </div>
                                    </div>
                                    <div class="signup--bottom ">
                                        <!-- <button class="common" type="submit">Next</button> -->
                                        <button class="next" id="submit_signup_queue" type="button">Submit</button>
                                        <button class="btn--common deactive backk w-100 text--dark" type="button">Back</button>
                                    </div>
                                </div>
                            </form>

                            <div class="signup--bottom">
                                <!-- <p class="dark">Join fanbucket now.</p> -->
                                <div class="btn--toggle">
                                    <button class="common signup--btn">Join fanbucket now</button>

                                    <button class="deactive border--dark text--dark fan--btn">I already have fans</button>
                                </div>


                                <div class="app">
                                    <a href="#" target="_blank">
                                        <img src="~/Content/gallery/app/google_play.png" alt="">
                                    </a>
                                    <a href="#" target="_blank">
                                        <img src="~/Content/gallery/app/istore.png" alt="">
                                    </a>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>

            </article>
        </aside>
    </main>

    <footer class="login-pages__footer m-0 p-0">
        <div class="section__rule">
            <ul class="nav">
                <li class="nav-item">
                    <p class="nav-link">&copy; @DateTime.Now.Year fanbucket</p>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link" target="_blank">About</a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link" target="_blank">Terms</a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link" target="_blank">Developers </a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link" target="_blank">Help Center</a>
                </li>
                <li class="nav-item">
                    <a href="#!" class="nav-link" target="_blank">Language </a>
                </li>
            </ul>
            <div class="app mob-login">
                <a href="#" target="_blank">
                    <img src="/Content/gallery/app/google_play.png" alt="">
                </a>
                <a href="#" target="_blank">
                    <img src="./Content/gallery/app/istore.png" alt="">
                </a>
            </div>
        </div>
    </footer>
    <div class="modal ott--modal fade " id="ott--modal" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header title__wrapper">
                  <h2 class="section__title">Success</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.73 13.73"><<g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="13.73 0.78 12.95 0 6.87 6.08 0.78 0 0 0.78 6.08 6.87 0 12.95 0.78 13.73 6.87 7.65 12.95 13.73 13.73 12.95 7.65 6.87 13.73 0.78" /></g></g></svg>
                    </button>
                </div>
                <div class="modal-body overflow--hidden">


                    <div class="sucess--part active " style="position:relative;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                            <path d="M8.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14l.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
                        </svg>

                        

                        <h2 class="card__title">@(Model._Msg!=null?Model._Msg:"")</h2>
                        <button class="close-btn" type="button" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!--jquery  -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script>
        var modal ='@(Model._Msg!=null)';
        $(document).ready(() => {
            const parent = $('.join--form .steps--wrapper');
            let count = parent.next().find('.count');

            const wrapper = () => {
                // console.log(document.querySelector('.steps.active').scrollHeight);
                // parent.css('height', $('.steps.active')[0].scrollHeight + 'px');
            }

            if (modal === 'True') {
                var status = '@(Model._Status)';
                if (status == 'True') {
                    $('#ott--modal .section__title').val("Success");
                }
                else {
                  $('#ott--modal .section__title').val("Error");
                  $('#ott--modal .sucess--part').find('svg').first().remove();
                  $('#ott--modal .sucess--part').prerpend('<i class="bi bi-x-circle"></i>');

                }
                $('#ott--modal').modal('show');
            }

            $('#steps--next').click(function (e) {
                e.preventDefault();
                let elem = parent.find('.steps.active');
                if (elem.next().hasClass('steps')) {
                    elem.removeClass('active');
                    elem.next().addClass('active');
                    $('#steps--prev').removeClass('d-none');
                    let count = elem.index() + 2;
                    calcWidth(count);
                    // let num = parseInt(count.text());
                    // count.text(num+1)



                    elem.next()[0].scrollIntoView({
                        behavior: "smooth",
                        block: "center",
                        inline: "start"
                    });
                }
                else {
                    $(this).parents('form').submit();
                }

            })
            $('#steps--prev').click((e) => {
                e.preventDefault();
                let elem = parent.find('.steps.active');
                // console.log(elem.index())
                if (elem.index() > 0) {
                    elem.removeClass('active');
                    elem.prev().addClass('active');
                    // let num = parseInt(count.text());
                    // count.text(num-1);
                    let count = elem.index();
                    calcWidth(count);
                    elem.prev()[0].scrollIntoView({
                        behavior: "smooth",
                        block: "center",
                        inline: "start"
                    });

                    if (elem.index() === 1)
                        $('#steps--prev').addClass('d-none')


                }

            })
            const calcWidth = (count) => {
                console.log(count * 33);

                $('.join--form .steps--bottom .progress-bar').width(count * 33 + '%');

            }


        })
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function showPosition(position) {
            console.log(position);
            $("#latitude").val(position.coords.latitude);
            $("#longitude").val(position.coords.longitude);
            //    x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
        }
        getLocation();
    </script>
    <script src="https://kit.fontawesome.com/021b940a03.js" crossorigin="anonymous"></script>
    <!-- fancybox -->
    <!-- <script type="text/javascript" src="~/Content/css/fancybox/jquery.fancybox.min.js"></script> -->
    <!-- owl -->
    <script type="text/javascript" src="~/Content/css/slick/slick.min.js"></script>

    <script src="~/Content/js/hammerjs.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="~/Content/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/Content/css/bootstrap/js/bootstrap.min.js"></script>

    <!-- moments -->
    <!-- <script src="~/Content/node_modules/zuck.js/dist/zuck.min.js"></script> -->
    <!-- <script src="~/Content/node_modules/zuck.js/demo/script.js"></script> -->
    <!-- commom js -->
    @{
        await Html.RenderPartialAsync("Config");
    }



    <script type="text/javascript" src="~/Content/js/commonjs.js" asp-append-version="true"></script>
    <script src="~/js/Login.js" asp-append-version="true"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function () {

            //// Custom method to validate username
            //$.validator.addMethod("usernameRegex", function (value, element) {
            //    return this.optional(element) || /^[a-zA-Z0-9]*$/i.test(value);
            //}, "Username must contain only letters, numbers");
            $.validator.addMethod("ValidateCheckbox", function (value, elem, param) {
                return $(".form-check-input:checkbox:checked").length > 0 || $('#Other').val().length > 0;
            }, "You must select at least one!");
            $(".sign-up--form.join--form .next").click(function () {

                var form = $("#signupqueue");
                form.validate({
                    errorElement: 'span',
                    errorClass: 'text-danger',
                   ignore: ":hidden",
                   highlight: function (element, errorClass, validClass) {
                                           $(element).closest('.form-group').addClass("has-error");
                                       },
                    unhighlight: function (element, errorClass, validClass) {
                        $(element).closest('.form-group').removeClass("has-error");
                    },
                    rules: {
                        FirstName: {
                            required: true,
                            //usernameRegex: true,
                            minlength: 3,
                        },
                        EmailAddress: {

                            required: true,
                            minlength: 3,
                            email: true
                        },
                        "content--style": {
                            required: { ValidateCheckbox: true },
                        },
                        FollowersAndPlatfrom: {
                            required: true,
                        },
                        SocialMediaLinks: {
                            required: true,
                        },
                        CSMReason: {
                            required: true,
                        },



                    },

                    //submitHandler: function (form) { // for demo
                    //    alert('valid form submitted'); // for demo
                    //    return false; // for demo
                    //}
                });
                if (form.valid() === true) {
                    if ($('.step-1').is(":visible")) {
                        $(".step-1").hide(300);
                        $('.step-2').show(300);
                        //    current_fs = $('#account_information');
                        //    next_fs = $('#company_information');
                        //} else if ($('#company_information').is(":visible")) {
                        //    current_fs = $('#company_information');
                        //    next_fs = $('#personal_information');
                    }
                     if ($('.step-0').is(":visible")) {
                        $(".step-0").hide(300);
                        $('.step-1').show(300);

                    }
                    //next_fs.show();
                    //current_fs.hide();
                }
            });



        });
    </script>
</body>
</html>
