﻿@page
@model FanBucketUI.Pages.SignUpQueueModel
@{
    ViewData["Title"] = "Home page";
    Layout = null;
}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>fanbucket</title>
    <link rel="icon" href="~/Content/gallery/logo.png" />
    <!-- bootstrap icon -->
    <link rel="stylesheet" href="~/Content/node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <!-- fancybox -->
    <!-- <link rel="stylesheet" href="~/Content/css/fancybox/fancybox.min.css"> -->
    <!-- moments -->
    <!-- demo styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/demo/style.css">
    <!-- lib styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/zuck.min.css">

    <!-- lib skins -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/snapgram.css">


    <link rel="stylesheet" href="~/Content/node_modules/datetime/css/tail.datetime-harx-light.css">



    <!-- slick -->
    <link rel="stylesheet" href="~/Content/css/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Content/css/slick/slick.css">

    <!-- animate -->
    <link rel="stylesheet"
          href="~/Content/node_modules/animate.css/animate.min.css" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/otherstyle.css">
    <link rel="stylesheet" href="~/Content/css/extra-pages.css">

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJJ5GBN');</script>
    <!-- End Google Tag Manager -->
</head>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJJ5GBN"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<main class="main login-pages inner-page no-navs landing--page">
    <aside class="illustration">
        <img src="~/Content/gallery/login/loginbg01.jpg" alt="">

        <div class="animation--part">
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/ali-yahya-43cZUXtT3yc-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/ali-yahya-kK47cG2EyMk-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/allef-vinicius-QHvtBAYVcfw-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/allef-vinicius-xxTHuC_wdn0-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/charles-etoroma-NPF8rG7pmAw-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/hanny-naibaho-Wx_ThCrudko-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/josh-parsons-qBA9e_Sv-jY-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 134.78 134.78">
                    <defs>
                        <style>
                            .cls-1, .cls-4 {
                                fill: #fcedf2;
                            }

                            .cls-3 {
                                clip-path: url(#clip-path);
                            }
                        </style>
                        <clipPath id="clip-path" transform="translate(35.42 31.59)"><path class="cls-1" d="M62.33,43,58,23.62c-2.93,10.28-9.57,17.22-19.33,21s-19.42,3.08-28.43-2.89c0,.31,0,.42,0,.49,4.33,7.53,8.68,15,13,22.6a10.46,10.46,0,0,0,6.16,4.94,22.73,22.73,0,0,0,11.66.54c8.3-1.63,15.59-5.08,20.69-12.16a10.42,10.42,0,0,0,2-8.76c-.5-2.11-1-4.22-1.44-6.33m-18-37.3a30,30,0,0,0-4.13-.19A28,28,0,0,0,34,6.46a65.67,65.67,0,0,0-9.48,3s-11.13,3.94-15.42,9.9a4.67,4.67,0,0,0-.89,1.71c-.1.47.51.79,1,.52l.56-.28a3.77,3.77,0,0,0,1.59-1.45,4.64,4.64,0,0,1,.59-.79c5-5.37,13.23-7.91,13.66-8.09a58.22,58.22,0,0,1,13-3.42,19.66,19.66,0,0,1,3.43-.15,6.41,6.41,0,0,1,1.07.15,4.45,4.45,0,0,0,2.29-.08l.61-.16c.57-.15.72-.76.25-1a5.38,5.38,0,0,0-2-.58M14.79,25.17c-.76.07-1.52.1-2.29.12a29.55,29.55,0,0,1-5.32-.24c-3.5-.54-4.36-3.11-2.24-5.94A21.86,21.86,0,0,1,8.08,15.8,52.75,52.75,0,0,1,22.34,7.6,61.25,61.25,0,0,1,37,3.2l.88-.1L40.21,3a42.69,42.69,0,0,1,6.09.07c3.51.37,4.62,2.9,2.56,5.77A21.17,21.17,0,0,1,44,13.65a88.64,88.64,0,0,1-8.7,5.18c-4.29,2.36-13,4.93-15,5.34a39.66,39.66,0,0,1-5.5,1M49.86.82A21.82,21.82,0,0,0,43,0a39.5,39.5,0,0,0-4.48.44L37.8.55a46.68,46.68,0,0,0-6.53,1.34l-1.11.32A74.47,74.47,0,0,0,11.4,10.29c-3.93,2.45-7.69,5.14-10.26,9.12a5.49,5.49,0,0,0-.3,6.25,74.89,74.89,0,0,0,4.42,7c4.34,5.65,9.88,9.57,17,10.75,5.86.93,11.45-.31,16.81-2.69C45.93,37.62,51.18,33,53.78,25.78c2.49-6.87,2-13.79.15-20.73a5.56,5.56,0,0,0-4-4.23" /></clipPath>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><path class="cls-1" d="M62.33,43,58,23.62c-2.93,10.28-9.57,17.22-19.33,21s-19.42,3.08-28.43-2.89c0,.31,0,.42,0,.49,4.33,7.53,8.68,15,13,22.6a10.46,10.46,0,0,0,6.16,4.94,22.73,22.73,0,0,0,11.66.54c8.3-1.63,15.59-5.08,20.69-12.16a10.42,10.42,0,0,0,2-8.76c-.5-2.11-1-4.22-1.44-6.33m-18-37.3a30,30,0,0,0-4.13-.19A28,28,0,0,0,34,6.46a65.67,65.67,0,0,0-9.48,3s-11.13,3.94-15.42,9.9a4.67,4.67,0,0,0-.89,1.71c-.1.47.51.79,1,.52l.56-.28a3.77,3.77,0,0,0,1.59-1.45,4.64,4.64,0,0,1,.59-.79c5-5.37,13.23-7.91,13.66-8.09a58.22,58.22,0,0,1,13-3.42,19.66,19.66,0,0,1,3.43-.15,6.41,6.41,0,0,1,1.07.15,4.45,4.45,0,0,0,2.29-.08l.61-.16c.57-.15.72-.76.25-1a5.38,5.38,0,0,0-2-.58M14.79,25.17c-.76.07-1.52.1-2.29.12a29.55,29.55,0,0,1-5.32-.24c-3.5-.54-4.36-3.11-2.24-5.94A21.86,21.86,0,0,1,8.08,15.8,52.75,52.75,0,0,1,22.34,7.6,61.25,61.25,0,0,1,37,3.2l.88-.1L40.21,3a42.69,42.69,0,0,1,6.09.07c3.51.37,4.62,2.9,2.56,5.77A21.17,21.17,0,0,1,44,13.65a88.64,88.64,0,0,1-8.7,5.18c-4.29,2.36-13,4.93-15,5.34a39.66,39.66,0,0,1-5.5,1M49.86.82A21.82,21.82,0,0,0,43,0a39.5,39.5,0,0,0-4.48.44L37.8.55a46.68,46.68,0,0,0-6.53,1.34l-1.11.32A74.47,74.47,0,0,0,11.4,10.29c-3.93,2.45-7.69,5.14-10.26,9.12a5.49,5.49,0,0,0-.3,6.25,74.89,74.89,0,0,0,4.42,7c4.34,5.65,9.88,9.57,17,10.75,5.86.93,11.45-.31,16.81-2.69C45.93,37.62,51.18,33,53.78,25.78c2.49-6.87,2-13.79.15-20.73a5.56,5.56,0,0,0-4-4.23" transform="translate(35.42 31.59)" /></g></g></g>
                </svg>
            </div>
        </div>
    </aside>


    <aside class="login-pages__main main--padding">

        <a href="/login" class="common btn btn-secondary" style="margin-right:10px"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
</svg></a>

        <iframe src="https://forms.office.com/Pages/ResponsePage.aspx?id=tRppukfxn0GSJ_mBbHjZ_5_nrDEMFFNIuvAWBUOtXKpUN1VVNFg2WEJYTlZEREtWQ0NRT1JXSktETy4u" frameborder="0" marginwidth="0" marginheight="0" style="border: none; width:100%; height:100%"> </iframe>



    </aside>
   


</main>