﻿@using Templates.ViewModels
@model CreateNewUserViewModel

@{
    Layout = "_EmailLayoutHtml";
    ViewContext.ViewData["EmailTitle"] = "Hello " + Model.FullName;
    ViewContext.ViewData["TopContent"] = "Unsubscribed";
}

<p><h2>Unsubscribed</h2></p>
<p>
    @Model.Username has unsubscribed, <a href="@Model.CallbackUrl" target="_blank">click here</a> to view their profile.
</p>
@*<p>
    <span style="display: block;"><strong>Your username: </strong>@Model.Username</span>
</p>*@
@*<small>* We highly recommend you to change your default password once you confirm this registration.</small>

@await Html.PartialAsync("_EmailButton", new EmailButtonViewModel("Confirm your registration!", Model.CallbackUrl))*@

<p>
    Fanbucket Team
</p>