﻿@page
@model FanBucketUI.Pages.Messenger.ChatUserModel
@inject FanBucketUI.HelperModel helper;

@{
    Layout = null;
}

<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="active nav-link" data-toggle="tab" href="#tab1" role="tab">
            Messages

        </a>
    </li>

    <li class="nav-item ">
        <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">
            Requests (1)
        </a>
    </li>

    <li class="indicator"></li>

</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="tab1" role="tabpanel">
        @*<h5>tTETET</h5>*@
        @foreach (var item in Model.postMaster.OrderByDescending(x => x.recentTime))
        {
            if (string.IsNullOrEmpty( item.LastMessage))
            {
                item.LastMessage = "Image";//if last message is null , it is a image
            }
            if (!item.HasRead)
            {
                <a href="#" data-id="@item.ChatId" title="Send message to Person Name" class="card chat--card readed" data-val="@item.UserId">
                    <div class="card__top">
                        <div class="card__img">
                            <img src="@item.ProfileImgLocation" alt="">

                            <div class="online-status-chat online" data-id='@item.UserId'>

                            </div>

                        </div>

                        <div class="card__top__body">
                            <h2 class="card__title">@item.ChatWithName</h2>
                            <p class="user__text">
                                <b>@item.LastMessage</b>
                            </p>
                        </div>
                        <div class="card__top__link">
                            <button href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                                    <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                                        <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z" />
                                        <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z" />
                                        <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z" />
                                    </g>
                                </svg>
                            </button>
                            <time><i class="bi bi-circle-fill"></i> @item.DateString</time>
                        </div>
                    </div>
                </a>
            }
            else
            {
                <a href="#" data-id="@item.ChatId" title="Send message to Person Name" class="card chat--card"  data-val="@item.UserId">
                    <div class="card__top">
                        <div class="card__img">
                            <img src="@item.ProfileImgLocation" alt="">
                            <div class="online-status-chat online" data-id='@item.UserId'>

                            </div>
                        </div>

                        <div class="card__top__body">
                            <h2 class="card__title">@item.ChatWithName</h2>
                            <p class="user__text">
                                @item.LastMessage
                            </p>
                        </div>
                        <div class="card__top__link dropdown">
                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" href="#!" data-target="postone__dropdown" data-disabled="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                                    <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                                        <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z" />
                                        <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z" />
                                        <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z" />
                                    </g>
                                </svg>
                            </button>
                            <ul class="dropdown-menu" id="postone__dropdown">

                                <li class="nav-item">
                                    <button class="nav-link dropdown-item message--read--trigger" href="#" data-toggle="modal" data-id="@item.ChatId" data-target="#edit--modal">
                                        Mark As Read
                                    </button>
                                </li>
                            </ul>
                            <time> @item.DateString</time>

                        </div>




                        @*<div class="card__top__link">
                                <button href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                                        <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                                            <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z" />
                                            <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z" />
                                            <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z" />
                                        </g>
                                    </svg>
                                </button>
                                <time> @item.DateString</time>
                            </div>*@
                    </div>
                </a>
            }

        }




    </div>
</div>
