﻿@page
@model FanBucketUI.Pages.User.ChatContentModel
@inject FanBucketUI.HelperModel helper;

@{
    Layout = null;
}
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var Username = uservice.GetUsername(User);
    var userFullname = uservice.GetName(User);
    var userImg = uservice.GetProfileImg(User);
    var userId = uservice.GetId(User);
}
<style>
    .chat__image {
        height: 50px;
        width: 50px;
        min-width: 50px;
    }
</style>
<div class="sticky-top right--aside__wrapper">
    <div class="chat--wrapper">
        <div class="chat--wrapper--top">
            <div class="card chat--card ">
                <div class="card__top">
                    <div class="card__img">
                        <input id="ChatUserId" value="@Model.chatViewModel.UserId" hidden />
                        <input id="ChatWithName" value="@Model.chatViewModel.ChatWithName" hidden />
                        <a href="/@Model.chatViewModel.ChatWithUserName" class="chat__image">

                            <img src="@Model.chatViewModel.ProfileImgLocation" alt="">
                        </a>
                        @if (Model.chatViewModel.UserStatus)
                        {
                            <div class="online-status-chat online" data-id='@Model.chatViewModel.UserId'>
                            </div>
                        }
                        else
                        {
                            <div class="online-status-chat offline" data-id='@Model.chatViewModel.UserId'>
                            </div>
                        }
                    </div>

                    <div class="card__top__body">
                        <h2 class="card__title">
                            <a href="/@Model.chatViewModel.ChatWithUserName">
                                @Model.chatViewModel.ChatWithName
                            </a>
                        </h2>
                        @if (false)
                        {
                            <small class="text-muted">
                                Active Now
                            </small>
                        }

                    </div>

                    @*<div class="title__wrapper search-wrapper--main">
                            <a href="#" class="title__link ml-auto" data-toggle="modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="21.68" height="21.68" viewBox="0 0 21.68 21.68">
                                    <g id="Group_34" data-name="Group 34" transform="translate(6522.683 6688.971)">
                                        <path id="Path_41" data-name="Path 41" d="M-6507.2-6688.971h-9.29a6.2,6.2,0,0,0-6.19,6.19v9.29a6.06,6.06,0,0,0,.94,3.259,5.509,5.509,0,0,0,.96,1.2,6.144,6.144,0,0,0,4.29,1.74h9.29a6.205,6.205,0,0,0,6.2-6.2v-9.29A6.2,6.2,0,0,0-6507.2-6688.971Zm-9.29,20.18a4.686,4.686,0,0,1-3.38-1.441l4.5-5.939,2.76,4.01-2.14,3.37Zm12.46-1.231a4.684,4.684,0,0,1-3.17,1.231h-5.77l6.13-9.66,4.32,5.42A4.669,4.669,0,0,1-6504.033-6670.022Zm1.53-5.389-4.48-5.62-4.75,7.48-3.59-5.181-5.43,7.191a4.589,4.589,0,0,1-.43-1.95v-9.29a4.69,4.69,0,0,1,4.69-4.69h9.29a4.7,4.7,0,0,1,4.7,4.69Z"></path>
                                        <path id="Path_42" data-name="Path 42" d="M-6510.4-6683.7a1.016,1.016,0,0,0-1.016,1.016,1.015,1.015,0,0,0,1.016,1.015,1.014,1.014,0,0,0,1.015-1.015A1.014,1.014,0,0,0-6510.4-6683.7Z"></path>
                                    </g>
                                </svg>
                            </a>

                            <form class="title__link form-inline search-wrapper">
                                <div class="form-group">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.8 12.61" class="search--icon"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M12.8,11.89,9.86,9a5.58,5.58,0,1,0-.7.73l2.92,2.93ZM10,5.53A4.51,4.51,0,1,1,5.53,1,4.51,4.51,0,0,1,10,5.53Z"></path></g></g></svg>
                                    <input class="form-control" type="search" name="chatOrSearchInside">
                                    <i class="bi bi-x close--icon"></i>
                                </div>
                            </form>

                            <a href="#" class="title__link search--icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.8 12.61"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M12.8,11.89,9.86,9a5.58,5.58,0,1,0-.7.73l2.92,2.93ZM10,5.53A4.51,4.51,0,1,1,5.53,1,4.51,4.51,0,0,1,10,5.53Z"></path></g></g></svg>
                            </a>
                            <a href="#" class="title__link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="11.783" height="2.703" viewBox="0 0 11.783 2.703">
                                    <g id="Group_446" data-name="Group 446" transform="translate(-5985.636 -315.167)">
                                        <path id="Path_237" data-name="Path 237" d="M5994.717,316.519a1.351,1.351,0,1,0,1.351-1.352A1.351,1.351,0,0,0,5994.717,316.519Z" fill="#232323" />
                                        <path id="Path_238" data-name="Path 238" d="M5992.879,316.519a1.352,1.352,0,1,0-1.352,1.351A1.352,1.352,0,0,0,5992.879,316.519Z" fill="#232323" />
                                        <path id="Path_239" data-name="Path 239" d="M5988.338,316.519a1.351,1.351,0,1,0-1.351,1.351A1.351,1.351,0,0,0,5988.338,316.519Z" fill="#232323" />
                                    </g>
                                </svg>

                            </a>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="chat--wrapper__body">

            @{
                var chatCont = new List<FanBucketEntity.ViewModel.ChatMessageViewModel>();
                if (Model.chatViewModel.ChatMessages?.Count > 0)
                {
                    chatCont = Model.chatViewModel.ChatMessages.OrderByDescending(x => x.When).Take(500).ToList();

                }
            }
            @foreach (var item in chatCont.OrderBy(x => x.When))
            {
                @if (Guid.Parse(userId) == item.UserId)
                {
                    if (!string.IsNullOrEmpty(item.Message))
                    {
                        <article class="chat--box active">
                            <div class="chat--box__body">
                                <div class="user--text">
                                    <p class="para">@item.Message </p>
                                    @*<div class="card__top__link dropdown">
                                            <button class="dropdown-toggle border-0" type="button" data-toggle="dropdown" href="#!" data-target="postone__dropdown" data-disabled="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                                                    <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                                                        <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z" />
                                                        <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z" />
                                                        <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z" />
                                                    </g>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu" id="postone__dropdown">

                                                <li class="nav-item">
                                                    <button class="nav-link dropdown-item outline--common message--delete--trigger" href="#" data-toggle="modal" data-id="@item.Id" data-target="#edit--modal">
                                                        Delete
                                                    </button>
                                                </li>

                                            </ul>

                                        </div>*@

                                </div>
                                @if (item.HasRead)
                                {
                                    <time class="date small text-muted">@item.DateString <i class="bi bi-check2-all"></i></time>
                                }
                                else
                                {
                                    <time class="date small text-muted">@item.DateString </time>
                                }

                            </div>
                        </article>

                    }
                    if (!string.IsNullOrEmpty(item.FileLocation))

                    {
                        <article class="chat--box active">
                            <div class="chat--box__body">

                                <div class="image--wrapper">
                                    <a class="card__img" href="@item.FileLocation" title="View Full Size" data-fancybox>
                                        <img src="@item.FileLocation" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    }
                    if (item.Attachments.Any())
                    {
                        <article class="chat--box active">
                            <div class="chat--box__body">

                                <div class="image--wrapper">

                                    @foreach (var attachments in item.Attachments)
                                    {
                                        <a class="card__img" href="@attachments.FileLocation" title="View Full Size" data-fancybox>
                                            <img src="@attachments.FileLocation" alt="">
                                        </a>
                                    }

                                </div>
                            </div>
                        </article>
                    }


                    if (item.TipAmount != null && item.TipAmount > 0)
                    {
                        <article class="chat--box active">

                            <div class="chat--box__body">
                                <div class="shared-feed">
                                    <div class="feed ">
                                        <a href="/User/PaymentHistory" class="card">
                                            <div class="card__top">
                                                <div class="card__img">
                                                    <img src="@(User.Identity.GetProfileImg())" alt="">
                                                </div>

                                                <div class="card__top__body">
                                                    <h2 class="card__title">@(User.Identity.GetName())</h2>
                                                </div>
                                            </div>
                                            <button type="submit">
                                                You sent @item.TipAmount.Value.ToString("0.00")  to @Model.chatViewModel.ChatWithName
                                            </button>
                                        </a>
                                    </div>

                                    <time class="date small text-muted">@item.DateString</time>
                                </div>
                            </div>
                        </article>
                    }

                }
                else
                {
                    if (!string.IsNullOrEmpty(item.Message))
                    {
                        <article class="chat--box">
                            <div class="chat--box__body">
                                <div class="user--text">
                                    <p class="para">@item.Message</p>
                                    @*<div class="card__top__link dropdown">
                                            <button class="dropdown-toggle border-0" type="button" data-toggle="dropdown" href="#!" data-target="postone__dropdown" data-disabled="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                                                    <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                                                        <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z" />
                                                        <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z" />
                                                        <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z" />
                                                    </g>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu" id="postone__dropdown">

                                                <li class="nav-item">
                                                    <button class="nav-link dropdown-item outline--common message--delete--trigger" href="#" data-toggle="modal" data-id="@item.Id" data-target="#edit--modal">
                                                        Delete
                                                    </button>
                                                </li>

                                            </ul>

                                        </div>*@

                                </div>
                                <time class="date small text-muted">@item.DateString</time>
                            </div>
                        </article>

                    }
                    if (!string.IsNullOrEmpty(item.FileLocation))

                    {
                        <article class="chat--box">
                            <div class="chat--box__body">
                                <div class="image--wrapper">
                                    <a class="card__img" href="@item.FileLocation" title="View Full Size">
                                        <img src="@item.FileLocation" alt="">
                                    </a>
                                </div>
                            </div>
                        </article>
                    }
                    if (item.Attachments.Any())
                    {
                        <article class="chat--box active">
                            <div class="chat--box__body">
                                @foreach (var attachments in item.Attachments)
                                {
                                    <div class="image--wrapper">
                                        <a class="card__img" href="@attachments.FileLocation" title="View Full Size" data-fancybox>
                                            <img src="@attachments.FileLocation" alt="">
                                        </a>
                                    </div>
                                }

                            </div>
                        </article>
                    }
                    if (item.TipAmount != null && item.TipAmount > 0)
                    {
                        <article class="chat--box ">
                            <a class="chat__image card--pp" data-toggle="tooltip" data-placement="right" title="View Profile" href="/@Model.chatViewModel.ChatWithUserName">
                                <img src="@(Model.chatViewModel.ProfileImgLocation)" alt="">
                            </a>
                            <div class="chat--box__body">
                                <div class="shared-feed">
                                    <div class="feed ">
                                        <a href="/User/PaymentHistory" class="card">

                                            <div class="card__top">
                                                <div class="card__img">
                                                    <img src="@(Model.chatViewModel.ProfileImgLocation)" alt="">
                                                </div>

                                                <div class="card__top__body">
                                                    <h2 class="card__title">@Model.chatViewModel.ChatWithName</h2>
                                                </div>
                                            </div>
                                            <button type="submit">
                                                You got @item.TipAmount.Value.ToString("0.00")  from @Model.chatViewModel.ChatWithName

                                            </button>
                                        </a>
                                    </div>
                                    <time class="date small text-muted">@item.DateString</time>
                                </div>
                            </div>
                        </article>
                    }
                }


            }


        </div>
        <div id="chat_scroll_bottom"></div>
        <div class="drag--here--wrapper" id="drop-area">
            <article class="drag--here ">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.68" height="21.68" viewBox="0 0 21.68 21.68" class="animate__swing animate__animated">
                    <g id="Group_34" data-name="Group 34" transform="translate(6522.683 6688.971)">
                        <path id="Path_41" data-name="Path 41" d="M-6507.2-6688.971h-9.29a6.2,6.2,0,0,0-6.19,6.19v9.29a6.06,6.06,0,0,0,.94,3.259,5.509,5.509,0,0,0,.96,1.2,6.144,6.144,0,0,0,4.29,1.74h9.29a6.205,6.205,0,0,0,6.2-6.2v-9.29A6.2,6.2,0,0,0-6507.2-6688.971Zm-9.29,20.18a4.686,4.686,0,0,1-3.38-1.441l4.5-5.939,2.76,4.01-2.14,3.37Zm12.46-1.231a4.684,4.684,0,0,1-3.17,1.231h-5.77l6.13-9.66,4.32,5.42A4.669,4.669,0,0,1-6504.033-6670.022Zm1.53-5.389-4.48-5.62-4.75,7.48-3.59-5.181-5.43,7.191a4.589,4.589,0,0,1-.43-1.95v-9.29a4.69,4.69,0,0,1,4.69-4.69h9.29a4.7,4.7,0,0,1,4.7,4.69Z"></path>
                        <path id="Path_42" data-name="Path 42" d="M-6510.4-6683.7a1.016,1.016,0,0,0-1.016,1.016,1.015,1.015,0,0,0,1.016,1.015,1.014,1.014,0,0,0,1.015-1.015A1.014,1.014,0,0,0-6510.4-6683.7Z"></path>
                    </g>
                </svg>
                <h2 class="section__title">Drop Your Image / Video Here</h2>
            </article>
        </div>
        <div class="chat--wrapper__bottom">
            <div class="chat__ph--upload  hide">
                <div class="image empty--input">
                    <label for="chat__link__input"><i class="bi bi-plus"></i></label>
                    <input type="file" accept="image/*,image/heif,image/heic,video/*,video/mp4,video/x-m4v,video/x-matroska,.mkv" multiple="" id="chat__link__input" title="Add a new photo or video" name="chat--new--image">
                </div>
            </div>
            <div class="chat__tip--upload  hide">
                <label></label>
            </div>
            <div class="profile--card comment--card ">
                <div class="card__img pp--image">
                    <img src="@userImg" alt="">
                </div>
                <form class="card__body form-group "  id="send-message">

                    @Html.AntiForgeryToken()
                    <input type="hidden" name="FileLocation" />
                    <input type="hidden" name="ChatId" id="CurrChatId" value="@Model.chatViewModel.ChatId" required="required" />
                    <input type="text" name="Message" autocomplete="off" placeholder="write a message" class="form-control comment__text">
                    <div class="card__link">
                        <a href="#" class="nav__link " data-toggle="modal" data-target="#modal--tips">
                            <div data-toggle="tooltip" data-placement="top" title="Send Tips 💲💲">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14.05" height="14.05" viewBox="0 0 14.05 14.05">
                                    <g id="Group_524" data-name="Group 524" transform="translate(-5913.624 -1592.745)">
                                        <path id="Path_282" data-name="Path 282" d="M5923.656,1592.745h-6.021a4.014,4.014,0,0,0-4.011,4.011v6.021a3.889,3.889,0,0,0,.609,2.106,3.43,3.43,0,0,0,.622.784,3.979,3.979,0,0,0,2.78,1.128h6.021a4.022,4.022,0,0,0,4.018-4.018v-6.021A4.016,4.016,0,0,0,5923.656,1592.745Zm3.2,9.682a3.546,3.546,0,0,1-3.545,3.545h-5.321a3.5,3.5,0,0,1-2.32-.882c-.078-.065-.149-.136-.22-.207a3.094,3.094,0,0,1-.46-.6,3.431,3.431,0,0,1-.538-1.86v-5.321a3.509,3.509,0,0,1,.81-2.249,3.1,3.1,0,0,1,.674-.622,3.473,3.473,0,0,1,2.054-.667h5.321a3.474,3.474,0,0,1,2.287.842,1.507,1.507,0,0,1,.214.194,1.665,1.665,0,0,1,.195.214,3.485,3.485,0,0,1,.849,2.288Z" fill="#f28f8f" />
                                        <path id="Path_283" data-name="Path 283" d="M5920.384,1602.664a2.86,2.86,0,0,1-1.96-.875l.546-.757a2.431,2.431,0,0,0,1.414.749v-1.624c-.866-.219-1.784-.53-1.784-1.632a1.73,1.73,0,0,1,1.784-1.623v-.783h.673v.791a2.829,2.829,0,0,1,1.691.757l-.564.732a2.257,2.257,0,0,0-1.127-.589v1.447c.875.235,1.817.563,1.817,1.691,0,.858-.555,1.606-1.817,1.716v.757h-.673Zm0-3.584v-1.312c-.48.05-.774.32-.774.69C5919.61,1598.786,5919.938,1598.954,5920.384,1599.08Zm.673,1.253v1.456c.58-.093.816-.429.816-.749C5921.873,1600.662,5921.519,1600.476,5921.057,1600.333Z" fill="#f28f8f" />
                                    </g>
                                </svg>
                            </div>

                        </a>
                        <label href="#" data-toggle="tooltip" data-placement="top" title="Send Image or Video" for="chat__link__input">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21.68" height="21.68" viewBox="0 0 21.68 21.68">
                                <g id="Group_34" data-name="Group 34" transform="translate(6522.683 6688.971)">
                                    <path id="Path_41" data-name="Path 41" d="M-6507.2-6688.971h-9.29a6.2,6.2,0,0,0-6.19,6.19v9.29a6.06,6.06,0,0,0,.94,3.259,5.509,5.509,0,0,0,.96,1.2,6.144,6.144,0,0,0,4.29,1.74h9.29a6.205,6.205,0,0,0,6.2-6.2v-9.29A6.2,6.2,0,0,0-6507.2-6688.971Zm-9.29,20.18a4.686,4.686,0,0,1-3.38-1.441l4.5-5.939,2.76,4.01-2.14,3.37Zm12.46-1.231a4.684,4.684,0,0,1-3.17,1.231h-5.77l6.13-9.66,4.32,5.42A4.669,4.669,0,0,1-6504.033-6670.022Zm1.53-5.389-4.48-5.62-4.75,7.48-3.59-5.181-5.43,7.191a4.589,4.589,0,0,1-.43-1.95v-9.29a4.69,4.69,0,0,1,4.69-4.69h9.29a4.7,4.7,0,0,1,4.7,4.69Z"></path>
                                    <path id="Path_42" data-name="Path 42" d="M-6510.4-6683.7a1.016,1.016,0,0,0-1.016,1.016,1.015,1.015,0,0,0,1.016,1.015,1.014,1.014,0,0,0,1.015-1.015A1.014,1.014,0,0,0-6510.4-6683.7Z"></path>
                                </g>
                            </svg>
                        </label>
                        <button class="no-button">
                            <a data-placement="top" title="" data-original-title="Send">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-location send" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5"></path>
                                </svg>
                            </a>
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/chat.js" asp-append-version="true"></script>