﻿@page
@model FanBucketUI.Pages.User.MessengerModel
@inject FanBucketUI.HelperModel helper;

@{
    Layout = Model.LayoutPath;
}
<style>
    .chat__messenger_image {
        height: 40px;
        width: 40px;
        min-width: 40px;
    }
</style>

<input type="hidden" value="@Model.extChatId" id="extChatId" />
<input type="hidden" value="@Model.extUserId" id="extUserId" />
<input type="hidden" value="@Model.extName" id="extName" />
<input type="hidden" value="@Model.extUserImg" id="extUserImg" />
<section class="feed">
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="active nav-link" data-toggle="tab" href="#tab1" role="tab">
                Messages

            </a>
        </li>
        @*<li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">
                    Primary (2)
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">
                    Promotions (1)
                </a>
            </li>*@

        <li class="indicator"></li>

    </ul>

    <div class="tab-content">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel">

            @foreach (var item in Model.ChatUsers.OrderByDescending(x => x.recentTime))
            {
                if (item.HasFile)
                {
                    item.LastMessage = "Image";//if last message is null , it is a image
                }

                    <div title="Send message to Person Name" id="tabUser_@item.UserId" class="card chat--card @(item.HasRead?"":"readed")" data-val="@item.UserId" data-id="@item.ChatId">
                        <div class="card__top">
                            <div class="card__img">

                                <a class="chat__messenger_image" data-placement="right" title="View Profile" href="/@item.ChatWithUserName">
                                    <img src="@item.ProfileImgLocation" alt="">
                                </a>
                                @if (item.UserStatus)
                                {
                                    <div class="online-status-chat online" data-id='@item.UserId'>

                                    </div>
                                }
                                else
                                {
                                    <div class="online-status-chat offline" data-id='@item.UserId'>

                                    </div>
                                }
                            </div>

                            <div class="card__top__body cursor">
                                <div class="user__text--wrapper">
                                    <h2 class="card__title">
                                            @item.ChatWithName
                                    </h2>



                                </div>
                                <div class="user__text--wrapper btnOnlineUsers" data-val="@item.UserId" data-id="@item.ChatId ">
                                    <p class="user__text">
                                        <b>@item.LastMessage</b>
                                    </p>

                                </div>
                            </div>
                            <div class="card__top__link dropdown">
                                <button class="dropdown-toggle" type="button" data-toggle="dropdown" href="#!" data-target="postone__dropdown" data-disabled="true">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                                        <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                                            <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z" />
                                            <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z" />
                                            <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z" />
                                        </g>
                                    </svg>
                                </button>
                                <ul class="dropdown-menu" id="postone__dropdown">

                                    <li class="nav-item">
                                        <a href="/@item.ChatWithUserName" class="nav-link dropdown-item message--read--trigger">
                                            View Profile
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <span class="nav-link dropdown-item message--read--trigger" href="#" data-id="@item.ChatId" data-userid="@item.UserId">
                                            Mark As Read
                                        </span>
                                    </li>
                                    <li class="nav-item">
                                        <span class="nav-link dropdown-item hide--conversation--trigger" href="#" data-id="@item.ChatId" data-userid="@item.UserId">
                                            Hide Conversation
                                        </span>
                                    </li>
                                    @if (item.Blocking)
                                    {
                                        <li class="nav-item">
                                            <span class="nav-link dropdown-item conversation--unblock--trigger" href="#" data-id="@item.ChatId" data-userid="@item.UserId">
                                                Unblock Conversation
                                            </span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item">
                                            <span class="nav-link dropdown-item conversation--block--trigger" href="#" data-id="@item.ChatId" data-userid="@item.UserId">
                                                Block Conversation
                                            </span>
                                        </li>
                                    }

                                    <li class="nav-item">
                                        <span class="nav-link dropdown-item delete--conversation--trigger" href="#" data-id="@item.ChatId" data-userid="@item.UserId">
                                            Delete Conversation
                                        </span>
                                    </li>
                                    <li class="nav-item">
                                        <span class="nav-link dropdown-item conversation--report--trigger" href="#" data-id="@item.ChatId" data-toggle="modal" data-target="#report--user">
                                            Report User
                                        </span>
                                    </li>

                                </ul>
                                @if (!item.HasRead)
                                {
                                    <time>

                                        <i class="bi bi-circle-fill"></i>
                                        @item.DateString
                                    </time>

                                }
                                else
                                {
                                    <time>

                                        @item.DateString
                                    </time>
                                }


                            </div>



                        </div>
                    </div>
                @*}*@
                //else
                @*{
                        <div id="tabUser_@item.UserId" class="card chat--card readed">
                            <div class="card__top">
                                <div class="card__img">
                                    <a class="chat__messenger_image" data-placement="right" title="View Profile" href="/@item.ChatWithUserName">

                                        <img src="@item.ProfileImgLocation" alt="">
                                    </a>
                                    @if (item.UserStatus)
                                    {
                                        <div class="online-status-chat online" data-id='@item.UserId'>

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="online-status-chat offline" data-id='@item.UserId'>

                                        </div>
                                    }

                                </div>

                                <div class="card__top__body">
                                    <div class="user__text--wrapper">
                                        <h2 class="card__title">
                                            <a href="/@item.ChatWithUserName">

                                                @item.ChatWithName
                                            </a>
                                        </h2>
                                        <div class="card__top__link dropdown">
                                            <button class="dropdown-toggle" type="button" data-toggle="dropdown" href="#!" data-target="postone__dropdown" data-disabled="true">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                                                    <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                                                        <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z" />
                                                        <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z" />
                                                        <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z" />
                                                    </g>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu" id="postone__dropdown">

                                                <li class="nav-item">
                                                    <span class="nav-link dropdown-item message--unread--trigger" href="#" data-id="@item.ChatId" data-userid="@item.UserId">
                                                        Mark As Unread
                                                    </span>
                                                </li>
                                                <li class="nav-item">
                                                    <span class="nav-link dropdown-item hide--conversation--trigger" href="#" data-id="@item.ChatId" data-userid="@item.UserId">
                                                        Hide Conversation
                                                    </span>
                                                </li>
                                                @if (item.Blocking)
                                                {
                                                    <li class="nav-item">
                                                        <span class="nav-link dropdown-item conversation--unblock--trigger" href="#" data-id="@item.ChatId" data-userid="@item.UserId">
                                                            Unblock Conversation
                                                        </span>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="nav-item">
                                                        <span class="nav-link dropdown-item conversation--block--trigger" href="#" data-id="@item.ChatId" data-userid="@item.UserId">
                                                            Block Conversation
                                                        </span>
                                                    </li>
                                                }
                                                <li class="nav-item">
                                                    <span class="nav-link dropdown-item delete--conversation--trigger" href="#" data-id="@item.ChatId" data-userid="@item.UserId">
                                                        Delete Conversation
                                                    </span>
                                                </li>
                                                <li class="nav-item">
                                                    <span class="nav-link dropdown-item conversation--report--trigger" href="#" data-id="@item.ChatId" data-toggle="modal" data-target="#report--user">
                                                        Report User
                                                    </span>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>


                                <time> @item.DateString</time>

                            </div>
                        </div>
                    }*@

            }




        </div>
    </div>
</section>
@section scripts{
    <script src="~/js/ChatSite.js" asp-append-version="true"></script>
    @*<script>app.ChatSite.initUI();</script>*@
    <script>
        $(document).ready(function () {
            //ChatId


        });


    </script>
}

