﻿@page
@model FanBucketUI.Pages.User.MessengersingleModel
@{
    Layout = "../Shared/_LayoutChat.cshtml";
}

<div class="title__wrapper search-wrapper--main">
    <h2 class="section__title">Messages</h2>

    <a href="#" class="title__link ml-auto" data-toggle="modal" data-target="#message--new">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.53 14.53"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" x="6.26" width="2.01" height="14.53"></rect><rect class="cls-1" y="6.26" width="14.53" height="2.01"></rect></g></g></svg>
    </a>

    <form class="title__link form-inline search-wrapper">
        <div class="form-group">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.8 12.61" class="search--icon"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M12.8,11.89,9.86,9a5.58,5.58,0,1,0-.7.73l2.92,2.93ZM10,5.53A4.51,4.51,0,1,1,5.53,1,4.51,4.51,0,0,1,10,5.53Z"></path></g></g></svg>
            <input class="form-control" type="search" name="chatOrSearch">
            <i class="bi bi-x close--icon"></i>
        </div>
    </form>

    <a href="#" class="title__link search--icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.8 12.61"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M12.8,11.89,9.86,9a5.58,5.58,0,1,0-.7.73l2.92,2.93ZM10,5.53A4.51,4.51,0,1,1,5.53,1,4.51,4.51,0,0,1,10,5.53Z"></path></g></g></svg>
    </a>

    <a href="#" class="title__link">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.78 11.1"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" width="12.78" height="1.11"></rect><rect class="cls-1" y="4.99" width="9.47" height="1.11"></rect><rect class="cls-1" y="9.99" width="6.17" height="1.11"></rect></g></g></svg>
    </a>

</div>
<section class="feed">
    
</section>
 

<aside class="right--aside profile--right--aside messenger--aside">
    <div class="sticky-top right--aside__wrapper" id="chatFeed">

    </div>
</aside>

<div class="modal fade fancy-modal" id="message--new" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header title__wrapper">
                <form action="#!" method="" class="form">
                    <div class="form-group">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.2 17.92" class="search"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-1"><path class="cls-2" d="M7.87,15.74a7.87,7.87,0,1,1,7.87-7.87A7.88,7.88,0,0,1,7.87,15.74ZM7.87,1a6.87,6.87,0,1,0,6.87,6.87A6.88,6.88,0,0,0,7.87,1Z"></path><rect class="cls-2" x="15.03" y="11.96" width="1" height="6.56" transform="translate(-6.23 15.45) rotate(-45)"></rect></g></g></g></svg>
                        <input type="search" class="form-control" required="" id="searchFriend">
                    </div>
                </form>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x"></i>
                </button>
            </div>
            <div class="modal-body">
                <h2 class="section__title">Online</h2>
                <a href="~/Content/messenger-single.php" title="Send message to Person Name" class="card chat--card">
                    <div class="card__top">
                        <div class="card__img">
                            <img src="~/Content/gallery/ali-yahya-43cZUXtT3yc-unsplash-min.jpg" alt="">
                            <div class="online">

                            </div>
                        </div>

                        <div class="card__top__body">
                            <h2 class="card__title">Tonny Ray</h2>
                        </div>
                    </div>
                </a>
                <a href="~/Content/messenger-single.php" title="Send message to Person Name" class="card chat--card">
                    <div class="card__top">
                        <div class="card__img">
                            <img src="~/Content/gallery/allef-vinicius-xxTHuC_wdn0-unsplash-min.jpg" alt="">
                            <div class="online">

                            </div>
                        </div>

                        <div class="card__top__body">
                            <h2 class="card__title">Simon Ray</h2>
                        </div>
                    </div>
                </a>
                <a href="~/Content/messenger-single.php" title="Send message to Person Name" class="card chat--card">
                    <div class="card__top">
                        <div class="card__img">
                            <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
                            <div class="online">

                            </div>
                        </div>

                        <div class="card__top__body">
                            <h2 class="card__title">Amoir Nas</h2>
                        </div>
                    </div>
                </a>


            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal--tips" data-keyboard="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal--tips">
        <div class="modal-content">
            <div class="modal-header title__wrapper">
                <h2 class="section__title">Send Tips </h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="bi bi-x"></i>
                </button>
            </div>
            <div class="modal-body">


                <form action="#1">
                    <label for="amount--number">Amount</label>
                    <div class="form-group">
                        <i>$</i>
                        <input type="number" class="form-control" placeholder="0.00" id="amount--number" min="5.00">
                        <small>min $5.00</small>
                    </div>
                    <button type="submit">
                        Send
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>



<script src="~/Content/node_modules/@@popperjs/popper.min.js" type="text/javascript"></script>
@section Scripts {
    <script src="~/js/ChatHub.js"></script>
}