﻿@using Templates.ViewModels
@model CreateNewUserViewModel

@{
    Layout = "_EmailLayoutHtml";
    ViewContext.ViewData["EmailTitle"] = "Hello " + Model.FullName;
    ViewContext.ViewData["TopContent"] = "Unfollowed";
}
<tr>
    <td class="text-16 lh-26 a-center pb-25" style="font-size:16px; color:#6e6e6e; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; line-height: 26px; text-align:center; padding-bottom: 25px;">
        <p><h2>Password Changed</h2></p>
        <p>
            Your password has been changed successfully.


        </p>
    </td>
</tr>
