﻿<div id="End" class="skeleton--loader  my-5">
    <svg role="img" width="100" height="450" aria-labelledby="loading-aria" viewBox="0 0 415 160" preserveAspectRatio="none">
        <title id="loading-aria">Loading...</title>
        <rect x="0"
              y="0"
              width="100%"
              height="100%"
              clip-path="url(#clip-path)"
              style='fill: url("#fill");'></rect>
        <defs>
            <clipPath id="clip-path">
                <rect x="5" y="-30" rx="3" ry="3" width="410" height="215" />
            </clipPath>
            <linearGradient id="fill">
                <stop offset="0.599964"
                      stop-color="#ef708f"
                      stop-opacity="1">
                    <animate attributeName="offset"
                             values="-2; -2; 1"
                             keyTimes="0; 0.25; 1"
                             dur="2s"
                             repeatCount="indefinite"></animate>
                </stop>
                <stop offset="1.59996"
                      stop-color="#ecebeb"
                      stop-opacity="1">
                    <animate attributeName="offset"
                             values="-1; -1; 2"
                             keyTimes="0; 0.25; 1"
                             dur="2s"
                             repeatCount="indefinite"></animate>
                </stop>
                <stop offset="2.59996"
                      stop-color="#ef708f"
                      stop-opacity="1">
                    <animate attributeName="offset"
                             values="0; 0; 3"
                             keyTimes="0; 0.25; 1"
                             dur="2s"
                             repeatCount="indefinite"></animate>
                </stop>
            </linearGradient>
        </defs>
    </svg>
</div>