﻿@model List<FanBucketEntity.ViewModel.GetUserMediaViewModel>
<div class="image--grid">
    @foreach (var media in Model)
    {
        <article class="card">
            <div class="card__body">
                <div class="">
@*                    <div class="card__img @(media.HasPaid?"":"locked bg")">
*@                    <div class="card__img @((!string.IsNullOrEmpty(media.FileLocation) && media.HasPaid)?"":"locked bg")">
                        @if (!string.IsNullOrEmpty(media.FileLocation))
                        {
                            @*<img src="@(media.FileLocation)" alt="" data-fancybox="@(media.FileLocation)">*@
                            <img src="@(media.FileLocation)" alt="" data-fancybox="user_photos">

                        }
                        @if (media.PaidContent)
                        {
                            <a href="#" class="absolute__link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                    <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff"></path>
                                </svg>
                            </a>
                        }

                    </div>

                </div>
            </div>
        </article>
    }
</div>