﻿<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>fanbucket</title>

    <!-- bootstrap icon -->
    <link rel="stylesheet" href="~/Content/node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <!-- fancybox -->
    <!-- <link rel="stylesheet" href="~/Content/css/fancybox/fancybox.min.css"> -->
    <!-- moments -->
    <!-- demo styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/demo/style.css">
    <!-- lib styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/zuck.min.css">

    <!-- lib skins -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/snapgram.css">


    @*<link rel="stylesheet" href="~/Content/node_modules/tail.datetime/css/tail.datetime-harx-light.css">*@



    <!-- slick -->
    <link rel="stylesheet" href="~/Content/css/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Content/css/slick/slick.css">

    <!-- animate -->
    <link rel="stylesheet"
          href="~/Content/node_modules/animate.css/animate.min.css" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- style -->
    <!-- <link rel="stylesheet" href="~/Content/css/style.css"> -->

    <link rel="stylesheet" href="~/Content/css/otherstyle.css">
    <link rel="stylesheet" href="~/Content/css/component_css/insights.css">
    <link rel="stylesheet" href="~/Content/css/component_css/dashboard.css">

</head>
<body>
    @inject FanBucketUI.API_Context.SessionHelper uservice;
    @inject FanBucketUI.HelperModel helper;

    @{
        var Username = uservice.GetUsername(User);
        var userFullname = uservice.GetName(User);
        var userImg = uservice.GetProfileImg(User);
        var userId = Guid.Parse(uservice.GetId(User));
        var hash___ = uservice.GetBearer(User);
        var recomUsers = await helper.GetRecommendersUser(User);
        var UsrStat = await helper.GetCurrUserStatt(User);
        var Notifi = await helper.GetNotifCount(User);
    }

    <header class="header--primary">
        <div class="section__rule">
            <a href="~/Content/index.php" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31.96 35.72">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: url(#linear-gradient);
                            }
                        </style>
                        <linearGradient id="linear-gradient" x1="1.64" y1="4.73" x2="25.31" y2="28.4" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fe4545" /><stop offset="1" stop-color="#d70153" /></linearGradient>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M27.25,10.37,27,10.24a1.87,1.87,0,0,1-.83-.71,1.76,1.76,0,0,0-.31-.39,18.27,18.27,0,0,0-7-3.88,29.92,29.92,0,0,0-6.67-1.52,11.23,11.23,0,0,0-1.74,0,3.42,3.42,0,0,0-.53.09,2.21,2.21,0,0,1-1.17,0l-.31-.07c-.29-.06-.38-.37-.14-.51a2.78,2.78,0,0,1,1-.33,14.76,14.76,0,0,1,5.22.2,35.06,35.06,0,0,1,4.85,1.36s5.7,1.82,8,4.77a2.45,2.45,0,0,1,.48.85C27.82,10.33,27.51,10.5,27.25,10.37Zm4.34,1.93a39.91,39.91,0,0,1-2.13,3.59A13.42,13.42,0,0,1,21,21.6a14.87,14.87,0,0,1-8.55-1.08,13,13,0,0,1-7.67-7.3,17.35,17.35,0,0,1-.42-10.5,2.8,2.8,0,0,1,2-2.2A13.05,13.05,0,0,1,12.11.15l.36,0a22,22,0,0,1,3.32.58l.57.14A37.51,37.51,0,0,1,26,4.69a15.72,15.72,0,0,1,5.34,4.45A2.8,2.8,0,0,1,31.59,12.3ZM29.4,9.05a10.05,10.05,0,0,0-1.64-1.62,26.41,26.41,0,0,0-7.35-3.92,31.06,31.06,0,0,0-7.47-2l-.45,0a34.21,34.21,0,0,0-4.3.12c-1.77.24-2.3,1.54-1.2,3A10.81,10.81,0,0,0,9.55,6.91,46.67,46.67,0,0,0,14,9.4a40.29,40.29,0,0,0,7.67,2.46,19.12,19.12,0,0,0,2.8.42,17.64,17.64,0,0,0,3.85-.19C30.11,11.77,30.52,10.45,29.4,9.05ZM27.09,20.83c-2.07,3.88-4.17,7.75-6.21,11.65a5.33,5.33,0,0,1-3,2.6,11.5,11.5,0,0,1-5.9.46c-4.22-.69-8-2.32-10.67-5.82A5.3,5.3,0,0,1,.1,25.32c.22-1.08.43-2.16.63-3.23l1.89-9.9A15.51,15.51,0,0,0,12.75,22.5,15.08,15.08,0,0,0,27.1,20.58.77.77,0,0,1,27.09,20.83Z" /></g></g>
                </svg>

            </a>

            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav__item ">
                        <a href="/Admin/Dashboard" class="nav__link ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.1 14.04"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="0 7.55 7.55 0 15.1 7.55 12.79 7.55 12.79 14.04 9.55 14.04 9.55 9.67 5.68 9.67 5.68 14.04 2.31 14.04 2.31 7.55 0 7.55" /></g></g></svg>
                        </a>
                    </li>

                    <li class="nav__item ">
                        <a href="/User/Notifications" class="nav__link">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14.01 13.23">
                                <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                        <path class="cls-1" d="M10.44,2.75A2.12,2.12,0,0,1,11.6,1.56,3.77,3.77,0,0,0,10.25.45,4.19,4.19,0,0,0,4.46,2.69L2.94,6.63A2,2,0,0,1,.4,7.76L0,8.81l4.58,1.76s0,.08-.07.13a1.26,1.26,0,1,0,2.36.9.31.31,0,0,0,0-.13l4.58,1.76.4-1.05a2,2,0,0,1-1.12-2.53l1.46-3.78c0-.1.07-.18.09-.27a2,2,0,0,1-.67-.13A2.11,2.11,0,0,1,10.44,2.75Z" />
                                        @if (Notifi > 0)
                                        {
                                        <path class="cls-2" d="M13.07,2.11A1.46,1.46,0,1,0,13.91,4,1.46,1.46,0,0,0,13.07,2.11Z" />
                                        }
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>

                    @*<li class="nav__item ">
                            <a href="#!" class="nav__link" data-toggle="modal" data-target="#post--modal">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.53 14.53"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" x="6.26" width="2.01" height="14.53" /><rect class="cls-1" y="6.26" width="14.53" height="2.01" /></g></g></svg>
                            </a>
                        </li>*@

                    <li class="nav__item ">
                        <a href="/Messenger/Messenger" class="nav__link">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.25 10.65"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M7.13,4.75,13,0l-.23,0H1.46L1.23,0Z" /><path class="cls-1" d="M7.13,6.67.07,1A1.56,1.56,0,0,0,0,1.46V9.2a1.45,1.45,0,0,0,1.46,1.45H12.79A1.45,1.45,0,0,0,14.25,9.2V1.46A1.56,1.56,0,0,0,14.18,1Z" /></g></g></svg>
                        </a>
                    </li>

                    @*<li class="nav__item ">
                            <a href="/User/ProfilePage?Id=@userId" class="nav__link">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.97 13.86"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="cls-1" cx="6.99" cy="3.2" r="3.2" /><path class="cls-1" d="M0,13.86a7,7,0,1,1,14,0Z" /></g></g></svg>
                            </a>
                        </li>*@
                </ul>
            </nav>


            <div class="logout">
                <hr>
                <a href="#!" class="nav__link " data-toggle="modal" data-target="#modal--logout">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.97 15.26"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M8.33,1.4v1a6,6,0,1,1-2.68,0v-1a7,7,0,1,0,2.68,0Z" /><rect class="cls-1" x="6.48" width="1.01" height="6.98" /></g></g></svg>
                </a>
            </div>


        </div>


    </header>


    <div class="modal fade modal--logout" id="modal--logout" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header title__wrapper">
                    <h2 class="section__title">Are you sure you want to Log Out</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="card__link">
                        <button class="deactive" onclick="window.location.href='/Login'">
                            Yes, Log Out
                        </button>
                        <button data-dismiss="modal">
                            No, Close This
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </div>


    <input id="token___Auth" value="@hash___" hidden />
    @RenderBody()

    <div class="modal fade fullImage" id="fullImage--modal" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.73 13.73"><<g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="13.73 0.78 12.95 0 6.87 6.08 0.78 0 0 0.78 6.08 6.87 0 12.95 0.78 13.73 6.87 7.65 12.95 13.73 13.73 12.95 7.65 6.87 13.73 0.78" /></g></g></svg>
                </button>
                <div class="modal-body">
                    <article class="card">
                        <aside class="aside__left">
                            <div class="card__body">
                                @*<div class="card--img--wrapper">
                                    <a href="#" class="card__img">
                                        <img src="" alt="">
                                        <div class="btn full" title="full screen">
                                            <i class="bi bi-arrows-fullscreen "></i>
                                            <i class="bi bi-fullscreen-exit active"></i>
                                        </div>
                                    </a>
                                </div*@>
                                <div class="card--img--wrapper">
                                    <a href="#" class="card__img">
                                        <video src=""></video>
                                        <div class="btn full" title="full screen">
                                            <i class="bi bi-arrows-fullscreen "></i>
                                            <i class="bi bi-fullscreen-exit active"></i>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </aside>
                        <aside class="right--aside">
                            <div class="right--aside__wrapper">
                                <div class="card__top">
                                    <a class="card__img">
                                        <img src="@userImg" alt="">
                                    </a>
                                    <div class="card__top__body">
                                        <h2 class="card__title"><a href="#"></a></h2>
                                        <time></time>
                                    </div>
                                    <div class="card__top__link dropdown ">
                                        <a class="dropdown-toggle" type="button" data-toggle="dropdown" href="#!" data-target="postone__dropdown" data-disabled="true">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                                                <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                                                    <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z"></path>
                                                    <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z"></path>
                                                    <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z"></path>
                                                </g>
                                            </svg>
                                        </a>
                                        <div class="dropdown-menu" id="postone__dropdown">
                                            <li class="nav-item">
                                                <button class="nav-link dropdown-item " href="#">
                                                    Not Interested
                                                </button>
                                            </li>
                                            <li class="nav-item">
                                                <button class="nav-link dropdown-item" href="#">
                                                    Report
                                                </button>
                                            </li>
                                        </div>
                                    </div>
                                </div>
                                <div class="card__body">
                                    <p class="user__text"></p>
                                </div>
                                <div class="card__action">
                                    <a href="#" class="love">
                                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13.915" height="12.902" viewBox="0 0 13.915 12.902">
                                            <defs>
                                                <linearGradient id="linear-gradient" y1="0.5" x2="1" y2="0.5" gradientUnits="objectBoundingBox">
                                                    <stop offset="0" stop-color="#d70153"></stop>
                                                    <stop offset="1" stop-color="#fe4545"></stop>
                                                </linearGradient>
                                            </defs>
                                            <path id="Path_89" data-name="Path 89" d="M-6897.567-5852.808a3.708,3.708,0,0,0-3.708-3.709,3.694,3.694,0,0,0-3.225,1.885,3.694,3.694,0,0,0-3.225-1.885,3.708,3.708,0,0,0-3.709,3.709s-.8,3.064,6.934,9.193C-6896.762-5849.744-6897.567-5852.808-6897.567-5852.808Z" transform="translate(6911.458 5856.517)"></path>
                                        </svg>
                                        <span class="number"></span>
                                        <span class="label">Hearts</span>
                                    </a>
                                    <a href="#!" class="comments">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="13.604" height="15.246" viewBox="0 0 13.604 15.246">
                                            <path id="Path_90" data-name="Path 90" d="M-6793.061-5850.866c0,3.481-2.163,7.555-6.511,7.9l-.012-2.154c-3.365-.131-6.081-2.351-6.081-5.748a6.3,6.3,0,0,1,6.3-6.3A6.3,6.3,0,0,1-6793.061-5850.866Z" transform="translate(6806.165 5857.668)" fill="none" stroke-miterlimit="10" stroke-width="1"></path>
                                        </svg>
                                        <span class="label">Comment</span>
                                    </a>
                                    <a href="#" class="bookmark active">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="9.023" height="14.973" viewBox="0 0 9.023 14.973">
                                            <path id="Path_91" data-name="Path 91" d="M-6690.989-5842.579l-4.62-3.179-4.4,3.029v-14.823h9.023Zm-4.62-4.393,3.62,2.491v-12.071h-7.023v11.921Z" transform="translate(6700.012 5857.552)"></path>
                                        </svg>
                                        <span class="label">Bookmark</span>
                                    </a>
                                    <a href="#" class="share">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="10.26" height="12.332" viewBox="0 0 10.26 12.332">
                                            <path id="Path_92" data-name="Path 92" d="M-6576.9-5846.836a1.453,1.453,0,0,0-.921.333l-4.962-2.786a1.459,1.459,0,0,0,.027-.262,1.454,1.454,0,0,0-.075-.44l5.1-3.562a1.463,1.463,0,0,0,.83.257,1.468,1.468,0,0,0,1.468-1.468,1.469,1.469,0,0,0-1.468-1.468,1.469,1.469,0,0,0-1.469,1.468,1.481,1.481,0,0,0,.061.4l-5.13,3.582a1.459,1.459,0,0,0-.786-.232,1.468,1.468,0,0,0-1.468,1.468,1.468,1.468,0,0,0,1.468,1.468,1.453,1.453,0,0,0,.934-.344l4.95,2.779a1.431,1.431,0,0,0-.029.28,1.469,1.469,0,0,0,1.469,1.468,1.468,1.468,0,0,0,1.468-1.468A1.468,1.468,0,0,0-6576.9-5846.836Z" transform="translate(6585.689 5856.232)"></path>
                                        </svg>
                                        <span class="label">Share</span>
                                    </a>
                                </div>
                                <div class="card__comments">
                                    <div class="profile--card comment--card">
                                        <a class="card__img">
                                            <img src="@userImg" alt="">
                                        </a>
                                        <form class="card__body form-group form__comments">
                                            @Html.AntiForgeryToken()
                                            <input hidden class="postId__comment" />
                                            <input type="text" placeholder="Write a comment" class="form-control comment__text">
                                            <input type='submit' hidden>
                                        </form>

                                    </div>
                                    <div id="viewComments__" class="comments__feed">

                                    </div>
                                    <div class="text-center">
                                        <button class="deactive">
                                            More Comments ..
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </article>
                </div>
            </div>
        </div>

    </div>

    <!--jquery  -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>



    <!-- fancybox -->
    <!-- <script type="text/javascript" src="~/Content/css/fancybox/jquery.fancybox.min.js"></script> -->
    <!-- owl -->
    <script type="text/javascript" src="~/Content/css/slick/slick.min.js"></script>

    <!-- <script src="~/Content/js/hammerjs.js"></script> -->
    @*<script src="~/Content/js/@@popperjs/popper.min.js" type="text/javascript"></script>*@
    <!-- bootstrap -->
    <!-- <script type="text/javascript" src="~/Content/css/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script type="text/javascript" src="~/Content/css/bootstrap/js/bootstrap.min.js"></script>

    @*<script src="~/Content/node_modules/tail.datetime/js/tail.datetime.js" type="text/javascript"></script>*@

    <!-- commom js -->
    @await Html.PartialAsync("Config",null)

    <script type="text/javascript" src="~/Content/js/commonjs.js"></script>
    <script type="text/javascript" src="~/Content/js/responsivejs.js"></script>



    <!-- bar chart -->
    <!--<script src="~/Content/node_modules/d3/dist/d3.min.js"></script>
    <script src="~/Content/node_modules/d3-selection/dist/d3-selection.min.js"></script>
    <script src="~/Content/node_modules/d3-scale/dist/d3-scale.min.js"></script>
    <script src="~/Content/node_modules/d3-transition/dist/d3-transition.min.js"></script>-->
    <!-- line graph -->
    <!--<script src="~/Content/node_modules/d3-path/dist/d3-path.min.js"></script>
    <script src="~/Content/node_modules/d3-shape/dist/d3-shape.min.js"></script>
    <script src="~/Content/node_modules/d3-polygon/dist/d3-polygon.min.js"></script>-->
    <!-- geo location -->
    <!--<script src="~/Content/node_modules/d3-geo/dist/d3-geo.min.js"></script>
    <script src="~/Content/node_modules/d3-scale-chromatic/dist/d3-scale-chromatic.min.js"></script>

    <script>
        window.addEventListener('DOMContentLoaded', (event) => {

            let elem = '#geoLocation--svg';
            let data;

            let margin = { top: 50, right: 20, bottom: 30, left: 40 },
                height = 350 - margin.top - margin.bottom;

            const width = document.querySelector(elem).getBoundingClientRect().width - margin.left - margin.right;

            const projection = d3.geoMercator()
                .center([0, 20])                	// GPS of location to zoom on
                .scale(99)                       // This is like the zoom
                .translate([width / 2, height / 2]);

            const svg = d3.select(elem).append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")");

            const files = ["~/Content/json/world.geojson", "~/Content/json/countryActive.json"];

            let promises = []

            files.forEach(function (url, index) {

                promises.push(d3.json(url))


            });

            Promise.all(promises).then(function (data) {
                ready(data);
                document.querySelector(elem + " .loading").remove();
            });


            const ready = (datas) => {
                let dataGeo = datas[0];
                let data = datas[1];

                // Create a color scale
                var allContinent = d3.map(data, function (d) { return (d.homecontinent) }).keys()
                var color = d3.scaleOrdinal()
                    .domain(allContinent)
                    .range(d3.schemePaired);


                // Add a scale for bubble Size
                var valueExtent = d3.extent(data, function (d) { return +d.n; })
                var size = d3.scaleSqrt()
                    .domain(valueExtent)  // What's in the data
                    .range([1, 50])  // Size in pixel



                // Draw the map
                svg.append("g")
                    .selectAll("path")
                    .data(dataGeo.features)
                    .enter()
                    .append("path")
                    // .attr("fill", "#b8b8b8")
                    .attr('class', "country")
                    .attr("d", d3.geoPath()
                        .projection(projection)
                    )
                    .style("stroke", "none")
                    .style("opacity", .3)

                // Add circles:
                svg
                    .selectAll("myCircles")
                    .data(data.sort(function (a, b) { return +b.n - +a.n }).filter(function (d, i) { return i < 1000 }))
                    .enter()
                    .append("circle")
                    .attr("cx", function (d) { return projection([+d.homelon, +d.homelat])[0] })
                    .attr("cy", function (d) { return projection([+d.homelon, +d.homelat])[1] })
                    .attr("r", function (d) { return size(+d.n) })
                    .transition()
                    .style("fill", function (d) { return color(d.homecontinent) })
                    .attr("stroke", function (d) { if (d.n > 2000) { return "black" } else { return "none" } })
                    .attr("stroke-width", 1)
                    .attr("fill-opacity", .4)
                    .attr("class", function (d) { return (d.homecontinent + " circle  tooltip") })
                    .attr('title', function (d) { return (d.homecontinent + ": " + d.n) });



                // Add title and explanation
                // svg
                // .append("text")
                // .attr("text-anchor", "end")
                // .style("fill", "black")
                // .attr("x", width - 10)
                // .attr("y", height - 30)
                // .attr("width", 90)
                // .html("WHERE SURFERS LIVE")
                // .style("font-size", 14)


                // --------------- //
                // ADD LEGEND //
                // --------------- //

                // Add legend: circles
                var valuesToShow = [100, 4000, 15000]
                var xCircle = 40
                var xLabel = 90
                svg
                    .selectAll("legend")
                    .data(valuesToShow)
                    .enter()
                    .append("circle")
                    .attr("cx", xCircle)
                    .attr("cy", function (d) { return height - size(d) })
                    .attr("r", function (d) { return size(d) })
                    .transition()
                    .style('fill', 'none')
                    .attr("stroke", "black")

                // Add legend: segments
                svg
                    .selectAll("legend")
                    .data(valuesToShow)
                    .enter()
                    .append("line")
                    .attr('x1', function (d) { return xCircle + size(d) })
                    .attr('x2', xLabel)
                    .attr('y1', function (d) { return height - size(d) })
                    .attr('y2', function (d) { return height - size(d) })
                    .attr('stroke', 'black')
                    .style('stroke-dasharray', ('2,2'))

                // Add legend: labels
                svg
                    .selectAll("legend")
                    .data(valuesToShow)
                    .enter()
                    .append("text")
                    .attr('x', xLabel)
                    .attr('y', function (d) { return height - size(d) })
                    .text(function (d) { return d })
                    .style("font-size", 10)
                    .attr('alignment-baseline', 'middle')
            }

        });
    </script>-->
    <!--DAL-->
    <script src="~/js/CommonSite.js"></script>
    <script src="~/js/Dashboard.js"></script>

    @*<script src="~/Content/js/d3-engagements.js"></script>*@

    @RenderSection("Scripts", required: false)

</body>
</html>