﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>fanbucket</title>
    <link rel="icon" href="~/Content/gallery/logo.png" />

    <!-- bootstrap icon -->
    <link rel="stylesheet" href="~/Content/node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <!-- fancybox -->
    <!-- <link rel="stylesheet" href="~/Content/css/fancybox/fancybox.min.css"> -->
    <!-- moments -->
    <!-- demo styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/demo/style.css">
    <!-- lib styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/zuck.min.css">

    <!-- lib skins -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/snapgram.css">


    <link rel="stylesheet" href="~/Content/node_modules/datetime/css/tail.datetime-harx-light.css">



    <!-- slick -->
    <link rel="stylesheet" href="~/Content/css/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Content/css/slick/slick.css">

    <!-- animate -->
    <link rel="stylesheet"
          href="~/Content/node_modules/animate.css/animate.min.css" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap.min.css">
    <link href="~/lib/fancyapps/ui/dist/fancybox.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <!-- style -->
    <!-- <link rel="stylesheet" href="~/Content/css/style.css"> -->

    <link rel="stylesheet" href="~/Content/css/otherstyle.css">
    <link href="~/Content/Bootstrap-4-Date-Time-Picker/css/tempusdominus-bootstrap-4.css" rel="stylesheet" />

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJJ5GBN');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager -->
    <!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P48BMD9');</script>-->
    <!-- End Google Tag Manager -->
</head>
<body>

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJJ5GBN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Google Tag Manager (noscript) -->
    <!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P48BMD9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
    <!-- End Google Tag Manager (noscript) -->
    @inject FanBucketUI.API_Context.SessionHelper uservice
    @inject FanBucketUI.HelperModel helper
    @{
        var Username = uservice.GetUsername(User);
        var userFullname = uservice.GetName(User);
        var userImg = uservice.GetProfileImg(User);
        var userId = Guid.Parse(uservice.GetId(User));
        var hash___ = uservice.GetBearer(User);
        var Notifi = await helper.GetNotifCount(User);
        var reportTypes = await helper.GetConversationReportTypes(User);
        var Message = await helper.GetMessageCount(User);
    }
    <style>
        .notification--badge {
            position: absolute;
            right: 0px;
            padding: 5px;
            background-color: #e43232;
            border-radius: 18px;
            color: white;
            font-size: 10px;
            width: 20px;
            height: 20px;
            /* justify-content: center; */
            /* text-align: center; */
            /* vertical-align: inherit; */
            line-height: 10px;
        }
    </style>
    <style>
        .common--modal--form {
            text-align: center;
        }

            .common--modal--form .modal-header {
                border: 0;
                padding: 0;
            }

            .common--modal--form .form__header {
                margin-bottom: 2em;
            }

            .common--modal--form .para {
                line-height: 1.5;
                font-size: 18px;
                margin-bottom: 0;
                color: #4e4e4e;
            }

            .common--modal--form .otp {
                display: flex;
                justify-content: center;
                flex-wrap: nowrap;
            }

            .common--modal--form input.form-control {
                width: 60px;
                text-align: center;
                height: 56px;
                font-size: 18px;
                color: #4e4e4e !important;
                font-weight: 500;
                background-color: #fce9e9 !important;
                box-shadow: none;
                outline: none;
                border: 1px solid transparent;
                border-radius: 5px;
                width: 60px;
                text-align: center;
            }

                .common--modal--form input.form-control:not(:first-child) {
                    margin-left: 6px;
                }



            .common--modal--form input[type="number"] {
                -moz-appearance: textfield;
            }

            .common--modal--form .modal-header.title__wrapper .section__title {
                flex-grow: 2;
                text-align: center;
            }

            .common--modal--form .modal-body button {
                background-image: linear-gradient( 135deg,#fe4545,#d70153);
                border: none;
                padding: 12px 24px;
                font-size: 15px;
                color: #fff;
                border-radius: 5px;
                text-transform: capitalize;
                line-height: 17px;
                position: relative;
                white-space: nowrap;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                will-change: transform;
                -webkit-perspective: 1000;
                box-shadow: none;
                transition: 0.3s ease-out;
            }

            .common--modal--form .modal-content {
                padding: 30px;
                border: 0;
                border-radius: 5px;
                box-shadow: rgb(35 35 35 / 10%) -3px 4px 12px;
                transition: 0.3s ease-in;
            }

            .common--modal--form .close {
                background-color: #e9e9e9;
                height: 42px;
                width: 42px;
                border-radius: 12px;
                line-height: 40px;
                padding: 0;
                font-size: 40px;
                margin: 0;
                color: rgba(35,35,35,0.5);
                opacity: 1;
            }
    </style>
    <header class="header--primary">
        <div class="section__rule">
            <a href="/Post/Feed" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31.96 35.72">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: url(#linear-gradient);
                            }
                        </style>
                        <linearGradient id="linear-gradient" x1="1.64" y1="4.73" x2="25.31" y2="28.4" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fe4545" /><stop offset="1" stop-color="#d70153" /></linearGradient>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M27.25,10.37,27,10.24a1.87,1.87,0,0,1-.83-.71,1.76,1.76,0,0,0-.31-.39,18.27,18.27,0,0,0-7-3.88,29.92,29.92,0,0,0-6.67-1.52,11.23,11.23,0,0,0-1.74,0,3.42,3.42,0,0,0-.53.09,2.21,2.21,0,0,1-1.17,0l-.31-.07c-.29-.06-.38-.37-.14-.51a2.78,2.78,0,0,1,1-.33,14.76,14.76,0,0,1,5.22.2,35.06,35.06,0,0,1,4.85,1.36s5.7,1.82,8,4.77a2.45,2.45,0,0,1,.48.85C27.82,10.33,27.51,10.5,27.25,10.37Zm4.34,1.93a39.91,39.91,0,0,1-2.13,3.59A13.42,13.42,0,0,1,21,21.6a14.87,14.87,0,0,1-8.55-1.08,13,13,0,0,1-7.67-7.3,17.35,17.35,0,0,1-.42-10.5,2.8,2.8,0,0,1,2-2.2A13.05,13.05,0,0,1,12.11.15l.36,0a22,22,0,0,1,3.32.58l.57.14A37.51,37.51,0,0,1,26,4.69a15.72,15.72,0,0,1,5.34,4.45A2.8,2.8,0,0,1,31.59,12.3ZM29.4,9.05a10.05,10.05,0,0,0-1.64-1.62,26.41,26.41,0,0,0-7.35-3.92,31.06,31.06,0,0,0-7.47-2l-.45,0a34.21,34.21,0,0,0-4.3.12c-1.77.24-2.3,1.54-1.2,3A10.81,10.81,0,0,0,9.55,6.91,46.67,46.67,0,0,0,14,9.4a40.29,40.29,0,0,0,7.67,2.46,19.12,19.12,0,0,0,2.8.42,17.64,17.64,0,0,0,3.85-.19C30.11,11.77,30.52,10.45,29.4,9.05ZM27.09,20.83c-2.07,3.88-4.17,7.75-6.21,11.65a5.33,5.33,0,0,1-3,2.6,11.5,11.5,0,0,1-5.9.46c-4.22-.69-8-2.32-10.67-5.82A5.3,5.3,0,0,1,.1,25.32c.22-1.08.43-2.16.63-3.23l1.89-9.9A15.51,15.51,0,0,0,12.75,22.5,15.08,15.08,0,0,0,27.1,20.58.77.77,0,0,1,27.09,20.83Z" /></g></g>
                </svg>

            </a>

            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav__item ">
                        <a href="/Post/Feed" class="nav__link ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.1 14.04"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="0 7.55 7.55 0 15.1 7.55 12.79 7.55 12.79 14.04 9.55 14.04 9.55 9.67 5.68 9.67 5.68 14.04 2.31 14.04 2.31 7.55 0 7.55" /></g></g></svg>
                        </a>
                    </li>

                   
                    <li class="nav__item ">
                        @{
                            var HasUnreadNotifcation = Notifi > 0;
                        }
                        <a href="/User/Notifications" class="notication nav__link">
                            <svg xmlns="http://www.w3.org/2000/svg" class="HaveNotication @(HasUnreadNotifcation?"":"d-none")" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14.01 13.23">
                                <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                        <path class="cls-1" d="M10.44,2.75A2.12,2.12,0,0,1,11.6,1.56,3.77,3.77,0,0,0,10.25.45,4.19,4.19,0,0,0,4.46,2.69L2.94,6.63A2,2,0,0,1,.4,7.76L0,8.81l4.58,1.76s0,.08-.07.13a1.26,1.26,0,1,0,2.36.9.31.31,0,0,0,0-.13l4.58,1.76.4-1.05a2,2,0,0,1-1.12-2.53l1.46-3.78c0-.1.07-.18.09-.27a2,2,0,0,1-.67-.13A2.11,2.11,0,0,1,10.44,2.75Z" />

                                        <path class="cls-2" d="M13.07,2.11A1.46,1.46,0,1,0,13.91,4,1.46,1.46,0,0,0,13.07,2.11Z" />
                                    </g>
                                </g>
                            </svg>
                            @*<svg xmlns="http://www.w3.org/2000/svg" class="NoNotication @(!HasUnreadNotifcation?"":"d-none")" width="9.023" height="14.974" viewBox="0 0 9.023 14.974">
                                <path id="Path_91" data-name="Path 91" d="M-6690.99-5842.58l-4.62-3.179-4.4,3.029v-14.823h9.023Zm-8.023-13.973Z" transform="translate(6700.01 5857.554)" />
                            </svg>*@
                            <svg xmlns="http://www.w3.org/2000/svg"  class="NoNotication @(!HasUnreadNotifcation?"":"d-none")" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14.01 13.23">
                                <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                        <path class="cls-1" d="M11.6,1.56A3.77,3.77,0,0,0,10.25.45,4.19,4.19,0,0,0,4.46,2.69L2.94,6.63A2,2,0,0,1,.4,7.76L0,8.81l4.58,1.76a.172.172,0,0,1-.07.13,1.263,1.263,0,1,0,2.36.9.31.31,0,0,0,0-.13l4.58,1.76.4-1.05a2,2,0,0,1-1.12-2.53l1.46-3.78A5.36,5.36,0,0,0,11.6,1.56Z">

                                        </path>
                                    </g>
                                </g>
                            </svg>

                        </a>
                    </li>

                    <li class="nav__item ">
                        <a href="#!" class="nav__link post--modal__trigger" data-toggle="modal" data-target="#post--modal">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.53 14.53"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" x="6.26" width="2.01" height="14.53" /><rect class="cls-1" y="6.26" width="14.53" height="2.01" /></g></g></svg>
                        </a>
                    </li>

                    <li class="nav__item ">
                        <a href="/Messenger/Messenger" class="nav__link">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.25 10.65">
                                <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                        <path class="cls-1" d="M7.13,4.75,13,0l-.23,0H1.46L1.23,0Z" />

                                        <path class="cls-1" d="M7.13,6.67.07,1A1.56,1.56,0,0,0,0,1.46V9.2a1.45,1.45,0,0,0,1.46,1.45H12.79A1.45,1.45,0,0,0,14.25,9.2V1.46A1.56,1.56,0,0,0,14.18,1Z" />
                                        @if (Message > 0)
                                        {
                                            <p class="notification--badge">@Message</p>



                                        }

                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>

                    <li class="nav__item ">
                        <a href="/@Username" class="nav__link">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.97 13.86"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="cls-1" cx="6.99" cy="3.2" r="3.2" /><path class="cls-1" d="M0,13.86a7,7,0,1,1,14,0Z" /></g></g></svg>
                        </a>
                    </li>
                </ul>
            </nav>


            <div class="logout">
                <hr>
                <a href="#!" class="nav__link " data-toggle="modal" data-target="#modal--logout">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.97 15.26"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M8.33,1.4v1a6,6,0,1,1-2.68,0v-1a7,7,0,1,0,2.68,0Z" /><rect class="cls-1" x="6.48" width="1.01" height="6.98" /></g></g></svg>
                </a>
            </div>


        </div>


    </header>


    <div class="modal fade modal--logout" id="modal--logout" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header title__wrapper">
                    <h2 class="section__title">Are you sure you want to Log Out</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="card__link">
                        <button class="deactive" onclick="window.location.href='/Login'">
                            Yes, Log Out
                        </button>
                        <button data-dismiss="modal">
                            No, Close This
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade common--modal--form tip--modal" id="enter--pin--modal1" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header title__wrapper">
                    <h2 class="section__title">Enter Your Pin</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="modal-body overflow--hidden ">
                    <div action="#!" class="modal--slide">
                        <div class="form__header">
                            <p class="para">
                                Enter Pin
                            </p>
                        </div>
                        <form method="post">
                            <input type="hidden" class="datId" value="" />
                            <div class="forminput">

                                <div class="form-group ott--modal otp">
                                    <input type="password" pattern="\d*" class="form-control" name="pinDigit" autofocus="" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" max="9" min="0">
                                    <input type="password" pattern="\d*" class="form-control" name="pinDigit" autofocus="" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" max="9" min="0">
                                    <input type="password" pattern="\d*" class="form-control" name="pinDigit" autofocus="" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" max="9" min="0">
                                    <input type="password" pattern="\d*" class="form-control" name="pinDigit" autofocus="" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" max="9" min="0">
                                    <input type="password" pattern="\d*" class="form-control" name="pinDigit" autofocus="" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" max="9" min="0">
                                    <input type="password" pattern="\d*" class="form-control" name="pinDigit" autofocus="" maxlength="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" max="9" min="0">
                                    <div class="eye form-control">
                                        <i class="bi bi-eye-slash"></i>
                                    </div>
                                </div>
                            </div>


                            <div class="form__footer">
                                <button type="submit"> Submit </button>
                            </div>
                        </form>

                    </div>

                    <div class="sucess--part">
                        <i class="bi bi-x"></i>
                        @*<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                            <path d="M8.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14l.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"></path>
                            </svg>*@
                        <h2 class="card__title">Success Fully Uploaded</h2>
                        <button class="close-btn" type="button" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal--tips" id="modal--tips" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal--tips">
            <div class="modal-content">
                <div class="modal-header title__wrapper">
                    <h2 class="section__title">Send Tips </h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#1">
                        <label for="amount--number">Amount</label>
                        <div class="form-group">
                            <i>$</i>
                            <input type="number" class="form-control" placeholder="0.00" id="amount--number" required step="0.01" min="5.00">
                            <small>min $5.00</small>
                        </div>
                        <button type="submit" id="btnTipSend">
                            Send
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <main class="main messenger--main">
        <input id="token___Auth" value="@hash___" hidden />
        <input id="CurrUserId" value="@userId" hidden />
        <div class="title__wrapper search-wrapper--main">
            <h2 class="section__title">Messages</h2>
            <a href="#" class="title__link ml-auto btn_getOnlineUser">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.53 14.53"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" x="6.26" width="2.01" height="14.53"></rect><rect class="cls-1" y="6.26" width="14.53" height="2.01"></rect></g></g></svg>
            </a>

            @*   <form class="title__link form-inline search-wrapper">
                <div class="form-group">

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.8 12.61" class="search--icon"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M12.8,11.89,9.86,9a5.58,5.58,0,1,0-.7.73l2.92,2.93ZM10,5.53A4.51,4.51,0,1,1,5.53,1,4.51,4.51,0,0,1,10,5.53Z"></path></g></g></svg>

                <input class="form-control" type="search" name="chatOrSearch">
                <i class="bi bi-x close--icon"></i>
                </div>
                </form>

                <a href="#" class="title__link search--icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.8 12.61"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M12.8,11.89,9.86,9a5.58,5.58,0,1,0-.7.73l2.92,2.93ZM10,5.53A4.51,4.51,0,1,1,5.53,1,4.51,4.51,0,0,1,10,5.53Z"></path></g></g></svg>
                </a>
                <a href="#" class="title__link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.78 11.1"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" width="12.78" height="1.11"></rect><rect class="cls-1" y="4.99" width="9.47" height="1.11"></rect><rect class="cls-1" y="9.99" width="6.17" height="1.11"></rect></g></g></svg>
                </a>*@
        </div>
        <div id="chatUserFeed">
            @RenderBody()
        </div>

    </main>

    <aside class="right--aside profile--right--aside messenger--aside" id="chatFeed" hidden>
    </aside>


    <aside class="right--aside profile--right--aside messenger--aside">

        <div class="sticky-top right--aside__wrapper">
            <div class="newMessage__wrapper">
                <h2 class="section__title">Select any Conversation or Send a New Messsage</h2>
                <button class="btn_getOnlineUser">New Message</button>
            </div>
        </div>
    </aside>
    <div class="tost-wrapper">
        @*toast wrappper*@
    </div>
    <div class="modal fade message--new" id="message--new" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header title__wrapper">
                    <form action="#!" method="" class="form">
                        <div class="form-group">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.2 17.92" class="search"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-1"><path class="cls-2" d="M7.87,15.74a7.87,7.87,0,1,1,7.87-7.87A7.88,7.88,0,0,1,7.87,15.74ZM7.87,1a6.87,6.87,0,1,0,6.87,6.87A6.88,6.88,0,0,0,7.87,1Z"></path><rect class="cls-2" x="15.03" y="11.96" width="1" height="6.56" transform="translate(-6.23 15.45) rotate(-45)"></rect></g></g></g></svg>
                            <input type="search" class="form-control" required="" id="searchFriend">
                        </div>
                    </form>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <h2 class="section__title">Online</h2>




                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal--post" id="post--modal" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header title__wrapper">
                    <h2 class="section__title">New Post </h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.73 13.73"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="13.73 0.78 12.95 0 6.87 6.08 0.78 0 0 0.78 6.08 6.87 0 12.95 0.78 13.73 6.87 7.65 12.95 13.73 13.73 12.95 7.65 6.87 13.73 0.78" /></g></g></svg>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar " role="progressbar"></div>
                    </div>
                    <form action="/Post/Feed/" method="Post">
                        @Html.AntiForgeryToken()
                        <div class="form__wrapper">
                            <input name="ParentPostId" id="ParentPostId" hidden />
                            <input name="FileLocation" id="FileLocation" hidden />
                            <div class="form-group">
                                <textarea name="PostTitle" class="form-control" id="modal--post__input" placeholder="Share to your fans" maxlength="200"></textarea>

                            </div>
                            <div class="modal--post__ph--upload">
                                <div class="image empty--input hide">
                                    <label for="post__card__link__input"><i class="bi bi-plus"></i></label>
                                    <input type="file" accept="image/gif,image/jpeg,image/png,image/bmp" multiple="" id="post__card__link__input" class="post__card__link__input" title="Add a new photo or video" name="new--image">
                                </div>
                                <div class="image uploading" id="uploading__loader" style="display:none;">
                                    <img alt="">
                                    <a href="#!">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="502.571" height="562.771" viewBox="0 0 502.571 562.771">
                                            <path id="Subtraction_1" data-name="Subtraction 1" d="M-9212.429,706.77H-9715V347.906h47.059a205.856,205.856,0,0,1,4.235-41.035,203.366,203.366,0,0,1,11.938-38.224,204.484,204.484,0,0,1,18.827-34.6,205.982,205.982,0,0,1,24.9-30.155,206.034,206.034,0,0,1,30.159-24.9,204.617,204.617,0,0,1,34.6-18.825,203.485,203.485,0,0,1,38.234-11.938A205.907,205.907,0,0,1-9463.993,144a205.7,205.7,0,0,1,42.227,4.485,203.391,203.391,0,0,1,39.218,12.63A204.665,204.665,0,0,1-9347.23,181a206.061,206.061,0,0,1,30.527,26.251l-31.746,27.321a161.253,161.253,0,0,0-115.845-48.8c-89.36.085-162.129,72.816-162.214,162.129l324.388.044c0-.195,0-.388,0-.582v-.023h42.033v.025c0,.177,0,.359,0,.536h47.658V706.769Zm-251.865-221.811a46.223,46.223,0,0,0-46.156,46.071,45.909,45.909,0,0,0,28.683,42.592v56.721h35.036V573.715l-.047.019-.041.017.088-.129v.093a45.931,45.931,0,0,0,28.509-42.685A46.123,46.123,0,0,0-9464.294,484.959Z" transform="translate(9715 -143.999)" fill="#fff" />

                                            <path id="Subtraction_2" data-name="Subtraction 1" d="M-9212.429,706.77H-9715V347.906h47.059a205.856,205.856,0,0,1,4.235-41.035,203.366,203.366,0,0,1,11.938-38.224,204.484,204.484,0,0,1,18.827-34.6,205.982,205.982,0,0,1,24.9-30.155,206.034,206.034,0,0,1,30.159-24.9,204.617,204.617,0,0,1,34.6-18.825,203.485,203.485,0,0,1,38.234-11.938A205.907,205.907,0,0,1-9463.993,144a205.8,205.8,0,0,1,40.95,4.217,203.406,203.406,0,0,1,38.152,11.888,204.534,204.534,0,0,1,34.545,18.749,206.089,206.089,0,0,1,30.127,24.8,206.05,206.05,0,0,1,24.9,30.042,204.534,204.534,0,0,1,18.86,34.474,203.365,203.365,0,0,1,12.014,38.1,205.649,205.649,0,0,1,4.356,40.909l-42.033.031c-.482-88.885-73.231-161.3-162.171-161.43-89.36.085-162.129,72.816-162.214,162.129l324.388.044c0-.195,0-.388,0-.582v-.023h42.033v.025c0,.177,0,.359,0,.536h47.658V706.769Zm-251.865-221.811a46.223,46.223,0,0,0-46.156,46.071,45.909,45.909,0,0,0,28.683,42.592v56.721h35.036V573.715l-.047.019-.041.017.088-.129v.093a45.931,45.931,0,0,0,28.509-42.685A46.123,46.123,0,0,0-9464.294,484.959Z" transform="translate(9715 -143.999)" fill="#fff" />


                                        </svg>
                                    </a>
                                    <div class="edit--wrapper">
                                        <a href="#" class="trash"><i class="bi bi-trash"></i></a>
                                    </div>
                                    <div class="loader__wrapper">
                                        <div class="loader">
                                            <div class="box">
                                                <img src="/Content/gallery/logoWhite.png" alt="fanbucket">
                                            </div>
                                            <div class="shadow"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="poll__wrapper" style="display:none;">
                                <!-- poll with ratio -->
                                <div class="poll--inside">
                                    <div class="custom-control poll-input-wrapper" id="pollwrapper_0">
                                        <input type="text" class="form-control result--box poll-text" placeholder="Option 1" name="pollwrapper">
                                        <input type="hidden" name="FileLocation" class="poll-file-location" value="" />
                                        @*<input type="file" class="form-control pollfile" name="file" >*@
                                        <a class="count" href="#!" tabindex="-1"><i class="bi bi-x"></i></a>
                                    </div>
                                    <div class="custom-control poll-input-wrapper" id="pollwrapper_1">
                                        <input type="text" class="form-control result--box poll-text" placeholder="Option 2" name="pollwrapper">
                                        <input type="hidden" name="FileLocation" class="poll-file-location" value="" />
                                        @*<input type="file" class="form-control pollfile" name="file" >*@
                                        <a class="count" href="#!" tabindex="-1"><i class="bi bi-x"></i></a>
                                    </div>
                                </div>
                                <div id="poll_default_template" class="d-none">
                                    <div class="custom-control poll-input-wrapper" id="pollwrapper_0">
                                        <input type="text" class="form-control result--box poll-text" placeholder="Option 1" name="pollwrapper">
                                        <input type="hidden" name="FileLocation" class="poll-file-location" value="" />
                                        @*<input type="file" class="form-control pollfile" name="file" >*@
                                        <a class="count" href="#!" tabindex="-1"><i class="bi bi-x"></i></a>
                                    </div>
                                    <div class="custom-control poll-input-wrapper" id="pollwrapper_1">
                                        <input type="text" class="form-control result--box poll-text" placeholder="Option 2" name="pollwrapper">
                                        <input type="hidden" name="FileLocation" class="poll-file-location" value="" />
                                        @*<input type="file" class="form-control pollfile" name="file" >*@
                                        <a class="count" href="#!" tabindex="-1"><i class="bi bi-x"></i></a>
                                    </div>
                                </div>
                                <input type="number" value="1" id="poll--inside--count" max="9" min="0">

                                <div class="poll--buttom">
                                    <button type="button" class="poll--add">add option</button>
                                    <div class="d-flex ml-auto">

                                        <div class="form-group select--input--wrapper">
                                            <div class="select-wrapper">
                                                <select class="form-control select__dynamic" id="poll--deadline">
                                                    <option selected="">Until I turn off</option>
                                                    <option value="1">24 Hrs</option>
                                                    <option value="2">3 days</option>
                                                    <option value="2">1 week</option>
                                                </select>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                    <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                                                </svg>
                                            </div>
                                        </div>
                                        <button class="poll--trash" type="button"><i class="bi bi-trash"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-muted para small" id="post--date--value">
                                @*<input type="hidden" id="ScheduledFor" value=""><time> Sep 2 2021 | 11:40 </time>*@
                                <a id="reset" href="#!" class="hide active"> Reset </a>
                            </div>




                            <div class="card__link card__link--top">
                                <div class="form-group select--input--wrapper">

                                    <div class="select-wrapper pl-2">
                                        <select class="form-control MediaType" id="MediaType" title="File sizes larger than 250MB will not be uploaded.">
                                            <option value="Image" selected>Image</option>
                                            <option value="Video">Video</option>
                                            <option value="Audio">Audio</option>
                                            <option value="Document">Document (PDF)</option>
                                        </select>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </div>

                                </div>

                                <div class="form-group select--input--wrapper nswf--wrapper">
                                    <div class="input--wrapper">
                                        <label class="form-check-label">NSFW &nbsp;&nbsp;&nbsp;</label>

                                        <div class="form-check form-check-inline custom-control custom-radio custom-control-inline">
                                            <input class="form-check-input custom-control-input" type="radio" name="NSFW" id="NSFW1" value="true">
                                            <label class="form-check-label custom-control-label" for="NSFW1">Yes</label>
                                        </div>
                                        <div class="form-check form-check-inline custom-control custom-radio custom-control-inline">
                                            <input class="form-check-input custom-control-input" type="radio" name="NSFW" id="NSFW2" value="false">
                                            <label class="form-check-label custom-control-label" for="NSFW2">No</label>
                                        </div>
                                    </div>
                                </div>





                            </div>

                            <hr>


                            <div class="card__link">
                                <div class="form-group select--input--wrapper">
                                    <div class="select-wrapper">
                                        <select class="form-control public--or--paid" id="public--or--paid">
                                            <option value="false" selected>Public</option>
                                            <option value="true">Paid</option>
                                        </select>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                            <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                        </svg>
                                    </div>
                                    <div class="input--wrapper hide">
                                        <label for="input__paid">$</label>
                                        <input type="text" name="PostPrice" class="form-control" placeholder="0.00" id="input__paid">
                                    </div>

                                </div>





                                <a href="#" class="pr">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21.68" height="21.68" viewBox="0 0 21.68 21.68">
                                        <g id="Group_34" data-name="Group 34" transform="translate(6522.683 6688.971)">
                                            <path id="Path_41" data-name="Path 41" d="M-6507.2-6688.971h-9.29a6.2,6.2,0,0,0-6.19,6.19v9.29a6.06,6.06,0,0,0,.94,3.259,5.509,5.509,0,0,0,.96,1.2,6.144,6.144,0,0,0,4.29,1.74h9.29a6.205,6.205,0,0,0,6.2-6.2v-9.29A6.2,6.2,0,0,0-6507.2-6688.971Zm-9.29,20.18a4.686,4.686,0,0,1-3.38-1.441l4.5-5.939,2.76,4.01-2.14,3.37Zm12.46-1.231a4.684,4.684,0,0,1-3.17,1.231h-5.77l6.13-9.66,4.32,5.42A4.669,4.669,0,0,1-6504.033-6670.022Zm1.53-5.389-4.48-5.62-4.75,7.48-3.59-5.181-5.43,7.191a4.589,4.589,0,0,1-.43-1.95v-9.29a4.69,4.69,0,0,1,4.69-4.69h9.29a4.7,4.7,0,0,1,4.7,4.69Z" fill="#f28f8f" />
                                            <path id="Path_42" data-name="Path 42" d="M-6510.4-6683.7a1.016,1.016,0,0,0-1.016,1.016,1.015,1.015,0,0,0,1.016,1.015,1.014,1.014,0,0,0,1.015-1.015A1.014,1.014,0,0,0-6510.4-6683.7Z" fill="#f28f8f" />
                                        </g>
                                    </svg>

                                    <label class="user--gesture__blocked upload--photo--label" for="post__card__link__input"></label>
                                </a>

                                <a href="#" type="button" class="poll--post" data-toggle="tooltip" data-placement="top" title="Poll">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21.68" height="21.68" viewBox="0 0 21.68 21.68">
                                        <g id="Group_39" data-name="Group 39" transform="translate(6481.337 6688.971)">
                                            <path id="Path_43" data-name="Path 43" d="M-6465.857-6688.971h-9.29a6.2,6.2,0,0,0-6.19,6.19v9.29a6,6,0,0,0,.94,3.25,5.334,5.334,0,0,0,.96,1.21,6.142,6.142,0,0,0,4.29,1.74h9.29a6.205,6.205,0,0,0,6.2-6.2v-9.29A6.2,6.2,0,0,0-6465.857-6688.971Zm4.93,14.94a5.471,5.471,0,0,1-5.47,5.469h-8.21a5.393,5.393,0,0,1-3.58-1.359c-.12-.1-.23-.21-.34-.32a4.81,4.81,0,0,1-.71-.92,5.3,5.3,0,0,1-.83-2.87v-8.21a5.415,5.415,0,0,1,1.25-3.471,4.736,4.736,0,0,1,1.04-.959,5.363,5.363,0,0,1,3.17-1.03h8.21a5.362,5.362,0,0,1,3.53,1.3,2.284,2.284,0,0,1,.33.3,2.408,2.408,0,0,1,.3.33,5.38,5.38,0,0,1,1.31,3.531Z" fill="#f28f8f" />
                                            <g id="Group_38" data-name="Group 38">
                                                <path id="Path_44" data-name="Path 44" d="M-6474.774-6683.192a1.252,1.252,0,0,0-1.253,1.252,1.253,1.253,0,0,0,1.253,1.253,1.252,1.252,0,0,0,1.252-1.253A1.251,1.251,0,0,0-6474.774-6683.192Z" fill="#f28f8f" />
                                                <g id="Group_35" data-name="Group 35">
                                                    <rect id="Rectangle_15" data-name="Rectangle 15" width="7.493" height="1" transform="translate(-6472.46 -6682.44)" fill="#f28f8f" />
                                                </g>
                                                <path id="Path_45" data-name="Path 45" d="M-6474.774-6679.384a1.253,1.253,0,0,0-1.253,1.253,1.252,1.252,0,0,0,1.253,1.252,1.251,1.251,0,0,0,1.252-1.252A1.252,1.252,0,0,0-6474.774-6679.384Z" fill="#f28f8f" />
                                                <g id="Group_36" data-name="Group 36">
                                                    <rect id="Rectangle_16" data-name="Rectangle 16" width="7.493" height="1" transform="translate(-6472.46 -6678.631)" fill="#f28f8f" />
                                                </g>
                                                <path id="Path_46" data-name="Path 46" d="M-6474.774-6675.575a1.253,1.253,0,0,0-1.253,1.253,1.252,1.252,0,0,0,1.253,1.252,1.251,1.251,0,0,0,1.252-1.252A1.252,1.252,0,0,0-6474.774-6675.575Z" fill="#f28f8f" />
                                                <g id="Group_37" data-name="Group 37">
                                                    <rect id="Rectangle_17" data-name="Rectangle 17" width="7.493" height="1" transform="translate(-6472.46 -6674.823)" fill="#f28f8f" />
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </a>
                                <div class="dropdown emoji ">
                                    <a href="#!" class="emoji dropdown-toggle" data-placement="bottom" title="GIFS" type="button" data-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="21.679" height="21.68" viewBox="0 0 21.679 21.68">
                                            <g id="Group_41" data-name="Group 41" transform="translate(6439.991 6688.971)">
                                                <path id="Path_47" data-name="Path 47" d="M-6424.511-6688.971h-9.29a6.194,6.194,0,0,0-6.19,6.19v9.29a6,6,0,0,0,.94,3.25,5.294,5.294,0,0,0,.96,1.21,6.139,6.139,0,0,0,4.29,1.74h9.29a6.2,6.2,0,0,0,6.2-6.2v-9.29A6.2,6.2,0,0,0-6424.511-6688.971Zm4.929,14.94a5.469,5.469,0,0,1-5.469,5.469h-8.21a5.39,5.39,0,0,1-3.58-1.359c-.121-.1-.23-.21-.34-.32a4.771,4.771,0,0,1-.71-.92,5.291,5.291,0,0,1-.83-2.87v-8.21a5.413,5.413,0,0,1,1.25-3.471,4.736,4.736,0,0,1,1.04-.959,5.361,5.361,0,0,1,3.17-1.03h8.21a5.36,5.36,0,0,1,3.529,1.3,2.234,2.234,0,0,1,.33.3,2.476,2.476,0,0,1,.3.33,5.376,5.376,0,0,1,1.309,3.531Z" fill="#f28f8f" />
                                                <g id="Group_40" data-name="Group 40">
                                                    <path id="Path_48" data-name="Path 48" d="M-6432.622-6681.94a1.253,1.253,0,0,0-1.253,1.253,1.252,1.252,0,0,0,1.253,1.252,1.252,1.252,0,0,0,1.252-1.252A1.253,1.253,0,0,0-6432.622-6681.94Z" fill="#f28f8f" />
                                                    <path id="Path_49" data-name="Path 49" d="M-6425.68-6681.94a1.253,1.253,0,0,0-1.253,1.253,1.252,1.252,0,0,0,1.253,1.252,1.251,1.251,0,0,0,1.252-1.252A1.252,1.252,0,0,0-6425.68-6681.94Z" fill="#f28f8f" />
                                                </g>
                                                <path id="Path_50" data-name="Path 50" d="M-6432.2-6675.277a3.044,3.044,0,0,0,3.045,3.043,3.044,3.044,0,0,0,3.044-3.043Z" fill="#f28f8f" />
                                            </g>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu gif__wrapper" id="emoji__wrapper">
                                        <div class="gif__header">
                                            <div class="form-group">
                                                <i class="bi bi-search"></i>
                                                <input type="text" class="form-control" placeholder="Search" id="searchGif">
                                            </div>
                                        </div>
                                        <div class="gif__body">
                                            <p class="small text-muted"> Search you gif </p>
                                            <div class="grid">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="dropdown-menu" id="emoji__wrapper">
                                    <ul class="nav"></ul>

                                </div>

                                @*<a href="#" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="21.679" height="21.68" viewBox="0 0 21.679 21.68">
                                    <g id="Group_41" data-name="Group 41" transform="translate(6439.991 6688.971)">
                                    <path id="Path_47" data-name="Path 47" d="M-6424.511-6688.971h-9.29a6.194,6.194,0,0,0-6.19,6.19v9.29a6,6,0,0,0,.94,3.25,5.294,5.294,0,0,0,.96,1.21,6.139,6.139,0,0,0,4.29,1.74h9.29a6.2,6.2,0,0,0,6.2-6.2v-9.29A6.2,6.2,0,0,0-6424.511-6688.971Zm4.929,14.94a5.469,5.469,0,0,1-5.469,5.469h-8.21a5.39,5.39,0,0,1-3.58-1.359c-.121-.1-.23-.21-.34-.32a4.771,4.771,0,0,1-.71-.92,5.291,5.291,0,0,1-.83-2.87v-8.21a5.413,5.413,0,0,1,1.25-3.471,4.736,4.736,0,0,1,1.04-.959,5.361,5.361,0,0,1,3.17-1.03h8.21a5.36,5.36,0,0,1,3.529,1.3,2.234,2.234,0,0,1,.33.3,2.476,2.476,0,0,1,.3.33,5.376,5.376,0,0,1,1.309,3.531Z" fill="#f28f8f" />
                                    <g id="Group_40" data-name="Group 40">
                                    <path id="Path_48" data-name="Path 48" d="M-6432.622-6681.94a1.253,1.253,0,0,0-1.253,1.253,1.252,1.252,0,0,0,1.253,1.252,1.252,1.252,0,0,0,1.252-1.252A1.253,1.253,0,0,0-6432.622-6681.94Z" fill="#f28f8f" />
                                    <path id="Path_49" data-name="Path 49" d="M-6425.68-6681.94a1.253,1.253,0,0,0-1.253,1.253,1.252,1.252,0,0,0,1.253,1.252,1.251,1.251,0,0,0,1.252-1.252A1.252,1.252,0,0,0-6425.68-6681.94Z" fill="#f28f8f" />
                                    </g>
                                    <path id="Path_50" data-name="Path 50" d="M-6432.2-6675.277a3.044,3.044,0,0,0,3.045,3.043,3.044,3.044,0,0,0,3.044-3.043Z" fill="#f28f8f" />
                                    </g>
                                    </svg>
                                    </a>*@

                                <button type="submit">
                                    Post
                                </button>

                                <a href="#" type="button" class="non-active shedule--link">
                                    <label for="post--date">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16.43 17.41"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M11.73,1h-7A4.7,4.7,0,0,0,0,5.67v7a4.63,4.63,0,0,0,.71,2.47,4,4,0,0,0,.73.91,4.64,4.64,0,0,0,3.25,1.32h7a4.7,4.7,0,0,0,4.7-4.7v-7A4.69,4.69,0,0,0,11.73,1ZM15.47,12.3a4.15,4.15,0,0,1-4.15,4.15H5.1a4.11,4.11,0,0,1-2.71-1l-.26-.24a4,4,0,0,1-.54-.7A4,4,0,0,1,1,12.3V6.08a4.11,4.11,0,0,1,1-2.63,3.65,3.65,0,0,1,.79-.73,4.07,4.07,0,0,1,2.4-.78h6.22a4.08,4.08,0,0,1,2.68,1,1.71,1.71,0,0,1,.25.22,2.73,2.73,0,0,1,.23.25,4.1,4.1,0,0,1,1,2.68Z"></path><path class="cls-1" d="M6.75,6.12H5.32a1,1,0,0,0-1,1V8.51a.92.92,0,0,0,.15.5.9.9,0,0,0,.15.19.92.92,0,0,0,.66.27H6.75a1,1,0,0,0,1-1V7.08A1,1,0,0,0,6.75,6.12Z"></path><path class="cls-1" d="M11.11,6.12H9.68a1,1,0,0,0-1,1V8.51a.92.92,0,0,0,.15.5A.9.9,0,0,0,9,9.2a.92.92,0,0,0,.66.27h1.43a1,1,0,0,0,1-1V7.08A1,1,0,0,0,11.11,6.12Z"></path><path class="cls-1" d="M11.11,10.44H9.68a1,1,0,0,0-1,1v1.44a1,1,0,0,0,.15.5.9.9,0,0,0,.15.19,1,1,0,0,0,.66.27h1.43a1,1,0,0,0,1-1V11.39A1,1,0,0,0,11.11,10.44Z"></path><path class="cls-1" d="M6.75,10.44H5.32a1,1,0,0,0-1,1v1.44a1,1,0,0,0,.15.5.9.9,0,0,0,.15.19,1,1,0,0,0,.66.27H6.75a1,1,0,0,0,1-1V11.39A1,1,0,0,0,6.75,10.44Z"></path><rect class="cls-1" x="10.03" width="1.48" height="3.1" rx="0.74"></rect><rect class="cls-1" x="4.92" width="1.48" height="3.1" rx="0.74"></rect></g></g></svg>
                                    </label>

                                    <input type="text" class="datetime-field tail-datetime-field user--gesture__blocked" data-tail-datetime="tail-11" title="shedule-date">



                                    @*<input type="text" class="" id="datetimepicker" title="shedule-date">*@

                                </a>
                            </div>
                        </div>
                    </form>
                    <div class="form-upolading loader__wrapper">
                        <div class="loader">
                            <div class="box">
                                <img src="~/Content/gallery/logoWhite.png" alt="fanbucket">
                            </div>
                            <div class="shadow"></div>
                        </div>
                        <h2 class="section__title">Creating a Post ...</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade modal--form modal--fancy modal--report" id="report--user" data-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header title__wrapper">
                    <h2 class="section__title">Report User</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#!" method="" class="form">
                        <h2 class="title--md">Please report this persion with one of the following reasons :</h2>
                        <div class="form-wrapper">
                            <input type="hidden" name="ChatId" id="ChatId" value="" />
                            @foreach (var item in reportTypes)
                            {
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="@item.Value" value="@item.Value" name="report-input">
                                    <label class="custom-control-label" checked="false" for="@item.Value">@item.Title</label>
                                </div>
                            }


                        </div>

                        <button type="submit">
                            Report
                        </button>


                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--jquery  -->
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script src="https://kit.fontawesome.com/021b940a03.js" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <!-- fancybox -->
    <!-- <script type="text/javascript" src="~/Content/css/fancybox/jquery.fancybox.min.js"></script> -->
    <!-- owl -->
    <script type="text/javascript" src="~/Content/css/slick/slick.min.js"></script>

    <script src="~/Content/js/hammerjs.js"></script>
    <!-- bootstrap -->
    <script type="text/javascript" src="~/Content/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/fancyapps/ui/dist/fancybox.umd.js"></script>
    @*<script type="text/javascript" src="~/Content/css/bootstrap/js/bootstrap.min.js"></script>*@

    <script src="~/Content/node_modules/datetime/js/tail.datetime.js" type="text/javascript"></script>

    <!-- commom js -->
    @*<script type="text/javascript" src="~/Content/js/commonjs.js"></script>*@
    <script src="~/Content/Bootstrap-4-Date-Time-Picker/js/tempusdominus-bootstrap-4.js"></script>

    @*<script type="module" src="~/Content/js/chat.js"></script>*@
    @{
        await Html.RenderPartialAsync("Config");
    }
    <script src="~/js/signalr/dist/browser/signalr.js"></script>

    <script src="~/js/CommonSite.js" asp-append-version="true"></script>
    @*<script src="https://unpkg.com/axios/dist/axios.min.js"></script>*@
    @*<script type="text/javascript" src="~/js/ChatHub.js"></script>*@
    @RenderSection("Scripts", required: false)
</body>
</html>
