﻿<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>fanbucket</title>
    <link rel="icon" href="/Content/gallery/logo.png" />

    <!-- bootstrap icon -->
    <link rel="stylesheet" href="/Content/node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <!-- fancybox -->
    <!-- <link rel="stylesheet" href="/Content/css/fancybox/fancybox.min.css"> -->
    <!-- moments -->
    <!-- demo styles -->
    <link rel="stylesheet" href="/Content/node_modules/zuck.js/demo/style.css">
    <!-- lib styles -->
    <link rel="stylesheet" href="/Content/node_modules/zuck.js/dist/zuck.min.css">

    <!-- lib skins -->
    <link rel="stylesheet" href="/Content/node_modules/zuck.js/dist/skins/snapgram.css">


    <link rel="stylesheet" href="/Content/node_modules/tail.datetime/css/tail.datetime-harx-light.css">



    <!-- slick -->
    <link rel="stylesheet" href="/Content/css/slick/slick-theme.css">
    <link rel="stylesheet" href="/Content/css/slick/slick.css">

    <!-- animate -->
    <link rel="stylesheet"
          href="/Content/node_modules/animate.css/animate.min.css" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="/Content/css/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/Content/css/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/Content/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/css/animate.css">
    <link rel="stylesheet" href="/Content/css/style.css">
    <!-- style -->
    <!-- <link rel="stylesheet" href="/Content/css/style.css"> -->

    <link rel="stylesheet" href="/Content/css/otherstyle.css">
    <link rel="stylesheet" href="/Content/css/component_css/insights.css">

</head>
<body>
    @inject FanBucketUI.API_Context.SessionHelper uservice;
    @inject FanBucketUI.HelperModel helper;

    @{
        var Username = uservice.GetUsername(User);
        var userFullname = uservice.GetName(User);
        var userImg = uservice.GetProfileImg(User);
        var userId = Guid.Parse(uservice.GetId(User));
        var hash___ = uservice.GetBearer(User);
        var recomUsers = await helper.GetRecommendersUser(User);
        var UsrStat = await helper.GetCurrUserStatt(User);
        var Notifi = await helper.GetNotifCount(User);
    }

    <header class="header--primary">
        <div class="section__rule">
            <a href="/Post/Feed" class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 31.96 35.72">
                    <defs>
                        <style>
                            .cls-1 {
                                fill: url(#linear-gradient);
                            }
                        </style>
                        <linearGradient id="linear-gradient" x1="1.64" y1="4.73" x2="25.31" y2="28.4" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fe4545" /><stop offset="1" stop-color="#d70153" /></linearGradient>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M27.25,10.37,27,10.24a1.87,1.87,0,0,1-.83-.71,1.76,1.76,0,0,0-.31-.39,18.27,18.27,0,0,0-7-3.88,29.92,29.92,0,0,0-6.67-1.52,11.23,11.23,0,0,0-1.74,0,3.42,3.42,0,0,0-.53.09,2.21,2.21,0,0,1-1.17,0l-.31-.07c-.29-.06-.38-.37-.14-.51a2.78,2.78,0,0,1,1-.33,14.76,14.76,0,0,1,5.22.2,35.06,35.06,0,0,1,4.85,1.36s5.7,1.82,8,4.77a2.45,2.45,0,0,1,.48.85C27.82,10.33,27.51,10.5,27.25,10.37Zm4.34,1.93a39.91,39.91,0,0,1-2.13,3.59A13.42,13.42,0,0,1,21,21.6a14.87,14.87,0,0,1-8.55-1.08,13,13,0,0,1-7.67-7.3,17.35,17.35,0,0,1-.42-10.5,2.8,2.8,0,0,1,2-2.2A13.05,13.05,0,0,1,12.11.15l.36,0a22,22,0,0,1,3.32.58l.57.14A37.51,37.51,0,0,1,26,4.69a15.72,15.72,0,0,1,5.34,4.45A2.8,2.8,0,0,1,31.59,12.3ZM29.4,9.05a10.05,10.05,0,0,0-1.64-1.62,26.41,26.41,0,0,0-7.35-3.92,31.06,31.06,0,0,0-7.47-2l-.45,0a34.21,34.21,0,0,0-4.3.12c-1.77.24-2.3,1.54-1.2,3A10.81,10.81,0,0,0,9.55,6.91,46.67,46.67,0,0,0,14,9.4a40.29,40.29,0,0,0,7.67,2.46,19.12,19.12,0,0,0,2.8.42,17.64,17.64,0,0,0,3.85-.19C30.11,11.77,30.52,10.45,29.4,9.05ZM27.09,20.83c-2.07,3.88-4.17,7.75-6.21,11.65a5.33,5.33,0,0,1-3,2.6,11.5,11.5,0,0,1-5.9.46c-4.22-.69-8-2.32-10.67-5.82A5.3,5.3,0,0,1,.1,25.32c.22-1.08.43-2.16.63-3.23l1.89-9.9A15.51,15.51,0,0,0,12.75,22.5,15.08,15.08,0,0,0,27.1,20.58.77.77,0,0,1,27.09,20.83Z" /></g></g>
                </svg>

            </a>

            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav__item ">
                        <a href="/Post/Feed" class="nav__link ">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15.1 14.04"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="0 7.55 7.55 0 15.1 7.55 12.79 7.55 12.79 14.04 9.55 14.04 9.55 9.67 5.68 9.67 5.68 14.04 2.31 14.04 2.31 7.55 0 7.55" /></g></g></svg>
                        </a>
                    </li>

                    <li class="nav__item ">
                        <a href="/User/Notifications" class="nav__link">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 14.01 13.23">
                                <g id="Layer_2" data-name="Layer 2">
                                    <g id="Layer_1-2" data-name="Layer 1">
                                        <path class="cls-1" d="M10.44,2.75A2.12,2.12,0,0,1,11.6,1.56,3.77,3.77,0,0,0,10.25.45,4.19,4.19,0,0,0,4.46,2.69L2.94,6.63A2,2,0,0,1,.4,7.76L0,8.81l4.58,1.76s0,.08-.07.13a1.26,1.26,0,1,0,2.36.9.31.31,0,0,0,0-.13l4.58,1.76.4-1.05a2,2,0,0,1-1.12-2.53l1.46-3.78c0-.1.07-.18.09-.27a2,2,0,0,1-.67-.13A2.11,2.11,0,0,1,10.44,2.75Z" />
                                        @if (Notifi > 0)
                                        {
                                            <path class="cls-2" d="M13.07,2.11A1.46,1.46,0,1,0,13.91,4,1.46,1.46,0,0,0,13.07,2.11Z" />
                                        }
                                    </g>
                                </g>
                            </svg>
                        </a>
                    </li>

                    <li class="nav__item ">
                        <a href="#!" class="nav__link post--modal__trigger" data-toggle="modal" data-target="#post--modal">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.53 14.53"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" x="6.26" width="2.01" height="14.53" /><rect class="cls-1" y="6.26" width="14.53" height="2.01" /></g></g></svg>
                        </a>
                    </li>

                    <li class="nav__item ">
                        <a href="/Messenger/Messenger" class="nav__link">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.25 10.65"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M7.13,4.75,13,0l-.23,0H1.46L1.23,0Z" /><path class="cls-1" d="M7.13,6.67.07,1A1.56,1.56,0,0,0,0,1.46V9.2a1.45,1.45,0,0,0,1.46,1.45H12.79A1.45,1.45,0,0,0,14.25,9.2V1.46A1.56,1.56,0,0,0,14.18,1Z" /></g></g></svg>
                        </a>
                    </li>

                    <li class="nav__item ">
                        <a href="/@Username" class="nav__link">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.97 13.86"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><circle class="cls-1" cx="6.99" cy="3.2" r="3.2" /><path class="cls-1" d="M0,13.86a7,7,0,1,1,14,0Z" /></g></g></svg>
                        </a>
                    </li>
                </ul>
            </nav>


            <div class="logout">
                <hr>
                <a href="#!" class="nav__link " data-toggle="modal" data-target="#modal--logout">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.97 15.26"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M8.33,1.4v1a6,6,0,1,1-2.68,0v-1a7,7,0,1,0,2.68,0Z" /><rect class="cls-1" x="6.48" width="1.01" height="6.98" /></g></g></svg>
                </a>
            </div>


        </div>


    </header>


    <div class="modal fade modal--logout" id="modal--logout" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header title__wrapper">
                    <h2 class="card__title">Are you sure you want to Log Out</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i class="bi bi-x"></i>
                    </button>
                </div>
                <div class="modal-body">


                    <div class="card__link">
                        <button class="deactive" onclick="window.location.href='/Login'">
                            Yes, Log Out
                        </button>
                        <button data-dismiss="modal">
                            No, Close This
                        </button>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <main class="main messenger--main insights--main">
        <div class="title__wrapper search-wrapper--main">
            <h2 class="section__title">Insights</h2>


            <form class="title__link form-inline search-wrapper">
                <div class="form-group">

                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.8 12.61" class="search--icon"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M12.8,11.89,9.86,9a5.58,5.58,0,1,0-.7.73l2.92,2.93ZM10,5.53A4.51,4.51,0,1,1,5.53,1,4.51,4.51,0,0,1,10,5.53Z"></path></g></g></svg>

                    <input class="form-control" type="search" name="chatOrSearch">
                    <i class="bi bi-x close--icon"></i>
                </div>
            </form>

            <a href="#" class="title__link search--icon ml-auto">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.8 12.61"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M12.8,11.89,9.86,9a5.58,5.58,0,1,0-.7.73l2.92,2.93ZM10,5.53A4.51,4.51,0,1,1,5.53,1,4.51,4.51,0,0,1,10,5.53Z"></path></g></g></svg>
            </a>
            <a href="#" class="title__link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.78 11.1"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" width="12.78" height="1.11"></rect><rect class="cls-1" y="4.99" width="9.47" height="1.11"></rect><rect class="cls-1" y="9.99" width="6.17" height="1.11"></rect></g></g></svg>
            </a>
        </div>
        <section class="feed">


            <a href="/User/UserAnalytics" title="Content Engagements" class="card chat--card ">
                <div class="card__top">


                    <div class="card__top__body">
                        <h2 class="card__title">Content Engagements</h2>
                        <p class="user__text text-muted">
                            See your progress on your posted contents.
                        </p>
                    </div>


                    <div class="card__top__link">
                        <button href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                            </svg>
                        </button>

                    </div>
                </div>
            </a>

            <a href="/User/UserEarnings" title="Subscriptions & Earning" class="card chat--card active">
                <div class="card__top">


                    <div class="card__top__body">
                        <h2 class="card__title">Subscriptions & Earning</h2>
                        <p class="user__text text-muted">
                            Deeper look at your earnings.
                        </p>
                    </div>


                    <div class="card__top__link">
                        <button href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-square" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                            </svg>
                        </button>

                    </div>
                </div>
            </a>
        </section>
    </main>

    <input id="token___Auth" value="@hash___" hidden />
    @RenderBody()


    <!--jquery  -->
    <script type="text/javascript" src="/Content/js/jquery.js"></script>



    <!-- fancybox -->
    <!-- <script type="text/javascript" src="/Content/css/fancybox/jquery.fancybox.min.js"></script> -->
    <!-- owl -->
    <script type="text/javascript" src="/Content/css/slick/slick.min.js"></script>

    <!-- <script src="/Content/js/hammerjs.js"></script> -->

    <script src="@("/Content/js/@popperjs/popper.min.js")" type="text/javascript"></script>
       @{
        await Html.RenderPartialAsync("Config");
    }
    <!-- bootstrap -->
    <!-- <script type="text/javascript" src="/Content/css/bootstrap/js/bootstrap.bundle.min.js"></script> -->
    <script type="text/javascript" src="/Content/css/bootstrap/js/bootstrap.min.js"></script>

    <script src="/Content/node_modules/tail.datetime/js/tail.datetime.js" type="text/javascript"></script>

    <!-- commom js -->
    <script type="text/javascript" src="/Content/js/commonjs.js"></script>
    <script type="text/javascript" src="/Content/js/responsivejs.js"></script>



    <!-- bar chart -->
    <script src="/Content/node_modules/d3/dist/d3.min.js"></script>
    <script src="/Content/node_modules/d3-selection/dist/d3-selection.min.js"></script>
    <script src="/Content/node_modules/d3-scale/dist/d3-scale.min.js"></script>
    <script src="/Content/node_modules/d3-transition/dist/d3-transition.min.js"></script>

    <!-- line graph -->
    <script src="/Content/node_modules/d3-path/dist/d3-path.min.js"></script>
    <script src="/Content/node_modules/d3-shape/dist/d3-shape.min.js"></script>
    <script src="/Content/node_modules/d3-polygon/dist/d3-polygon.min.js"></script>
    <script src="/Content/js/d3-earning.js"></script>
    <script src="/Content/js/d3-engagements.js"></script>
    <!--DAL-->
    <script src="/js/CommonSite.js"></script>
    <script src="/js/Dashboard.js"></script>

    @*<script src="/Content/js/d3-engagements.js"></script>*@


</body>
</html>