﻿@model FanBucketAPI.Models.PostMasterCollectionViewModel
@using FanBucketUI.API_Context
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var Username = uservice.GetUsername(User);
    var userFullname = uservice.GetName(User);
    var userImg = uservice.GetProfileImg(User);
    var userId = Guid.Parse(uservice.GetId(User));
    var TotalVts = Model.TotalVotes;
}


@*<div class="card__body">
    <p class="user__text">
        @Model.PostTitle
    </p>*@

<div class="poll__wrapper">
    <!-- poll with ratio -->
    @foreach (var item in Model.collection.Where(x => x.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Polls))
    {
        decimal TotalV = 0;

        if (TotalVts == 0)
        {
            TotalV = 0;
        }
        else
        {
            TotalV = (Convert.ToDecimal(item.TotalVote) / Convert.ToDecimal(TotalVts)) * 100; //((item.TotalVote / TotalVts) * 100);

        }
        <input type="hidden" value="@TotalVts" id="voteCount_@Model.PostId" />
        <input type="hidden" value="@item.TotalVote" id="voteCount_@item.ContentId" />
        <div class="custom-control custom-checkbox" id="@item.ContentId" data-val="@Model.PostId">
            <input type="radio" class="custom-control-input" id="input_@item.ContentId" @(item.HasVoted ? "checked" : "") name="@Model.PostId" data-val="@Model.PostId" data-id="@item.ContentId">
            <label class="custom-control-label" for="input_@item.ContentId">
                <span class="result--box" value="1">@item.ContentTitle <span class="absolute--sorry" style="width: @TotalV%"></span></span>
                @*<span class="count">@item.TotalVote</span>*@
                <span class="count--wrapper">
                    @for (int i = 0; i < item.Voters.Count; i++)
                    {
                        if (i == 3)
                        {
                            break;
                        }
                        <span class="count" data-toggle="tooltip" data-placement="top" title="@(item.Voters[i].Creator)">
                            <img src="@(item.Voters[i].CreatorImg)" alt="">
                        </span>

                    }

                    @if (item.Voters.Count > 3)
                    {
                        <span class="count" data-toggle="tooltip" data-placement="top">+@(item.Voters.Count-3)</span>

                    }

                </span>
            </label>
        </div>
        //TotalV = a / b * 100;
        @*if (item.HasVoted)
            {
                <div class="custom-control custom-checkbox" id="@item.ContentId" data-val="@Model.PostId">
                    <input type="hidden" value="@item.TotalVote" id="voteCount_@item.ContentId" />
                    <input type="radio" class="custom-control-input" id="input_@item.ContentId" checked name="@Model.PostId" data-val="@Model.PostId" data-id="@item.ContentId">
                    <label class="custom-control-label" for="input_@item.ContentId">
                        <span class="result--box" value="1">@item.ContentTitle <span class="absolute--sorry" style="width: @TotalV%"></span></span><span class="count">@item.TotalVote</span>
                    </label>
                </div>
            }
            else
            {
                <div class="custom-control custom-checkbox" id="@item.ContentId" data-val="@Model.PostId">
                    <input type="hidden" value="@item.TotalVote" id="voteCount_@item.ContentId" />
                    <input type="radio" class="custom-control-input" id="input_@item.ContentId" name="@Model.PostId" data-val="@Model.PostId" data-id="@item.ContentId">
                    <label class="custom-control-label" for="input_@item.ContentId">
                        <span class="result--box" value="1">@item.ContentTitle <span class="absolute--sorry" style="width: @TotalV%"></span></span><span class="count">@item.TotalVote</span>
                    </label>
                </div>
            }*@

    }


</div>
@*</div>*@


