﻿@model List<FanBucketAPI.Models.PostMasterCollectionViewModel>
@using FanBucketUI.API_Context
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var Username = uservice.GetUsername(User);
    var userFullname = uservice.GetName(User);
    var userImg = uservice.GetProfileImg(User);
    var userId = Guid.Parse(uservice.GetId(User));
}



@foreach (var item in Model.OrderByDescending(x => x.CreatedOn))
{
    var IsFullyLocked = item.PaidPostType == FanBucketEntity.Model.ENUM.PaidPostType.Full ? true : false;
    var HasNotPaid = IsFullyLocked && (item.HasPaid == false) && !item.HasSubscribed;
    //&& (item.Creator.CreatorId != userId);
    var PostNotPaid = (item.HasPaid == false) && (item.Creator.CreatorId != userId);
    var PaidPost = item.collection.Any(x => x.PaidPost == true);
    var ParentPost = item.ParentPostMasterCollectionViewModel;


    if (item.Scheduled && item.ScheduledFor.Value >= Model.ClientTime)
    {
        continue;
    }
    if (item.collection.Count > 0 && item.collection.FirstOrDefault().PostType == FanBucketEntity.Model.ENUM.ContentTypes.File)
    {

    }
    <article class="card" id="feedCard__@item.PostId">
        <div class="card__top">
            <a class="card__img">
                <img src="@item.Creator.CreatorImg" alt="">
            </a>
            <div class="card__top__body">
                <h2 class="card__title"><a href="/@item.Creator.CreatorUsrName">@item.Creator.Creator</a></h2>
                <time>@item.DateString</time>
            </div>
            <div class="card__top__link dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown" href="#!" data-target="postone__dropdown" data-disabled="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                        <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                            <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z" />
                            <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z" />
                            <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z" />
                        </g>
                    </svg>
                </a>
                <div class="dropdown-menu" id="postone__dropdown">
                    @if (item.Creator.CreatorId == userId)
                    {
                        <li class="nav-item">
                            <button class="nav-link dropdown-item edit--post--trigger" href="#" data-toggle="modal" data-id="@item.PostId" data-target="#edit--modal">
                                Edit Post
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link dropdown-item btnDeletePost" data-id="@item.PostId" href="#">
                                Delete this post.
                            </button>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <button class="nav-link dropdown-item report--post--trigger" href="#">
                                Report this post.
                            </button>
                        </li>
                        <li class="nav-item">
                            <button class="nav-link dropdown-item unfollow--user--trigger" data-id="@item.Creator.CreatorId" href="#">
                                Unfollow
                            </button>
                        </li>
                    }

                </div>
            </div>
        </div>
        @if (item.NSFW)
        {
            <div class="card__body">
                <div class="single__locked">
                    <a href="#" class="card__img locked bg viewNSFW" data-id="@item.PostId">
                        <div class="absolute__link">
                            <div class="card__img__content">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" fill="#fff" />
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" fill="#fff" />
                                </svg>
                                <h2 class="card__title">The following media includes potentially sensitive content.</h2>
                                <h3 class="card__title">Click to view.</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
        <div class="NSFW_@item.NSFW" id="NSFW_@item.PostId">
            @if (HasNotPaid)
            {
                <div class="card__body">
                    <p class="user__text">@Html.Raw(item.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>
                    <div class="single__locked">
                        <a href="#" class="card__img locked bg">
                            <div class="absolute__link">
                                <div class="card__img__content">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                        <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                    </svg>
                                    <h2 class="card__title">+@item.collection.Count Photos</h2>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            }
            else if (item.collection.Count() > 1 && item.collection.FirstOrDefault().PostType == FanBucketEntity.Model.ENUM.ContentTypes.Polls)
            {
                await Html.RenderPartialAsync("_PollMainPost", item);
            }
            else if (item.ParentPostId.HasValue && item.ParentPostMasterCollectionViewModel != null)
            {

                await Html.RenderPartialAsync("_SharedMainPost", ParentPost);
            }
            else
            {
                if (item.PaidPostType == FanBucketEntity.Model.ENUM.PaidPostType.Partial)
                {

                    @if (item.collection.Count > 2)
                    {
                        var FirstElem = item.collection.Where(x => x.PaidPost == false).FirstOrDefault();
                        <div class="card__body">
                            <p class="user__text">@Html.Raw(item.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>
                            <div class="image--multi">

                                @if (FirstElem.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                {
                                    <div class="card__img" data-id="@FirstElem.ContentId">
                                        <img src="@FirstElem.FileLocation" alt="">
                                    </div>
                                }
                                else if (FirstElem.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                {
                                    <div class="card__img" data-id="@FirstElem.ContentId">
                                        <video controls src="@FirstElem.FileLocation" style="height:100%;width:100%">
                                        </video>
                                    </div>
                                }

                                <div class="image--multi__left ">
                                    @{
                                        var Coll = item.collection.Where(x => x.ContentId != FirstElem.ContentId).Take(2);
                                        var last = Coll.Last();
                                    }
                                    @foreach (var result in Coll)
                                    {
                                        var HasNotPaidCol = result.PaidPost && (result.HasPaid == false) && (item.Creator.CreatorId != userId);
                                        if (HasNotPaidCol)
                                        {
                                            <a href="#" class="card__img small__img locked bg" data-id="@result.ContentId">
                                                <div class="absolute__link">
                                                    <div class="card__img__content">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                            <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            if (result.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                            {
                                                if (result.Equals(last))
                                                {
                                                    <div class="card__img small__img" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>
                                                            <h2 class="card__title">+@item.collection.Count() Photos</h2>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card__img small__img" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>

                                                        </a>
                                                    </div>
                                                }
                                            }
                                            else if (result.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                            {

                                                if (result.Equals(last))
                                                {
                                                    <div class="card__img small__img locked" data-id="@result.ContentId">
                                                        @*<img src="@result.FileLocation" alt="">*@
                                                        <video controls src="@result.FileLocation" style="height:100%;width:100%">
                                                        </video>
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>
                                                            <h2 class="card__title">+@item.collection.Count() Photos</h2>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card__img small__img " data-id="@result.ContentId">
                                                        <video controls src="@result.FileLocation" style="height:100%;width:100%">
                                                        </video>
                                                    </div>
                                                }
                                            }
                                            else if (result.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Audio)
                                            {

                                                if (result.Equals(last))
                                                {
                                                    <div class="card__img small__img locked" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>
                                                            <h2 class="card__title">+@item.collection.Count() Audios</h2>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card__audio">
                                                        <!-- <img src="./gallery/yoel-peterson-mMv_e4F-VU4-unsplash-min.jpg" alt="" > -->
                                                        <button class="btn--play">
                                                            <i class="bi bi-play-fill"></i>
                                                        </button>
                                                        <!-- id needs to be uniq -->
                                                        <div id="waveform01" class="wave--wrapper" src="@result.FileLocation">

                                                        </div>
                                                    </div>

                                                }
                                            }
                                        }






                                    }

                                    @*<a href="#" class="card__img small__img locked">
                                            <div class="absolute__link">
                                                <div class="card__img__content">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                        <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                    </svg>
                                                    <h2 class="card__title">+4 Photos</h2>

                                                </div>
                                            </div>
                                        </a>*@
                                </div>
                            </div>
                        </div>



                    }
                    else if (item.collection.Count() == 2)
                    {
                        <div class="card__body">
                            <p class="user__text">
                                @item.collection.FirstOrDefault().ContentTitle
                            </p>
                            @if (PostNotPaid)
                            {

                            }
                            else
                            {
                                <div class="image--multi">

                                    @if (item.collection[0].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                    {
                                        <div class="card__img">
                                            <img src="@item.collection[0].FileLocation" alt="">
                                        </div>
                                    }
                                    else if (item.collection[0].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                    {
                                        <div class="card__img">

                                            <video controls src="@item.collection[0].FileLocation" style="height:100%;width:100%">
                                            </video>
                                        </div>

                                    }

                                    @if (item.collection[1].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                    {
                                        <div class="card__img image--multi__left h-auto">
                                            <img src="@item.collection[1].FileLocation" alt="">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card__img">

                                            <video controls src="@item.collection[1].FileLocation" style="height:100%;width:100%">
                                            </video>
                                        </div>

                                    }


                                </div>
                            }

                        </div>
                    }

                }
                else
                {

                    @if (item.collection.Count > 2)
                    {
                        var FirstElem = item.collection.Where(x => x.PaidPost == false).FirstOrDefault();
                        <div class="card__body">
                            <p class="user__text">@Html.Raw(item.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>
                            <div class="image--multi">

                                @if (FirstElem.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                {
                                    <div class="card__img" data-id="@FirstElem.ContentId">
                                        <img src="@FirstElem.FileLocation" alt="">
                                    </div>
                                }
                                else if (FirstElem.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                {
                                    <div class="card__img" data-id="@FirstElem.ContentId">
                                        <video controls src="@FirstElem.FileLocation" style="height:100%;width:100%">
                                        </video>
                                    </div>
                                }

                                <div class="image--multi__left ">
                                    @{
                                        var Coll = item.collection.Where(x => x.ContentId != FirstElem.ContentId).Take(2);
                                        var last = Coll.Last();
                                    }
                                    @foreach (var result in Coll)
                                    {
                                        var HasNotPaidCol = result.PaidPost && (result.HasPaid == false) && (item.Creator.CreatorId != userId);
                                        if (HasNotPaidCol)
                                        {
                                            <a href="#" class="card__img small__img locked bg" data-id="@result.ContentId">
                                                <div class="absolute__link">
                                                    <div class="card__img__content">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                            <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            if (result.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                            {
                                                if (result.Equals(last))
                                                {
                                                    <div class="card__img small__img" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>
                                                            <h2 class="card__title">+@item.collection.Count() Photos</h2>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card__img small__img" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>

                                                        </a>
                                                    </div>
                                                }
                                            }
                                            else if (result.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                            {

                                                if (result.Equals(last))
                                                {
                                                    <div class="card__img small__img locked" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>
                                                            <h2 class="card__title">+@item.collection.Count() Photos</h2>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card__img small__img " data-id="@result.ContentId">
                                                        <video controls src="@result.FileLocation" style="height:100%;width:100%">
                                                        </video>
                                                    </div>
                                                }
                                            }
                                        }






                                    }

                                    @*<a href="#" class="card__img small__img locked">
                                            <div class="absolute__link">
                                                <div class="card__img__content">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                        <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                    </svg>
                                                    <h2 class="card__title">+4 Photos</h2>

                                                </div>
                                            </div>
                                        </a>*@
                                </div>
                            </div>
                        </div>



                    }
                    else if (item.collection.Count() == 2)
                    {
                        <div class="card__body">
                            <p class="user__text">
                                @Html.Raw(item.PostTitle.ParseHashtag().ParseURL().ParseUsername())
                            </p>
                            @if (PostNotPaid)
                            {

                            }
                            else
                            {
                                <div class="image--multi">

                                    @if (item.collection[0].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                    {
                                        <div class="card__img" data-id="@item.collection[0].ContentId  ">
                                            <img src="@item.collection[0].FileLocation" alt="">
                                        </div>
                                    }
                                    else if (item.collection[0].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                    {
                                        <div class="card__img" data-id="@item.collection[0].ContentId  ">
                                            <img src="@item.collection[0].FileLocation" alt="">
                                        </div>

                                    }

                                    @if (item.collection[1].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                    {
                                        <div class="card__img image--multi__left h-auto" data-id="@item.collection[1].ContentId">
                                            <img src="@item.collection[1].FileLocation" alt="">
                                        </div>
                                    }


                                </div>
                            }

                        </div>
                    }
                    else
                    {
                        if (item.collection.Count > 0)
                        {
                            if (item.collection.FirstOrDefault().PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                            {
                                <div class="card__body">
                                    <p class="user__text">@Html.Raw(item.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>
                                    <div class="card--img--wrapper">
                                        <div class="card__img" data-id="@item.collection.FirstOrDefault().ContentId">
                                            <img src="@item.collection.FirstOrDefault().FileLocation" alt="">
                                            @*<div class="content">
                                                    <h1>fanbucketWM</h1>
                                                    <p>@userId __ @item.collection.FirstOrDefault().ContentId</p>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (item.collection.FirstOrDefault().PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                            {
                                <div class="card__body">
                                    <p class="user__text">@Html.Raw(item.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>
                                    <div class="card--img--wrapper">
                                        <div class="card__img" data-id="@item.collection.FirstOrDefault().ContentId">
                                            <video controls src="@item.collection.FirstOrDefault().FileLocation" style="height:100%;width:100%">
                                            </video>
                                        </div>
                                    </div>
                                </div>
                            }
                            else if (item.collection.FirstOrDefault().PostType == FanBucketEntity.Model.ENUM.ContentTypes.Audio)
                            {
                                <div class="card__body">
                                    <p class="user__text">@Html.Raw(item.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>

                                    <div class="card__audio">
                                        <!-- <img src="./gallery/yoel-peterson-mMv_e4F-VU4-unsplash-min.jpg" alt="" > -->
                                        <button class="btn--play">
                                            <i class="bi bi-play-fill"></i>
                                        </button>
                                        <!-- id needs to be uniq -->
                                        <div id="audio_@item.collection.FirstOrDefault().ContentId" class="wave--wrapper" src="@item.collection.FirstOrDefault().FileLocation">

                                        </div>
                                    </div>
                                </div>
                            }
                            else if (item.collection.FirstOrDefault().PostType == FanBucketEntity.Model.ENUM.ContentTypes.File)
                            {


                                <div class="card__body">
                                    <p class="user__text">@Html.Raw(item.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>
                                    <div class="card--img--wrapper">
                                        <div class="card__file">
                                            <a href="@item.collection.FirstOrDefault().FileLocation" target="_blank" class="card__file__file">
                                                <img src="~/Content/gallery/folder.png" style="height: 80px;" />
                                            </a>
                                            <div class="card__file__body">
                                                <div class="card__left">
                                                    <h2 class="card__title"><a href="@item.collection.FirstOrDefault().FileLocation" target="_blank">@Html.Raw(item.PostTitle.ParseHashtag().ParseURL().ParseUsername())</a></h2>
                                                    <time>1MB</time>
                                                </div>
                                                <div class="card__link">
                                                    <a href="@item.collection.FirstOrDefault().FileLocation" download="WebTypogrsphy.pdf">
                                                        <i class="bi bi-download"></i>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65">
                                                            <g id="Ellipse_199" data-name="Ellipse 199" fill="none" stroke="#707070" stroke-width="1">
                                                                <circle cx="32.5" cy="32.5" r="32.5" stroke="none" />
                                                                <circle cx="32.5" cy="32.5" r="32" fill="none" />
                                                            </g>
                                                        </svg>

                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="card__body">
                                    <p class="user__text">@Html.Raw(item.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>

                                </div>
                            }
                        }
                        else
                        {
                            <div class="card__body">
                                <p class="user__text">@Html.Raw(item.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>

                            </div>
                        }

                    }

                }


            }
        </div>




        @{
            var Hearted = item.HasReacted == true ? "active" : null;
            var Bookmarked = item.HasBookMarked == true ? "active" : null;
        }
        <div class="card__action">
            <!-- active fill="url(#linear-gradient)" -->

            <a href="#" class="love @Hearted" data-id="@item.PostId">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="13.915" height="12.902" viewBox="0 0 13.915 12.902">
                    <defs>
                        <linearGradient id="linear-gradient" y1="0.5" x2="1" y2="0.5" gradientUnits="objectBoundingBox">
                            <stop offset="0" stop-color="#d70153" />
                            <stop offset="1" stop-color="#fe4545" />
                        </linearGradient>
                    </defs>
                    <path id="Path_89" data-name="Path 89" d="M-6897.567-5852.808a3.708,3.708,0,0,0-3.708-3.709,3.694,3.694,0,0,0-3.225,1.885,3.694,3.694,0,0,0-3.225-1.885,3.708,3.708,0,0,0-3.709,3.709s-.8,3.064,6.934,9.193C-6896.762-5849.744-6897.567-5852.808-6897.567-5852.808Z" transform="translate(6911.458 5856.517)" />
                </svg>
                <span class="number">@item.TotalReacts</span>
                <span class="label">Hearts</span>

            </a>
            <a data-toggle="collapse" href="#!" data-id="@item.PostId" class="comments">
                <svg xmlns="http://www.w3.org/2000/svg" width="13.604" height="15.246" viewBox="0 0 13.604 15.246">
                    <path id="Path_90" data-name="Path 90" d="M-6793.061-5850.866c0,3.481-2.163,7.555-6.511,7.9l-.012-2.154c-3.365-.131-6.081-2.351-6.081-5.748a6.3,6.3,0,0,1,6.3-6.3A6.3,6.3,0,0,1-6793.061-5850.866Z" transform="translate(6806.165 5857.668)" fill="none" stroke-miterlimit="10" stroke-width="1" />
                </svg>
                <span class="label">@item.TotalComments Comment</span>

            </a>
            <a href="#" class="bookmark @Bookmarked" data-id="@item.PostId">
                <svg xmlns="http://www.w3.org/2000/svg" width="9.023" height="14.973" viewBox="0 0 9.023 14.973">
                    <path id="Path_91" data-name="Path 91" d="M-6690.989-5842.579l-4.62-3.179-4.4,3.029v-14.823h9.023Zm-4.62-4.393,3.62,2.491v-12.071h-7.023v11.921Z" transform="translate(6700.012 5857.552)" />
                </svg>

                <span class="label">Bookmark</span>
            </a>
            <div class="dropdown">
                <a href="#" class="share" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10.26" height="12.332" viewBox="0 0 10.26 12.332">
                        <path id="Path_92" data-name="Path 92" d="M-6576.9-5846.836a1.453,1.453,0,0,0-.921.333l-4.962-2.786a1.459,1.459,0,0,0,.027-.262,1.454,1.454,0,0,0-.075-.44l5.1-3.562a1.463,1.463,0,0,0,.83.257,1.468,1.468,0,0,0,1.468-1.468,1.469,1.469,0,0,0-1.468-1.468,1.469,1.469,0,0,0-1.469,1.468,1.481,1.481,0,0,0,.061.4l-5.13,3.582a1.459,1.459,0,0,0-.786-.232,1.468,1.468,0,0,0-1.468,1.468,1.468,1.468,0,0,0,1.468,1.468,1.453,1.453,0,0,0,.934-.344l4.95,2.779a1.431,1.431,0,0,0-.029.28,1.469,1.469,0,0,0,1.469,1.468,1.468,1.468,0,0,0,1.468-1.468A1.468,1.468,0,0,0-6576.9-5846.836Z" transform="translate(6585.689 5856.232)" />
                    </svg>

                    <span class="label">Share</span>
                    <div class="dropdown-menu">
                        <li class="nav-item">
                            <button class="nav-link dropdown-item share--post--trigger" data-id="@item.PostId">
                                Share In Your Feed
                            </button>
                            <button class="nav-link dropdown-item moment--post--trigger" data-id="@item.PostId">
                                Share In Moments
                            </button>

                        </li>

                    </div>
                </a>
            </div>
            @if (PaidPost)
            {
                if (PostNotPaid && !item.HasSubscribed)
                {
                    <button class="__btnUnlock" data-id="@(item.ParentPostId.HasValue?item.ParentPostId.Value:item.PostId)">
                        Unlock Post: $ @item.PostPrice.ToString("0.00")
                    </button>
                }
                else
                {
                    if (item.HasSubscribed)
                    {
                        <button class="deactive">
                            Subscribed
                        </button>
                    }
                    else
                    {
                        <button class="deactive">
                            Unlocked
                        </button>
                    }

                }

            }

        </div>
        <div class="card__comments collapse">
            <div class="profile--card comment--card">
                <a class="card__img">
                    <img src="@userImg" alt="">
                </a>
                <form class="card__body form-group form__comments">
                    @Html.AntiForgeryToken()
                    <input hidden class="postId__comment" value="@item.PostId" required="required" />
                    <input type="text" placeholder="Write a comment" class="form-control comment__text">
                    <input type='submit' hidden>
                    <div class="card__link">
                        <button type="submit">
                            <a type="submit">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-location" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5"></path>
                                </svg>
                            </a>
                        </button>
                    </div>
  
                </form>

            </div>
            <div id="viewComments__@item.PostId">

            </div>



        </div>

    </article>
}







