﻿@model FanBucketAPI.Models.PostMasterCollectionViewModel
@using FanBucketUI.API_Context
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var Username = uservice.GetUsername(User);
    var userFullname = uservice.GetName(User);
    var userImg = uservice.GetProfileImg(User);
    var userId = Guid.Parse(uservice.GetId(User));
}
@{
    var IsFullyLocked = Model.PaidPostType == FanBucketEntity.Model.ENUM.PaidPostType.Full ? true : false;
    var HasNotPaid = IsFullyLocked && (Model.HasPaid == false) && (Model.Creator.CreatorId != userId);
    var PostNotPaid = (Model.HasPaid == false) && (Model.Creator.CreatorId != userId);
    var PaidPost = Model.collection.Any(x => x.PaidPost == true);
}
@*<a href="/Post/SinglePost?PostId=@Model.PostId" class="card ">*@
    <div class="card ">
        <div class="card__top">
            <div class="card__img">
                <img src="@Model.Creator.CreatorImg" alt="">
            </div>
            <div class="card__top__body">
                <h2 class="card__title">
                    <a href="/@(Model.Creator.CreatorUsrName)">
                    @Model.Creator.Creator
                    </a>
                </h2>
                <time>@Model.DateString</time>
            </div>

        </div>
        @{
            var CollectionExceptPoll = Model.collection.Where(x => x.PostType != FanBucketEntity.Model.ENUM.ContentTypes.Polls).ToList();
            var CollectionExceptPollCount = CollectionExceptPoll.Count(); ;
        }

        @if (Model.NSFW)
        {
            <div class="card__body">
                <div class="single__locked">
                    <a href="#" class="card__img locked bg viewNSFW" data-id="@Model.PostId">
                        <div class="absolute__link">
                            <div class="card__img__content">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" fill="#fff" />
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" fill="#fff" />
                                </svg>
                                <h2 class="card__title">The following media includes potentially sensitive content.</h2>
                                <h3 class="card__title">Click to view.</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        }
        <div class="NSFW_@Model.NSFW" id="NSFW_@Model.PostId">
            <div class="card__body">
                <p class="user__text">@Html.Raw(Model.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>
                @if (HasNotPaid)
                {

                    <div class="single__locked">
                        <a href="#" class="card__img locked bg">
                            <div class="absolute__link">
                                <div class="card__img__content">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                        <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                    </svg>
                                    <h2 class="card__title">+@CollectionExceptPollCount Media</h2>
                                </div>
                            </div>
                        </a>
                    </div>

                }

                //else if (Model.ParentPostId.HasValue && Model.ParentPostMasterCollectionViewModel != null)
                //{

                //    await Html.RenderPartialAsync("_SharedMainPost", ParentPost);
                //}
                //else if (IsPoll && CollectionExceptPollCount > 0)
                //{
                //}
                else
                {
                    if (Model.PaidPostType == FanBucketEntity.Model.ENUM.PaidPostType.Partial)
                    {

                        @if (CollectionExceptPollCount > 2)
                        {
                            var FirstElem = CollectionExceptPoll.Where(x => x.PaidPost == false).FirstOrDefault();

                            <div class="image--multi">

                                @if (FirstElem.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                {
                                    <div class="card__img" data-id="@FirstElem.ContentId">
                                        <img src="@FirstElem.FileLocation" alt="">
                                    </div>
                                }
                                else if (FirstElem.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                {
                                    <div class="card__img" data-id="@FirstElem.ContentId">
                                        <video controls src="@FirstElem.FileLocation" style="height:100%;width:100%">
                                        </video>
                                    </div>
                                }

                                <div class="image--multi__left ">
                                    @{
                                        var Coll = CollectionExceptPoll.Where(x => x.ContentId != FirstElem.ContentId).Take(2);
                                        var last = Coll.Last();
                                    }
                                    @foreach (var result in Coll)
                                    {
                                        var HasNotPaidCol = result.PaidPost && (result.HasPaid == false) && (Model.Creator.CreatorId != userId);
                                        if (HasNotPaidCol)
                                        {
                                            <a href="#" class="card__img small__img locked bg" data-id="@result.ContentId">
                                                <div class="absolute__link">
                                                    <div class="card__img__content">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                            <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            if (result.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                            {
                                                if (result.Equals(last))
                                                {
                                                    <div class="card__img small__img" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">

                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>
                                                            <h2 class="card__title">+@(CollectionExceptPollCount) Media</h2>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card__img small__img" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>

                                                        </a>
                                                    </div>
                                                }
                                            }
                                            else if (result.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                            {

                                                if (result.Equals(last))
                                                {
                                                    <div class="card__img small__img locked" data-id="@result.ContentId">
                                                        @*<img src="@result.FileLocation" alt="">*@
                                                        <video controls src="@result.FileLocation" style="height:100%;width:100%">
                                                        </video>
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>
                                                            <h2 class="card__title">+@CollectionExceptPollCount Media</h2>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card__img small__img " data-id="@result.ContentId">
                                                        <video controls src="@result.FileLocation" style="height:100%;width:100%">
                                                        </video>
                                                    </div>
                                                }
                                            }
                                            else if (result.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Audio)
                                            {

                                                if (result.Equals(last))
                                                {
                                                    <div class="card__img small__img locked" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>
                                                            <h2 class="card__title">+@CollectionExceptPollCount Media</h2>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card__audio">
                                                        <!-- <img src="./gallery/yoel-peterson-mMv_e4F-VU4-unsplash-min.jpg" alt="" > -->
                                                        <button class="btn--play">
                                                            <i class="bi bi-play-fill"></i>
                                                        </button>
                                                        <!-- id needs to be uniq -->
                                                        <div id="waveform01" class="wave--wrapper" src="@result.FileLocation">

                                                        </div>
                                                    </div>

                                                }
                                            }
                                        }






                                    }

                                    @*<a href="#" class="card__img small__img locked">
                                            <div class="absolute__link">
                                                <div class="card__img__content">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                        <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                    </svg>
                                                    <h2 class="card__title">+4 Media</h2>

                                                </div>
                                            </div>
                                        </a>*@
                                </div>
                            </div>



                        }
                        else if (CollectionExceptPollCount == 2)
                        {


                            @if (PostNotPaid)
                            {
                                var publicPost = @CollectionExceptPoll.FirstOrDefault(x => !x.PaidPost);
                                var paidPost = @CollectionExceptPoll.FirstOrDefault(x => x.PaidPost);
                                <div class="image--multi">

                                    @if (CollectionExceptPoll[0].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                    {
                                        <div class="card__img" data-id="@publicPost.ContentId">
                                            <img src="@publicPost.FileLocation" alt="">
                                        </div>
                                    }
                                    else if (CollectionExceptPoll[0].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                    {
                                        <div class="card__img">

                                            <video controls src="@publicPost.FileLocation" style="height:100%;width:100%">
                                            </video>
                                        </div>

                                    }


                                    @*<div class="card__img image--multi__left h-auto">
                                            <img src="@CollectionExceptPoll[1].FileLocation" alt="">
                                        </div>*@


                                    <div class="card__img image--multi__left h-auto locked bg" data-id="@paidPost.ContentId">

                                        <a href="#" class="absolute__link">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff"></path>
                                            </svg>

                                        </a>
                                    </div>


                                </div>


                            }
                            else
                            {
                                <div class="image--multi">

                                    @if (CollectionExceptPoll[0].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                    {
                                        <div class="card__img" data-id="@CollectionExceptPoll[0].ContentId">
                                            <img src="@CollectionExceptPoll[0].FileLocation" alt="">
                                        </div>
                                    }
                                    else if (CollectionExceptPoll[0].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                    {
                                        <div class="card__img">

                                            <video controls src="@CollectionExceptPoll[0].FileLocation" style="height:100%;width:100%">
                                            </video>
                                        </div>

                                    }

                                    @if (CollectionExceptPoll[1].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                    {
                                        <div class="card__img image--multi__left h-auto" data-id="@CollectionExceptPoll[0].ContentId">
                                            <img src="@CollectionExceptPoll[1].FileLocation" alt="">
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card__img">

                                            <video controls src="@CollectionExceptPoll[1].FileLocation" style="height:100%;width:100%">
                                            </video>
                                        </div>

                                    }


                                </div>
                            }

                        }

                    }
                    else
                    {

                        if (CollectionExceptPollCount > 2)
                        {
                            var FirstElem = CollectionExceptPoll.Where(x => x.PaidPost == false).FirstOrDefault();

                            <div class="image--multi">

                                @if (FirstElem.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                {
                                    <div class="card__img" data-id="@FirstElem.ContentId">
                                        <img src="@FirstElem.FileLocation" alt="">
                                    </div>
                                }
                                else if (FirstElem.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                {
                                    <div class="card__img" data-id="@FirstElem.ContentId">
                                        <video controls src="@FirstElem.FileLocation" style="height:100%;width:100%">
                                        </video>
                                    </div>
                                }

                                <div class="image--multi__left ">
                                    @{
                                        var Coll = CollectionExceptPoll.Where(x => x.ContentId != FirstElem.ContentId).Take(2);
                                        var last = Coll.Last();
                                    }
                                    @foreach (var result in Coll)
                                    {
                                        var HasNotPaidCol = result.PaidPost && (result.HasPaid == false) && (Model.Creator.CreatorId != userId);
                                        if (HasNotPaidCol)
                                        {
                                            <a href="#" class="card__img small__img locked bg" data-id="@result.ContentId">
                                                <div class="absolute__link">
                                                    <div class="card__img__content">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                            <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                        </svg>
                                                    </div>
                                                </div>
                                            </a>
                                        }
                                        else
                                        {
                                            if (result.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                            {
                                                if (result.Equals(last))
                                                {
                                                    <div class="card__img small__img" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>
                                                            <h2 class="card__title">+@CollectionExceptPollCount Media</h2>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card__img small__img" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>

                                                        </a>
                                                    </div>
                                                }
                                            }
                                            else if (result.PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                            {

                                                if (result.Equals(last))
                                                {
                                                    <div class="card__img small__img locked" data-id="@result.ContentId">
                                                        <img src="@result.FileLocation" alt="">
                                                        <a href="#" class="absolute__link">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                                <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                            </svg>
                                                            <h2 class="card__title">+@CollectionExceptPollCount Media</h2>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="card__img small__img " data-id="@result.ContentId">
                                                        <video controls src="@result.FileLocation" style="height:100%;width:100%">
                                                        </video>
                                                    </div>
                                                }
                                            }
                                        }






                                    }

                                    @*<a href="#" class="card__img small__img locked">
                                            <div class="absolute__link">
                                                <div class="card__img__content">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16.652" height="18.656" viewBox="0 0 16.652 18.656">
                                                        <path id="Path_94" data-name="Path 94" d="M-6463.081-6072.09a6.775,6.775,0,0,0-6.767-6.767,6.775,6.775,0,0,0-6.767,6.767h0a1.559,1.559,0,0,0-1.559,1.559v8.77a1.559,1.559,0,0,0,1.559,1.56h13.534a1.56,1.56,0,0,0,1.559-1.56v-8.77a1.559,1.559,0,0,0-1.559-1.559Zm-6.186,7.48v1.88h-1.162v-1.88a1.524,1.524,0,0,1-.947-1.41,1.529,1.529,0,0,1,1.528-1.529,1.529,1.529,0,0,1,1.528,1.529A1.524,1.524,0,0,1-6469.267-6064.61Zm-5.954-7.48a5.379,5.379,0,0,1,5.373-5.373,5.378,5.378,0,0,1,5.373,5.373Z" transform="translate(6478.174 6078.857)" fill="#fff" />
                                                    </svg>
                                                    <h2 class="card__title">+4 Media</h2>

                                                </div>
                                            </div>
                                        </a>*@
                                </div>
                            </div>



                        }
                        else if (CollectionExceptPollCount == 2)
                        {

                            @if (PostNotPaid)
                            {

                            }
                            else
                            {
                                <div class="image--multi">

                                    @if (CollectionExceptPoll[0].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                    {
                                        <div class="card__img" data-id="@CollectionExceptPoll[0].ContentId">
                                            <img src="@CollectionExceptPoll[0].FileLocation" alt="">
                                        </div>
                                    }
                                    else if (CollectionExceptPoll[0].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                    {
                                        <div class="card__img" data-id="@CollectionExceptPoll[0].ContentId">
                                            <img src="@CollectionExceptPoll[0].FileLocation" alt="">
                                        </div>

                                    }

                                    @if (CollectionExceptPoll[1].PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                    {
                                        <div class="card__img image--multi__left h-auto" data-id="@CollectionExceptPoll[1].ContentId">
                                            <img src="@CollectionExceptPoll[1].FileLocation" alt="">
                                        </div>
                                    }


                                </div>
                            }

                        }
                        else
                        {
                            if (CollectionExceptPollCount > 0)
                            {
                                if (CollectionExceptPoll.FirstOrDefault().PostType == FanBucketEntity.Model.ENUM.ContentTypes.Image)
                                {

                                    <div class="card--img--wrapper">
                                        <div class="card__img" data-id="@CollectionExceptPoll.FirstOrDefault().ContentId">
                                            <img src="@CollectionExceptPoll.FirstOrDefault().FileLocation" alt="">
                                            @*<div class="content">
                                                    <h1>fanbucketWM</h1>
                                                    <p>@userId __ @CollectionExceptPoll.FirstOrDefault().ContentId</p>
                                                </div>*@
                                        </div>
                                    </div>
                                }
                                else if (CollectionExceptPoll.FirstOrDefault().PostType == FanBucketEntity.Model.ENUM.ContentTypes.Video)
                                {

                                    <div class="card--img--wrapper">
                                        <div class="card__img" data-id="@CollectionExceptPoll.FirstOrDefault().ContentId">
                                            <video controls src="@CollectionExceptPoll.FirstOrDefault().FileLocation" style="height:100%;width:100%">
                                            </video>
                                        </div>
                                    </div>
                                }
                                else if (CollectionExceptPoll.FirstOrDefault().PostType == FanBucketEntity.Model.ENUM.ContentTypes.Audio)
                                {

                                    <div class="card--img--wrapper">

                                        <div class="card__audio">
                                            <!-- <img src="./gallery/yoel-peterson-mMv_e4F-VU4-unsplash-min.jpg" alt="" > -->
                                            <button class="btn--play">
                                                <i class="bi bi-play-fill"></i>
                                            </button>
                                            <!-- id needs to be uniq -->
                                            <div id="audio_@CollectionExceptPoll.FirstOrDefault().ContentId" class="wave--wrapper" src="@CollectionExceptPoll.FirstOrDefault().FileLocation">

                                            </div>
                                        </div>
                                    </div>
                                }
                                else if (CollectionExceptPoll.FirstOrDefault().PostType == FanBucketEntity.Model.ENUM.ContentTypes.File)
                                {

                                    var Filename = System.IO.Path.GetFileName(CollectionExceptPoll.FirstOrDefault().FileLocation);
                                    @*<div class="card__body">
                                        <p class="user__text">@Html.Raw(Model.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>*@
                                    <div class="card--img--wrapper">
                                        <div class="card__file">
                                            <a href="#!" data-src="@CollectionExceptPoll.FirstOrDefault().FileLocation" title="@Filename" class="card__file__file file_link">
                                                <img src="~/Content/gallery/folder.png" style="height: 80px;" />
                                            </a>
                                            <div class="card__file__body" title="@Filename">
                                                <div class="card__left">
                                                    <h2 class="card__title"><a href="#!" data-src="@CollectionExceptPoll.FirstOrDefault().FileLocation" class="file_link">@Filename</a></h2>
                                                    <time>1MB</time>
                                                </div>
                                                <div class="card__link">
                                                    <a href="#!" data-src="@CollectionExceptPoll.FirstOrDefault().FileLocation" class="file_link" download="WebTypogrsphy.pdf">
                                                        <i class="bi bi-download"></i>
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewBox="0 0 65 65">
                                                            <g id="Ellipse_199" data-name="Ellipse 199" fill="none" stroke="#707070" stroke-width="1">
                                                                <circle cx="32.5" cy="32.5" r="32.5" stroke="none" />
                                                                <circle cx="32.5" cy="32.5" r="32" fill="none" />
                                                            </g>
                                                        </svg>

                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*</div>*@
                                }
                                else
                                {
                                    @*<div class="card__body">
                                            <p class="user__text">@Html.Raw(Model.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>

                                        </div>*@
                                }
                            }
                            else
                            {
                                @*<div class="card__body">
                                        <p class="user__text">@Html.Raw(Model.PostTitle.ParseHashtag().ParseURL().ParseUsername())</p>

                                    </div>*@
                            }

                        }

                    }


                }


                @*@if (IsPoll)
                    {
                        await Html.RenderPartialAsync("_PollMainPost", item);
                    }*@

            </div>

        </div>






    </div>

@*</a>*@
