﻿@page
@model FanBucketUI.Pages.Badge.CreateModel
@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
}

@{
    ViewData["Title"] = "New Badge";
}
<main class="insights--aside dashboard--main">
    <div class="right--aside__wrapper chat--wrapper">
        <section class="dashboard__general">
            <h2 class="section__title">New Customer</h2>
            <form method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="badgeViewModel.Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="badgeViewModel.Name" class="form-control" />
                        <span asp-validation-for="badgeViewModel.Name" class="text-danger"></span>
                    </div>
                </div>
                @{ 
                    var labelTag = new FanBucketEntity.ViewModel.BadgeViewModel();
                    
                }
                
                <div class="form-group">
                    <label asp-for="badgeViewModel.Code" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="badgeViewModel.Code" class="form-control" />
                        <span asp-validation-for="badgeViewModel.Code" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="badgeViewModel.TriggerType" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="badgeViewModel.TriggerType" class="form-control" />
                        <span asp-validation-for="badgeViewModel.TriggerType" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="badgeViewModel.TriggeredOn" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="badgeViewModel.TriggeredOn" class="form-control" />
                        <span asp-validation-for="badgeViewModel.TriggeredOn" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="badgeViewModel.Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="badgeViewModel.Description" class="form-control" />
                        <span asp-validation-for="badgeViewModel.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>


@*@section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }*@