﻿@page
@model FanBucketUI.Pages.Badge.IndexModel

@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
}


@{
    ViewData["Title"] = "Index";
}
<main class="insights--aside dashboard--main">
    <div class="right--aside__wrapper chat--wrapper">
        <section class="dashboard__general">
            <h2 class="section__title">Badges</h2>
            <div class="row">
                <p>
                    <a asp-page="Create">Create New</a>
                </p>
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.badgeViewModels[0].Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.badgeViewModels[0].Code)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.badgeViewModels[0].Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.badgeViewModels[0].TriggerType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.badgeViewModels[0].TriggeredOn)
                            </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.badgeViewModels)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Code)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TriggerType)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TriggeredOn)
                                </td>
                                <td>
                                    @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</main>

