﻿@page
@model FanBucketUI.Pages.Interest.EditModel
@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
}

@{
    ViewData["Title"] = "Edit Interest";
}
<main class="insights--aside dashboard--main">
    <div class="right--aside__wrapper chat--wrapper">
        <section class="dashboard__general">
            <h2 class="section__title">Edit Interest</h2>
            <form method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="interestViewModel.Id" type="hidden" />

                <div class="form-group">
                    <label asp-for="interestViewModel.Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="interestViewModel.Name" class="form-control" />
                        <span asp-validation-for="interestViewModel.Name" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="interestViewModel.Code" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="interestViewModel.Code" class="form-control" />
                        <span asp-validation-for="interestViewModel.Code" class="text-danger"></span>
                    </div>
                </div>
            
                <div class="form-group">
                    <label asp-for="interestViewModel.Description" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="interestViewModel.Description" class="form-control" />
                        <span asp-validation-for="interestViewModel.Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</main>


@*@section Scripts {
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    }*@