﻿@using Templates.ViewModels
@model EmailButtonViewModel

<tr>
    <td align="center">
        <!-- Button -->
        <table border="0" cellspacing="0" cellpadding="0" style="min-width: 200px;">
            <tr>
                <td class="btn-16 c-white l-white" bgcolor="#e81f4d" style="font-size:16px; line-height:20px; mso-padding-alt:15px 35px; font-family:'PT Sans', Arial, sans-serif; text-align:center; font-weight:bold; text-transform:uppercase; border-radius:25px; min-width:auto !important; color:#ffffff;">
                    <a href="@Model.Url" target="_blank" class="link c-white" style="display: block; padding: 15px 35px; text-decoration:none; color:#ffffff;">
                        <span class="link c-white" style="text-decoration:none; color:#ffffff;">@Model.Text</span>
                    </a>
                </td>
            </tr>
        </table>
        <!-- END Button -->
    </td>
</tr>