﻿@using Templates.ViewModels
@model CreateNewUserViewModel

@{
    Layout = "_EmailLayoutHtml";
    ViewContext.ViewData["EmailTitle"] = "Hey " + Model.FullName+"!";
    ViewContext.ViewData["TopContent"] = "Congratulations";
}


<tr>
    <td class="text-16 lh-26 a-center pb-25" style="font-size:16px; color:#6e6e6e; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; line-height: 26px; text-align:center; padding-bottom: 25px;">
        <p><h2>Welcome to Fanbucket.</h2></p>
        <p>
            You are registered as a new user .
        </p>
        <p>
            <span style="display: block;"><strong>Your username: </strong>@Model.Username</span>
        </p>
    </td>
</tr>
