﻿@using Templates.ViewModels
@model CreateNewUserViewModel

@{
    Layout = "_EmailLayoutHtml";
    ViewContext.ViewData["EmailTitle"] = "Congratulations ";
    ViewContext.ViewData["TopContent"] = "HamroBazaar";
}

<p style="text-align: center;">
    Hello <strong>@Model.FullName</strong>, your email is confirmed.
</p>
<p style="text-align: center;">
    <small>Now, you can login with your username and password!</small>
</p>

@await Html.PartialAsync("_EmailButton", new EmailButtonViewModel("Start browsing", Model.CallbackUrl))

<p style="text-align: center;">
    HamroBazaar Team
</p>