﻿@page
@model FanBucketUI.Pages.User.DetailsModel
@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
}

<main class="insights--aside dashboard--main">
    <div class="right--aside__wrapper chat--wrapper">
        <section class="dashboard__general">
            <h2 class="section__title">User Info</h2>
            <div class="">

                <div href="#" class="mb-3" aria-current="true">
                    <div class="profile--card">
                        <div class="card__img active">
                            <img src="@Model.usr.ProfileImgLocation" alt="">
                        </div>
                        <div class="card__body">
                            <h2 class="card__title">Username: @Model.usr.Username</h2>
                            <div class="para-wrapper">
                                <p class="para small">Fullname: @Model.usr.Fullname</p>
                                <p class="para small">Email: @Model.usr.Email</p>
                                <p class="para small">Status: @Model.usr.Status</p>
                                @if (Model.usr.BlockTill.HasValue)
                                {
                                    <p class="para small">Block Till: @Model.usr.BlockTill.Value.ToLongDateString()</p>

                                }
                                @*<p class="para small">AccountType: @Html.DisplayFor(x => Model.usr.AccountType)</p>*@
                                @{
                                    var KYC = Model.usr.KYC_Details;
                                    var BalanceInfo = Model.usr.BalanceInfo;
                                }
                                @if (KYC != null)
                                {
                                    <p class="para small">Gender: @KYC.Gender</p>
                                    <p class="para small">DOB: @KYC.DOB</p>
                                    <p class="para small">Identification: @KYC.Identification</p>
                                    <p class="para small">Id No: @KYC.IdNO</p>
                                    <p class="para small">Id Issued From: @KYC.IdIssuedFrom</p>
                                    <p class="para small">Contact Number: @KYC.ContactNumber</p>
                                    <p class="para small">Expiry: @KYC.Expiry</p>
                                }
                                @if (BalanceInfo != null)
                                {
                                    <p class="para small">Currency: @BalanceInfo.Currency</p>
                                    @*<p class="para small">Credit Sum: @BalanceInfo.CreditSum</p>
                                        <p class="para small">Debit Sum: @BalanceInfo.DebitSum</p>*@
                                    <p class="para small">Current Balance: @Math.Round(BalanceInfo.CurrentBalance,2)</p>
                                    <p class="para small">Earning %: @Math.Round(BalanceInfo.EarningPercentage,2)</p>

                                }
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item"><a data-toggle="tab" href="#user_review" class="active nav-link">User Review</a></li>

                <li class="nav-item"><a data-toggle="tab" href="#commission_review" class=" nav-link">Commission Review</a></li>
            </ul>

            <div class="tab-content">
                <div id="commission_review" class="tab-pane fade">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title  text-body">User Commission Review</div>
                        </div>

                        <form method="post" class="card-body" enctype="multipart/form-data">
                            <input type="hidden" asp-for="CommissionReviewViewModel.UserId" value="@Model.usr.Id" />
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="CommissionReviewViewModel.NewCommissionPer" class="control-label">New Commission %</label>
                                    <input asp-for="CommissionReviewViewModel.NewCommissionPer" type="number" class="form-control" />
                                    <span asp-validation-for="CommissionReviewViewModel.NewCommissionPer" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="CommissionReviewViewModel.Remarks" class="control-label"></label>
                                    <textarea asp-for="CommissionReviewViewModel.Remarks" class="form-control"></textarea>
                                    <span asp-validation-for="CommissionReviewViewModel.Remarks" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
                <div id="user_review" class="tab-pane fade in active show">
                    @{
                        var act = Model.usr.ActiveReports;
                    }
                    <section class="dashboard__general">

                        @if (act != null)
                        {

                            <div class="card pb-0">
                                <div class="card-header ">
                                    Reports
                                </div>
                                <div class="card-body">
                                    @{

                                        int i = 1;
                                    }
                                    <div class="">
                                        Last Reported Date: @Html.DisplayFor(x => act.LastReportedDate)
                                        <br />
                                        No of Active Reports: @Html.DisplayFor(x => act.NoOfReports)
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Reported Date</th>
                                                    <th>Reason</th>
                                                    <th>Remarks</th>
                                                    <th>Reported By </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in act.Reports)
                                                {

                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@item.CreatedOn</td>
                                                        <td>
                                                            @item.ReportingReason
                                                        </td>
                                                        <td>@item.Remarks</td>
                                                        <td>@item.ReportedbyFullname</td>
                                                    </tr>


                                                    i++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>

                            </div>


                        }
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title text-body">User Review</div>
                            </div>

                            <form method="post" asp-page-handler="UserReview" class="card-body" enctype="multipart/form-data">
                                <input type="hidden" asp-for="ReportActionViewModel.UserId" value="@Model.usr.Id" />
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label asp-for="ReportActionViewModel.Action" class="control-label"></label>
                                        <select asp-for="ReportActionViewModel.Action" class="form-control" asp-items="Model.Actions">
                                            <option value="">Select an Option</option>
                                        </select>
                                        <span asp-validation-for="ReportActionViewModel.Action" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6" id="block_options">
                                    <div class="form-group">
                                        <label asp-for="ReportActionViewModel.BlockDays" class="control-label"></label>
                                        <select asp-for="ReportActionViewModel.BlockDays" class="form-control" asp-items="Model.Days">
                                            <option value="">Select an Option</option>
                                        </select>
                                        <span asp-validation-for="ReportActionViewModel.BlockDays" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="form-group">
                                        <label asp-for="ReportActionViewModel.Remarks" class="control-label"></label>
                                        <textarea asp-for="ReportActionViewModel.Remarks" class="form-control"></textarea>
                                        <span asp-validation-for="ReportActionViewModel.Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group">
                                        <button class="btn btn-success" type="submit">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </section>
                </div>

            </div>
        </section>
    </div>

</main>
@section Scripts{
    <script>
        $(document).ready(function () {
            $("#ReportActionViewModel_Action").change(function () {
                var currentVal = $(this).val();
                console.log(currentVal);
                if (currentVal === "") {
                    return;
                }
                if (currentVal === '1') {
                    $('#block_options').addClass("d-none");
                } else {
                    $('#block_options').removeClass("d-none");

                }
            });
        });
    </script>
}
