﻿@page
@model FanBucketUI.Pages.User.EditProfileModel
@{
    Layout = "../Shared/_LayoutUser.cshtml";
    ViewData["Title"] = "ProfilePage";
    var user = Model.usr;
    var AccountType = new List<SelectListItem>
{
        new SelectListItem { Value = "1", Text = "Public" },
        new SelectListItem { Value = "2", Text = "Private" }
    };
    var Gender = new List<SelectListItem>
{
        new SelectListItem { Value = "Male", Text = "Male" },
        new SelectListItem { Value = "Female", Text = "Female" },
      new SelectListItem { Value = "Others", Text = "Others" }
    };
    var Identification = new List<SelectListItem>
{
        new SelectListItem { Value = "Citizenship", Text = "Citizenship" },
        new SelectListItem { Value = "Passport", Text = "Passport" },
      new SelectListItem { Value = "SSN", Text = "Social Security Number" }
    };
}
<style>
    .profile--edit .feed aside.tab-content form button[type=reset] {
        background-image: linear-gradient( 135deg,#fe4545,#d70153);
        color: #fff;
        border: none;
        padding: 12px 24px;
        font-size: 15px;
        border-radius: 5px;
        text-transform: capitalize;
        line-height: 17px;
        position: relative;
        white-space: nowrap;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        -webkit-perspective: 1000;
        box-shadow: none;
        transition: 0.3s ease-out;
        width: 120px;
    }

    .hide {
        display: none;
    }

    .row {
        transition: 0.3s ease-out;
    }

    table thead {
        background-image: linear-gradient( 135deg,#fe4545,#d70153);
        color: #fff;
        transition: 0.3s ease-out;
    }
</style>
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJJ5GBN');</script>
    <!-- End Google Tag Manager -->
</head>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJJ5GBN"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="profile--edit main profile--main">
    <div class="profile--edit--wrapper">
        <section class="profile__card profile__card__wallpaper">
            <div class="card__wallpaper">
                <img src="@user.CoverImgLocation" id="wallImage" alt="">
                <input type="file" class="custom-file-input" id="wallImageInput" accept="image/*">
                <label class="circle circle--camera outline--common" for="wallImageInput">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14.938" height="13.07" viewBox="0 0 14.938 13.07">
                        <g id="Group_11" data-name="Group 11" transform="translate(555.029 -226.881)">
                            <path id="Path_3" data-name="Path 3" d="M-544.476,227.639l.417,1.109h2.567a1.4,1.4,0,0,1,1.4,1.4v8.4a1.4,1.4,0,0,1-1.4,1.4h-12.136a1.4,1.4,0,0,1-1.4-1.4v-8.4a1.4,1.4,0,0,1,1.4-1.4h2.567l.362-.96a1.4,1.4,0,0,1,1.31-.907h3.821A1.161,1.161,0,0,1-544.476,227.639Zm-4.913.175a.468.468,0,0,0-.438.3l-.586,1.564h-3.215a.468.468,0,0,0-.467.466v8.4a.468.468,0,0,0,.467.466h12.136a.468.468,0,0,0,.467-.466v-8.4a.468.468,0,0,0-.467-.466H-544.7l-.645-1.716a.237.237,0,0,0-.219-.152Zm-1.672,6.535a3.5,3.5,0,0,1,3.5-3.5,3.5,3.5,0,0,1,3.5,3.5,3.5,3.5,0,0,1-3.5,3.5A3.5,3.5,0,0,1-551.061,234.349Zm.934,0a2.571,2.571,0,0,0,2.567,2.568,2.571,2.571,0,0,0,2.567-2.568,2.571,2.571,0,0,0-2.567-2.567A2.571,2.571,0,0,0-550.127,234.349Z" fill="#fff" />
                        </g>
                    </svg>
                    <img src="~/Content/gallery/rings.svg" alt="">
                    Change Cover Image


                </label>
            </div>
            <div class="card__body">
                <div class="card__top">
                    <div class="card__img active">
                        <img src="@user.ProfileImgLocation" id="ppImage" alt="">
                        <input type="file" class="custom-file-input" id="ppImageInput" accept="image/*" value="anjit">
                        <div class="circle circle--camera ">
                            <svg xmlns="http://www.w3.org/2000/svg" width="14.938" height="13.07" viewBox="0 0 14.938 13.07">
                                <g id="Group_11" data-name="Group 11" transform="translate(555.029 -226.881)">
                                    <path id="Path_3" data-name="Path 3" d="M-544.476,227.639l.417,1.109h2.567a1.4,1.4,0,0,1,1.4,1.4v8.4a1.4,1.4,0,0,1-1.4,1.4h-12.136a1.4,1.4,0,0,1-1.4-1.4v-8.4a1.4,1.4,0,0,1,1.4-1.4h2.567l.362-.96a1.4,1.4,0,0,1,1.31-.907h3.821A1.161,1.161,0,0,1-544.476,227.639Zm-4.913.175a.468.468,0,0,0-.438.3l-.586,1.564h-3.215a.468.468,0,0,0-.467.466v8.4a.468.468,0,0,0,.467.466h12.136a.468.468,0,0,0,.467-.466v-8.4a.468.468,0,0,0-.467-.466H-544.7l-.645-1.716a.237.237,0,0,0-.219-.152Zm-1.672,6.535a3.5,3.5,0,0,1,3.5-3.5,3.5,3.5,0,0,1,3.5,3.5,3.5,3.5,0,0,1-3.5,3.5A3.5,3.5,0,0,1-551.061,234.349Zm.934,0a2.571,2.571,0,0,0,2.567,2.568,2.571,2.571,0,0,0,2.567-2.568,2.571,2.571,0,0,0-2.567-2.567A2.571,2.571,0,0,0-550.127,234.349Z" fill="#fff" />
                                </g>
                            </svg>
                            <img src="~/Content/gallery/rings.svg" alt="">

                        </div>
                    </div>
                </div>
                <h2 class="section__title mb-0">@user.Fullname</h2>
                <p class="user--name">@user.Username</p>
            </div>
        </section>
        <section class="feed">
            <nav class="nav">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="active nav-link" data-toggle="tab" href="#tab1" role="tab">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">
                            Privacy &  Account
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">
                            KYC  Details
                        </a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab5" role="tab">
                                Fans & Followings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab6" role="tab">
                                Notifications
                            </a>
                        </li>*@

                    <li class="indicator"></li>
                </ul>
            </nav>

            <aside class="tab-content">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel">
                    <form class="form" method="Post">
                        <div class="form-group ">
                            <label for="displayName">Name</label>
                            <input type="text" class="form-control br" name="Fullname" placeholder="Fullname" required="required" value="@user.Fullname" id="displayName">
                        </div>

                        <div class="form-group ">
                             @{
                                var noOfTimeChanged = 0;
                                var remaining = 0;
                                var NoOfTimesThatCanBeChanged = 2;

                            }
                            @if (user.LastUserNameModifiedDate.HasValue)
                            {
                                var lastUsernameChangedDate = user.LastUserNameModifiedDate.Value;
                                noOfTimeChanged = user.UserNameModifiedTimes;
                                var currentyear = DateTime.UtcNow.Year;
                                var LastModifiedYear = lastUsernameChangedDate.Year;

                                if (currentyear == LastModifiedYear)
                                {
                                    remaining = NoOfTimesThatCanBeChanged - noOfTimeChanged;
                                    ////can not be changed
                                }
                                if (currentyear != LastModifiedYear)
                                {
                                    remaining = NoOfTimesThatCanBeChanged;//reset if not changed
                                }

                            }
                            <label for="userName">Username</label>

                            <input type="text" class="form-control br" name="Username" placeholder="Username" required="required" @(remaining==0?"readonly":"") value="@user.Username" id="userName">
                           

                            <p class="small text-right text-muted"><b>@(remaining)/@NoOfTimesThatCanBeChanged</b> Username Changes Remaining</p>
                        </div>
                        <div class="form-group ">
                            <label for="userName">Content Creator Type</label>
                            <input type="text" class="form-control br" name="Profession" placeholder="Profession" required="required" value="@user.Profession" id="userName">

                        </div>
                        <div class="form-group ">
                            <label for="userName">Interested In</label>
                            <select multiple type="text" class="form-control br select2" name="Interests" placeholder="Occupation" required="required" id="userName">
                                @foreach (var opt in user.Interests)
                                {
                                    <option value="@opt.Value" selected>@opt.Text</option>
                                }
                            </select>

                        </div>
                        <div class="form-group ">
                            <label for="bioText">Short Bio</label>
                            <textarea class="form-control br" name="ShortBio" placeholder="Short Bio" required="required" id="bioText" maxlength="100">@user.ShortBio</textarea>
                            <p class="small text-right text-muted"><span id="textareaCount">28</span>/100</p>
                        </div>

                        <div class="form-group ">
                            <label for="Location">Location</label>
                            <div class="form-control__wrapper">
                                <input type="text" class="form-control br" name="Location" placeholder="Location" required="required" value="@user.Location" id="Location">
                                <a href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14.492" height="14.491" viewBox="0 0 14.492 14.491">
                                        <g id="Group_14" data-name="Group 14" transform="translate(121.905 -573.842)">
                                            <path id="Path_4" data-name="Path 4" d="M-107.413,580.861v.453a.227.227,0,0,1-.227.227h-1.607a5.43,5.43,0,0,1-4.959,4.958v1.608a.226.226,0,0,1-.227.226h-.453a.226.226,0,0,1-.226-.226V586.5a5.43,5.43,0,0,1-4.959-4.958h-1.608a.227.227,0,0,1-.226-.227v-.453a.226.226,0,0,1,.226-.226h1.608a5.43,5.43,0,0,1,4.959-4.959v-1.608a.226.226,0,0,1,.226-.226h.453a.227.227,0,0,1,.227.226v1.608a5.43,5.43,0,0,1,4.959,4.959h1.607A.227.227,0,0,1-107.413,580.861Zm-2.718.227a4.534,4.534,0,0,0-4.528-4.529,4.535,4.535,0,0,0-4.529,4.529,4.534,4.534,0,0,0,4.529,4.528A4.533,4.533,0,0,0-110.131,581.088Zm-1.811,0a2.717,2.717,0,0,1-2.717,2.717,2.717,2.717,0,0,1-2.717-2.717,2.718,2.718,0,0,1,2.717-2.718A2.718,2.718,0,0,1-111.942,581.088Zm-.906,0a1.813,1.813,0,0,0-1.811-1.812,1.814,1.814,0,0,0-1.812,1.812,1.813,1.813,0,0,0,1.812,1.811A1.813,1.813,0,0,0-112.848,581.088Z" fill="#d8d9db" />
                                        </g>
                                    </svg>
                                </a>

                            </div>
                        </div>
                        @*<div class="form-group ">
                                <label for="bioText">Feature Badge</label>
                                @foreach (var item in Model.usr.Badges)
                                {
                                    var src = @Html.Raw("/Content/gallery/badge/" + item + ".png");
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" value="@item" class="form-check-input" name="optradio">
                                            <img src="@src" alt="" class="w-25">

                                        </label>
                                    </div>

                                }
                            </div>*@
                        <div class="form-group text-right">
                            <button type="reset" id="btnPersonal">Save</button>
                        </div>

                    </form>

                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel">
                    <form class="form" method="Post" action="/User/EditProfile">
                        <div class="form-group ">
                            <label for="displayName">Account Type</label>
                            <select class="form-control" asp-for="@user.AccountType" asp-items="AccountType"></select>
                        </div>
                        <div class="form-group">
                            <label>NSFW Settings</label>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@user.NSFW" asp-for="@user.NSFW">
                                <label class="form-check-label" for="@user.NSFW">
                                    Display Contents Containing Sensitive Media ?
                                </label>
                            </div>
                        </div>

                        @if (user.AccountType == FanBucketEntity.Model.ENUM.AccountType.Private)
                        {
                            <div class="privateSection">
                                <div class="row col-sm-12" id="SubsInput">
                                    <div class="col-sm-6">
                                        <label for="displayName">Tenure(Months)</label>
                                        <select class="form-control" name="Tenure" placeholder="Tenure">
                                            <option selected="selected" value="-1">Choose Your Tenure</option>
                                            <option value="1">1 Month</option>
                                            <option value="3">3 Months</option>
                                            <option value="6">6 Months</option>
                                            <option value="12">12 Months</option>
                                        </select>

                                    </div>
                                    <div class="col-sm-6">
                                        <label for="displayName">Amount ($) </label>
                                        <input class="form-control" name="SubscriptionAmount" placeholder="Amount" type="number" step=".01" />
                                    </div>


                                </div>
                                <button class="float-right" id="btnAddSubs" type="button">Add Subs</button>
                                <hr />
                                <strong>Subscriptions</strong>


                                <table class="table table-bordered" id="SubsTbl">
                                    <thead>
                                        <tr>
                                            <th>Tenure</th>
                                            <th>Amount ($)</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in user.SubsInfo)
                                        {
                                            <tr>
                                                <td>@item.Tenure</td>
                                                <td>@item.SubscriptionAmount</td>
                                                <td>
                                                    <a href="#" class="deleteBtn" data-val="@item.Id">
                                                        <img src="https://img.icons8.com/fluent/2x/delete-forever.png" alt="Delete Bin icon" loading="lazy" style="height: 28px; width: 28px;">
                                                    </a>
                                                </td>
                                            </tr>


                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        else
                        {
                            <div class="hide privateSection">
                                <div class="row col-sm-12 hide" id="SubsInput">
                                    <div class="col-sm-6">
                                        <label for="displayName">Tenure(Months)</label>
                                        <select class="form-control" name="Tenure" placeholder="Tenure">
                                            <option selected="selected" value="-1">Choose Your Tenure</option>
                                            <option value="1">1 Month</option>
                                            <option value="3">3 Months</option>
                                            <option value="6">6 Months</option>
                                            <option value="12">12 Months</option>
                                        </select>

                                    </div>
                                    <div class="col-sm-6">
                                        <label for="displayName">Amount ($) </label>
                                        <input class="form-control" name="SubscriptionAmount" placeholder="Amount" type="number" step=".01" />
                                    </div>


                                </div>
                                <button class="float-right" id="btnAddSubs" type="button">Add Subs</button>
                                <hr />
                                <strong>Subscriptions</strong>


                                <table class="table table-bordered" id="SubsTbl">
                                    <thead>
                                        <tr>
                                            <th>Tenure</th>
                                            <th>Amount ($)</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        }


                        <div class="form-group text-right">
                            <button type="reset" id="btnPrivacy">Save</button>
                        </div>

                    </form>

                </div>
                <div class="tab-pane fade" id="tab3" role="tabpanel">
                    @if (user.KYC_Details == null)
                    {
                        <form class="form profileKYC" method="Post" action="/User/EditProfile">
                            <div class="form-group ">
                                <label for="userName">Gender</label>
                                <select class="form-control" name="Gender" asp-items="Gender"></select>
                            </div>
                            <div class="form-group ">
                                <label for="userName">Date Of Birth</label>
                                <input type="text" class="form-control br" name="DOB" id="DOB" placeholder="Date of Birth" required="required" >
                            </div>
                            <div class="form-group ">
                                <label for="displayName">Identification Type</label>
                                <select class="form-control" name="Identification" asp-items="Identification"></select>
                            </div>

                            <div class="form-group ">
                                <label for="userName">Identification Digit</label>
                                <input type="text" class="form-control br" name="IdNO" placeholder="Number" required="required" id="IdNO">

                            </div>
                            <div class="form-group ">
                                <label for="userName">Identification Form</label>
                                <input type="text" class="form-control br" name="IdIssuedFrom" placeholder="Issued From" required="required" id="IdIssuedFrom">

                            </div>

                            <div class="form-group ">
                                <label for="userName">Contact Number</label>
                                <input type="text" class="form-control br" name="ContactNumber" placeholder="Contact" required="required" id="ContactNumber">

                            </div>
                            <div class="form-group ">
                                <label for="userName">Country</label>
                                <input type="text" class="form-control br" name="Country" placeholder="Country" required="required" id="Country">

                            </div>


                            <div class="form-group text-right">
                                <button type="reset" id="btnKYC">Save</button>
                            </div>

                        </form>
                    }
                    else
                    {
                        <form class="form profileKYC" method="Post" action="/User/EditProfile">
                            <div class="form-group ">
                                <label for="userName">Gender</label>
                                <select class="form-control" name="Gender" asp-for="@user.KYC_Details.Gender" asp-items="Gender"></select>
                            </div>
                            <div class="form-group ">
                                <label for="userName">Date Of Birth</label>
                                <input type="text" class="form-control br" name="DOB" id="DOB" placeholder="Date of Birth" required="required" value="@user.KYC_Details.DOB">
                            </div>
                            <div class="form-group ">
                                <label for="displayName">Identification Type</label>
                                Identification
                                <select class="form-control" name="Identification" asp-for="@user.KYC_Details.Identification" asp-items="Identification"></select>
                            </div>

                            <div class="form-group ">
                                <label for="userName">Identification Digit</label>
                                <input type="text" class="form-control br" name="IdNO" placeholder="Number" required="required" value="@user.KYC_Details.IdNO" id="IdNO">

                            </div>
                            <div class="form-group ">
                                <label for="userName">Identification From</label>
                                <input type="text" class="form-control br" name="IdIssuedFrom" placeholder="Issued From" required="required" value="@user.KYC_Details.IdIssuedFrom" id="IdIssuedFrom">

                            </div>
                            <div class="form-group ">
                                <label for="userName">Contact Number</label>
                                <input type="text" class="form-control br" name="ContactNumber" placeholder="Contact" required="required" value="@user.KYC_Details.ContactNumber" id="ContactNumber">

                            </div>
                            <div class="form-group ">
                                <label for="userName">Country</label>
                                <input type="text" class="form-control br" name="Country" placeholder="Country" required="required" value="@user.KYC_Details.Country" id="Country">

                            </div>


                            <div class="form-group text-right">
                                <button type="reset" id="btnKYC">Save</button>
                            </div>

                        </form>
                    }


                </div>
            </aside>
        </section>
    </div>
</div>
@using Newtonsoft.Json;

@{ 
    var a=user.SubsInfo.Select(x => new
    {
        id = x.Id,
        tenure = x.Tenure.ToString(),
        subscriptionAmount = x.SubscriptionAmount.ToString()
    }).ToList();
    var jsonString = JsonConvert.SerializeObject(a);
}

@section Scripts{
     <script>
        var jsonString = @Html.Raw(jsonString);

        $(document).ready(function (e) {
            const bioCalc = e => {
                let length = $('#bioText').val().length
                $('#textareaCount').text(length)
            }

            bioCalc();

            //app.ProfileSite.Subscriptiontype = jsonString;
            //app.ProfileSite.Subscriptiontype = jsonString;

            $('#bioText').keyup(function (e) {
                debugger;
                bioCalc();
            });
        });
    </script>
    <script type="text/javascript" src="~/js/ProfileSite.js"></script>
   
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            let marker = document.querySelector('.indicator');
            let item = document.querySelectorAll('.nav.nav-tabs .nav-link');
            let itemActive = document.querySelector('.nav.nav-tabs .nav-link.active');

            function indicator(e) {
                marker.style.top = e.offsetTop + "px";
            }

            indicator(itemActive);
            item.forEach(link => {
                link.addEventListener('click', (e) => {
                    indicator(e.target);
                })
            })
        });
    </script>
}

