@page "{Amount}"
@model FanBucketUI.Pages.User.LoadWalletModel
@{
    Layout = null;
    //Layout = "../Shared/_LayoutAdmin.cshtml";
}
@inject FanBucketUI.API_Context.SessionHelper uservice;
@{
    var hash___ = uservice.GetBearer(User);

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Accept a payment</title>
    <meta name="description" content="A demo of a payment on Stripe" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="@Url.Content("/LoadWallet.css")" />
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
    <input id="token___Auth" value="@hash___" hidden />
    <input id="username" value="@(User.Identity.GetUsername())" hidden />
    @*<label>
          <span>Name</span>
          <input name="name" class="field" placeholder="Jenny Rosen" required>
        </label>*@
    <!-- Display a payment form -->
    <form id="payment-form">
        <div id="payment-element">

            <!--Stripe.js injects the Payment Element-->
        </div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
</body>
</html>
<script>
    var amount =@(Model.amount);

</script>
@{await Html.RenderPartialAsync("Config");}

<script src="@Url.Content("/LoadWallet.js")" defer></script>
