﻿@page
@model FanBucketUI.Pages.User.NotificationsModel
@{
    ViewData["Title"] = "Notifications";
    Layout = "../Shared/_LayoutUser.cshtml";
    //Layout =null;
}
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var CoverImg = uservice.GetCoverImg(User);
}
<style>
    time i {
        font-size: 7px;
        vertical-align: middle;
        color: #fe4545;
    }
</style>
<!--<head>-->
    <!-- Google Tag Manager -->
    <!--<script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJJ5GBN');</script>-->
    <!-- End Google Tag Manager -->
<!--</head>-->
<!-- Google Tag Manager (noscript) -->
<!--<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJJ5GBN"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>-->
<!-- End Google Tag Manager (noscript) -->
<div class="notification--main">
    <section class="profile__card profile__card__wallpaper">
        <div class="card__wallpaper">
            <img src="@CoverImg" alt="">
        </div>
    </section>


    <div class="title__wrapper">
        <h2 class="section__title">Notifications</h2>
        @* <a href="#" class="title__link">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.92 17.46"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M19.77,8.26C18.4,5.91,17,3.43,15.27.46A.81.81,0,0,0,14.48,0h-9a.88.88,0,0,0-.85.5C3.16,3.06,1.65,5.67.15,8.26a.8.8,0,0,0,0,.92c1.5,2.58,3,5.21,4.5,7.81a.83.83,0,0,0,.83.47H14.4a.92.92,0,0,0,.91-.51c1.31-2.32,2.78-4.84,4.45-7.72A.84.84,0,0,0,19.77,8.26Zm-1.3.86c-1.33,2.27-2.65,4.56-3.93,6.79a.7.7,0,0,1-.69.38H6.07a.72.72,0,0,1-.7-.4c-.57-1-1.16-2-1.73-3-.73-1.27-1.47-2.54-2.19-3.81a.83.83,0,0,1,0-.72C2.2,7.07,2.94,5.77,3.69,4.49c.56-1,1.12-1.94,1.67-2.9a.74.74,0,0,1,.71-.42c2.41,0,4.95,0,7.77,0a.73.73,0,0,1,.71.4l3.9,6.77A.69.69,0,0,1,18.47,9.12Z" /><path class="cls-1" d="M10,4.26h0a4.48,4.48,0,0,0-3.17,7.63A4.4,4.4,0,0,0,9.9,13.2h0a4.52,4.52,0,0,0,3.2-1.3,4.4,4.4,0,0,0,1.31-3.15A4.48,4.48,0,0,0,10,4.26Zm2,6.54a3,3,0,0,1-2.09.85h0A2.92,2.92,0,0,1,7,8.71,2.86,2.86,0,0,1,7.9,6.66a2.82,2.82,0,0,1,2-.85h0a2.9,2.9,0,0,1,2.94,2.93A2.94,2.94,0,0,1,12,10.8Z" /></g></g></svg>
            </a> *@
    </div>


    <section class="feed">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="active nav-link" data-toggle="tab" href="#tab1" role="tab">
                    All Notifications (@Model.postMaster.Count())

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="__GetHiddenPost" data-toggle="tab" href="#HiddenPost" role="tab">
                   
                    All Hidden Posts
                </a>
            </li>
            @*<li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.16 13.16">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #232323;
                                    }
                                </style>
                            </defs>
                            <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M9.4,0H3.76A3.76,3.76,0,0,0,0,3.76V9.4a3.66,3.66,0,0,0,.57,2,3.22,3.22,0,0,0,.58.74,3.77,3.77,0,0,0,2.61,1.05H9.4A3.76,3.76,0,0,0,13.16,9.4V3.76A3.76,3.76,0,0,0,9.4,0Zm3,9.07a3.31,3.31,0,0,1-3.32,3.32h-5a3.32,3.32,0,0,1-2.18-.82l-.2-.2a2.88,2.88,0,0,1-.43-.56A3.12,3.12,0,0,1,.77,9.07v-5A3.3,3.3,0,0,1,1.53,2a2.48,2.48,0,0,1,.63-.58A3.23,3.23,0,0,1,4.09.77h5a3.22,3.22,0,0,1,2.14.79,1.81,1.81,0,0,1,.21.18l.18.2a3.27,3.27,0,0,1,.79,2.15Z" /><path class="cls-1" d="M8.39,4.92l-.06,0a3,3,0,0,0-1.19-.24A2.43,2.43,0,0,0,4.69,7.09a1.25,1.25,0,0,0,1.2,1.38A1.58,1.58,0,0,0,7.2,7.79a.82.82,0,0,0,.87.68C9.22,8.47,10,7.45,10,6A2.93,2.93,0,0,0,7,3a3.78,3.78,0,0,0-3.8,3.92,3.11,3.11,0,0,0,3.18,3.24,3.91,3.91,0,0,0,1.85-.39l.07,0L8,9l-.1.05a3.11,3.11,0,0,1-1.43.32A2.35,2.35,0,0,1,4,6.85a2.87,2.87,0,0,1,2.82-3.1A2.14,2.14,0,0,1,9.16,6a2.05,2.05,0,0,1-.48,1.45.61.61,0,0,1-.44.2.19.19,0,0,1-.15-.07c-.06-.08-.12-.28,0-.8ZM7,5.51a.86.86,0,0,1,.28,0l-.16.93c-.1.58-.53,1.11-.92,1.11S5.74,7.22,5.74,7A1.4,1.4,0,0,1,7,5.51Z" /></g></g>
                        </svg>
                        Mentions (2)

                    </a>
                </li>
                <li class="nav-item ml-auto">
                    <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.16 13.16">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #232323;
                                    }
                                </style>
                            </defs>
                            <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M9.4,0H3.76A3.76,3.76,0,0,0,0,3.76V9.4a3.66,3.66,0,0,0,.57,2,3.22,3.22,0,0,0,.58.74,3.77,3.77,0,0,0,2.61,1.05H9.4A3.76,3.76,0,0,0,13.16,9.4V3.76A3.76,3.76,0,0,0,9.4,0Zm3,9.07a3.31,3.31,0,0,1-3.32,3.32h-5a3.32,3.32,0,0,1-2.18-.82l-.2-.2a2.88,2.88,0,0,1-.43-.56A3.12,3.12,0,0,1,.77,9.07v-5A3.3,3.3,0,0,1,1.53,2a2.48,2.48,0,0,1,.63-.58A3.23,3.23,0,0,1,4.09.77h5a3.22,3.22,0,0,1,2.14.79,1.81,1.81,0,0,1,.21.18l.18.2a3.27,3.27,0,0,1,.79,2.15Z" /><path class="cls-1" d="M10.38,3.6a1.13,1.13,0,0,0-.86-.86H6.75a2.14,2.14,0,0,0-1.29.77c-1,1-2,2-3,3A1.54,1.54,0,0,0,2,7.18v.36a1.59,1.59,0,0,0,.48.73L4.86,10.6a1.46,1.46,0,0,0,.8.49H5.9a1.47,1.47,0,0,0,.77-.47c1.07-1.08,2-2,2.89-2.89a2.25,2.25,0,0,0,.83-1.4V3.6ZM9.65,6.07A1.13,1.13,0,0,1,9.29,7C8.51,7.73,7.74,8.49,7,9.26l-.91.91a.48.48,0,0,1-.31.18h0a.45.45,0,0,1-.3-.18L3,7.66a.45.45,0,0,1-.18-.3.47.47,0,0,1,.17-.3l1-1c.76-.77,1.53-1.53,2.3-2.3A.94.94,0,0,1,7,3.47H9.27c.27,0,.38.12.38.38V6.07Z" /><path class="cls-1" d="M8.75,5.51A1.09,1.09,0,0,1,7.63,6.62,1.1,1.1,0,0,1,6.52,5.5,1.13,1.13,0,0,1,7.63,4.39,1.11,1.11,0,0,1,8.75,5.51Zm-.49,0a.63.63,0,0,0-.63-.62.63.63,0,1,0,.63.62Z" /></g></g>
                        </svg>
                        Promotions (0)

                    </a>
                </li>*@

            @* <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">

                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.78 11.1">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #232323;
                                    }
                                </style>
                            </defs>
                            <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" width="12.78" height="1.11" /><rect class="cls-1" y="4.99" width="9.47" height="1.11" /><rect class="cls-1" y="9.99" width="6.17" height="1.11" /></g></g>
                        </svg>
                    </a>
                </li> *@
            <li class="indicator"></li>

        </ul>


        <div class="tab-content">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel">

                @foreach (var item in Model.postMaster.OrderByDescending(x => x.CreatedOn).Take(10))
                {
                    <article class="card notification--card">
                        <div class="card__top">
                            <a class="card__img">
                                <img src="@item.CreatorImg" alt="">
                            </a>

                            <div class="card__top__body">
                                @* <h2 class="card__title"><a href="#">@item.Fullname</a>@item.Fullname</a></h2> *@
                                <div class="card__body">
                                    <div class="user__text">
                                        @switch (item.nType)
                                        {
                                            case FanBucketEntity.Model.ENUM.NotificationType.Commented:
                                                <p>
                                                    <a href="/@item.Username"> <b> @item.Fullname </b> </a> commented on your <a href="/Post/SinglePost?PostId=@item.PostId&NotifyId=@item.Id" class="hash nm-link">post</a>.
                                                </p>
                                                break;
                                            case FanBucketEntity.Model.ENUM.NotificationType.Paid:
                                                <p>
                                                    <a href="/@item.Username"> <b> @item.Fullname </b> </a> paid for your
                                                    <a href="/Post/SinglePost?PostId=@item.PostId&NotifyId=@item.Id" class="hash nm-link">post</a>.
                                                </p>
                                                break;
                                            case FanBucketEntity.Model.ENUM.NotificationType.Subscribed:
                                                <p>
                                                    <a href="/@item.Username"> <b> @item.Fullname </b> </a> subcribed on your <a href="/@item.Username" class="hash nm-link">account</a>.
                                                </p>
                                                break;
                                            case FanBucketEntity.Model.ENUM.NotificationType.Following:
                                                <p>
                                                    <a href="/@item.Username?NotifyId=@item.Id" class="hash nm-link"> @item.Fullname</a> started following you..
                                                </p>
                                                break;
                                            case FanBucketEntity.Model.ENUM.NotificationType.Liked:
                                                <p>
                                                    <a href="/@item.Username"> <b> @item.Fullname </b> </a> reacted on your <a href="/Post/SinglePost?PostId=@item.PostId&NotifyId=@item.Id" class="hash nm-link">post</a>.
                                                </p>
                                                break;
                                            case FanBucketEntity.Model.ENUM.NotificationType.Mentioned:
                                                <p>
                                                    <a href="/@item.Username"> <b> @item.Fullname </b> </a> mentioned you on a <a href="/Post/SinglePost?PostId=@item.PostId&NotifyId=@item.Id" class="hash nm-link">post</a>.
                                                </p>
                                                break;
                                            case FanBucketEntity.Model.ENUM.NotificationType.Tips:
                                                <p>
                                                    <a href="/@item.Username"> <b> @item.Fullname </b> </a> Tipped you <a href="/User/PaymentHistory?NotifyId=@item.Id" class="hash nm-link">Check here</a>.
                                                </p>
                                                break;
                                            case FanBucketEntity.Model.ENUM.NotificationType.Auto: break;
                                            case FanBucketEntity.Model.ENUM.NotificationType.Promotions: break;
                                        }
                                        @if (item.Viewed)
                                        {
                                            <time> @item.DateString</time>
                                        }
                                        else
                                        {
                                            <time><i class="bi bi-circle-fill"></i> @item.DateString</time>
                                        }

                                    </div>

                                </div>

                            </div>
                            <div class="card__top__link dropdown">
                                <a class="dropdown-toggle" type="button" data-toggle="dropdown" href="#!" data-target="postone__dropdown" data-disabled="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                                        <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                                            <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z"></path>
                                            <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z"></path>
                                            <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z"></path>
                                        </g>
                                    </svg>
                                </a>
                                <ul class="dropdown-menu" id="postone__dropdown" style="">
                                    <li class="nav-item">
                                        <button class="nav-link dropdown-item btnMarkRead" data-id="@item.Id" href="#">
                                            Mark As Read
                                        </button>
                                    </li>
                                    @*<li class="nav-item">
                                            <button class="nav-link dropdown-item btnHide" href="#" data-toggle="modal" data-target="#edit--modal">
                                                Hide Notification
                                            </button>
                                        </li>*@
                                    <li class="nav-item">
                                        <button class="nav-link dropdown-item btnDeletePost" data-id="@item.Id" href="#">
                                            Delete
                                        </button>
                                    </li>

                                </ul>
                            </div>

                            @*<div class="card__top__link dropdown">
                                <a class="dropdown-toggle" type="button" data-toggle="dropdown" href="#!" data-target="postone__dropdown" data-disabled="true"  aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                                        <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                                            <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z" />
                                            <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z" />
                                            <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z" />
                                        </g>
                                    </svg>
                                </a>

                                    <div class="dropdown-menu" id="postone__dropdown">

                                        <li class="nav-item">
                                            <button class="nav-link dropdown-item btnHide" href="#" data-toggle="modal" data-target="#edit--modal">
                                                Hide Notification
                                            </button>
                                        </li>
                                        <li class="nav-item">
                                            <button class="nav-link dropdown-item btnMarkRead" data-id="@item.Id" href="#">
                                                Mark As Read.
                                            </button>
                                        </li>



                                    </div>
                                </div>*@
                        </div>
                    </article>
                }



            </div>
             <div class="tab-pane fade" id="HiddenPost" role="tabpanel">




            </div>
        </div>
    </section>


</div>
@section scripts{
    <script src="~/js/Notitifications.js"></script>


}