﻿@page
@model FanBucketUI.Pages.User.PaymentHistoryModel
@{
    ViewData["Title"] = "Payment History";
    Layout = "../Shared/_LayoutUser.cshtml";
}
@inject FanBucketUI.API_Context.SessionHelper uservice
@{


    var CoverImg = uservice.GetCoverImg(User);


}
<style>
    table thead {
        background-image: linear-gradient( 135deg,#fe4545,#d70153);
        color: #fff;
        transition: 0.3s ease-out;
    }

    table tbody {
        background-color: #fff;
    }
</style>
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJJ5GBN');</script>
    <!-- End Google Tag Manager -->
</head>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJJ5GBN"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="notification--main">
    @*<section class="profile__card profile__card__wallpaper">
        <div class="card__wallpaper">
        <img src="@CoverImg" alt="">
        </div>
        </section>*@


    <div class="title__wrapper">
        <h2 class="section__title">Payment History</h2>
        @* <a href="#" class="title__link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19.92 17.46"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M19.77,8.26C18.4,5.91,17,3.43,15.27.46A.81.81,0,0,0,14.48,0h-9a.88.88,0,0,0-.85.5C3.16,3.06,1.65,5.67.15,8.26a.8.8,0,0,0,0,.92c1.5,2.58,3,5.21,4.5,7.81a.83.83,0,0,0,.83.47H14.4a.92.92,0,0,0,.91-.51c1.31-2.32,2.78-4.84,4.45-7.72A.84.84,0,0,0,19.77,8.26Zm-1.3.86c-1.33,2.27-2.65,4.56-3.93,6.79a.7.7,0,0,1-.69.38H6.07a.72.72,0,0,1-.7-.4c-.57-1-1.16-2-1.73-3-.73-1.27-1.47-2.54-2.19-3.81a.83.83,0,0,1,0-.72C2.2,7.07,2.94,5.77,3.69,4.49c.56-1,1.12-1.94,1.67-2.9a.74.74,0,0,1,.71-.42c2.41,0,4.95,0,7.77,0a.73.73,0,0,1,.71.4l3.9,6.77A.69.69,0,0,1,18.47,9.12Z" /><path class="cls-1" d="M10,4.26h0a4.48,4.48,0,0,0-3.17,7.63A4.4,4.4,0,0,0,9.9,13.2h0a4.52,4.52,0,0,0,3.2-1.3,4.4,4.4,0,0,0,1.31-3.15A4.48,4.48,0,0,0,10,4.26Zm2,6.54a3,3,0,0,1-2.09.85h0A2.92,2.92,0,0,1,7,8.71,2.86,2.86,0,0,1,7.9,6.66a2.82,2.82,0,0,1,2-.85h0a2.9,2.9,0,0,1,2.94,2.93A2.94,2.94,0,0,1,12,10.8Z" /></g></g></svg>
            </a> *@
    </div>

    @{
        var loadHistory = Model.postMaster.Where(x => x.PaymentType == "LOAD").OrderByDescending(x => x.TranDate).ToList();


        //User Spent D
        var allSpendingHistory = Model.postMaster.Where(x => x.PaymentType == "LOAD" || x.DebitCredit == "D").OrderByDescending(x => x.TranDate).ToList();
        var subscriptionSpendingHistory = Model.postMaster.Where(x => x.PaymentType == "SUBSCRIPTION" && x.DebitCredit == "D").OrderByDescending(x => x.TranDate).ToList();
        var postSpendingHistory = Model.postMaster.Where(x => x.PaymentType == "POST" && x.DebitCredit == "D").OrderByDescending(x => x.TranDate).ToList();
        var tipsSpendingHistory = Model.postMaster.Where(x => x.PaymentType == "TIPS" && x.DebitCredit == "D").OrderByDescending(x => x.TranDate).ToList();

        //User Earned C
        var allEarningHistory = Model.postMaster.Where(x => x.PaymentType != "LOAD" && x.DebitCredit == "C").OrderByDescending(x => x.TranDate).ToList();

        var subscriptionEarningHistory = Model.postMaster.Where(x => x.PaymentType == "SUBSCRIPTION" && x.DebitCredit == "C").OrderByDescending(x => x.TranDate).ToList();
        var postEarningHistory = Model.postMaster.Where(x => x.PaymentType == "POST" && x.DebitCredit == "C").OrderByDescending(x => x.TranDate).ToList();
        var tipsEarningHistory = Model.postMaster.Where(x => x.PaymentType == "TIPS" && x.DebitCredit == "C").OrderByDescending(x => x.TranDate).ToList();
    }
    <section class="feed">



        @*All Transactions || Tips || Subscriptions || Content Unlocks || Top Ups*@


        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="active nav-link" data-toggle="tab" href="#Spending" role="tab">
                    Spending Wallet

                </a>
            </li>
            <li class="nav-item">

                <a class="nav-link" data-toggle="tab" href="#Earning" role="tab">
                    Content Creator Earnings
                </a>
            </li>

            <li class="indicator"></li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="Spending" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="active nav-link" data-toggle="tab" href="#All" role="tab">
                            All Transactions
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" data-toggle="tab" href="#Tips" role="tab">
                            Tips
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" data-toggle="tab" href="#Subscriptions" role="tab">
                            Subscriptions
                        </a>
                    </li>

                    <li class="nav-item">

                        <a class="nav-link" data-toggle="tab" href="#Content" role="tab">
                            Content Unlocks
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" data-toggle="tab" href="#TopUp" role="tab">
                            Top Ups
                        </a>
                    </li>
                    <li class="indicator"></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="All" role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Actual Amount ($)</th>
                                    <th>Amount ($)</th>
                                    <th>User Involved</th>
                                    <th>Payment Type</th>
                                    @*<th>Wallet Balance</th>*@
                                </tr>
                            </thead>
                            @foreach (var item in allSpendingHistory)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.TranDate.ToString("dd-MMM-yyyy")</td>
                                        <td>@item.Action</td>
                                        <td>@item.ActualAmount.ToString("0.00") </td>
                                        <td>@item.Amount.ToString("0.00") </td>
                                        <td>@item.PaidFor</td>
                                        <td>@item.PaymentType</td>
                                        @*<td>@item.PaymentType</td>*@
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                    <div class="tab-pane fade" id="Tips" role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Actual Amount ($)</th>

                                    <th>Amount ($)</th>
                                    <th>User Involved</th>
                                    <th>Payment Type</th>
                                    @*<th>Wallet Balance</th>*@
                                </tr>
                            </thead>
                            @foreach (var item in tipsSpendingHistory)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.TranDate.ToString("dd-MMM-yyyy")</td>
                                        <td>@item.Action</td>
                                        <td>@item.ActualAmount.ToString("0.00") </td>

                                        <td>@item.Amount.ToString("0.00") </td>
                                        <td>@item.PaidFor</td>
                                        <td>@item.PaymentType</td>
                                        @*<td>@item.PaymentType</td>*@
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                    <div class="tab-pane fade" id="Subscriptions" role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Actual Amount ($)</th>
                                    <th>Amount ($)</th>
                                    <th>User Involved</th>
                                    <th>Payment Type</th>
                                    @*<th>Wallet Balance</th>*@
                                </tr>
                            </thead>
                            @foreach (var item in subscriptionSpendingHistory)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.TranDate.ToString("dd-MMM-yyyy")</td>
                                        <td>@item.Action</td>
                                        <td>@item.ActualAmount.ToString("0.00") </td>
                                        <td>@item.Amount.ToString("0.00") </td>
                                        <td>@item.PaidFor</td>
                                        <td>@item.PaymentType</td>
                                        @*<td>@item.PaymentType</td>*@
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                    <div class="tab-pane fade" id="Content" role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Actual Amount ($)</th>
                                    <th>Amount ($)</th>
                                    <th>User Involved</th>
                                    <th>Payment Type</th>
                                    <th>Link</th>
                                    @*<th>Wallet Balance</th>*@
                                </tr>
                            </thead>
                            @foreach (var item in postSpendingHistory)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.TranDate.ToString("dd-MMM-yyyy")</td>
                                        <td>@item.Action</td>
                                        <td>@item.ActualAmount.ToString("0.00") </td>
                                        <td>@item.Amount.ToString("0.00") </td>
                                        <td>@item.PaidFor</td>
                                        <td>@item.PaymentType</td>
                                        <td>
                                            @if (item.EntityId!=Guid.Empty)
                                            {
                                                <a href="/Post/SinglePost?PostId=@(item.EntityId)">View Post</a>
                                            }
                                        </td>                                        @*<td>@item.PaymentType</td>*@
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                    <div class="tab-pane fade" id="TopUp" role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Actual Amount ($)</th>
                                    <th>Amount ($)</th>
                                    <th>User Involved</th>
                                    <th>Payment Type</th>
                                    @*<th>Wallet Balance</th>*@
                                </tr>
                            </thead>
                            @foreach (var item in loadHistory)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.TranDate.ToString("dd-MMM-yyyy")</td>
                                        <td>@item.Action</td>
                                        <td>@item.ActualAmount.ToString("0.00") </td>
                                        <td>@item.Amount.ToString("0.00") </td>
                                        <td>@item.PaidFor</td>
                                        <td>@item.PaymentType</td>
                                        @*<td>@item.PaymentType</td>*@
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>


                </div>
            </div>


            <div class="tab-pane fade" id="Earning" role="tabpanel">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="active nav-link" data-toggle="tab" href="#AllEarning" role="tab">
                            All Transactions
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" data-toggle="tab" href="#TipsEarning" role="tab">
                            Tips
                        </a>
                    </li>
                    <li class="nav-item">

                        <a class="nav-link" data-toggle="tab" href="#SubscriptionsEarning" role="tab">
                            Subscriptions
                        </a>
                    </li>

                    <li class="nav-item">

                        <a class="nav-link" data-toggle="tab" href="#ContentEarning" role="tab">
                            Content Unlocks
                        </a>
                    </li>

                    <li class="indicator"></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="AllEarning" role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Actual Amount ($)</th>
                                    <th>Fee Amount ($)</th>
                                    <th>Amount ($)</th>
                                    <th>User Involved</th>
                                    <th>Payment Type</th>
                                    @*<th>Wallet Balance</th>*@
                                </tr>
                            </thead>
                            @foreach (var item in allEarningHistory)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.TranDate</td>
                                        <td>@item.Action</td>
                                        <td>@item.ActualAmount.ToString("0.00") </td>
                                        <td>@item.FeeOrCommision.ToString("0.00") </td>
                                        <td>@item.Amount.ToString("0.00") </td>
                                        <td>@item.PaidFor</td>
                                        <td>@item.PaymentType</td>

                                        @*<td>@item.PaymentType</td>*@
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                    <div class="tab-pane fade" id="TipsEarning" role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Actual Amount ($)</th>
                                    <th>Fee Amount ($)</th>
                                    <th>Amount ($)</th>
                                    <th>User Involved</th>
                                    <th>Payment Type</th>
                                    @*<th>Wallet Balance</th>*@
                                </tr>
                            </thead>
                            @foreach (var item in tipsEarningHistory)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.TranDate.ToString("dd-MMM-yyyy")</td>
                                        <td>@item.Action</td>
                                        <td>@item.ActualAmount.ToString("0.00") </td>
                                        <td>@item.FeeOrCommision.ToString("0.00") </td>
                                        <td>@item.Amount.ToString("0.00") </td>
                                        <td>@item.PaidFor</td>
                                        <td>@item.PaymentType</td>
                                        @*<td>@item.PaymentType</td>*@
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                    <div class="tab-pane fade" id="SubscriptionsEarning" role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Actual Amount ($)</th>
                                    <th>Fee Amount ($)</th>
                                    <th>Amount ($)</th>
                                    <th>User Involved</th>
                                    <th>Payment Type</th>
                                    @*<th>Wallet Balance</th>*@
                                </tr>
                            </thead>
                            @foreach (var item in subscriptionEarningHistory)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.TranDate.ToString("dd-MMM-yyyy")</td>
                                        <td>@item.Action</td>
                                        <td>@item.ActualAmount.ToString("0.00") </td>
                                        <td>@item.FeeOrCommision.ToString("0.00") </td>
                                        <td>@item.Amount.ToString("0.00") </td>
                                        <td>@item.PaidFor</td>
                                        <td>@item.PaymentType</td>
                                        @*<td>@item.PaymentType</td>*@
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>
                    <div class="tab-pane fade" id="ContentEarning" role="tabpanel">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Action</th>
                                    <th>Actual Amount ($)</th>
                                    <th>Fee Amount ($)</th>
                                    <th>Amount ($)</th>
                                    <th>User Involved</th>
                                    <th>Payment Type</th>
                                    <th>Link</th>

                                    @*<th>Wallet Balance</th>*@
                                </tr>
                            </thead>
                            @foreach (var item in postEarningHistory)
                            {
                                <tbody>
                                    <tr>
                                        <td>@item.TranDate.ToString("dd-MMM-yyyy")</td>
                                        <td>@item.Action</td>
                                        <td>@item.ActualAmount.ToString("0.00") </td>
                                        <td>@item.FeeOrCommision.ToString("0.00") </td>
                                        <td>@item.Amount.ToString("0.00") </td>
                                        <td>@item.PaidFor</td>
                                        <td>@item.PaymentType</td>
                                        <td>
                                            @if (item.EntityId!=Guid.Empty)
                                            {
                                                <a href="/Post/SinglePost?PostId=@(item.EntityId)">View Post</a>
                                            }
                                        </td>
                                        @*<td>@item.PaymentType</td>*@
                                    </tr>
                                </tbody>
                            }
                        </table>

                    </div>



                </div>
            </div>


        </div>
    </section>

</div>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {

        let marker = document.querySelector('.indicator');
        //let marker = $(this).ind;
        let item = document.querySelectorAll('.nav.nav-tabs .nav-link');
        let itemActive = document.querySelector('.nav.nav-tabs .nav-link.active');

        function indicator(e) {
            marker.style.left = e.offsetLeft + "px";
            marker.style.width = e.offsetWidth + "px";
        }
        indicator(itemActive);
        item.forEach(link => {
            link.addEventListener('click', (e) => {
                console.log($(this));
                console.log($(this).closest("ul").find(".indicator"));
                console.log($(this).closest(".nav.nav-tabs").find(".indicator"));
                //    indicator(e.target);
                $(e.target).closest(".nav.nav-tabs").find(".indicator").css({ left: e.target.offsetLeft + "px", width: e.target.offsetWidth + "px" });
            })
        })
    });
</script>