﻿@page
@model FanBucketUI.Pages.Post.PostImagesModel
@{
    Layout = null;
}
@*@inject FanBucketUI.API_Context.SessionHelper uservice
    @{
    var Username = uservice.GetUsername(User);
    var userFullname = uservice.GetName(User);
    var userImg = uservice.GetProfileImg(User);
    var userId = Guid.Parse(uservice.GetId(User));
    }*@
<partial name="_ImageGrid" for="userMedias" />
<script>
      // A $( document ).ready() block.
    $( document ).ready(function() {
        debugger;
    Fancybox.destroy("[data-fancybox]");
                            Fancybox.bind("[data-fancybox]", {
                                // Your options go here
                            });
    });

</script>