﻿@page
@model FanBucketUI.Pages.User.ResetPasswordModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>fanbucket</title>
    <link rel="icon" href="~/Content/gallery/logo.png" />
    <!-- bootstrap icon -->
    <link rel="stylesheet" href="~/Content/node_modules/bootstrap-icons/font/bootstrap-icons.css">

    <!-- fancybox -->
    <!-- <link rel="stylesheet" href="~/Content/css/fancybox/fancybox.min.css"> -->
    <!-- moments -->
    <!-- demo styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/demo/style.css">
    <!-- lib styles -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/zuck.min.css">

    <!-- lib skins -->
    <link rel="stylesheet" href="~/Content/node_modules/zuck.js/dist/skins/snapgram.css">


    <link rel="stylesheet" href="~/Content/node_modules/datetime/css/tail.datetime-harx-light.css">



    <!-- slick -->
    <link rel="stylesheet" href="~/Content/css/slick/slick-theme.css">
    <link rel="stylesheet" href="~/Content/css/slick/slick.css">

    <!-- animate -->
    <link rel="stylesheet"
          href="~/Content/node_modules/animate.css/animate.min.css" />

    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/Content/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/animate.css">
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/otherstyle.css">
    <link rel="stylesheet" href="~/Content/css/extra-pages.css">
</head>

<main class="main login-pages inner-page no-navs landing--page">
    <aside class="illustration">
        <img src="~/Content/gallery/login/loginbg01.jpg" alt="">

        <div class="animation--part">
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/ali-yahya-43cZUXtT3yc-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/ali-yahya-kK47cG2EyMk-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/allef-vinicius-QHvtBAYVcfw-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/allef-vinicius-xxTHuC_wdn0-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/charles-etoroma-NPF8rG7pmAw-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/hanny-naibaho-Wx_ThCrudko-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="person--circular--wrapper">
                <div class="person--circular">
                    <div class="circle--lg"></div>
                    <div class="circle--sm"></div>

                    <div class="pp--image">
                        <img src="~/Content/gallery/josh-parsons-qBA9e_Sv-jY-unsplash-min.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="logo">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 134.78 134.78">
                    <defs>
                        <style>
                            .cls-1, .cls-4 {
                                fill: #fcedf2;
                            }

                            .cls-3 {
                                clip-path: url(#clip-path);
                            }
                        </style>
                        <clipPath id="clip-path" transform="translate(35.42 31.59)"><path class="cls-1" d="M62.33,43,58,23.62c-2.93,10.28-9.57,17.22-19.33,21s-19.42,3.08-28.43-2.89c0,.31,0,.42,0,.49,4.33,7.53,8.68,15,13,22.6a10.46,10.46,0,0,0,6.16,4.94,22.73,22.73,0,0,0,11.66.54c8.3-1.63,15.59-5.08,20.69-12.16a10.42,10.42,0,0,0,2-8.76c-.5-2.11-1-4.22-1.44-6.33m-18-37.3a30,30,0,0,0-4.13-.19A28,28,0,0,0,34,6.46a65.67,65.67,0,0,0-9.48,3s-11.13,3.94-15.42,9.9a4.67,4.67,0,0,0-.89,1.71c-.1.47.51.79,1,.52l.56-.28a3.77,3.77,0,0,0,1.59-1.45,4.64,4.64,0,0,1,.59-.79c5-5.37,13.23-7.91,13.66-8.09a58.22,58.22,0,0,1,13-3.42,19.66,19.66,0,0,1,3.43-.15,6.41,6.41,0,0,1,1.07.15,4.45,4.45,0,0,0,2.29-.08l.61-.16c.57-.15.72-.76.25-1a5.38,5.38,0,0,0-2-.58M14.79,25.17c-.76.07-1.52.1-2.29.12a29.55,29.55,0,0,1-5.32-.24c-3.5-.54-4.36-3.11-2.24-5.94A21.86,21.86,0,0,1,8.08,15.8,52.75,52.75,0,0,1,22.34,7.6,61.25,61.25,0,0,1,37,3.2l.88-.1L40.21,3a42.69,42.69,0,0,1,6.09.07c3.51.37,4.62,2.9,2.56,5.77A21.17,21.17,0,0,1,44,13.65a88.64,88.64,0,0,1-8.7,5.18c-4.29,2.36-13,4.93-15,5.34a39.66,39.66,0,0,1-5.5,1M49.86.82A21.82,21.82,0,0,0,43,0a39.5,39.5,0,0,0-4.48.44L37.8.55a46.68,46.68,0,0,0-6.53,1.34l-1.11.32A74.47,74.47,0,0,0,11.4,10.29c-3.93,2.45-7.69,5.14-10.26,9.12a5.49,5.49,0,0,0-.3,6.25,74.89,74.89,0,0,0,4.42,7c4.34,5.65,9.88,9.57,17,10.75,5.86.93,11.45-.31,16.81-2.69C45.93,37.62,51.18,33,53.78,25.78c2.49-6.87,2-13.79.15-20.73a5.56,5.56,0,0,0-4-4.23" /></clipPath>
                    </defs>
                    <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><path class="cls-1" d="M62.33,43,58,23.62c-2.93,10.28-9.57,17.22-19.33,21s-19.42,3.08-28.43-2.89c0,.31,0,.42,0,.49,4.33,7.53,8.68,15,13,22.6a10.46,10.46,0,0,0,6.16,4.94,22.73,22.73,0,0,0,11.66.54c8.3-1.63,15.59-5.08,20.69-12.16a10.42,10.42,0,0,0,2-8.76c-.5-2.11-1-4.22-1.44-6.33m-18-37.3a30,30,0,0,0-4.13-.19A28,28,0,0,0,34,6.46a65.67,65.67,0,0,0-9.48,3s-11.13,3.94-15.42,9.9a4.67,4.67,0,0,0-.89,1.71c-.1.47.51.79,1,.52l.56-.28a3.77,3.77,0,0,0,1.59-1.45,4.64,4.64,0,0,1,.59-.79c5-5.37,13.23-7.91,13.66-8.09a58.22,58.22,0,0,1,13-3.42,19.66,19.66,0,0,1,3.43-.15,6.41,6.41,0,0,1,1.07.15,4.45,4.45,0,0,0,2.29-.08l.61-.16c.57-.15.72-.76.25-1a5.38,5.38,0,0,0-2-.58M14.79,25.17c-.76.07-1.52.1-2.29.12a29.55,29.55,0,0,1-5.32-.24c-3.5-.54-4.36-3.11-2.24-5.94A21.86,21.86,0,0,1,8.08,15.8,52.75,52.75,0,0,1,22.34,7.6,61.25,61.25,0,0,1,37,3.2l.88-.1L40.21,3a42.69,42.69,0,0,1,6.09.07c3.51.37,4.62,2.9,2.56,5.77A21.17,21.17,0,0,1,44,13.65a88.64,88.64,0,0,1-8.7,5.18c-4.29,2.36-13,4.93-15,5.34a39.66,39.66,0,0,1-5.5,1M49.86.82A21.82,21.82,0,0,0,43,0a39.5,39.5,0,0,0-4.48.44L37.8.55a46.68,46.68,0,0,0-6.53,1.34l-1.11.32A74.47,74.47,0,0,0,11.4,10.29c-3.93,2.45-7.69,5.14-10.26,9.12a5.49,5.49,0,0,0-.3,6.25,74.89,74.89,0,0,0,4.42,7c4.34,5.65,9.88,9.57,17,10.75,5.86.93,11.45-.31,16.81-2.69C45.93,37.62,51.18,33,53.78,25.78c2.49-6.87,2-13.79.15-20.73a5.56,5.56,0,0,0-4-4.23" transform="translate(35.42 31.59)" /></g></g></g>
                </svg>
            </div>
        </div>
    </aside>

    <aside class="login-pages__main main--padding">

        <article class="signup--wrapper">


            <div class="logo--top">
                <img src="~/Content/gallery/logo--hr.png" alt="">
                <h2 class="section__title section__title--lg">Change your password.</h2>
            </div>


            <form class="step1" autocomplete="on">
                <input type="hidden" asp-for="resetToken.Token" />
                <input asp-for="resetToken.Email" type="hidden" />
                <div class="form-group card__margin">
                    <input type="password" class="form-control w-100" placeholder="Password" required="" asp-for="resetToken.Password">
                    <div class="text-danger" id="passs_error">
                    </div>
                </div>
                <div class="form-group card__margin">
                    <input type="password" class="form-control w-100" placeholder="ConfirmPassword" required="" asp-for="resetToken.ConfirmPassword">
                </div>



                <div class="signup--bottom">
                    <button class="common">Change Password</button>
                    <a href="/login" class="common">Go Back to Login</a>
                </div>

            </form>


        </article>
    </aside>


    @*<div class="modal fade" id="modal--thankyou" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="firework">
        <div class="before"></div>
        <div class="after"></div>
        </div>
        <div class="modal-header title__wrapper">
        <h2 class="section__title">Thank You for Subscribing to us .</h2>
        </div>
        <div class="modal-body">
        <p class="para"> </p>
        <div class="card__link">
        <button id="ok_btn">
        Ok
        </button>
        </div>
        </div>
        </div>
        </div>
        </div>*@
    <div class="modal fade " id="ott--modal" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header title__wrapper">
                    <h2 class="section__title">Success</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.73 13.73"><<g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="13.73 0.78 12.95 0 6.87 6.08 0.78 0 0 0.78 6.08 6.87 0 12.95 0.78 13.73 6.87 7.65 12.95 13.73 13.73 12.95 7.65 6.87 13.73 0.78" /></g></g></svg>
                    </button>
                </div>
                <div class="modal-body overflow--hidden">


                    <div class="sucess--part active " style="position:relative;">
                        <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all d-none" viewBox="0 0 16 16">
                            <path d="M8.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14l.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z" />
                        </svg>
                        <i class="bi bi-x-circle d-none"></i>
                        <h2 class="card__title"></h2>
                        <button class="close-btn" type="button" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<div class="modal fade" id="common--modal--notication" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="firework">
        <div class="before"></div>
        <div class="after"></div>
        </div>
        <div class="modal-header title__wrapper">
        <h2 class="section__title"></h2>
        </div>
        <div class="modal-body">
        <p class="para"> </p>
        <div class="card__link">
        <button data-dismiss="modal">
        Back
        </button>
        </div>
        </div>
        </div>
        </div>
        </div>*@
</main>


<script type="text/javascript" src="~/Content/js/jquery.js"></script>
<!-- bootstrap -->
<script type="text/javascript" src="~/Content/css/bootstrap/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="~/Content/css/bootstrap/js/bootstrap.min.js"></script>
@{
    await Html.RenderPartialAsync("Config");
}
<script type="text/javascript" src="~/Content/js/commonjs.js" asp-append-version="true"></script>

@*<script type="text/javascript" src="~/js/CommonSite.js"></script>*@


<script>
    $(document).ready(function () {

        if (!window.app) {
            window.app = {};
        }
        debugger;

        var CheckPassword = function (password, confirmPassword) {
            //var password = $('#signup_password').val();
            var valid = IsValidatePassword(password, confirmPassword, "#pass_error");
            if (valid === false) {
                return false;
            }
            return true;
        };

        $('form.step1').submit(function (e) {
            e.preventDefault();
            debugger;
            var evt = $(this);

            var model = {
                Token: '',
                Email: '',
                Password: '',
                ConfirmPassword: ''
            }
            //if (model.Password !== model.ConfirmPassword) {
            //    alert("Password and Confirm Password doesnot  match");
            //    ; return false;
            //}
            evt.find('button').append(`<img src="~/Content/gallery/rings.svg" alt="" >`);
            evt.find('button').attr('disabled', true);
            model.Token = evt.find('[name="resetToken.Token"]').val();
            model.Email = evt.find('[name="resetToken.Email"]').val();
            model.Password = evt.find('[name="resetToken.Password"]').val();
            model.ConfirmPassword = evt.find('[name="resetToken.ConfirmPassword"]').val();
            var valid = CheckPassword(model.Password, model.ConfirmPassword);
            if (!valid) {
                return false;
            }

            var url = apiURL + '/Authentication/ResetPassword';
            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(model)
            }).done(function (result) {
                debugger;
                if (result.success) {
                    $('#ott--modal .section__title').text("Success");
                      $('#ott--modal .sucess--part').find("svg").removeClass("d-none");
                    $('#ott--modal .sucess--part').find("i").addClass("d-none");
                    $('#ott--modal .card__title').text("Your password has been changed succesfully.");
                }
                else {
                    $('#ott--modal .section__title').text("Error");
                    $('#ott--modal .sucess--part').find("svg").addClass("d-none");
                    $('#ott--modal .sucess--part').find("i").removeClass("d-none");

                    $('#ott--modal .card__title').text(result.returnMsg);
                }
                $('#ott--modal').modal('show');
                evt.trigger("reset");
                evt.find('button').find('img').remove();



            }).fail(function (error) {
                alert('Error while validating request');
                evt.find('img').remove();
            });
            evt.find('button').removeAttr('disabled');



        });
        $("#ok_btn").on('click', function () {
            window.location.replace(window.location.origin + "/login");

        });

        //$(document).keyup(function (event) {

        //    if (isCapslockOn()) {

        //        LetterCount++;

        //        if (LetterCount == 7) {
        //            LoginName.push(event.key);
        //            var wordJ = LoginName.join("");
        //            if (wordJ == 'LOGMEIN') {
        //                var url = '/Login';
        //                location.href = url;
        //                LoginName = [];
        //                LetterCount = 0;
        //            }
        //            else {
        //                LoginName = [];
        //                LetterCount = 0;
        //            }

        //        }
        //        else {
        //            LoginName.push(event.key);

        //        }
        //    }


        //});
        //function isCapslockOn(e) {

        //    e = (e) ? e : window.event;

        //    var charCode = false;
        //    if (e.which) {
        //        charCode = e.which;
        //    } else if (e.keyCode) {
        //        charCode = e.keyCode;
        //    }

        //    var shifton = false;
        //    if (e.shiftKey) {
        //        shifton = e.shiftKey;
        //    } else if (e.modifiers) {
        //        shifton = !!(e.modifiers & 4);
        //    }

        //    if (charCode >= 97 && charCode <= 122 && shifton) {
        //        return true;
        //    }

        //    if (charCode >= 65 && charCode <= 90 && !shifton) {
        //        return true;
        //    }

        //    return false;

        //}

    });


</script>
