﻿@page
@model FanBucketUI.Pages.User.UserAnalyticsModel
@{
    Layout = "../Shared/_LayoutUserStat.cshtml";
}
<head>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJJ5GBN');</script>
    <!-- End Google Tag Manager -->
</head>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJJ5GBN"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<aside class="right--aside profile--right--aside messenger--aside insights--aside">
    <div class="right--aside__wrapper chat--wrapper">
        <section class="chat--wrapper--top">
            <div class="title__wrapper search-wrapper--main">
                <h2 class="section__title">fanbucket Insights</h2>

                <div class="title__link ml-auto">
                    <select class="form-control">
                        <option selected="">Last 7 Days</option>
                        <option value="1">Today</option>
                        <option value="2">This Month</option>
                    </select>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path>
                    </svg>
                </div>
            </div>
        </section>
        <section class="chat--wrapper__body">
            <div class="row">

                <div class="col-md-6">
                    <article class="card chart--card card__margin">
                        <div class="card__top title--wrapper">
                            <h2 class="section__title">New Contributors</h2>

                            <div class="card__top__link">
                                <button href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card__body">
                            <div class="card__body__left">
                                <h2 class="section__title__lg text--sucess mb-0">@Model.usrInt.NewUser</h2>
                                @* <p class="para">Total Earnings<span class="text--danger"><i class="bi bi-arrow-down"></i> 13.3%</span> vs prev 2 days </p>*@

                                <div id="en--contacta--svg" class="chart__wrapper">
                                    <div class=" loading">
                                        <div class="d-flex form-upolading loader__wrapper">
                                            <div class="loader">
                                                <div class="box">
                                                    <img src="~/Content/gallery/logoWhite.png" alt="fanbucket">
                                                </div>
                                                <div class="shadow"></div>
                                            </div>
                                            <h2 class="section__title">Loading ...</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="card chart--card card__margin">
                        <div class="card__top title--wrapper">
                            <h2 class="section__title">Total Subscribers</h2>

                            <div class="card__top__link">
                                <button href="#">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card__body">
                            <div class="card__body__left">
                                <h2 class="section__title__lg text--blue mb-0">@Model.usrInt.TotalSubscribers</h2>
                                @*<p class="para"> <span class="text--sucess"><i class="bi bi-arrow-up"></i> 20.3%</span> vs prev 2 days </p>*@



                                <div id="en--profile--view--svg" class="chart__wrapper">
                                    <div class=" loading">
                                        <div class="d-flex form-upolading loader__wrapper">
                                            <div class="loader">
                                                <div class="box">
                                                    <img src="~/Content/gallery/logoWhite.png" alt="fanbucket">
                                                </div>
                                                <div class="shadow"></div>
                                            </div>
                                            <h2 class="section__title">Loading ...</h2>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="card chart--card card__margin">
                        <div class="card__top title--wrapper">
                            <h2 class="section__title">User Red Flags</h2>

                            <div class="card__top__link">
                                <button href="#">
                                    Breakdown
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card__body">
                            <div class="card__body__left">
                                <h2 class="section__title__lg text--sucess mb-0">@Model.usrInt.TotalReported</h2>
                                @*<p class="para">New Subcribers <span class="text--sucess"><i class="bi bi-arrow-up"></i> 200.4%</span> vs prev 2 days </p>*@
                                <div id="subcribe--svg" class="chart__wrapper">
                                    <div class=" loading">
                                        <div class="d-flex form-upolading loader__wrapper">
                                            <div class="loader">
                                                <div class="box">
                                                    <img src="~/Content/gallery/logoWhite.png" alt="fanbucket">
                                                </div>
                                                <div class="shadow"></div>
                                            </div>
                                            <h2 class="section__title">Loading ...</h2>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- <div class="card__body__right">
                                <h2 class="section__title">Growth</h2>
                                <ul>
                                    <li><span class="text--blue dot"><i class="bi bi-dot"></i></span>Overall <span class="point">0</span></li>
                                    <li><span class="text--sucess dot"><i class="bi bi-dot"></i></span>Subcribers <span class="point">0</span></li>
                                    <li><span class="text--danger dot"><i class="bi bi-dot"></i></span>Unsubcribers <span class="point">8</span></li>
                                </ul>
                            </div> -->

                        </div>
                    </article>
                </div>
                <div class="col-md-6">
                    <article class="card chart--card card__margin">
                        <div class="card__top title--wrapper">
                            <h2 class="section__title">Number Of Trending Posts </h2>

                            <div class="card__top__link">
                                <button href="#">
                                    Breakdown
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-square" viewBox="0 0 16 16">
                                        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="card__body">
                            <div class="card__body__left">
                                <h2 class="section__title__lg text--prup mb-0">@Model.usrInt.TrendingPost</h2>
                                @*   <p class="para">Total Earnings <span class="text--sucess"><i class="bi bi-arrow-up"></i> 13.3%</span> vs prev 2 days </p>*@

                                <div id="en--likes--svg" class="chart__wrapper">
                                    <div class=" loading">
                                        <div class="d-flex form-upolading loader__wrapper">
                                            <div class="loader">
                                                <div class="box">
                                                    <img src="~/Content/gallery/logoWhite.png" alt="fanbucket">
                                                </div>
                                                <div class="shadow"></div>
                                            </div>
                                            <h2 class="section__title">Loading ...</h2>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
</aside>