﻿@page
@model FanBucketUI.Pages.User.UserBySearchModel
@{
    Layout = null;
}

@if (Model.usrlist != null)
{

    @foreach (var item in Model.usrlist)
    {
        <a href="/@item.Email" class="list-group-item list-group-item-action " aria-current="true">
            <div class="profile--card">
                <div class="card__img active">
                    <img src="@item.ProfileImgLocation" alt="">
                </div>
                <div class="card__body">
                    <h2 class="card__title">@item.Fullname</h2>
                    <p class="para small">@item.Email</p>
                </div>
            </div>
        </a>
        @*<a href="/User/ProfilePage?Id=@item.Id" class="list-group-item list-group-item-action " aria-current="true"></a>*@
        @*<a href="/User/ProfilePage?Id=@item.Id" class="list-group-item">
                <h4 class="list-group-item-heading">@item.Fullname</h4>
                <p class="list-group-item-text">@item.Email</p>
            </a>*@
    }
}


