﻿@page "/ViewAsOtherUser"
@model FanBucketUI.Pages.User.ProfilePageModel
@{
    ViewData["Title"] = "View As Other User";

    Layout = "../Shared/_LayoutUser.cshtml";
}

<style>
    .followbtn {
        background-image: linear-gradient( 135deg,#fe4545,#d70153);
        border: none;
        padding: 12px 24px;
        font-size: 15px;
        color: #fff;
        border-radius: 5px;
        text-transform: capitalize;
        line-height: 17px;
        position: relative;
        white-space: nowrap;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        -webkit-perspective: 1000;
        transition: 0.3s ease-out;
        width: 30%;
        margin-bottom: 25px;
    }

    .followedbtn {
        background-image: linear-gradient( 135deg,#cac1c1,#575757);
        border: none;
        padding: 12px 24px;
        font-size: 15px;
        color: #fff;
        border-radius: 5px;
        text-transform: capitalize;
        line-height: 17px;
        position: relative;
        white-space: nowrap;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        -webkit-perspective: 1000;
        transition: 0.3s ease-out;
        width: 30%;
        margin-bottom: 25px;
    }

    .profile__card__wallpaper .card__top .card__top__link {
        display: inherit;
    }

    .subscribe {
        background-image: linear-gradient( 135deg,#fe4545,#d70153);
        border: none;
        padding: 12px 24px;
        font-size: 15px;
        color: #fff;
        border-radius: 5px;
        text-transform: capitalize;
        line-height: 17px;
        position: relative;
        white-space: nowrap;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: transform;
        -webkit-perspective: 1000;
        box-shadow: none;
        transition: 0.3s ease-out;
        padding: 14px 30px;
        border: 1px solid #232323;
        font-weight: normal;
        margin-right: 0;
        margin-left: 14px;
        border-radius: 30px !important;
    }

    /*.dropdown-menu {
        background-image: linear-gradient( 135deg,#fe4545,#d70153);
        color: white;
        border-radius: 20px;
    }

    .dropdown-item {
        color: white;
    }
    */
</style>
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJJ5GBN');</script>
    <!-- End Google Tag Manager -->
</head>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJJ5GBN"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var Username = Model.usr.Username;
    var userFullname = Model.usr.Fullname;
    var userImg = Model.usr.ProfileImgLocation;
    var CurrentId = Guid.Parse(uservice.GetId(User));
    var OwnProfilePage = Model.usr.Id == CurrentId;
    var UpdatebadgeCode = OwnProfilePage ? "UpdateBadge" : "";

}
<input type="hidden" value="@Username" id="user_username" />
<div class="profile--main ">
    <input id="UserId" value="@Model.usr.Id" hidden />
    <section class="profile__card profile__card__wallpaper">
        <div class="card__wallpaper">
            <img src="@Model.usr.CoverImgLocation" alt="">

        </div>
        <div class="card__body">
            @*<div class="card__top">
                    @if (Model.usr.Id == CurrentId)
                    {
                        <div class="card__img active">
                            <img src="@Model.usr.ProfileImgLocation" id="ProPic" alt="">
                            <input type="file" id="ProfilePic" name="ProfilePic" accept="image/*" hidden />
                        </div>
                    }
                    else
                    {
                        <div class="card__img active">
                            <img src="@Model.usr.ProfileImgLocation" alt="">
                        </div>

                    }

                    <div class="card__top__link">
                        <a href="#!" class="outline--common option__link">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </a>
                        <a href="#" class="outline--common option__link">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.7 11.78"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M1.35,2.7A1.35,1.35,0,1,0,0,1.35,1.34,1.34,0,0,0,1.35,2.7Z"></path><path d="M1.35,4.54A1.35,1.35,0,1,0,2.7,5.89,1.35,1.35,0,0,0,1.35,4.54Z"></path><path d="M1.35,9.08A1.35,1.35,0,1,0,2.7,10.43,1.35,1.35,0,0,0,1.35,9.08Z"></path></g></g></svg>

                        </a>
                    </div>
                </div>*@
            <div class="card__top">
                @if (Model.usr.Id == CurrentId)
                {
                    @*foreach (var item in Model.usr.Badges.Where(x => x != "Verified" && x != "NewUser"))
                        {
                            <span class="bg bg--sucess">@item</span>
                        }
                        if (Model.usr.HideNewUserBadge)
                        {
                            <span class="bg bg--sucess">New User</span>

                        }*@
                    <div class="card__img active">
                        <img src="@Model.usr.ProfileImgLocation" id="ProPic" alt="">
                        @if (Model.usr.FeaturedBadgeCode != null)
                        {
                            var src = @Html.Raw("/Content/gallery/badge/" + Model.usr.FeaturedBadgeCode + ".png");

                            <img src="@src" alt="" class="pp-badge">

                        }
                        @if (Model.usr.AccountType == FanBucketEntity.Model.ENUM.AccountType.Private)
                        {
                            <div class="lock">
                                <svg xmlns="http://www.w3.org/2000/svg" width="6.408" height="7.18" viewBox="0 0 6.408 7.18">
                                    <path id="Path_68" data-name="Path 68" d="M-6464.549-6355.328a2.608,2.608,0,0,0-2.6-2.6,2.608,2.608,0,0,0-2.6,2.6h-.6v4.575h6.408v-4.575Zm-2.38,2.878v.723h-.447v-.723a.587.587,0,0,1-.365-.543.589.589,0,0,1,.588-.588.588.588,0,0,1,.588.588A.587.587,0,0,1-6466.929-6352.45Zm-2.292-2.878a2.07,2.07,0,0,1,2.068-2.068,2.07,2.07,0,0,1,2.068,2.068Z" transform="translate(6470.357 6357.933)" fill="#fff"></path>
                                </svg>

                            </div>
                        }
                        @*<input type="file" id="ProfilePic" name="ProfilePic" accept="image/*" hidden />*@
                    </div>
                }
                else
                {
                    <div class="card__img active">
                        <img src="@Model.usr.ProfileImgLocation" alt="">
                        @if (Model.usr.FeaturedBadgeCode != null)
                        {
                            var src = @Html.Raw("/Content/gallery/badge/" + Model.usr.FeaturedBadgeCode + ".png");

                            <img src="@src" alt="" class="pp-badge">

                        }
                    </div>

                }
                <div class="card__top__link">
                    @if (CurrentId != Model.usr.Id)
                    {

                        @if (!Model.usr.UserFollowed)
                        {
                            <button href="#" id="FollowUser" class=" follow outline--common active">
                                Follow
                            </button>
                            @*<div class="ml-auto profile-numbers">
                                    <button class="followbtn" id="FollowUser">Subscribe and Follow</button>
                                </div>*@
                        }
                        else
                        {
                            <a href="/Messenger/Messenger?ChatId=@Model.usr.ChatId&UserId=@Model.usr.Id" class=" follow outline--common">
                                Send a message
                            </a>

                            <button href="#" id="FollowUser" class=" follow outline--common">
                                Following
                            </button>
                            @*<div class="ml-auto profile-numbers">
                                    <button class="followedbtn" id="FollowUser">Followed</button>
                                </div>*@
                        }
                    }
                    else
                    {
                        @* <div class="dropdown">
                                <button class="subscribe active dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                    </svg>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <a class="dropdown-item btnSubscribeItem" href="#">View As Guest</a><!---->
                                    <a class="dropdown-item btnSubscribeItem" href="#">View As Other User</a>


                                </div>
                            </div> *@

                        <div class="dropdown">
                            <a data-toggle="dropdown" href="#!" data-target="postone__dropdown" data-disabled="true" class="outline--common option__link dropdown-toggle" aria-expanded="false">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"></path>
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"></path>
                                </svg>
                            </a>
                            <ul class="dropdown-menu" id="postone__dropdown" style="">
                                <li class="nav-item">
                                    <button class="nav-link dropdown-item " onclick="location.href = '/U/@Model.usr.Username'">
                                         View Public profile
                                    </button>
                                </li>
                                <li class="nav-item">
                                    <button class="nav-link dropdown-item" onclick="location.href = '/login'">
                                        View Profile as Guest
                                    </button>
                                </li>

                            </ul>
                        </div>


                        <a href="/User/EditProfile?Id=@Model.usr.Id" class="outline--common option__link">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </a>
                        @*<a href="#" class="outline--common option__link">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2.7 11.78"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M1.35,2.7A1.35,1.35,0,1,0,0,1.35,1.34,1.34,0,0,0,1.35,2.7Z"></path><path d="M1.35,4.54A1.35,1.35,0,1,0,2.7,5.89,1.35,1.35,0,0,0,1.35,4.54Z"></path><path d="M1.35,9.08A1.35,1.35,0,1,0,2.7,10.43,1.35,1.35,0,0,0,1.35,9.08Z"></path></g></g></svg>

                            </a>*@

                    }


                </div>
            </div>
            <h2 class="section__title mb-0">
                @Model.usr.Fullname @if (Model.usr.Badges.Any(x => x.Name == "Verified"))
                {
                    <img src="~/Content//gallery/verified.png" style="height:25px;font-size: 10px;" id="VerifiedPng" alt="VerifiedPng">

                }
            </h2>
            <p class="user--name">@userFullname</p>
            @if (Model.usr.NSFW)
            {
                <small>
                    <img src="https://www.svgrepo.com/show/219270/danger-alert.svg" intrinsicsize="512 x 512" width="20" height="20" srcset="https://www.svgrepo.com/show/219270/danger-alert.svg 4x" alt="Danger Alert SVG Vector" title="Danger Alert SVG Vector">
                    &nbsp; Following user has been posting NSFW Contents
                </small>

            }
            <div class="profile__card__bottom">
                <p class="mb-0">@Model.usr.Profession</p>
                <div class="ml-auto profile-numbers">

                    <a href="#!" class="user--relation--trigger" data-val="followers">
                        <h2 class="profile-numbers--title">@Model.usr.TotalFollowers</h2>
                        <small>followers</small>
                    </a>
                    <a class="px-2 user--relation--trigger" data-val="subscribers" href="#">
                        <h2 class="profile-numbers--title">@Model.usr.TotalSubscribers</h2>
                        <small>subscribers</small>
                    </a>
                    <a href="#!" data-val="following" class="px-2 user--relation--trigger">
                        <h2 class="profile-numbers--title">@Model.usr.TotalFollowing</h2>
                        <small>following</small>
                    </a>



                </div>

            </div>
        </div>
    </section>
    @if (CurrentId != Model.usr.Id)
    {

        @if (Model.usr.AccountType == FanBucketEntity.Model.ENUM.AccountType.Private)
        {

            @if (Model.usr.HasSubscribed)
            {<section class="profile__card__wallpaper ">
                    <article class="card__body">
                        <h2 class="section__title">Subscribed</h2>
                        <div class="card__subcribe">

                            <div class="card__top__link">
                                @* add active class for selected *@
                                <a href="#!" class="outline--common option__link cancelSubs" data-id="@Model.usr.SubscriptionId" data-toggle="modal" data-target="#subcribe--modal">
                                    Cancel Subscription
                                </a>
                            </div>



                        </div>
                    </article>
                </section>
            }
            else
            {
                <section class="profile__card__wallpaper ">
                    <article class="card__body">
                        <h2 class="section__title">Subscribe</h2>
                        <div class="card__subcribe">
                            @foreach (var item in Model.usr.SubsInfo)
                            {
                                <div class="card__top__link">
                                    @* add active class for selected *@
                                    <a href="#!" class="outline--common option__link btnSubscribeUser" data-toggle="modal" data-val="@item.Id" data-target="#subcribe--modal">
                                        $ @item.SubscriptionAmount.ToString("0.00") for @item.Tenure month
                                    </a>

                                </div>
                            }

                        </div>
                    </article>
                </section>

            }

        }

    }



    <section class="feed">
        <ul class="nav nav-tabs" id="profile_tabs" role="tablist">
            <li class="nav-item">
                <a class="active nav-link" id="__GetPosts" data-toggle="tab" href="#tab1" role="tab">
                    All Posts

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="__GetImages" href="#tab2" role="tab">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.16 13.16">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #232323;
                                }
                            </style>
                        </defs>
                        <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M9.4,0H3.76A3.76,3.76,0,0,0,0,3.76V9.4a3.66,3.66,0,0,0,.57,2,3.22,3.22,0,0,0,.58.74,3.77,3.77,0,0,0,2.61,1.05H9.4A3.76,3.76,0,0,0,13.16,9.4V3.76A3.76,3.76,0,0,0,9.4,0Zm3,9.07a3.31,3.31,0,0,1-3.32,3.32h-5a3.32,3.32,0,0,1-2.18-.82l-.2-.2a2.88,2.88,0,0,1-.43-.56A3.12,3.12,0,0,1,.77,9.07v-5A3.3,3.3,0,0,1,1.53,2a2.48,2.48,0,0,1,.63-.58A3.23,3.23,0,0,1,4.09.77h5a3.22,3.22,0,0,1,2.14.79,1.81,1.81,0,0,1,.21.18l.18.2a3.27,3.27,0,0,1,.79,2.15Z" /><path class="cls-1" d="M6.58,10A3.44,3.44,0,1,1,10,6.58,3.44,3.44,0,0,1,6.58,10Zm0-6.12A2.69,2.69,0,1,0,9.27,6.58,2.68,2.68,0,0,0,6.58,3.9Z" /><path class="cls-1" d="M7.78,7.78a1.7,1.7,0,0,1-2.4-2.4Z" /></g></g>
                    </svg>
                    Photos @*(250)*@

                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" id="__GetVideos" href="#tab3" role="tab">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.16 13.16">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: #232323;
                                }
                            </style>
                        </defs>
                        <g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path class="cls-1" d="M9.4,0H3.76A3.76,3.76,0,0,0,0,3.76V9.4a3.66,3.66,0,0,0,.57,2,3.22,3.22,0,0,0,.58.74,3.77,3.77,0,0,0,2.61,1.05H9.4A3.76,3.76,0,0,0,13.16,9.4V3.76A3.76,3.76,0,0,0,9.4,0Zm3,9.07a3.31,3.31,0,0,1-3.32,3.32h-5a3.32,3.32,0,0,1-2.18-.82l-.2-.2a2.88,2.88,0,0,1-.43-.56A3.12,3.12,0,0,1,.77,9.07v-5A3.3,3.3,0,0,1,1.53,2a2.48,2.48,0,0,1,.63-.58A3.23,3.23,0,0,1,4.09.77h5a3.22,3.22,0,0,1,2.14.79,1.81,1.81,0,0,1,.21.18l.18.2a3.27,3.27,0,0,1,.79,2.15Z" /><path class="cls-1" d="M6.58,10.47a3.89,3.89,0,1,1,3.89-3.89A3.89,3.89,0,0,1,6.58,10.47Zm0-6.92a3,3,0,1,0,3,3A3,3,0,0,0,6.58,3.55Z" /><polygon class="cls-1" points="5.73 5.28 8.02 6.58 5.75 7.88 5.73 5.28" /></g></g>
                    </svg>
                    Videos

                </a>
            </li>



            <li class="indicator"></li>

        </ul>


        <div class="tab-content">
            <div class="tab-pane fade show active" id="viewFeed" role="tabpanel">


            </div>
        </div>

    </section>
    <div id="test"></div>
</div>
@section BadgeSection{
    <section class="badge">

        <div class="title__wrapper">
            <h2 class="section__title">My Badges</h2>
            <a href="#" class="title__link" data-toggle="modal" data-target="#badge--modal">See All</a>
        </div>

        <!-- maximum 12  -->
        <div class="grid yourbadge">
            @foreach (var item in Model.usr.Badges.Take(12))
            {
                //var src = @Html.Raw("/Content/gallery/badge/" + item + ".png");
                var src = item.ImageUrl;
                <div class="image @UpdatebadgeCode" data-code="@item.Name" data-toggle="tooltip" data-placement="bottom" title="@item.Name" data-original-title="@item.Name">
                    <img src="@src" alt="">
                </div>
            }

        </div>
    </section>
}
@section BadgeModal{
    <div class="modal fade badge--modal badge" id="badge--modal" data-keyboard="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header title__wrapper">
                    <h2 class="section__title">Your Badge</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.73 13.73"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="13.73 0.78 12.95 0 6.87 6.08 0.78 0 0 0.78 6.08 6.87 0 12.95 0.78 13.73 6.87 7.65 12.95 13.73 13.73 12.95 7.65 6.87 13.73 0.78" /></g></g></svg>
                    </button>
                </div>
                <div class="modal-body overflow--hidden">


                    <div class="grid yourbadge">
                        @foreach (var item in Model.usr.Badges)
                        {
                            //var src = @Html.Raw("/Content/gallery/badge/" + item + ".png");
                            var src = item.ImageUrl;

                            <div class="image @UpdatebadgeCode" data-code="@item.Name" data-toggle="tooltip" data-placement="bottom" title="@item.Name" data-original-title="@item.Name">
                                <img src="@src" alt="">
                            </div>
                        }

                    </div>
                    <h2 class="section__title">All Badges</h2>

                    <div class="grid">
                        @{
                            //var AllBadges = Enum.GetNames(typeof(FanBucketEntity.Model.ENUM.BadgeCodes));
                            //List<string> AllBadgesList = ((string[])AllBadges).ToList();

                            //var BadgesUserDontHave = AllBadgesList.Except(Model.usr.Badges.Select(x => x.Name).ToList());
                            var BadgesUserDontHave = Model.usr.AllBadges;
                        }
                        @foreach (var item in BadgesUserDontHave)
                        {
                            //var src = @Html.Raw("/Content/gallery/badge/" + item + ".png");
                            var src = item.ImageUrl;
                            <div class="image " data-toggle="tooltip" data-placement="bottom" title="@item.Name" data-original-title="@item.Name">
                                <img src="@src" alt="">
                            </div>
                        }

                    </div>



                </div>
            </div>
        </div>
    </div>

}
@section Scripts{
    <script>
        var jsonString = '';
    </script>
    <script type="text/javascript" src="~/js/ViewAsOtherUser.js" asp-append-version="true"></script>
    <script src="https://js.stripe.com/v3"></script>
    <script>

    var stripe = Stripe('pk_test_51JNrobCtlkxgnzHQ3mlHM3Gye5AlUtEIwVmlT4NFwiw1xmVyeMe0cEfUG4yq2zJtnY9mG5YTumuxlWFRL20CP16400SS9uYq8K');
//var response = fetch('/secret').then(function(response) {
//  return response.json();
//}).then(function(responseJson) {
//  var clientSecret = responseJson.client_secret;
//  // Render the form to collect payment details, then
//  // call stripe.confirmCardPayment() with the client secret.
//});
    var loadWalletButton = document.getElementById('btnLoad');

        loadWalletButton.addEventListener('click', function () {
            var auth = $('#token___Auth').val();
            var url = apiURL + '/Payment';
            var amount = parseInt($("#load--amount").val());
            var modal = {
                Amount: amount
            }

            $.ajax({
                type: 'POST',
                url: url,
                dataType: "json",
                data: JSON.stringify(modal),
                contentType: "application/json",
                headers: {
                    Authorization: "Bearer " + auth
                },
                success: async function (response) {
                    debugger;
                var res=await    stripe.confirmCardPayment(response.clientSecret);
                    //stripe.hand(response.clientSecret, document.getElementById("test"));
                //   stripe.redirectToCheckout({
                //// Make the id field from the Checkout Session creation API response
                //// available to this file, so you can provide it as argument here
                //// instead of the {{CHECKOUT_SESSION_ID}} placeholder.
                //sessionId: response.returnMsg
                //   }
                //   ).then(function (result) {
                //// If `redirectToCheckout` fails due to a browser or network
                //// error, display the localized error message to your customer
                //// using `result.error.message`.
            //});
                },
                //complete: function(){
                //        alert("complete");
                //},
                failure: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });


        });
    </script>
    @*<script type="text/javascript">
            $(function () {
                $(".UpdateBadge").click(function () {
                    console.log($(this).data("code"));
                    console.log(JSON.stringify({ "BadgeCode": $(this).data("code") }));
                    var BadgeCode = $(this).data("code");
                    $.ajax({
                        type: "Get",
                        url: '/User/ProfilePage?handler=UpdateFeaturedBadge&BadgeCode=' + BadgeCode,
                        //beforeSend: function (xhr) {
                        //    xhr.setRequestHeader("XSRF-TOKEN",
                        //        $('input:hidden[name="__RequestVerificationToken"]').val());
                        //},
                        //data: JSON.stringify({ "BadgeCode": $(this).data("code") }),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (response) {
                            alert("Hello: " + response.Name + " .\nCurrent Date and Time: " + response.DateTime);
                        },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                    });
                });
            });
        </script>*@
    <script>
        window.addEventListener('DOMContentLoaded', (event) => {
            let marker = document.querySelector('.indicator');
            let item = document.querySelectorAll('.nav.nav-tabs#profile_tabs .nav-link');
            let itemActive = document.querySelector('.nav.nav-tabs#profile_tabs .nav-link.active');

            function indicator(e) {
                marker.style.left = e.offsetLeft + "px";
                marker.style.width = e.offsetWidth + "px";
            }
            indicator(itemActive);
            item.forEach(link => {
                link.addEventListener('click', (e) => {
                    indicator(e.target);
                })
            })
        });
    </script>
}
