﻿@using Templates.ViewModels
@model CreateNewUserViewModel

@{
    Layout = "_EmailLayoutHtml";
    ViewContext.ViewData["EmailTitle"] = "Hey " + Model.FullName + "!";
    ViewContext.ViewData["TopContent"] = "Message Received";
}
<!--<tr>
    <td class="title-36 a-center pb-15" style="font-size:36px; line-height:40px; color:#282828; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; text-align:center; padding-bottom: 15px;">
        <strong>Hey, welcome!</strong>
    </td>
</tr>
<tr>
    <td class="text-16 lh-26 a-center pb-25" style="font-size:16px; color:#6e6e6e; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; line-height: 26px; text-align:center; padding-bottom: 25px;">
    </td>
</tr>-->
<!--<table border="0" cellspacing="0" cellpadding="0" style="min-width: 200px;">
    <tr>
        <td class="btn-16 c-white l-white" bgcolor="#f3189e" style="font-size:16px; line-height:20px; mso-padding-alt:15px 35px; font-family:'PT Sans', Arial, sans-serif; text-align:center; font-weight:bold; text-transform:uppercase; border-radius:25px; min-width:auto !important; color:#ffffff;">
            <a href="#" target="_blank" class="link c-white" style="display: block; padding: 15px 35px; text-decoration:none; color:#ffffff;">
                <span class="link c-white" style="text-decoration:none; color:#ffffff;">GET STARTED</span>
            </a>
        </td>
    </tr>
</table>-->
<!-- END Button -->
<!--</td>
</tr>-->


<tr>
    <td class="text-16 lh-26 a-center pb-25" style="font-size:16px; color:#6e6e6e; font-family:'PT Sans', Arial, sans-serif; min-width:auto !important; line-height: 26px; text-align:center; padding-bottom: 25px;">
        <p><h2>You received a message.</h2></p>
        <p>
            @Model.Username sent you a message.@*, <a href="@Model.CallbackUrl" target="_blank">click here</a> to view .*@
        </p>
    </td>
</tr>

@await Html.PartialAsync("_EmailButton", new EmailButtonViewModel("Click Here to View", Model.CallbackUrl))

@*<p>
        Fanbucket Team
    </p>*@