.modal--logout {
  @include modal;
  .modal-header {
    margin-bottom: 2em;
  }
  .card__link {
    display: flex;
    justify-content: center;
    button {
      margin: 0 10px;
    }
  }
}

.ott--modal {
  @include modal;
  text-align: center;
  .form__header {
    margin-bottom: 2em;
  }
  .para {
    line-height: 1.5;
    font-size: 18px;
    margin-bottom: 0;
    color: #4e4e4e;
  }
  .otp {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }

  input.form-control {
    width: 60px;
    text-align: center;
    height: 56px;
    font-size: 18px;
    color: #4e4e4e !important;
    font-weight: 500;
    background-color: $lite !important;
    box-shadow: none;
    outline: none;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 60px;
    text-align: center;
    &:not(:first-child) {
      margin-left: 6px;
    }
    @include responsivemmd {
      width: 50px;
    }
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
  .eye {
    cursor: pointer;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
  }
}

.modal-backdrop {
  background-color: $dark;
  &.show {
    opacity: 0.6;
  }
  &.dark {
    opacity: 0.9 !important;
    background-color: $dark;
  }
}

.modal--edit {
  .modal-dialog {
    margin-top: 100px;
  }
  form .modal--post__ph--upload .uploading .lock {
    transform: scale(1);
    opacity: 1;
  }
}

.modal--post {
  @include modal;
  .modal-header {
    margin-bottom: 0;
  }

  .modal-dialog {
    // width from parent
    width: calc(100% - 560px - 65px);
    max-width: 979px;

    // 100 is the width of the nav
    margin-top: 186px;
    transform: translateX(-170px) !important;
    @include responsive(1550px) {
      transform: translateX(-161px) !important;
    }
    @include responsivelg {
      width: 100%;
      transform: none !important;
    }
    @include responsivemd {
      width: 90%;
    }
    @include responsivemmd {
      width: 100%;
      margin: 0;
      height: 100%;
      background-color: #fff;
    }
  }

  .modal-content {
    @include responsivemmd {
      box-shadow: none !important;
      height: 100vh;
      overflow-y: scroll;
    }
  }

  form {
    @include responsivemmd {
      box-shadow: none !important;
      height: inherit;
    }
  }

  .progress {
    margin: 28px 0;
    .progress-bar {
      @include bg;
    }
    @include responsivemmd {
      margin: 16px 0;
    }
  }

  #post--date--value {
    opacity: 0.8;
    text-align: right;
    height: 22px;
    .hide {
      display: none;
    }
  }

  hr {
    background-color: rgb(233, 236, 239);
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .form-group {
    position: relative;
  }

  // .emoji {
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   background-color: #fff;
  //   svg path {
  //     fill: #e9ecef;
  //   }
  //   @include responsivemmd {
  //     display: none;
  //   }
  // }

  .dropdown.emoji {
    z-index: 99;
    button,
    a {
      padding: 0;
      background-color: transparent;
      box-shadow: none !important;
      color: $para;
      padding-right: 0;
      display: flex;
      align-items: center;
      &:hover {
        svg path {
          fill: $primary-color;
        }
      }
      &:after {
        content: none;
      }
    }
    &.show {
      svg path {
        fill: $primary-color;
      }
    }
    .dropdown-menu {
      border: 0;
      @include box-shadow;
      font-size: 24px;
      width: max-content;
      transition: none;
      padding: 0px;
      height: 280px;
      overflow-y: scroll;
      width: 280px;
      scrollbar-width: none;
      overflow-y: overlay;
      @include box-shadow;
      .nav {
        display: flex;
        flex-wrap: wrap;
      }
      li {
        cursor: pointer;
      }
      .loader {
        img {
          width: 140px;
          max-width: 50%;
        }
      }
    }
    @include responsivemmd {
      display: none;
    }
  }

  form {
    textarea.form-control {
      height: 150px;
      padding: 0;
      border: 0;
      outline: none;
      box-shadow: none;
      white-space: pre-line;
    }
    @include card__link;
    label {
      margin-bottom: 0;
    }
    .modal--post__ph--upload {
      // @include scrollbar;
      margin: 0 -5px;
      margin-bottom: 14px;
      display: flex;
      flex-wrap: wrap;
      .watermark {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .image {
        margin: 7px;
        height: 125px;
        width: 125px;
        min-width: 125px;
        position: relative;
        overflow: hidden;
        background-repeat: no-repeat;
        background-position: right;
        transition: background 0.3s ease-in;
        background-size: 0;
        @include bg;
        img:not([src$=".png"]) {
          // @include bg;
          white-space: wrap;
          font-size: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &:hover {
          .edit--wrapper {
            top: 0px;
          }
        }
      }
      .loader__wrapper {
        align-items: center;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        justify-content: center;
      }
      .uploading {
        background-size: 100%;

        .loader__wrapper {
          display: flex;
          animation: fadein 3s linear 0.3s forwards reverse;
        }

        .edit--wrapper,
        .lock {
          transform: scale(0);
          opacity: 0;
          @include transition-in;
        }
        img {
          opacity: 0;
          animation: fadein 3s linear 0.3s forwards;
        }
      }
      img {
        @include image;
      }
      .edit--wrapper {
        position: absolute;
        top: -50px;
        right: 0px;
        z-index: 0;
        padding: 8px;
        width: 100%;
        color: #fff;
        background-color: rgba(35, 35, 35, 0.69);
        font-size: 15px;
        text-align: right;
        @include transition-in;

        a {
          margin-left: 5px;
          padding-left: 5px;
          border-left: 1px solid #bcbcbc;
        }
      }

      .lock {
        @include absolute--svg;
        bottom: 8px;
        right: 8px;
        height: 40px;
        width: 40px;
        background-color: rgba($dark, 0.3);
        transition: 0.3s ease;
        svg {
          height: 17px;
          path {
            transition: 0.3s ease;
          }
        }
        &.unlocked {
          background-image: none;

          path:last-child {
            fill-opacity: 0;
          }
        }
      }

      .input__hide {
        position: absolute;
        height: 0;
        width: 0;
        opacity: 0;
        visibility: hidden;
      }

      .empty--input {
        border: 3px dashed rgba(187, 187, 187, 0.4);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80px;
        color: rgba(187, 187, 187, 0.4);
        order: -1;
        input {
          visibility: hidden;
          opacity: 0;
          @include position;
        }
        &.hide {
          display: none;
        }
      }
    }
  }

  .card__link--top {
    margin-bottom: 1em;
    .nswf--wrapper {
      margin-left: 1em !important;

      .input--wrapper {
        padding: 0.5em;
        padding-left: 1em;
      }

      .custom-control {
        padding-left: 0.5rem;
      }
    }
  }

  .card__link {
    @include responsivemmd {
      flex-wrap: wrap;
      margin-bottom: 10px;
    }
    .pr {
      margin-left: auto !important;
    }
    a,
    button {
      margin-left: 0 !important;
      margin-right: 1.5em;
    }
    button[type="submit"] {
      width: 120px;
      @include br12;
      @include responsivemmd {
        order: 1;
        width: 100%;
        margin-right: 0;
        margin-top: 10px;
      }
    }
    .non-active {
      margin-right: 0;
      svg {
        opacity: 0.3;
        path {
          fill: $dark;
        }
      }
    }
    label {
      margin-bottom: 0;
    }
    .select--input--wrapper {
      background-color: $white;
      @include br12;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $dark;
      @include responsivemmd {
        padding: 4px 0;
      }
      label,
      ::placeholder,
      .form-control {
        color: $dark;
      }
      .form-control {
        border: none !important;
        outline: 0 !important;
        box-shadow: none !important;
      }
      .select-wrapper {
        margin-right: 12px;
      }
      select {
        background-color: transparent;
        & + i,
        & + svg {
          right: -3px;
          opacity: 0.5;
          height: 15px;
          width: auto;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
        }
      }
      .input--wrapper {
        display: flex;
        align-items: center;
        &.hide {
          display: none;
        }

        .form-control {
          height: 28px;
          width: 62px;
          margin: 0px 8px;
          border-radius: 8px;
          padding: 6px;
        }
      }
    }
    .shedule--link {
      &.active {
        svg {
          opacity: 1;
        }
      }
      .user--gesture__blocked {
        opacity: 0;
        z-index: 9;
        cursor: pointer;
      }
      label {
        pointer-events: none;
      }
    }
  }

  .poll__wrapper {
    .custom-control {
      display: flex;
      align-items: center;
      position: relative;
      padding: 0;
      // &:first-child, &:nth-child(2){
      // 	a.count{
      // 		pointer-events:none;
      // 		visibility: hidden;
      // 	}
      // }
      @include responsivemmd {
        margin: 10px 0;
      }
      .count {
        margin-left: 0 !important;
      }
    }
    .result--box {
      box-shadow: none !important;
      outline: none !important;
      margin-left: 0 !important;
      color: $dark !important;
      @include responsivemmd {
        height: 38px;
      }
    }
    .poll--buttom {
      display: flex;
      justify-content: space-between;

      button {
        opacity: 0.7;
        &:hover,
        &:focus-within {
          opacity: 1;
        }
      }
      .select--input--wrapper {
        background-color: $white;
        @include br12;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $dark;
        @include responsivemmd {
          padding: 4px 0;
        }
        label,
        ::placeholder,
        .form-control {
          color: $dark;
        }
        .form-control {
          border: none !important;
          outline: 0 !important;
          box-shadow: none !important;
        }
        .select-wrapper {
          margin-right: 12px;
        }
        select {
          background-color: transparent;
          width: 135px;
          & + i,
          & + svg {
            right: -3px;
            opacity: 0.5;
            height: 15px;
            width: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
          }
        }
      }
      .poll--trash {
        margin-left: 10px;
        width: 46px;
        padding: 0;
        height: 46px;
        @include responsivemmd {
          width: 38px;
          height: 38px;
        }
      }
    }
    display: none;
    width: 100% !important;
  }
  .removeCross {
    a.count {
      visibility: hidden;
    }
  }

  .close {
    @include responsivemmd {
      position: fixed;
      top: 0px;
      right: 0px;
      // background-color: #5a5a5a !important;
      z-index: 9;
    }
  }

  .bootstrap-datetimepicker-widget.dropdown-menu.bottom {
    bottom: 100% !important;
    top: auto !important;
  }
  .datepicker {
    .thead {
      tr:first-child th {
        @include bg;
      }
    }
    .bootstrap-datetimepicker-widget table td.active,
    .bootstrap-datetimepicker-widget table td.active:hover {
      background-color: $primary-color;
    }
  }
  .gif__wrapper {
    .gif__header {
      padding: 15px;
      position: sticky;
      top: 0;
      background-color: #fff;
    }
    .gif__body {
      padding: 15px;
      padding-top: 0;
    }
    .form-group {
      position: relative;
      margin-bottom: 0;
      i {
        position: absolute;
        top: 6px;
        left: 12px;
        opacity: 0.3;
        font-size: 17px;
      }
      input {
        padding-left: 36px;
        box-shadow: none !important;
      }
    }
    .grid {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        cursor: pointer;
        background-color: $white;
      }
      // div {
      //   // max-height: 100px;
      // }
      .loader {
        height: 100px;
        background-image: url("https://res.cloudinary.com/dem2xvk2e/image/upload/v1630427340/hamrobazar/70398-skeleton-loader_baxciq.gif");
        background-size: cover;
      }
    }
  }
}
.modal--form {
  @include modal;
  form {
    @include checkbox;
    .card__link {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.badge--modal {
  @include modal;
  .section__title {
    text-align: left !important;
  }
  .yourbadge {
    margin-bottom: 3em;
  }
}

.moments--modal {
  .profile--card {
    @include card--profile;
  }
  .title__wrapper {
    align-items: flex-start;
    .profile--card {
      margin-bottom: 0;
    }
  }
  @include feed;
  .modal-dialog {
    margin: 60px auto;
    transform: none !important;
    @include responsivemd {
      margin: 0;
      background-color: rgba($dark, 0.8);
    }
  }
  .feed {
    .card {
      margin-bottom: 0;
      .image--multi > :not(.card__img:first-child) {
        @include responsivemd {
          display: none;
        }
      }
    }
  }
  .progress--wrapper {
    display: flex;
    flex-wrap: nowrap;
    .progress {
      margin-left: 2px;
      margin-right: 2px;
      &.active {
        .progress-bar {
          animation-play-state: running;
        }
      }

      .progress-bar {
        animation: interval 6s linear 0.1s 1 forwards;
        animation-play-state: paused;
        &.paused {
          animation-play-state: paused;
        }
      }
    }
  }
  .modal-content {
    position: relative;
    background-color: rgba($dark, 0.3);
  }
  .nav {
    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border: none;
      color: $dark;
      background-color: $dmwhite;
      height: 40px;
      width: 40px;
      box-shadow: none;
      @include br12;
      @include responsivemd {
        color: $dark;
        background-color: transparent;
        height: 100%;
        width: 60px;
        box-shadow: none;
        border-radius: 12px;
        font-size: 2em;
      }

      &.prev {
        left: -60px;
        @include responsivemd {
          left: 0;
        }
      }
      &.next {
        right: -60px;
        @include responsivemd {
          right: 0;
        }
      }
    }
  }
  .close {
    @include responsivemd {
      //  position: !important;
    }
    svg .cls-1 {
      @include responsivemd {
        fill: #fff;
      }
    }
  }
  .close.play {
    background-color: transparent !important;
    font-size: 20px;
    margin-right: 1em;
    color: $white;
  }
  .modal-header {
    .profile--card .card__title,
    .para {
      color: $white;
    }
  }
}

.modal--kyc {
  .form-control {
    @include input;
    @include br12;
    margin-bottom: 10px;
  }
  .form-group {
    @include card__margin;
  }
  .steps--wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    min-height: 250px;
    .steps {
      width: 100%;
      min-width: 100%;
      padding: 20px;
    }
  }
  .card__link {
    margin-top: 2em;
    align-items: center;
    padding: 20px;
    p {
      margin-right: auto;
      margin-bottom: 0;
    }
  }
  .close {
    background-color: transparent;
    svg .cls-1 {
      fill: #fff;
    }
  }
  .modal-header {
    @include bg;
    padding: 0.6em 30px;
    border-radius: 12px 12px 0 0;
    margin-bottom: 0;
    padding-right: 10px;
    .section__title {
      color: #fff;
      text-align: left !important;
    }
  }
  .modal-content {
    padding: 0;
    @include br12;
    .modal-body {
      padding: 10px;
    }
  }
  .steps--bottom {
    width: 40%;
    height: 4px;
    margin-right: auto;
  }
  .progress-bar {
    @include bg;
  }
  .steps-one {
    width: 33%;
  }
}
.modal--kyc {
  .form-control {
    @include input;
    @include br12;
    margin-bottom: 10px;
  }
  .form-group {
    @include card__margin;
  }
  .steps--wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    align-items: center;
    min-height: 250px;
    .steps {
      width: 100%;
      min-width: 100%;
      padding: 20px;
      @include responsivemmd {
        padding: 0 10px;
      }
    }
  }
  .card__link {
    margin-top: 2em;
    align-items: center;
    padding: 20px;
    @include responsivemmd {
      flex-wrap: wrap;
      padding: 10px;
      justify-content: space-around;
      gap: 1em;
    }
    p {
      margin-right: auto;
      margin-bottom: 0;
    }
    button {
      @include responsivemmd {
        width: calc(50% - 1em);
      }
    }
  }
  .close {
    background-color: transparent;
    svg .cls-1 {
      fill: #fff;
    }
  }
  .modal-header {
    @include bg;
    padding: 0.6em 30px;
    border-radius: 12px 12px 0 0;
    margin-bottom: 0;
    padding-right: 10px;
    .section__title {
      color: #fff;
      text-align: left !important;
    }
  }
  .modal-content {
    padding: 0;
    @include br12;
    .modal-body {
      padding: 10px;
    }
  }
  .steps--bottom {
    width: 40%;
    height: 4px;
    margin-right: auto;
    @include responsivemmd {
      width: 100%;
      margin-bottom: 1em;
    }
  }
  .progress-bar {
    @include bg;
  }
  .steps-one {
    width: 33%;
  }
}
.modal--fancy {
  @include modal;
  .close {
    background-color: transparent;
    height: auto;
    line-height: 30px;
    color: #fff;
    svg {
      height: 16px;
      .cls-1 {
        fill: #fff;
      }
    }
  }
  .modal-header {
    @include bg;
    padding: 0.4em 30px;
    border-radius: 8px 8px 0 0;
    margin-bottom: 0;
    padding-right: 10px;
    @include responsivemmd {
      padding: 0.4em 10px;
    }
    .section__title {
      color: #fff;
      text-align: left !important;
      font-size: 1.2em;
    }
  }
  .modal-content {
    padding: 0;
    @include br12;
    .modal-body {
      padding: 30px;
      .card__link {
        margin-top: 2em;
      }
    }
  }
}

.modal--subcribe {
  .modal-body {
    text-align: center;
  }
  .section__title {
    .modal-header.title__wrapper .section__title {
      text-align: center !important;
    }
    span {
      font-size: 2.1em;
      margin-right: 0.3em;
    }
  }
}
.modal--tips {
  @include modal;
  .form-group {
    display: flex;
    @include border;
    @include border-radius;
    border-color: $primary-color;
    background-color: #fff;
    height: 50px;
    align-items: center;
    padding: 0 1em;
    @include card__margin;
    .form-control {
      @include input;
      background-color: transparent;
      color: $dark;
      height: 100%;
      border: 0;
    }
  }
  button {
    width: 100%;
    height: 48px;
  }
}

.modal--list {
  .modal-content {
    background-color: transparent !important;
    padding: 0 !important;
  }
  .close {
    background-color: transparent !important;
    svg .cls-1 {
      fill: #fff !important;
    }
  }
  .modal-body {
    background-color: #fff !important;
    padding: 30px !important;
    border-radius: 0 0 8px 8px;
  }
  .modal-header {
    padding: 0.4em 30px !important;
  }
}

.message--new {
  @include modal;
  form {
    margin-right: 16px;
    flex-grow: 2;
    .form-group {
      width: 100%;
      position: relative;
      margin-bottom: 0;
      .form-control {
        border: 1px solid #d5d5d5;
        background-color: transparent;
        color: $para !important;
        box-shadow: none !important;
        outline: none !important;
        height: 46px;
        border-radius: 6px;
        padding: 0 26px;
        text-indent: 20px;
        &::placeholder {
          color: $para !important;
        }
      }
      svg {
        height: 16px;
      }

      .search {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        opacity: 0.6;
        .cls-1,
        .cls-2 {
          fill: $para;
        }
      }
      .voice {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: scale(1) translateY(-50%);
        @include transition-in;
        &.active {
          transform: scale(0) translateY(-50%);
          @include transition-out;
        }
      }
      .cross {
        font-size: 30px;
        opacity: 0;
        transform: scale(0) translateY(-50%);
        &.active {
          opacity: 1;
          transform: scale(1) translateY(-50%);
        }
      }
    }
  }
  .modal-body {
    @include card;
    @include chat--card;
    .chat--card {
      padding: 0;
      box-shadow: none;
      .card__top {
        .card__img {
          height: 40px;
          width: 40px;
          min-width: 40px;
          .online {
            height: 10px;
            width: 10px;
            bottom: -2px;
            right: 2px;
          }
        }
        .card__top__body {
          padding: 0 10px;
        }
        .card__title {
          font-weight: 500;
          font-size: 16px;
        }
        @include responsivemmd {
          padding: 0;
        }
      }
    }
  }
  .modal-content {
    @include responsivemmd {
      padding: 15px;
    }
  }
}

.modal--report {
  .title--md {
    font-weight: 400;
  }
  .custom-control {
    margin-bottom: 1em;
    color: $dark;
  }
  .form-wrapper {
    margin-bottom: 1.5em;
  }
}

.modal.fullImage {
  .card--img--wrapper {
    .card__video {
      width: 100%;
      height: 100%;
      object-fit: contain;
      background-color: #232323;
    }
  }
}
