@import "./modal.scss";
@import "../yourcss.css";

main {
  height: fit-content;
}
.feed {
  @include setting;
}

a.active {
  color: $primary-color;
}

.card__margin {
  @include card__margin;
}

.item {
  cursor: move;
}

.section__title {
  color: $dark;
  font-size: 24px;
  line-height: 1.3;
  font-weight: bold;
  @include responsivesm {
    font-size: 20px;
  }
  @include responsivemmd {
    font-size: 17px;
  }
}

.section__title__link {
  font-size: 14px;
  margin-left: auto;
  i {
    margin-right: 5px;
    font-size: 12px;
  }
}

.section__title--sm {
  font-size: 30px;
  color: $primary-color;
  font-weight: 500;
}

.section__title--lg {
  font-size: 35px;
  @include responsivemmd {
    font-size: 24px;
  }
}

.title__description {
  font-size: 20px;
  margin-bottom: 35px;
  color: $para;
  font-weight: 400;
  margin-bottom: 35px;
  width: 100%;
  max-width: 900px;
}

.title__wrapper {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .section__title {
    margin-bottom: 0 !important;
  }
}

.text__wrapper.center {
  width: 100%;
  max-width: 650px;
  text-align: center;
  margin: auto;
  .title__description {
    color: $dark;
  }
}

// pr and block--user--gesture comes with pair
.user--gesture__blocked {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.pr {
  position: relative;
}

.pointer--events__none {
  pointer-events: none;
}

button.white {
  @include button;
  background-color: #fff;
  color: $dark;
  &:hover {
    color: $primary-color;
    @include box-shadow;
  }
  &.active {
    @include box-shadow;
  }
}
button.border--dark {
  border: 1px solid $primary-color !important;
}

button[disabled] {
  background-color: $dmwhite !important;
  background-image: none !important;
}
.text--dark {
  color: $dark !important;
}

#poll--inside--count {
  display: none;
}

.loader {
  .shadow {
    width: 50px;
    height: 5px;
    background: #000;
    opacity: 0.1;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
    margin-top: 20px;
  }
  .box {
    width: 50px;
    height: 50px;
    @include bg;
    animation: animate 0.5s linear infinite;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      width: 22px !important;
      height: auto !important;
      object-fit: contain !important;
    }
    .cls-3 {
      fill: #fff;
    }
  }
}

.loader__wrapper {
  display: none;
  align-items: center;
  &.active {
    display: flex;
    justify-content: center;
  }
  .section__title {
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.price {
  color: #fff;
  font-weight: 800;
  margin-bottom: 0;
}

.bg--white {
  background-color: #fff;
}

.dark {
  color: $dark;
}

a.link {
  color: $primary-color;
}

.tost-wrapper {
  position: fixed;
  bottom: 30px;
  right: 40px;
  z-index: 99;
  @include responsivemd {
    bottom: 70px;
    z-index: 99;
    width: 100%;
    right: 5px;
  }
  .toast-header {
    @include bg;
    padding: 10px 20px;
    strong {
      color: #fff;
    }
    button.close {
      color: #fff;
      opacity: 1;
    }
  }
  .toast {
    @include box-shadow;
    background-color: #fff;
    border: 0;
    @include br12;
    @include box-shadow;
    opacity: 1;
    width: 350px;

    @include responsivemd {
      width: 90%;
      margin-left: auto;
    }
    transform: translateY(110px);
    opacity: 0;

    &.show {
      opacity: 1;
      transform: translateY(0px);
    }
    &,
    .para {
      color: rgba($dark, 0.6);
    }
    .toast-body {
      padding: 20px;
      @include responsivemd {
        padding: 10px 15px;
      }
    }
    .toast:not(:last-child) {
      margin-bottom: 1.45rem;
    }
  }
}

.para {
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 0;
  color: $para;
  @include responsivesm {
    font-size: 16px;
  }
  &.small {
    font-size: 14px;
    @include responsivemmd {
      font-size: 13px;
    }
  }
}

.text__active {
  color: $primary-color;
}

.text-muted {
  color: #a5a5a5 !important;
}

.error--message {
  color: $red;
}

.table--bg {
  thead {
    @include bg;
    color: $white;
  }
}

.fullImage {
  @include modal;
  overflow-y: hidden !important;
  @include responsivemd {
    overflow-y: scroll !important;
  }
  .modal-dialog {
    width: 94vw;
    height: 95vh;
    max-height: 1000px;
    max-width: 1425px;
    transform: translateX(50px) !important;

    @include responsivemd {
      width: calc(100% - 100px);
      min-height: 100vh;
      max-height: max-content;
      transform: translateX(0px) !important;
      margin: 0;
      height: auto;
      margin-left: auto;
    }
    @include responsivemmd {
      width: calc(100%);
    }
    .modal-content {
      @include responsivemmd {
        padding: 0;
      }
    }
  }

  @include card;
  @include responsivemmd {
    .section__title {
      display: none;
    }
  }
  .close {
    position: absolute;
    top: 117px;
    left: -72px;
    z-index: 2;
    background-color: #fff;
    .cls-1 {
      fill: #a1a1a1 !important;
    }
    @include responsivemd {
      position: fixed;
      left: -82px;
    }
    @include responsivemmd {
      left: auto;
      top: 10px;
      right: 10px;
    }
  }

  .card {
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    box-shadow: none !important;
    @include responsivemd {
      flex-direction: column;
    }
    @include responsivemmd {
      @include mb;
    }
    @include setting;
    .card--img--wrapper {
      .card__img {
        width: calc(100vh - 60px);
        height: calc(100vh - 60px);
        max-height: 1000px - 60px;
        max-width: 1000px - 60px;
        position: relative;
        // height: 560px;
        opacity: 1;

        img {
          object-fit: contain;
        }
        @include transition-in;
        @include responsivexlg {
          max-height: calc(100vw - 440px - 130px);
          max-width: calc(100vw - 440px - 130px);
        }
        @include responsivemd {
          max-height: max-content;
          max-width: max-content;
          min-width: calc(100vw - 170px);
          block-size: 100%;
        }
        @include responsivemmd {
          min-width: 100vw;
        }
      }
      &.fullmode {
        img {
          object-fit: cover;
        }
        .btn.full i.active {
          display: flex;
        }
        .btn.full i:not(.active) {
          display: none;
        }
      }
    }

    .aside__left {
      flex-grow: 2;
    }

    .right--aside {
      width: 580px;
      background-color: #fff;
      z-index: 1;
      margin-left: auto;
      @include responsivexlg {
        width: 450px;
      }
      @include responsivemd {
        position: relative;
        right: 0;
        width: 100%;
        padding: 0;
        height: auto;
      }
      .right--aside__wrapper {
        padding: 0 30px;
        @include responsivexlg {
          padding: 0 20px;
        }
      }
    }
  }
  .card__comments {
    padding-left: 0px !important;
    margin-top: 30px;
    border-top: 1px solid #f2f2f2;
    padding-top: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    max-height: calc(100vh - 260px);

    &::-webkit-scrollbar {
      background: transparent; /* make scrollbar transparent */
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }
  }

  .btn.full {
    position: absolute;
    right: -7px;
    bottom: -7px;
    background-color: #fff;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: $dark;
    font-size: 0.8em;
    &:hover {
      color: $primary-color;
    }
    .active {
      display: none;
    }
  }
}

.modal--shareFeed {
  .modal-dialog {
    margin-top: min(60px, 15vh);
    @include responsivemmd {
      margin-top: 0;
    }
  }
  form {
    textarea.form-control {
      height: 80px;
    }
  }
}

#fullImage--modal {
  z-index: 1090 !important;
}

.poll__wrapper {
  @include responsivemmd {
    padding: 0 15px;
  }
  .custom-control {
    margin: 16px 0;

    .custom-control-input {
      &:checked {
        & ~ .custom-control-label::before {
          background-color: rgba($primary-color, 0.7) !important;
        }
        & ~ .custom-control-label::after {
          background: none;
          background-color: #fff;
          border-radius: 50%;
          height: 10px !important;
          width: 10px !important;
          left: -19px;
          @include responsivemmd {
            left: -14px;
          }
        }
        & + .custom-control-label {
          .absolute--sorry {
            background-color: #fed8da;
          }
          .result--box {
            color: rgba($primary-color, 0.7);
            border-color: rgba($primary-color, 0.7);
          }
        }
      }
      &:indeterminate {
        & + .custom-control-label {
          &:before {
            border-color: rgb(200, 200, 202);
            background-color: transparent;
          }
        }
      }
    }
    .custom-control-label {
      display: flex;
      align-items: center;
      position: relative;
      // overflow: hidden;
      .absolute--sorry {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        min-width: 0%;
        max-width: 100%;
        // background-color: #fed8da;
        background-color: $white;
        @include transition-in;
        @include br12;
        z-index: -2;
      }
      &:before,
      &:after {
        top: 50%;
        transform: translateY(-50%);
        height: 20px;
        width: 20px;
        box-shadow: none !important;
      }
      &:before {
        border: 1px solid rgba(254, 69, 69, 0.51);
      }
    }
    .result--box {
      flex-grow: 2;
      @include border;
      padding: 7px 20px;
      margin: 0px 16px;
      position: relative;
      color: #6c6c6c;
      border-color: rgb(200, 200, 202);
      z-index: 1;
      @include responsivemmd {
        margin: 0 8px;
      }
    }
    .count--wrapper {
      display: flex;
      width: 100px;
      justify-content: flex-end;
    }
    .count {
      height: 40px;
      width: 40px;
      background-color: #fdd7da;
      @include br12;
      text-align: center;
      color: #da7878;
      font-weight: lighter;
      display: inline-block;
      overflow: hidden;
      border: 4px solid #fff;
      line-height: 34px;
      &:not(:first-child) {
        margin-left: -1em;
      }
    }
  }
}

.shared-feed {
  @include feed;
  .feed {
    width: 100%;
    max-width: 500px;
    .card {
      font-size: 14px;
      margin-bottom: 0px;
      background-color: $white;
      box-shadow: none !important;
      .image--multi {
        height: 230px;
        .image--multi__left {
          // min-width: 200px;
          // width: 245px;
          min-width: calc(50% - 1em);
          width: calc(50% - 1em);
          margin-left: 10px;

          .card__img {
            block-size: calc(50% - 12px);
          }
        }
      }
      .card__img {
        max-height: 300px;
        margin-bottom: 12px;
      }
      .card__top {
        margin-bottom: 14px;
        @include responsivemd {
          padding: 0 15px;
        }
        .card__img {
          height: 50px;
          width: 50px;
          min-width: 50px;
        }
      }
      .user__text {
        margin-bottom: 15px;
        font-size: 16px;
        @include responsivemd {
          margin-bottom: 0;
          padding: 15px;
        }
      }
    }
    & > .card {
      margin-bottom: 30px;
    }
    .image--multi {
      height: auto;
      max-height: auto;
    }
  }
}

.shared {
  // margin-bottom: 0 !important;
  .card {
    margin-bottom: 20px !important;
    // box-shadow: rgba(35,35,35,0.1) 2px 2px 12px !important;
    background-color: $white !important;
    box-shadow: none !important;
    .card__top {
      // margin-bottom: 0 !important;
      .card__img {
        height: 50px !important;
        width: 50px !important;
        min-width: 50px !important;
      }
    }

    .user__text {
      padding: 0;
      margin-bottom: 0 !important;
    }
  }
  & > .card__body {
    padding: 0 15px;
    .card__body {
      .user__text {
        @include responsivemd {
          padding: 15px;
        }
      }
      .card__img:not(:first-child) {
        @include responsivemd {
          display: none;
        }
      }
      .image--multi__dots {
        @include responsivemd {
          display: none;
        }
      }
      .image--multi__dot {
        @include responsivemd {
          width: 30px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          border-radius: 50%;
          font-weight: bold;
          background-color: rgba($white, 0.7);
          left: 13px;
          // color: $primary-color;
        }
      }
    }
  }
}

.btn--common {
  @include button;
}

.outline--common {
  padding: 6px 1.5em;
  border-radius: 20px;
  border: 1px solid #ebebeb;

  // color: #771a1a;
}
.btn--br {
  border-radius: 30px !important;
}
.send--message {
  border-radius: 30px !important;
  color: #fff !important;
  background-image: linear-gradient(135deg, #fe4545, #d70153) !important;
  border: 0 !important;
  font-size: 15px;
  padding: 14px 30px;
  margin-left: 14px;
}
.error-message {
  border-color: $red !important;
  color: $red !important;
}

.no-button {
  background-color: transparent !important;
  padding: 0 !important;
  border: 0 !important;
  outline: none !important;
  box-shadow: none !important;
  padding: 0 !important;
  background-image: none !important;
}

.single__locked {
  @include card__margin;
  .card__img {
    height: 600px;
    max-height: 70vh;
  }
}

.modal--shareMessage {
  .shared-feed {
    display: flex;
    gap: 20px;
    input.form-control {
      text-indent: 22px;
      box-shadow: none !important;
    }
    @include responsivemd {
      flex-wrap: wrap;
    }
  }

  .person--aside {
    flex-grow: 2;
    max-width: 50%;
    @include responsivemd {
      max-width: 100%;
    }
    form {
      margin-right: 16px;
      flex-grow: 2;
      .form-group {
        width: 100%;
        position: relative;
        margin-bottom: 0;
        .form-control {
          border: 1px solid #d5d5d5;
          background-color: transparent;
          color: $para !important;
          box-shadow: none !important;
          outline: none !important;
          height: 46px;
          border-radius: 6px;
          padding: 0 26px;
          text-indent: 20px;
          &::placeholder {
            color: $para !important;
          }

          @include responsivemd {
            height: 38px;
          }
        }
        svg {
          height: 16px;
        }

        .search {
          position: absolute;
          top: 50%;
          left: 12px;
          transform: translateY(-50%);
          opacity: 0.6;
          .cls-1,
          .cls-2 {
            fill: $para !important;
          }
        }
      }
    }
    .modal-body {
      @include card;
      @include chat--card;
      .chat--card {
        padding: 0;
        background-color: transparent !important;
        box-shadow: none;
        .card__top {
          .card__img {
            height: 40px;
            width: 40px;
            min-width: 40px;
            .online {
              height: 10px;
              width: 10px;
              bottom: -2px;
              right: 2px;
            }
          }
          .card__top__body {
            padding: 0 10px;
          }
          .card__title {
            font-weight: 500;
            font-size: 16px;
          }
          @include responsivemd {
            padding: 0;
          }
        }
      }
    }
    .modal-content {
      padding: 15px;
      margin-bottom: 20px;
      max-height: 500px;
      overflow-y: scroll;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        background: transparent; /* make scrollbar transparent */
        -webkit-appearance: none;
        width: 0;
        height: 0;
      }

      @include responsivemd {
        padding: 0px;
        margin-bottom: 10px;
        max-height: 100%;
        overflow-y: hidden;
        height: auto;
      }
    }
  }

  .search {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    opacity: 0.6;
    height: 16px;
  }

  .feed {
    width: 100%;
    max-width: 400px;
    .card .image--multi .image--multi__left {
      min-width: 180px;
      width: 250px;
    }
  }
  .modal-dialog {
    margin-top: min(80px, 15vh);
    @include responsivemmd {
      margin-top: 0;
    }
  }
}
.cursor {
  cursor: pointer;
}

.sucess--part {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transform: rotate(90deg);
  transform-origin: 280px 390px;
  transition: 0.3s ease;

  &.active {
    transform: rotate(0deg);
    svg {
      clip-path: circle(60% at 50% 50%);
    }
  }
  &.error {
    color: $red;
    font-size: 4em;
    @include responsivesm {
      font-size: 2em;
    }
  }

  svg {
    fill: $green !important;
    height: 100px;
    width: auto;
    transition: 0.3s ease;
    clip-path: circle(13% at 50% 50%);
  }
  .card__title {
    font-size: 18px;
    color: $dark;
    margin-bottom: 0;
  }

  button.close-btn {
    @include button;
    background-image: none !important;
    background-color: $white !important;
    color: #888 !important;
    margin-top: 10px !important;
  }
}

.overflow--hidden {
  overflow: hidden;
  &.active {
    .modal--slide {
      transform: rotate(-90deg);
    }
  }
  .modal--slide {
    transform: rotate(0deg);
    transform-origin: 280px 390px;
    transition: 0.3s ease;
  }
}
.modal--loading {
  @include modal;
  .loader__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tail-datetime-calendar {
  @include responsivemmd {
    width: 90%;
    top: 50px !important;
    left: auto !important;
  }
}

.image--multi {
  @include responsivemd {
    position: relative;
  }
}

.image--multi__dots {
  position: absolute;
  bottom: 30px;
  left: 10px;
  display: block;
  width: 50px;
  background-color: rgba($white, 0.7);
  border-radius: 13px;
  text-align: right;
  padding: 1px 10px;
}
.image--multi__dot {
  position: absolute;
  bottom: -5px;
  // margin: 0;
  @include responsivemmd {
    bottom: 8px;
  }
  left: 23px;
  z-index: 1;
}
.hide {
  display: none;
}

// .tail-datetime-calendar{
// 	top: 50px !important;
// 	left: auto !important;
// }
.emoji {
  @include responsivemmd {
    display: none !important;
  }
}

.dropdown-toggle:after {
  content: none;
}

.nm-link {
  color: $primary-color;
}
.link-br {
  text-decoration: underline;
}

@import "./formCommon";

.progress--loader {
  position: fixed;
  z-index: 999;
  height: 4px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $para;
  display: none;
  .loader--bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    @include bg;
    animation: infinite--loader 1.5s linear 0s forwards infinite alternate;
  }
}

.title--md {
  font-size: 20px;
  font-weight: 600;
}

.pp--image {
  height: 45px;
  width: 45px;
  border-radius: 50%;

  img {
    border-radius: 50%;
    overflow: hidden;
    @include image;
  }
}

.mx-w-500 {
  max-width: 500px;
}

.combineSelect {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  label {
    margin-bottom: 0;
  }
  input {
    flex-grow: 2;
  }
  select {
    min-width: 100px;
  }
  input,
  select {
    border: 0;
    box-shadow: none;
    outline: none;
    width: inherit;
  }
}

.dropdown-toggle {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  text-align: center;
  &:hover {
    background-color: $dmwhite01 !important;
  }
}

.voice.voice__only {
  display: none;
}

.transform-none {
  transform: none !important;
}
