@mixin slicknav {
  .slick-arrow {
    background-color: transparent;
    z-index: 9;
    height: auto;
    width: auto;
    transition: 0.3s ease;
    font-size: 1rem;
    top: -27px;
    svg {
      fill: #fff;
      width: auto;
      height: 16px;
    }
    &:hover {
      opacity: 1;
    }
    &:before {
      content: none;
    }
    &.hide {
      opacity: 0;
      pointer-events: none;
      @include transition-in;
    }
    &:not(.slick-disabled) {
      svg path {
        opacity: 0.8;
        fill: url(#linear-gradient);
      }
    }

    &.slick-next {
      right: 0;
    }
    &.slick-prev {
      left: auto;
      right: 30px;
    }
  }

  .carousel {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    &.slick-initialized {
      visibility: visible;
      opacity: 1;
    }
  }
}

@mixin slickdots {
  .carousel {
    margin-bottom: 0;
  }
  .slick-slide {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .slick-dots {
    text-align: center;
    bottom: 0.4em;
    li {
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.8);
      transition: 0.3s linear;
      button {
        display: none;
      }
      &.slick-active {
        background-color: $primary-color;
      }
    }
  }
}

@mixin slickitem {
  .slick-list {
    margin: 0 -15px;
    .item {
      padding: 15px;
    }
  }
}

@mixin card--item {
  .row {
    margin: 0 -15px;
    & > .item {
      padding: 15px;
      cursor: default;
    }
  }
}

@mixin active {
  &.active {
    color: #fff;
    background-color: $red;
    @include transition-in;
  }
}

@mixin mt {
  margin-top: 20px;
}

@mixin mb {
  margin-bottom: 40px;
  @include responsivemmd {
    margin-bottom: 20px;
  }
}

@mixin commonp {
  padding: 30px;
  @include responsivemd {
    padding: 15px;
  }
}

@mixin mainP {
  padding: 30px 50px;
  @include responsivexlg {
    padding: 30px;
  }
  @include responsivelg {
    padding: 20px;
  }
}

@mixin br {
  border-radius: 6px;
}

@mixin app {
  .app {
    display: flex;
    img {
      height: 40px;
      width: auto;
    }
    a {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

@mixin loaderbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 30px;
    width: auto;
  }
}

@mixin modal {
  padding: 0;
  .modal-content {
    @include commonp;
    border: 0;
    @include border-radius;
    @include box-shadow;
  }
  .modal-body {
    padding: 0px;
    position: relative;
    button {
      @include button;
      @include responsivemmd {
        width: 100%;
      }
    }
    .modal-title {
      margin-bottom: 20px;
    }
  }
  .close {
    background-color: #e9e9e9;
    height: 42px;
    width: 42px;
    @include br12;
    line-height: 40px;
    padding: 0;
    font-size: 40px;
    margin: 0;
    color: rgba($dark, 0.5);
    opacity: 1;
    @include responsivemmd {
      // order: -1;
      background-color: transparent;
      color: $dark;
    }
    svg {
      .cls-1 {
        opacity: 1;
        fill: rgba($dark, 0.5);
        @include responsivemmd {
          fill: $dark;
        }
      }
      height: 22px;
      width: auto;
      transform: translateY(-1px);
      @include responsivemmd {
        height: 18px;
      }
    }
  }
  .modal-header {
    border: 0;
    padding: 0;
    &.title__wrapper {
      .section__title {
        flex-grow: 2;
        text-align: center;
        @include responsivemmd {
          text-align: left;
          margin-left: 16px;
        }
      }
    }
  }
}

@mixin card__link {
  .card__link {
    margin-left: auto;
    display: flex;
    align-items: center;
    a {
      margin-left: 1.7em;
      position: relative;
      @include responsivemmd {
        margin-left: 1em;
      }
    }
    svg {
      height: 30px;
      width: auto;
      overflow: visible;
      @include responsivemmd {
        height: 22px;
      }
    }
  }
}

@mixin absolute--svg {
  position: absolute;
  bottom: 0px;
  right: 0;
  height: 19px;
  width: 19px;
  @include bg;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    height: 10px;
    width: auto;
    .cls-1 {
      fill: #fff;
    }
  }
}

@mixin setting {
  .card {
    position: static !important;
  }
  .dropdown {
    // z-index: 99;
    button.dropdown-toggle,
    a.dropdown-toggle {
      padding: 0;
      background-color: transparent;
      box-shadow: none !important;
      color: $para;
      padding-right: 0;
      line-height: 33px;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover {
        svg path {
          fill: $primary-color;
        }
      }
      &:after {
        content: none;
      }
    }
  }
  // .card__top__link.dropdown {
  //   // z-index: 102;
  // }
  .dropdown-menu {
    border: 0;
    left: -100% !important;
    @include box-shadow;
    font-size: 14px;
    width: max-content;
    overflow: hidden;
    padding: 17px 12px;
    .nav {
      align-items: flex-start;
    }
    .nav-item {
      text-align: left;
      width: 100%;
    }
    .nav-link {
      margin: 0;
      padding: 12px 23px;
      background-color: transparent;
      background: none;
      color: #333;
      cursor: pointer;
      &:hover {
        background-color: $white;
        color: $primary-color;

        svg,
        path {
          fill: $primary-color;
        }
      }
      svg {
        height: 18px;
        margin-right: 4px;
      }
    }
    padding: 10px 5px;
    @include responsivemd {
      left: auto !important;
      transform: none !important;
      top: 96% !important;
      right: -12px;
    }
  }
}

@mixin searchList() {
  .list-group {
    position: absolute;
    width: 100% !important;
    top: calc(100% + 10px);
    @include box-shadow;
    z-index: 10;
    @include responsivemd {
      top: 100%;
      left: 0;
    }
    .list-group-item {
      border: 0;
      .card__img {
        height: 50px;
        width: 50px;
        min-width: 50px;
      }
      .profile--card {
        margin-bottom: 0 !important;
      }
    }
    display: none;
  }
}

@mixin navtabs {
  .nav-tabs {
    border-bottom: 1px solid $white;
    position: relative;
    z-index: 9;
    background-color: #fff;
    flex-wrap: nowrap;
    @include scrollbar;
    overflow-y: hidden;

    .nav-item {
      scroll-snap-align: start;
    }
    .nav-link {
      font-size: 16px;
      border: 0 !important;
      padding: 12px 25px;
      color: $dark;
      background-color: transparent !important;
      width: max-content;
      width: -moz-max-content;
      i {
        margin-right: 0.5em;
      }
      &.section__title {
        background-color: transparent !important;
        margin-bottom: 0;
        font-size: 20px;
        &:hover {
          background-color: transparent !important;
        }
      }
      @include responsivemmd {
        font-size: 14px;
        padding: 10px 20px;
      }
      svg {
        width: auto;
        height: 20px;
        overflow: visible;
        margin-right: 2px;
        pointer-events: none;
        .cls-1 {
          fill: $dark;
          opacity: 1;
        }
      }
    }
    .indicator {
      position: absolute;
      height: 4px;
      width: 181px;
      @include bg;
      left: 0;
      bottom: -2px;
      -webkit-transition: 0.3s ease-in;
      transition: 0.3s ease-in;
      @include responsivemmd {
        width: 128px;
      }
    }
  }
}

@mixin feed {
  .feed {
    @include card;
    .card {
      margin-bottom: 50px;
      @include responsivemmd {
        margin-bottom: 1em;
      }
      .user__text {
        @include responsivemmd {
          padding: 0 15px;
        }
      }

      .card__body {
        @include responsivemd {
          position: relative;
        }
      }
    }
  }
}

@mixin chat--card {
}

@mixin tags {
  .tags {
    background-color: rgba($primary-color, 0.06);
    color: $primary-color;
    padding: 6px 12px;
    font-size: 14px;
    margin: 0px 1px 12px 0;
    border-radius: 5px;
    font-weight: 600;
    // transition: none;
    &:hover {
      box-shadow: rgba(242, 101, 34, 0.1) 0px 3px 0px;
    }
    &:last-child {
      margin: 0;
    }
  }
}

@mixin border {
  border: 1px solid #ebebeb;
  @include br12;
  color: #898989;
}

@mixin comment--card {
  padding-left: 20px;
  transition: 0.3s all linear;
  @include responsivemmd {
    padding-left: 0;
  }
  .profile--card {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    transition: 0.3s linear;
    @include responsivemd {
      padding: 5px 10px;
    }

    .card__img {
      @include circle--img;
      height: 35px;
      width: 35px;
      min-width: 35px;
      margin-bottom: 0 !important;
      @include responsivemmd {
        height: 30px;
        width: 30px;
        min-width: 30px;
      }
    }

    .card__link {
      margin-left: auto;
      display: flex;
      button {
        background: none;
        padding: 0;
        color: $para;
      }
      a {
        margin-left: 1em;
      }
      svg {
        height: 23px;
        width: auto;
        @include responsivemmd {
          height: 18px;
        }
      }
    }
    .card__body {
      padding: 0 16px;
      flex-grow: 2;
      height: 45px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      @include border;
      @include br12;
      margin-left: 14px;
      padding-left: 0;
      .form-control {
        height: 100%;
        border: none;
        box-shadow: none !important;
        font-weight: 500 !important;
        color: $dark;
        background-color: transparent;
        flex-grow: 2;
        text-indent: 12px;
        &::placeholder {
          // color:#D67878;
          font-weight: 400 !important;
        }
      }
    }
  }
  .comment--card {
    margin: 10px 0;
  }

  .card__top {
    margin-bottom: 0 !important;
    .card__top__body {
      flex-grow: 2;
    }
    .card__title {
      padding-left: 12px;
      font-size: 15px;
      margin-bottom: 0 !important;
    }
    time {
      margin-left: 1em;
    }
    .para {
      color: rgba($dark, 0.7);
      padding-left: 52px;
      font-size: 17px;
      @include responsivemmd {
        padding-left: 43px;
        font-size: 12px;
      }
    }
  }
}

@mixin card {
  .card {
    border: 0;
    @include box-shadow;
    font-size: 18px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 1em;
    @include transition-in;
    border-radius: 0;
    @include responsivemmd {
      font-size: 14px;
      padding: 0px;
      box-shadow: none !important;
    }
    img {
      @include image;
    }
    .card__img {
      display: block;
      // height: 415px;
      overflow: hidden;
      position: relative;
      margin-bottom: 1em;
      // background-color: $white;
      max-width: 100%;

      // block-size: 100%;
      @include responsivemmd {
        height: 360px;
        margin-bottom: 8px;
      }
    }
    .locked {
      .absolute__link {
        @include position;
        // background-image: linear-gradient(135deg, rgba(254, 69, 69, 0.7), rgba(215, 1, 83, 0.7));
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          width: auto;
          height: 28px;
        }
      }
      .card__img__content {
        text-align: center;
        .card__title {
          margin-bottom: 0;
          margin-top: 10px;
        }
      }
    }
    .bg {
      @include bg;
    }
    .image--multi {
      display: flex;
      max-height: 614px;
      height: 600px;
      @include responsivemmd {
        height: 460px;
      }
      @include responsivemmd {
        height: 320px;
      }

      @include responsivemd {
        @include scrollbar;
        margin-bottom: 1em;
      }
      & > * {
        @include responsivemd {
          scroll-snap-align: start;
        }
      }
      .card__img {
        flex-grow: 2;
        @include responsivemd {
          min-width: 100%;
          width: 100%;
          height: 100%;
          scroll-snap-align: start;
          margin-bottom: 0;
        }
      }

      .image--multi__left {
        // width: 220px;
        margin-left: 1em;
        // min-width: 220px;
        // width: 368px;
        // min-width: 368px;
        width: calc(50% - 1em);
        min-width: calc(50% - 1em);
        &.image--multi__right {
          margin-left: 0;
        }

        // @include responsiveipro {
        //   width: 300px;
        //   min-width: 300px;
        // }
        @include responsivexlg {
          width: calc(50% - 18px);
          min-width: calc(50% - 18px);
        }
        @include responsivemd {
          margin-left: 0px;
          min-width: 100%;
          width: 200%;
          display: flex;
          height: calc(100% - 18px);
        }
        @include responsivemd {
          height: 100%;
        }
        .card__img {
          // height: 200px;
          block-size: calc(50% - 18px);
          @include responsivemd {
            block-size: calc(100%);
          }
        }
      }
    }
    .card__title {
      font-size: 18px;
      line-height: 1.3;
      margin: 0;
      margin-bottom: 15px;
      color: #fff;
    }

    button {
      @include button;
    }

    time {
      font-size: 14px;
      color: rgba(35, 35, 35, 0.3);
      @include responsivemmd {
        font-size: 12px;
      }
    }

    .card__top {
      display: flex;
      align-items: center;
      width: 100%;
      @include card__margin;
      @include responsivemmd {
        margin-bottom: 0;
        padding: 15px;
      }
      .card__img {
        @include circle--img;
        margin-bottom: 0;
        @include responsivemmd {
          height: 40px;
          width: 40px;
          min-width: 40px;
        }
      }
      .card__title {
        @include card-title;
        margin-bottom: 6px;
        line-height: 0.8;
      }
      .card__top__link {
        margin-left: auto;
        align-self: flex-start;
        svg {
          height: 4px;
          width: auto;
          @include responsivemmd {
            height: 3px;
          }
        }
      }
      .card__top__body {
        padding: 0 1em;
        @include responsivemmd {
          padding: 0 12px;
        }
      }
    }

    .user__text {
      color: $dark;
      margin-bottom: 20px;
      font-size: 18px;
      @include responsivemmd {
        margin-bottom: 8px;
        font-size: 15px;
      }
    }

    .card__action {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 15px;
      @include responsivemmd {
        flex-wrap: wrap;
        padding: 0 15px 15px;
      }

      a {
        color: rgba($dark, 0.55);
        @include transition;
        svg {
          fill: rgba($dark, 0.55);
          overflow: visible;
          margin-right: 3px;
          width: auto;
          height: 20px;
          stroke: rgba($dark, 0.55);
          stroke-width: 0;
        }
        &.love {
          &.active {
            .number {
              color: $primary-color !important;
            }
            svg {
              fill: #fe4545;
              fill: url(#linear-gradient) !important;
              stroke-width: 0;
              @include responsivemd {
                fill: #fe4545 !important;
              }
            }
          }

          svg {
            fill: none !important;
            stroke: rgba($dark, 0.55);
            stroke-width: 1px;
          }
        }

        &.bookmark {
          &.active {
            svg path {
              fill: #fe4545 !important;
              fill: url(#linear-gradient) !important;
              stroke-width: 0;
              @include responsivemd {
                fill: #fe4545 !important;
              }
            }
          }
          @include responsivemmd {
            margin-left: auto;
          }
          svg {
            fill: rgba($dark, 0.55);
          }
        }

        &.share {
          margin-right: 0;
          width: auto;
          border-radius: 8px;
          padding: 0 12px;
        }

        .label {
          @include responsivemmd {
            display: none;
          }
        }

        @include responsivemmd {
          margin-right: 15px;
        }
      }
      & > button {
        @include responsivemmd {
          width: 100%;
          margin-top: 1em;
        }
      }
      .dropdown {
        z-index: 100;
      }
    }

    .card__comments {
      @include comment--card;
    }

    .card__audio {
      display: flex;
      align-items: center;
      .btn--play {
        height: 60px;
        width: 60px;
        margin-right: 1em;
        border-radius: 50%;
        font-size: 1.8em;
        padding: 0;
        @include responsivemd {
          height: 45px;
          width: 45px;
          font-size: 1.4em;
          margin: 10px;
        }
      }
      .wave--wrapper {
        flex-grow: 2;
        canvas {
          background-image: url("../gallery/wave.png");
          background-repeat: repeat-x;
          opacity: 0.2;
          background-size: 550px;
          background-position: center;
        }
        wave wave canvas {
          opacity: 1;
        }
      }
    }
    .card--img--wrapper {
      .card__img {
        // aspect
        // max-height: calc(100vw - 690px);
        height: 600px;
        @include responsivelg {
          height: 460px;
        }
        @include responsivemmd {
          height: 320px;
        }
      }
    }
    .card__file {
      display: flex;
      flex-wrap: nowrap;
      // width: max-content;
      padding: 1em;
      @include br12;
      background-color: $lite;
      margin-bottom: 1em;
      .card__file__file {
        height: 80px;
        img {
          width: auto;
        }
      }
      .card__file__body {
        flex-grow: 2;
        display: flex;
        justify-content: space-between;
        margin-left: 1em;
        align-items: center;

        .card__title {
          color: $dark;
          margin-bottom: 0;
        }
        .card__link {
          margin-left: 1em;
          a {
            height: 50px;
            width: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &:hover {
              svg {
                stroke-dasharray: 450;
              }
            }
          }
          svg {
            height: 50px;
            width: 50px;
            opacity: 0.5;
            position: absolute;
            top: 0;
            left: 0;
            stroke-dasharray: 230;
            stroke-dashoffset: 230;
            @include transition;
            g {
              stroke: $primary-color;
            }
          }
        }
      }
    }
  }
}

@mixin card-hr {
  .card__hr {
    flex-direction: row;
    .card__img {
      height: auto;
      overflow: hidden;
      width: 50px;
      margin-right: 2em;
      margin-bottom: 0;
      min-width: 50px;
      border-radius: 0;
      @include responsivemmd {
        // height: 100px;
        // width: 100px;
        margin-right: 1em;
      }
      @include responsive(360px) {
        // height: 70px;
        // width: 70px;
        margin-right: 10px;
      }
    }
    .card__title {
      margin: 0 !important;
      @include responsivemd {
        width: 100%;
      }
    }
    .price {
      margin: 0 !important;
    }
    .card__body {
      text-align: left;
      flex-grow: 2;
      // width: calc(100% - 100px);
      @include responsivemd {
        flex-wrap: wrap;
      }
      @include responsive(360px) {
        font-size: 12px;
      }
      .qty {
        @include responsivemd {
          margin-right: 0;
        }
      }
      .qty button,
      .qty .form-control {
        @include responsivemd {
          width: 50px;
          height: 50px;
        }
        @include responsivesm {
          width: 30px;
          height: 30px;
          line-height: 1;
        }
      }
    }
    i {
      vertical-align: middle;
      columns: $lite;
    }
  }
}

@mixin card--absolute {
  .card {
    background-color: transparent;
    .card__body {
      position: absolute;
      background-image: linear-gradient(to bottom, transparent, #000);
      width: 100%;
      bottom: 0;
      left: 0;
      .card__bottom {
        .rating {
          .star {
            color: #f7d11a;
            font-size: 12px;
            margin-right: 5px;
          }
          b {
            font-weight: 800;
            color: #fff;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@mixin article {
  .row {
    margin: 0 -10px;
    margin-bottom: 15px;
    & > article {
      padding: 0 10px;
    }
  }
}

@mixin circle--img {
  height: 70px;
  width: 70px;
  min-width: 70px;
  border-radius: 50%;
  display: block;
  border: 2px solid $para;

  &.active {
    border: 2px solid $primary-color;
    padding: 3px;
  }
  img {
    border-radius: 50%;
    @include image;
    overflow: hidden;
  }
  @include responsivemmd {
    height: 56px;
    width: 56px;
    min-width: 56px;
  }
}

@mixin card--profile {
  display: flex;
  align-items: center;
  width: 100%;
  @include mb;
  .card__img {
    @include circle--img;
    img.pp-badge {
      height: 45px;
      width: auto;
    }
  }
  .card__title {
    @include card-title;
  }
  .card__link {
    margin-left: auto;
    svg {
      height: 18px;
    }
    a {
      position: relative;
    }
  }
  .card__body {
    padding: 0 16px;
  }
}

@mixin dur {
  .duration {
    background-color: $para;
    color: #fff;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 13px;
    border-radius: 5px 0 0 0;
    padding: 0px 8px;
    line-height: 1.6;
  }
}

@mixin selectWhite {
  background-color: $white;
  @include br12;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark;
  label,
  ::placeholder,
  .form-control {
    color: $dark;
  }
  .form-control {
    border: none !important;
    outline: 0 !important;
    box-shadow: none !important;
    & + i,
    & + svg {
      right: 6px;
      opacity: 0.5;
      height: 15px;
      width: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  select {
    background-color: transparent;
    & + i,
    & + svg {
      right: 6px;
      opacity: 0.5;
      height: 15px;
      width: auto;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .input--wrapper {
    display: flex;
    align-items: center;
    &.hide {
      display: none;
    }

    .form-control {
      height: 28px;
      width: 62px;
      margin: 0px 8px;
      border-radius: 8px;
      padding: 6px;
    }
  }
}

@mixin profile--card {
  .profile--card {
    display: flex;
    align-items: center;
    width: 100%;
    @include mb;
    .card__img {
      @include circle--img;
    }
    .card__title {
      @include card-title;
    }
    .card__link {
      margin-left: auto;
      svg {
        height: 18px;
      }
    }
    .card__body {
      padding: 0 16px;
    }
  }
}

@mixin searchForm {
  form {
    @include mb;
    .form-group {
      width: 100%;
      position: relative;
      .form-control {
        border: 0;
        background-color: $white;
        box-shadow: none !important;
        outline: none !important;
        height: 46px;
        border-radius: 0;
        padding: 0 40px;
        // text-indent: 20px;
        @include responsivemd {
          height: 42px;
        }
        &::placeholder {
          color: $para !important;
        }

        &:focus,
        &:focus-within {
          color: $para;
        }
      }
      svg {
        height: 20px;
      }

      .search {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        opacity: 0.6;
        .cls-1,
        .cls-2 {
          fill: $para;
        }
      }
      .voice {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: scale(1) translateY(-50%);
        @include transition-in;
        transform-origin: center;
        svg {
          height: 18px;
          width: auto;
          .cls-2,
          .cls-3 {
            @include responsivemd {
              fill: $primary-color;
            }
          }
        }
        &.active {
          transform: scale(0) translateY(-50%);
          @include transition-out;
        }
      }
      .cross {
        font-size: 30px;
        opacity: 0;
        transform: scale(0) translateY(-50%);
        right: 9px;
        &.active {
          opacity: 1;
          transform: scale(1) translateY(-50%);
        }
      }
    }
    position: relative;
    @include searchList;
    &.form {
      @include responsivemd {
        display: flex;
      }
      .filter--trigger {
        font-size: 30px;
        color: #333;
        padding-right: 10px;
      }
      .form-control {
        @include responsivemd {
          background-color: #fff;
          border: 1px solid rgba($dark, 0.5);
          @include br12;
        }
      }
    }
  }
}
@mixin checkbox {
  .list-group {
    text-align: left;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -0.5em;
    .list-group-item {
      padding: 1em;
      @include border-radius;
      margin: 0.5em;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      border: 1px solid rgba(78, 78, 78, 0.3);
      text-align: center;
      min-width: 130px;
      color: $dark;
      width: auto;
      @include noSelect;
      background-color: rgba(255, 255, 255, 0.2);
      i {
        margin-right: 0.6em;
        opacity: 0.3;
        &.active {
          color: $primary-color;
          display: none;
        }
      }
    }

    .form-check {
      padding: 0;
      input {
        position: absolute;
        top: calc(50% - 1rem);
        left: 10px;
        margin: 0;
        z-index: 11;
        opacity: 0;
        &:checked + .list-group-item {
          background-color: rgba($primary-color, 0.2);
          border-color: $primary-color;
          i {
            color: $primary-color;
            opacity: 1;
          }
          // i:not(.active) {
          //   display: none;
          // }
          // i.active {
          //   display: inline-block;
          // }
        }
      }
    }
  }
}

@mixin thinscroll {
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #bbb;
    border-radius: 4px;
  }
}

@mixin input {
  height: 50px;
  font-size: 17px;
  color: $para;

  box-shadow: none;
  outline: none;
  border: 1px solid $para;
  @include border-radius;
  padding: 14px 16px;
  color: $dark;
  @include font(proxi);
  &:focus,
  &:focus-within,
  &.active {
    border-color: $dark;
    font-weight: inherit;
    &::placeholder {
      color: $para;
    }
  }
  @include responsivemd {
    height: 45px;
  }
  &::placeholder {
    font-weight: lighter;
    color: $para;
    font-weight: 17px;
  }
}
