@import './header';
// @import './commonClass';


.bg{
	@include bg;
}
.dashboard--main{
	flex-grow: 2;
	max-width: 1920px;
	.dashboard__general{
		@include profile--card;
		.profile--card{
			margin-bottom: 1em;
			background-color: #fff;
			@include box-shadow;
			.card__img {
				height: auto;
				width: 110px;
				min-width: 110px;
				border-radius: 0;
				padding: 20px;
				display: flex;
				justify-content: center;
				.cls-1{
					fill: #fff;
				}
				svg{
					height: 50px;
					width: auto;
					fill: #fff;
				}
			}
		} 
	}
	.chart--card{
		overflow: hidden;
		.country{
			fill: $dark;
		}
		.circle.tooltip{
			opacity: 1 !important;
		}
	}
}