@font-face {
  font-family: "ProximaNova";
  src: url("./font/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Mark Simonson";
  src: url("./font/Mark Simonson - Proxima Nova Semibold.otf") format("opentype");
  font-weight: 500;
}
@keyframes animate {
  17% {
    border-radius: 50% 50% 20px 20px;
  }
  25% {
    transform: translateY(9px);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9);
  }
  75% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes infinite--loader {
  0% {
    left: 0;
    width: 30%;
  }
  50% {
    width: 60%;
    left: 20%;
  }
  100% {
    width: 30%;
    left: 70%;
  }
}
@keyframes interval {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.progress {
  vertical-align: baseline;
  height: 2px;
  border: 0;
  width: 100%;
  transition: 0.3s ease-out;
  -webkit-appearance: none;
  appearance: none;
}

label {
  cursor: pointer;
}

/* --------------------------------------------------------
version: 1.0
last modified: 24.2.2020 by anjit
author: Anjit Pariyar	
email: anjitpariyar@gmail.com
github: https://github.com/anjitzero
----------------------------------------------------------*/
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 589px) {
  html {
    font-size: 12px;
  }
}

a:hover {
  text-decoration: none;
  color: currentColor;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  outline-style: none;
}

a {
  transition: 0.3s ease;
  color: currentColor;
  box-shadow: none;
  -webkit-box-shadow: none;
}
a:hover {
  color: #fe4545;
}
a a:active {
  color: #fe4545;
}

a:active {
  color: #ff6f6f;
}

label {
  box-shadow: none;
  -webkit-box-shadow: none;
}

h1,
h2,
h3 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #232323;
}
@media only screen and (max-width: 600px) {
  h1,
h2,
h3 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 455px) {
  h1,
h2,
h3 {
    margin-bottom: 10px;
  }
}

.logo img {
  height: 4rem;
  object-fit: contain;
}

body {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  position: relative;
  scroll-behavior: smooth;
  color: #232323;
}

.section__rule {
  margin: 0 auto;
  max-width: 1920px;
}
@media only screen and (min-width: 0px) {
  .section__rule {
    padding: 20px 0;
    width: 100%;
  }
}
img[src$=".jpg"] {
  background-color: #f6f7f9;
}

.slick-slide {
  outline: none;
}

input::placeholder {
  color: rgba(35, 35, 35, 0.3);
}

.description p {
  font-size: 1em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}

select + i {
  position: absolute;
  right: 0;
  position: absolute;
  right: 8px;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

.select-wrapper,
.select--wrapper {
  position: relative;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.row {
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .col-sm-6 {
    padding: 0 6px !important;
  }
}
.fixed-top {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  overflow-y: scroll;
  z-index: 10000 !important;
}

hr {
  border-top: 2px solid rgba(255, 255, 255, 0.16);
  width: 100%;
  margin: 35px 0;
}
@media only screen and (max-width: 455px) {
  hr {
    margin: 25px 0px;
  }
}

mark {
  background-color: #232323;
  color: #fff;
  padding: 3px 14px;
}

@media only screen and (max-width: 678px) {
  p {
    margin-bottom: 8px;
  }
}

a {
  display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-check-input {
  position: relative;
  margin-top: 0;
  margin-left: -1.25rem;
  margin-right: 11px;
}

button.disabled {
  cursor: not-allowed;
}

button:visited,
button:focus {
  outline: none;
}

body.overflow {
  overflow-y: hidden;
}

.relative {
  display: none !important;
}

[class^=bi-]::before,
[class*=" bi-"]::before {
  vertical-align: sub;
}

html {
  overflow-y: overlay;
}

a[type=button] {
  box-shadow: none !important;
  -webkit-appearance: none !important;
  border: none !important;
}

body.darkmode {
  transition: none;
  background-color: #393939;
  color: #d3d3d3;
}
body.darkmode .card {
  transition: none !important;
}
body.darkmode header,
body.darkmode .right--aside,
body.darkmode .dropdown-menu {
  background-color: #393939;
  color: #d3d3d3;
}
body.darkmode .form-control::placeholder,
body.darkmode .section__title,
body.darkmode .para,
body.darkmode .card,
body.darkmode .card .card__title,
body.darkmode .feed .card time,
body.darkmode .card time,
body.darkmode time,
body.darkmode .dropdown a .card .dropdown a,
body.darkmode .feed .card .user__text,
body.darkmode .card .user__text,
body.darkmode .user__text,
body.darkmode .feed .card .card__action a,
body.darkmode .card .card__action a,
body.darkmode .card__action a,
body.darkmode a,
body.darkmode .feed .dropdown-menu .nav-link,
body.darkmode dropdown-menu .nav-link,
body.darkmode .feed .card .card__comments .profile--card .card__body .form-control,
body.darkmode .form-control,
body.darkmode .feed .card .card__comments .card__top .para,
body.darkmode .right--aside .profile-numbers small,
body.darkmode h2,
body.darkmode .modal-content,
body.darkmode .modal--post .card__link .select--input--wrapper .form-control,
body.darkmode .modal--post .card__link .select--input--wrapper ::placeholder,
body.darkmode .modal--post .card__link .select--input--wrapper label,
body.darkmode .tail-datetime-calendar .calendar-actions,
body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper .form-control,
body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper ::placeholder,
body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper label,
body.darkmode .fullImage .card .card__comments .card__top .para,
body.darkmode .fullImage .card__horizontal .card__comments .card__top .para,
body.darkmode .fullImage .card .dropdown-menu .nav-link,
body.darkmode .fullImage .card .card__comments .profile--card .card__body .form-control,
body.darkmode .fullImage .card__horizontal .card__comments .profile--card .card__body .form-control,
body.darkmode .notification--main .nav-tabs .nav-link,
body.darkmode .messenger--main .nav-tabs .nav-link,
body.darkmode .profile--main .feed .nav-tabs .nav-link,
body.darkmode .profile__card__wallpaper .card__body p,
body.darkmode .profile__card__wallpaper .card__body small,
body.darkmode .profile--right--aside .other--nav .list-group .list-group-item,
body.darkmode #ott--modal .para,
body.darkmode .sucess--part .card__title,
body.darkmode .profile--right--aside .other--nav .list-group .level-2,
body.darkmode .profile--edit .feed aside.tab-content form .form-control::placeholder,
body.darkmode .profile--edit .feed aside.tab-content form .form-control,
body.darkmode .message--new form .form-group .form-control::placeholder,
body.darkmode .message--new form .form-group .form-control,
body.darkmode .search-wrapper--main .search-wrapper .form-group .form-control::placeholder,
body.darkmode .search-wrapper--main .search-wrapper .form-group .form-control,
body.darkmode .insights--aside .chart--card .para,
body.darkmode .insights--aside .chart--card svg text,
body.darkmode .login-pages__footer .nav-link,
body.darkmode .dark,
body.darkmode label,
body.darkmode .page--search form .form-group .form-control::placeholder,
body.darkmode .profile--edit .feed aside.tab-content form .input--url,
body.darkmode .table,
body.darkmode .combineSelect input,
body.darkmode .combineSelect select {
  color: #d3d3d3 !important;
}
body.darkmode .feed .card .card__comments .profile--card .card__body,
body.darkmode .notification--main .nav-tabs,
body.darkmode .messenger--main .nav-tabs,
body.darkmode .profile--main .feed .nav-tabs,
body.darkmode .page--search .nav-tabs,
body.darkmode .profile--edit .feed nav,
body.darkmode .modal--kyc .form-control {
  border-color: rgba(211, 211, 211, 0.3);
}
body.darkmode .accounts--top .card .card__title a,
body.darkmode .feed .card .card__top .card__title a,
body.darkmode .feed .card .card__top .card__title,
body.darkmode .right--aside .profile--card .card__title,
body.darkmode .tail-datetime-calendar .calendar-datepicker table tr td,
body.darkmode .profile--right--aside .other--nav .card__title,
body.darkmode .message--new .modal-body .card .card__top .card__title,
body.darkmode .message--new .modal-body .card__horizontal .card__top .card__title {
  color: #f3f3f3;
}
body.darkmode .feed .dropdown-menu .nav-link:hover,
body.darkmode .dropdown-menu .nav-link:hover,
body.darkmode .fullImage .card .dropdown-menu .nav-link:hover,
body.darkmode .profile--edit .profile--edit--wrapper .feed nav .nav-tabs .nav-link.active,
body.darkmode .profile--edit .profile--edit--wrapper .feed nav .nav-tabs .nav-link:hover {
  background-color: rgba(246, 247, 249, 0.03) !important;
}
body.darkmode .profile--card svg,
body.darkmode svg,
body.darkmode .feed .card .card__top .card__top__link svg,
body.darkmode .card .card__top .card__top__link svg,
body.darkmode .card .card__top .card__top__link svg circle,
body.darkmode .right--aside form .form-group .search .cls-1,
body.darkmode .right--aside form .form-group .search .cls-2,
body.darkmode .voice.voice__only .cls-2 .voice.voice__only .cls-1,
body.darkmode .modal .card__link svg path,
body.darkmode .modal .card__link svg rect,
body.darkmode .fullImage .card .card__action a.share svg,
body.darkmode .profile--right--aside .other--nav .list-group .list-group-item svg .cls-1,
body.darkmode .notification--main .nav-tabs .nav-link svg .cls-1,
body.darkmode .notification--main .title__wrapper .title__link svg .cls-1,
body.darkmode .profile--main .feed .nav-tabs .nav-link svg .cls-1,
body.darkmode .feed .nav-tabs .nav-link svg .cls-1,
body.darkmode .profile--main .feed .nav-tabs .nav-link svg path,
body.darkmode .search-wrapper--main .title__link svg .cls-1,
body.darkmode .mob--header .nav__link .cls-1,
body.darkmode .page--search .nav-tabs .nav-link svg path,
body.darkmode .page--search .nav-tabs .nav-link svg .cls-1,
body.darkmode .title__link svg path,
body.darkmode .section__title svg path,
body.darkmode .mob--header .nav__link svg,
body.darkmode .profile--aside--menu.profile--right--aside .other--nav .list-group .list-group-item > .toggle,
body.darkmode .profile--aside--menu.profile--right--aside .other--nav .list-group .list-group-item > .toggle .cls-1,
body.darkmode .message--new form .form-group .search .cls-1,
body.darkmode .message--new form .form-group .search .cls-2,
body.darkmode .page--search form .form-group .search .cls-1,
body.darkmode .page--search form .form-group .search .cls-2,
body.darkmode .profile--edit .card__wallpaper .circle svg,
body.darkmode .profile--edit .card__wallpaper .circle svg path {
  fill: #d3d3d3;
}
body.darkmode .profile--card .card__link svg path,
body.darkmode .profile--card .card__link svg rect,
body.darkmode .slick-arrow:not(.slick-disabled) svg path,
body.darkmode .feed .card .card__action a svg,
body.darkmode .feed .card .card__action a svg,
body.darkmode .fullImage .card .card__action a svg,
body.darkmode .messenger--main .feed .chat--card .user__text svg .cls-1 {
  fill: #d3d3d3 !important;
}
body.darkmode .feed .card .card__action a svg,
body.darkmode .feed .card .card__action a.love svg,
body.darkmode .feed .card .card__top .card__top__link svg circle,
body.darkmode .profile--card svg circle,
body.darkmode .fullImage .card .card__action a svg,
body.darkmode .fullImage .card .card__action a.love svg {
  stroke: #d3d3d3;
  fill: transparent;
}
body.darkmode .feed .card .card__action a.love svg,
body.darkmode .fullImage .card .card__action a.love svg {
  fill: transparent !important;
}
body.darkmode .feed .card .card__action a.love.active svg,
body.darkmode .fullImage .card .card__action a.love.active svg {
  fill: #fe4545 !important;
}
body.darkmode header .nav__link.active {
  background-color: rgba(255, 255, 255, 0.1);
}
body.darkmode header .nav__link .cls-1 {
  fill: #fff;
}
body.darkmode .slick-arrow.slick-disabled svg path {
  fill: #424242;
}
body.darkmode .post .profile--card,
body.darkmode main .post .profile--card .card__body .form-control,
body.darkmode .card,
body.darkmode img[src$=".jpg"],
body.darkmode header .nav__link:hover,
body.darkmode .feed .card,
body.darkmode .feed .card .card__comments .profile--card,
body.darkmode .right--aside form .list-group,
body.darkmode .progress,
body.darkmode .notification--main .nav-tabs,
body.darkmode .messenger--main .nav-tabs,
body.darkmode .profile--main .feed .nav-tabs,
body.darkmode .profile__card__wallpaper .card__body,
body.darkmode .profile--right--aside .other--nav .list-group .level-2,
body.darkmode .profile--edit .profile--edit--wrapper,
body.darkmode .form-inline.search-wrapper .form-control,
body.darkmode .profile--right--aside.messenger--aside .form-inline.search-wrapper .form-control,
body.darkmode .messenger--aside .chat--wrapper .chat--wrapper--top .chat--card,
body.darkmode .messenger--aside .chat--wrapper__bottom,
body.darkmode .messenger--aside .chat--wrapper .chat--wrapper--top,
body.darkmode .messenger--aside .chat__ph--upload .edit--wrapper,
body.darkmode .custom-control-label::before,
body.darkmode .dashboard--main .dashboard__general .profile--card,
body.darkmode .tost-wrapper .toast,
body.darkmode .profile__card__wallpaper .card__top .card__img,
body.darkmode .page--search .nav-tabs,
body.darkmode .login-pages .signup--wrapper,
body.darkmode .insights--main .card.chat--card,
body.darkmode .page--search form.form,
body.darkmode .page--search form .list-group .list-group-item,
body.darkmode .main.profile--main .profile--edit--wrapper .profile__card__wallpaper .card__body,
body.darkmode .bg--white,
body.darkmode .profile--edit .feed aside.tab-content {
  background-color: #3c3c3c !important;
}
body.darkmode .accounts--top .card .profile__img--wrapper .profile__img,
body.darkmode .modal--post hr,
body.darkmode hr {
  border-color: #3c3c3c;
}
body.darkmode .form-control,
body.darkmode .right--aside .form-control,
body.darkmode main,
body.darkmode .modal-content,
body.darkmode .tail-datetime-calendar,
body.darkmode .tail-datetime-calendar .calendar-actions,
body.darkmode .messenger--main .search-wrapper--main,
body.darkmode .message--new .close,
body.darkmode .messenger--aside .chat--wrapper .chat--wrapper--top .chat--card,
body.darkmode .modal--tips .form-group,
body.darkmode .mob--header,
body.darkmode .login-pages .login-pages__main,
body.darkmode .login-pages + .login-pages__footer,
body.darkmode .aside--search .custom-switch label::before,
body.darkmode .aside--search .select-wrapper,
body.darkmode .profile--aside--menu .right--aside__wrapper,
body.darkmode .insights--aside .chat--wrapper--top a.title__link,
body.darkmode .insights--aside .chat--wrapper--top div.title__link,
body.darkmode .main.profile--main .profile__card__wallpaper .card__body,
body.darkmode .profile--edit .feed aside.tab-content form .custom-switch label::before {
  background-color: #313131 !important;
}
body.darkmode .poll__wrapper .custom-control .custom-control-label .absolute--sorry {
  background-color: #edcece !important;
}
body.darkmode .profile--main .feed .card .poll__wrapper .result--box {
  color: #d67878 !important;
}
body.darkmode .feed .card button.deactive,
body.darkmode .shared .card,
body.darkmode .right--aside form .form-group .form-control,
body.darkmode .right--aside form .list-group .list-group-item,
body.darkmode .modal--post .close,
body.darkmode .badge--modal .close,
body.darkmode .modal--post .card__link .select--input--wrapper,
body.darkmode .card__link .select--input--wrapper,
body.darkmode .tail-datetime-calendar .calendar-timepicker .timepicker-field input[type=text],
body.darkmode .tail-datetime-calendar .calendar-timepicker .timepicker-field button.picker-step.step-up,
body.darkmode .tail-datetime-calendar .calendar-timepicker .timepicker-field button.picker-step.step-down,
body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper,
body.darkmode .fullImage .card__horizontal button.deactive,
body.darkmode .fullImage .card button.deactive,
body.darkmode #ott--modal .close,
body.darkmode .modal--tips .close,
body.darkmode .chat--wrapper__body .chat--box__body .user--text,
body.darkmode .chat--wrapper__body .shared-feed .feed .card,
body.darkmode .messenger--main.insights--main .feed .chat--card.active,
body.darkmode .modal--logout .close,
body.darkmode .modal--logout .modal-body button.deactive,
body.darkmode .login-pages .form-control,
body.darkmode .image--multi__dots,
body.darkmode .shared > .card__body .card__body .image--multi__dot,
body.darkmode .page--search .seeAll.deactive,
body.darkmode .message--new .close {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #d3d3d3;
  z-index: 3;
}
body.darkmode .right--aside form .form-group .form-control::placeholder {
  color: #d3d3d3 !important;
}
body.darkmode .right--aside form .form-group .search .cls-1,
body.darkmode .right--aside form .form-group .search .cls-2,
body.darkmode .voice.voice__only .cls-1,
body.darkmode .modal--post .card__link .non-active svg {
  opacity: 1;
}
body.darkmode .modal-backdrop.show {
  opacity: 0.75;
}
body.darkmode .tail-datetime-calendar .calendar-actions span.action-prev,
body.darkmode .tail-datetime-calendar .calendar-actions span.action-next {
  filter: invert(1);
}
body.darkmode .tail-datetime-calendar .calendar-timepicker .timepicker-field input[type=text] {
  border: 0;
}
body.darkmode .modal--post .card__link .select--input--wrapper select,
body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper select {
  background-color: #5a5a5a !important;
}
body.darkmode .card__link .select--input--wrapper {
  overflow: hidden;
}
body.darkmode .modal--post .emoji,
body.darkmode .fullImage .card .right--aside,
body.darkmode .fullImage .card .card__comments .profile--card,
body.darkmode .fullImage .card__horizontal .card__comments .profile--card,
body.darkmode .fullImage .card,
body.darkmode footer,
body.darkmode .messenger--aside .chat--wrapper__bottom .profile--card,
body.darkmode .messenger--aside .chat--wrapper__bottom .profile--card .card__body .form-control,
body.darkmode .fullImage .profile--card.comment--card .card__body.form-group .comment__text,
body.darkmode .messenger--main .feed .chat--card:not(.readed),
body.darkmode .feed .card .card__comments .profile--card .card__body .form-control,
body.darkmode .message--new .modal-body .card,
body.darkmode .poll__wrapper .custom-control .count,
body.darkmode .combineSelect input,
body.darkmode .combineSelect select {
  background-color: transparent !important;
}
body.darkmode .insights--aside .chart--card .line.text--prup {
  stroke: #f81dff;
}
body.darkmode .text--prup {
  color: #f81dff;
  fill: #f81dff;
}
body.darkmode .login-pages .illustration::before {
  background-color: #000;
  background-image: none;
}
body.darkmode .profile__card__wallpaper .card__top .card__img {
  box-shadow: 0 0 0px 3px #3c3c3c !important;
}
body.darkmode .outline--common.option__link.stroke path,
body.darkmode .stroke path {
  fill: none !important;
  stroke: #f6f7f9;
}

.form-control[readonly] {
  background-color: transparent;
}

body {
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: center;
}
@media only screen and (max-width: 1700px) {
  body {
    background-color: #f6f7f9;
  }
}

header {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100px;
  background-color: #fff;
}
@media only screen and (max-width: 1130px) {
  header {
    width: 90px;
  }
}
@media only screen and (max-width: 601px) {
  header {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    height: 60px;
    left: 0;
    top: auto;
    box-shadow: rgba(35, 35, 35, 0.03) 3px -4px 12px;
  }
}
header .section__rule {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 10px;
}
@media only screen and (max-width: 601px) {
  header .section__rule {
    padding: 10px;
  }
}
header .logo {
  text-align: center;
}
header .logo svg {
  width: 35px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
header .logo svg .cls-1 {
  fill: url(#linear-gradient) !important;
  opacity: 1 !important;
}
@media only screen and (max-width: 601px) {
  header .logo {
    display: none;
  }
}
header .navbar {
  padding: 0;
  justify-content: center;
}
@media only screen and (max-width: 601px) {
  header .navbar {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 601px) {
  header .navbar .navbar-nav {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}
header .nav__link {
  border-radius: 13px;
  margin: 10px 0;
  height: 60px;
  width: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: 0.3s linear;
}
@media only screen and (max-width: 601px) {
  header .nav__link {
    margin: 0;
    height: 45px;
    width: 45px;
  }
}
header .nav__link svg {
  width: 20px;
}
header .nav__link .cls-1 {
  fill: #232323;
}
header .nav__link:hover {
  background-color: #f6f7f9;
}
header .nav__link .cls-2 {
  fill: #fe4545;
}
header .nav__link.active {
  background-color: #e9e9e9;
}
header .nav__link.active .cls-1 {
  opacity: 1;
}
header .logout {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 601px) {
  header .logout {
    display: none;
  }
}
header .logout hr {
  margin: 0;
  border-color: rgba(35, 35, 35, 0.1);
}
header .notification.active svg:last-child {
  display: none;
}
header .notification:not(.active) svg:first-child {
  display: none;
}

.mob--header {
  order: -1;
  position: sticky;
  top: -70px;
  z-index: 100;
  background-color: #f6f7f9;
  transition: 0.3s ease-in;
}
@media only screen and (min-width: 600px) {
  .mob--header {
    display: none;
  }
}
.mob--header.active {
  transition: 0.3s ease-out;
  top: 0px;
}
.mob--header .section__rule {
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.mob--header .logo {
  text-align: center;
}
.mob--header .logo svg,
.mob--header .logo img {
  width: auto !important;
  height: 33px;
  overflow: visible;
}
.mob--header .logo svg .cls-1,
.mob--header .logo img .cls-1 {
  fill: url(#linear-gradient--mob) !important;
}
.mob--header .navbar {
  padding: 0;
}
.mob--header .navbar .navbar-nav {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.mob--header .nav__link {
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  transition: 0.3s linear;
}
.mob--header .nav__link svg {
  height: 20px;
  width: auto;
  fill: #232323;
}
.mob--header .nav__link.hamburger-menu svg {
  height: 26px;
}
.mob--header .nav__link .cls-1 {
  fill: #232323;
}
.mob--header .nav__link .cls-2 {
  fill: #fe4545;
}

.bg {
  background-image: linear-gradient(135deg, #fe4545, #d70153);
}

.dashboard--main {
  flex-grow: 2;
  max-width: 1920px;
}
.dashboard--main .dashboard__general .profile--card {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}
@media only screen and (max-width: 601px) {
  .dashboard--main .dashboard__general .profile--card {
    margin-bottom: 20px;
  }
}
.dashboard--main .dashboard__general .profile--card .card__img {
  height: 70px;
  width: 70px;
  min-width: 70px;
  border-radius: 50%;
  display: block;
  border: 2px solid rgba(35, 35, 35, 0.3);
}
.dashboard--main .dashboard__general .profile--card .card__img.active {
  border: 2px solid #fe4545;
  padding: 3px;
}
.dashboard--main .dashboard__general .profile--card .card__img img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
@media only screen and (max-width: 601px) {
  .dashboard--main .dashboard__general .profile--card .card__img {
    height: 56px;
    width: 56px;
    min-width: 56px;
  }
}
.dashboard--main .dashboard__general .profile--card .card__title {
  color: #232323;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0px;
}
@media only screen and (max-width: 601px) {
  .dashboard--main .dashboard__general .profile--card .card__title {
    font-size: 1em;
  }
}
.dashboard--main .dashboard__general .profile--card .card__link {
  margin-left: auto;
}
.dashboard--main .dashboard__general .profile--card .card__link svg {
  height: 18px;
}
.dashboard--main .dashboard__general .profile--card .card__body {
  padding: 0 16px;
}
.dashboard--main .dashboard__general .profile--card {
  margin-bottom: 1em;
  background-color: #fff;
  box-shadow: rgba(35, 35, 35, 0.1) -3px 4px 12px;
  transition: 0.3s ease-in;
}
.dashboard--main .dashboard__general .profile--card:hover {
  transition: 0.3s ease-out;
  box-shadow: rgba(35, 35, 35, 0.1) -5px 6px 12px;
}
.dashboard--main .dashboard__general .profile--card .card__img {
  height: auto;
  width: 110px;
  min-width: 110px;
  border-radius: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.dashboard--main .dashboard__general .profile--card .card__img .cls-1 {
  fill: #fff;
}
.dashboard--main .dashboard__general .profile--card .card__img svg {
  height: 50px;
  width: auto;
  fill: #fff;
}
.dashboard--main .chart--card {
  overflow: hidden;
}
.dashboard--main .chart--card .country {
  fill: #232323;
}
.dashboard--main .chart--card .circle.tooltip {
  opacity: 1 !important;
}