.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: $primary-color;
  background-color: $primary-color;
}
.custom-control-label::before {
  box-shadow: 0;
}
.input--text {
  margin-top: 0.6em;
}
