@import "./header";
@import "./commonClass";

.inner-page {
  img {
    @include image;
  }
}

.inner-page.no-navs {
  width: 100%;
  padding: 0;
  flex-grow: 0;
  display: flex;
  min-height: max(100vh, 840px);
  overflow: hidden;
  background-color: #fff;
  position: relative;
  // max-height: 1080px;
  flex-wrap: nowrap;
  flex-direction: row;
  min-height: 840px;
  height: auto;
  max-height: 100%;
  @include responsivemmd {
    margin-bottom: 0;
    min-height: 100vh;
    overflow: visible;
    height: 100%;
    min-height: auto;
  }
  aside.illustration {
    width: 30%;
    min-width: 400px;
    position: relative;
    @include responsivelg {
      min-width: 320px;
    }
    @include responsivemmd {
      width: 60px;
      min-width: 60px;
    }
  }
}
