@font-face {
  font-family: "ProximaNova";
  src: url("./font/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400; }
@font-face {
  font-family: "Mark Simonson";
  src: url("./font/Mark Simonson - Proxima Nova Semibold.otf") format("opentype");
  font-weight: 500; }
@-webkit-keyframes animate {
  17% {
    border-radius: 50% 50% 20px 20px; }
  25% {
    transform: translateY(9px); }
  50% {
    transform: translateY(18px) scale(1, 0.9); }
  75% {
    transform: translateY(9px); }
  100% {
    transform: translateY(0); } }
@-moz-keyframes animate {
  17% {
    border-radius: 50% 50% 20px 20px; }
  25% {
    transform: translateY(9px); }
  50% {
    transform: translateY(18px) scale(1, 0.9); }
  75% {
    transform: translateY(9px); }
  100% {
    transform: translateY(0); } }
@keyframes animate {
  17% {
    border-radius: 50% 50% 20px 20px; }
  25% {
    transform: translateY(9px); }
  50% {
    transform: translateY(18px) scale(1, 0.9); }
  75% {
    transform: translateY(9px); }
  100% {
    transform: translateY(0); } }
@-webkit-keyframes shadow {
  50% {
    transform: scale(1.2, 1); } }
@-moz-keyframes shadow {
  50% {
    transform: scale(1.2, 1); } }
@keyframes shadow {
  50% {
    transform: scale(1.2, 1); } }
@-webkit-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadein {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes infinite--loader {
  0% {
    left: 0;
    width: 30%; }
  50% {
    width: 60%;
    left: 20%; }
  100% {
    width: 30%;
    left: 70%; } }
@-moz-keyframes infinite--loader {
  0% {
    left: 0;
    width: 30%; }
  50% {
    width: 60%;
    left: 20%; }
  100% {
    width: 30%;
    left: 70%; } }
@keyframes infinite--loader {
  0% {
    left: 0;
    width: 30%; }
  50% {
    width: 60%;
    left: 20%; }
  100% {
    width: 30%;
    left: 70%; } }
@-webkit-keyframes interval {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@-moz-keyframes interval {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes interval {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
.progress {
  vertical-align: baseline;
  height: 2px;
  border: 0;
  width: 100%;
  transition: 0.3s ease-out;
  -webkit-appearance: none;
  appearance: none; }

label {
  cursor: pointer; }

  /* --------------------------------------------------------
version: 1.0
last modified: 24.2.2020 by anjit
author: Anjit Pariyar	
email: anjitpariyar@gmail.com
github: https://github.com/anjitzero
----------------------------------------------------------*/
html {
  font-size: 16px;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 589px) {
    html {
      font-size: 12px; } }

a:hover {
  text-decoration: none;
  color: currentColor; }

a:active,
a:focus {
  outline: 0;
  border: none;
  outline-style: none; }

a {
  transition: 0.3s ease;
  color: currentColor;
  box-shadow: none;
  -webkit-box-shadow: none; }
  a:hover {
    color: #fe4545; }
  a a:active {
    color: #fe4545; }

a:active {
  color: #ff6f6f; }

label {
  box-shadow: none;
  -webkit-box-shadow: none; }

h1,
h2,
h3 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #232323; }
  @media only screen and (max-width: 600px) {
    h1,
    h2,
    h3 {
      font-size: 2rem; } }
  @media only screen and (max-width: 455px) {
    h1,
    h2,
    h3 {
      margin-bottom: 10px; } }

.logo img {
  height: 4rem;
  object-fit: contain; }

body {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  position: relative;
  scroll-behavior: smooth;
  color: rgba(35, 35, 35, 0.3); }

.section__rule {
  margin: 0 auto;
  max-width: 1920px; }
  @media only screen and (min-width: 0px) {
    .section__rule {
      padding: 20px 0;
      width: 100%; } }

img[src$=".jpg"] {
  background-color: #f6f7f9; }

.slick-slide {
  outline: none; }

input::placeholder {
  color: rgba(35, 35, 35, 0.3); }

.description p {
  font-size: 1em; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */ }

select + i {
  position: absolute;
  right: 0;
  position: absolute;
  right: 8px;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px; }

.select-wrapper,
.select--wrapper {
  position: relative; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */ }

.row {
  margin: 0; }

@media only screen and (max-width: 480px) {
  .col-sm-6 {
    padding: 0 6px !important; } }
.fixed-top {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  overflow-y: scroll;
  z-index: 10000 !important; }

hr {
  border-top: 2px solid rgba(255, 255, 255, 0.16);
  width: 100%;
  margin: 35px 0; }
  @media only screen and (max-width: 455px) {
    hr {
      margin: 25px 0px; } }

mark {
  background-color: #232323;
  color: #fff;
  padding: 3px 14px; }

@media only screen and (max-width: 678px) {
  p {
    margin-bottom: 8px; } }

a {
  display: inline-block; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

input[type="number"] {
  -moz-appearance: textfield; }

.form-check-input {
  position: relative;
  margin-top: 0;
  margin-left: -1.25rem;
  margin-right: 11px; }

button.disabled {
  cursor: not-allowed; }

button:visited,
button:focus {
  outline: none; }

body.overflow {
  overflow-y: hidden; }

.relative {
  display: none !important; }

[class^="bi-"]::before,
[class*=" bi-"]::before {
  vertical-align: sub; }

html {
  overflow-y: overlay; }

a[type="button"] {
  box-shadow: none !important;
  -webkit-appearance: none !important;
  border: none !important; }

body.darkmode {
  transition: none;
  background-color: #393939;
  color: #d3d3d3; }
  body.darkmode .card {
    transition: none !important; }
  body.darkmode header,
  body.darkmode .right--aside,
  body.darkmode .dropdown-menu {
    background-color: #393939;
    color: #d3d3d3; }
  body.darkmode .form-control::placeholder,
  body.darkmode .section__title,
  body.darkmode .para,
  body.darkmode .card,
  body.darkmode .card .card__title,
  body.darkmode .feed .card time,
  body.darkmode .card time,
  body.darkmode time,
  body.darkmode .dropdown a .card .dropdown a,
  body.darkmode .feed .card .user__text,
  body.darkmode .card .user__text,
  body.darkmode .user__text,
  body.darkmode .feed .card .card__action a,
  body.darkmode .card .card__action a,
  body.darkmode .card__action a,
  body.darkmode a,
  body.darkmode .feed .dropdown-menu .nav-link,
  body.darkmode dropdown-menu .nav-link,
  body.darkmode .feed .card .card__comments .profile--card .card__body .form-control,
  body.darkmode .form-control,
  body.darkmode .feed .card .card__comments .card__top .para,
  body.darkmode .right--aside .profile-numbers small,
  body.darkmode h2,
  body.darkmode .modal-content,
  body.darkmode .modal--post .card__link .select--input--wrapper .form-control,
  body.darkmode .modal--post .card__link .select--input--wrapper ::placeholder,
  body.darkmode .modal--post .card__link .select--input--wrapper label,
  body.darkmode .tail-datetime-calendar .calendar-actions,
  body.darkmode .modal--post
  .poll__wrapper
  .poll--buttom
  .select--input--wrapper
  .form-control,
  body.darkmode .modal--post
  .poll__wrapper
  .poll--buttom
  .select--input--wrapper
  ::placeholder,
  body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper label,
  body.darkmode .fullImage .card .card__comments .card__top .para,
  body.darkmode .fullImage .card__horizontal .card__comments .card__top .para,
  body.darkmode .fullImage .card .dropdown-menu .nav-link,
  body.darkmode .fullImage .card .card__comments .profile--card .card__body .form-control,
  body.darkmode .fullImage
  .card__horizontal
  .card__comments
  .profile--card
  .card__body
  .form-control,
  body.darkmode .notification--main .nav-tabs .nav-link,
  body.darkmode .messenger--main .nav-tabs .nav-link,
  body.darkmode .profile--main .feed .nav-tabs .nav-link,
  body.darkmode .profile__card__wallpaper .card__body p,
  body.darkmode .profile__card__wallpaper .card__body small,
  body.darkmode .profile--right--aside .other--nav .list-group .list-group-item,
  body.darkmode #ott--modal .para,
  body.darkmode .sucess--part .card__title,
  body.darkmode .profile--right--aside .other--nav .list-group .level-2,
  body.darkmode .profile--edit .feed aside.tab-content form .form-control::placeholder,
  body.darkmode .profile--edit .feed aside.tab-content form .form-control,
  body.darkmode .message--new form .form-group .form-control::placeholder,
  body.darkmode .message--new form .form-group .form-control,
  body.darkmode .search-wrapper--main .search-wrapper .form-group .form-control::placeholder,
  body.darkmode .search-wrapper--main .search-wrapper .form-group .form-control,
  body.darkmode .insights--aside .chart--card .para,
  body.darkmode .insights--aside .chart--card svg text,
  body.darkmode .login-pages__footer .nav-link,
  body.darkmode .dark,
  body.darkmode label,
  body.darkmode .page--search form .form-group .form-control::placeholder,
  body.darkmode .profile--edit .feed aside.tab-content form .input--url,
  body.darkmode .table,
  body.darkmode .combineSelect input,
  body.darkmode .combineSelect select {
    color: #d3d3d3 !important; }
  body.darkmode .feed .card .card__comments .profile--card .card__body,
  body.darkmode .notification--main .nav-tabs,
  body.darkmode .messenger--main .nav-tabs,
  body.darkmode .profile--main .feed .nav-tabs,
  body.darkmode .page--search .nav-tabs,
  body.darkmode .profile--edit .feed nav,
  body.darkmode .modal--kyc .form-control {
    border-color: rgba(211, 211, 211, 0.3); }
  body.darkmode .accounts--top .card .card__title a,
  body.darkmode .feed .card .card__top .card__title a,
  body.darkmode .feed .card .card__top .card__title,
  body.darkmode .right--aside .profile--card .card__title,
  body.darkmode .tail-datetime-calendar .calendar-datepicker table tr td,
  body.darkmode .profile--right--aside .other--nav .card__title,
  body.darkmode .message--new .modal-body .card .card__top .card__title,
  body.darkmode .message--new .modal-body .card__horizontal .card__top .card__title {
    color: #f3f3f3; }
  body.darkmode .feed .dropdown-menu .nav-link:hover,
  body.darkmode .dropdown-menu .nav-link:hover,
  body.darkmode .fullImage .card .dropdown-menu .nav-link:hover,
  body.darkmode .profile--edit .profile--edit--wrapper .feed nav .nav-tabs .nav-link.active,
  body.darkmode .profile--edit .profile--edit--wrapper .feed nav .nav-tabs .nav-link:hover {
    background-color: rgba(246, 247, 249, 0.03) !important; }
  body.darkmode .profile--card svg,
  body.darkmode svg,
  body.darkmode .feed .card .card__top .card__top__link svg,
  body.darkmode .card .card__top .card__top__link svg,
  body.darkmode .card .card__top .card__top__link svg circle,
  body.darkmode .right--aside form .form-group .search .cls-1,
  body.darkmode .right--aside form .form-group .search .cls-2,
  body.darkmode .voice.voice__only .cls-2 .voice.voice__only .cls-1,
  body.darkmode .modal .card__link svg path,
  body.darkmode .modal .card__link svg rect,
  body.darkmode .fullImage .card .card__action a.share svg,
  body.darkmode .profile--right--aside .other--nav .list-group .list-group-item svg .cls-1,
  body.darkmode .notification--main .nav-tabs .nav-link svg .cls-1,
  body.darkmode .notification--main .title__wrapper .title__link svg .cls-1,
  body.darkmode .profile--main .feed .nav-tabs .nav-link svg .cls-1,
  body.darkmode .feed .nav-tabs .nav-link svg .cls-1,
  body.darkmode .profile--main .feed .nav-tabs .nav-link svg path,
  body.darkmode .search-wrapper--main .title__link svg .cls-1,
  body.darkmode .mob--header .nav__link .cls-1,
  body.darkmode .page--search .nav-tabs .nav-link svg path,
  body.darkmode .page--search .nav-tabs .nav-link svg .cls-1,
  body.darkmode .title__link svg path,
  body.darkmode .section__title svg path,
  body.darkmode .mob--header .nav__link svg,
  body.darkmode .profile--aside--menu.profile--right--aside
  .other--nav
  .list-group
  .list-group-item
  > .toggle,
  body.darkmode .profile--aside--menu.profile--right--aside
  .other--nav
  .list-group
  .list-group-item
  > .toggle
  .cls-1,
  body.darkmode .message--new form .form-group .search .cls-1,
  body.darkmode .message--new form .form-group .search .cls-2,
  body.darkmode .page--search form .form-group .search .cls-1,
  body.darkmode .page--search form .form-group .search .cls-2,
  body.darkmode .profile--edit .card__wallpaper .circle svg,
  body.darkmode .profile--edit .card__wallpaper .circle svg path {
    fill: #d3d3d3; }
  body.darkmode .profile--card .card__link svg path,
  body.darkmode .profile--card .card__link svg rect,
  body.darkmode .slick-arrow:not(.slick-disabled) svg path,
  body.darkmode .feed .card .card__action a svg,
  body.darkmode .feed .card .card__action a svg,
  body.darkmode .fullImage .card .card__action a svg,
  body.darkmode .messenger--main .feed .chat--card .user__text svg .cls-1 {
    fill: #d3d3d3 !important; }
  body.darkmode .feed .card .card__action a svg,
  body.darkmode .feed .card .card__action a.love svg,
  body.darkmode .feed .card .card__top .card__top__link svg circle,
  body.darkmode .profile--card svg circle,
  body.darkmode .fullImage .card .card__action a svg,
  body.darkmode .fullImage .card .card__action a.love svg {
    stroke: #d3d3d3;
    fill: transparent; }
  body.darkmode .feed .card .card__action a.love svg,
  body.darkmode .fullImage .card .card__action a.love svg {
    fill: transparent !important; }
  body.darkmode .feed .card .card__action a.love.active svg,
  body.darkmode .fullImage .card .card__action a.love.active svg {
    fill: #fe4545 !important; }
  body.darkmode header .nav__link.active {
    background-color: rgba(255, 255, 255, 0.1); }
  body.darkmode header .nav__link .cls-1 {
    fill: #fff; }
  body.darkmode .slick-arrow.slick-disabled svg path {
    fill: #424242; }
  body.darkmode .post .profile--card,
  body.darkmode main .post .profile--card .card__body .form-control,
  body.darkmode .card,
  body.darkmode img[src$=".jpg"],
  body.darkmode header .nav__link:hover,
  body.darkmode .feed .card,
  body.darkmode .feed .card .card__comments .profile--card,
  body.darkmode .right--aside form .list-group,
  body.darkmode .progress,
  body.darkmode .notification--main .nav-tabs,
  body.darkmode .messenger--main .nav-tabs,
  body.darkmode .profile--main .feed .nav-tabs,
  body.darkmode .profile__card__wallpaper .card__body,
  body.darkmode .profile--right--aside .other--nav .list-group .level-2,
  body.darkmode .profile--edit .profile--edit--wrapper,
  body.darkmode .form-inline.search-wrapper .form-control,
  body.darkmode .profile--right--aside.messenger--aside
  .form-inline.search-wrapper
  .form-control,
  body.darkmode .messenger--aside .chat--wrapper .chat--wrapper--top .chat--card,
  body.darkmode .messenger--aside .chat--wrapper__bottom,
  body.darkmode .messenger--aside .chat--wrapper .chat--wrapper--top,
  body.darkmode .messenger--aside .chat__ph--upload .edit--wrapper,
  body.darkmode .custom-control-label::before,
  body.darkmode .dashboard--main .dashboard__general .profile--card,
  body.darkmode .tost-wrapper .toast,
  body.darkmode .profile__card__wallpaper .card__top .card__img,
  body.darkmode .page--search .nav-tabs,
  body.darkmode .login-pages .signup--wrapper,
  body.darkmode .insights--main .card.chat--card,
  body.darkmode .page--search form.form,
  body.darkmode .page--search form .list-group .list-group-item,
  body.darkmode .main.profile--main
  .profile--edit--wrapper
  .profile__card__wallpaper
  .card__body,
  body.darkmode .bg--white,
  body.darkmode .profile--edit .feed aside.tab-content {
    background-color: #3c3c3c !important; }
  body.darkmode .accounts--top .card .profile__img--wrapper .profile__img,
  body.darkmode .modal--post hr,
  body.darkmode hr {
    border-color: #3c3c3c; }
  body.darkmode .form-control,
  body.darkmode .right--aside .form-control,
  body.darkmode main,
  body.darkmode .modal-content,
  body.darkmode .tail-datetime-calendar,
  body.darkmode .tail-datetime-calendar .calendar-actions,
  body.darkmode .messenger--main .search-wrapper--main,
  body.darkmode .message--new .close,
  body.darkmode .messenger--aside .chat--wrapper .chat--wrapper--top .chat--card,
  body.darkmode .modal--tips .form-group,
  body.darkmode .mob--header,
  body.darkmode .login-pages .login-pages__main,
  body.darkmode .login-pages + .login-pages__footer,
  body.darkmode .aside--search .custom-switch label::before,
  body.darkmode .aside--search .select-wrapper,
  body.darkmode .profile--aside--menu .right--aside__wrapper,
  body.darkmode .insights--aside .chat--wrapper--top a.title__link,
  body.darkmode .insights--aside .chat--wrapper--top div.title__link,
  body.darkmode .main.profile--main .profile__card__wallpaper .card__body,
  body.darkmode .profile--edit .feed aside.tab-content form .custom-switch label::before {
    background-color: #313131 !important; }
  body.darkmode .poll__wrapper .custom-control .custom-control-label .absolute--sorry {
    background-color: #edcece !important; }
  body.darkmode .profile--main .feed .card .poll__wrapper .result--box {
    color: #d67878 !important; }
  body.darkmode .feed .card button.deactive,
  body.darkmode .shared .card,
  body.darkmode .right--aside form .form-group .form-control,
  body.darkmode .right--aside form .list-group .list-group-item,
  body.darkmode .modal--post .close,
  body.darkmode .badge--modal .close,
  body.darkmode .modal--post .card__link .select--input--wrapper,
  body.darkmode .card__link .select--input--wrapper,
  body.darkmode .tail-datetime-calendar
  .calendar-timepicker
  .timepicker-field
  input[type="text"],
  body.darkmode .tail-datetime-calendar
  .calendar-timepicker
  .timepicker-field
  button.picker-step.step-up,
  body.darkmode .tail-datetime-calendar
  .calendar-timepicker
  .timepicker-field
  button.picker-step.step-down,
  body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper,
  body.darkmode .fullImage .card__horizontal button.deactive,
  body.darkmode .fullImage .card button.deactive,
  body.darkmode #ott--modal .close,
  body.darkmode .modal--tips .close,
  body.darkmode .chat--wrapper__body .chat--box__body .user--text,
  body.darkmode .chat--wrapper__body .shared-feed .feed .card,
  body.darkmode .messenger--main.insights--main .feed .chat--card.active,
  body.darkmode .modal--logout .close,
  body.darkmode .modal--logout .modal-body button.deactive,
  body.darkmode .login-pages .form-control,
  body.darkmode .image--multi__dots,
  body.darkmode .shared > .card__body .card__body .image--multi__dot,
  body.darkmode .page--search .seeAll.deactive,
  body.darkmode .message--new .close {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #d3d3d3;
    z-index: 3; }
  body.darkmode .right--aside form .form-group .form-control::placeholder {
    color: #d3d3d3 !important; }
  body.darkmode .right--aside form .form-group .search .cls-1,
  body.darkmode .right--aside form .form-group .search .cls-2,
  body.darkmode .voice.voice__only .cls-1,
  body.darkmode .modal--post .card__link .non-active svg {
    opacity: 1; }
  body.darkmode .modal-backdrop.show {
    opacity: 0.75; }
  body.darkmode .tail-datetime-calendar .calendar-actions span.action-prev,
  body.darkmode .tail-datetime-calendar .calendar-actions span.action-next {
    filter: invert(1); }
  body.darkmode .tail-datetime-calendar
  .calendar-timepicker
  .timepicker-field
  input[type="text"] {
    border: 0; }
  body.darkmode .modal--post .card__link .select--input--wrapper select,
  body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper select {
    background-color: #5a5a5a !important; }
  body.darkmode .card__link .select--input--wrapper {
    overflow: hidden; }
  body.darkmode .modal--post .emoji,
  body.darkmode .fullImage .card .right--aside,
  body.darkmode .fullImage .card .card__comments .profile--card,
  body.darkmode .fullImage .card__horizontal .card__comments .profile--card,
  body.darkmode .fullImage .card,
  body.darkmode footer,
  body.darkmode .messenger--aside .chat--wrapper__bottom .profile--card,
  body.darkmode .messenger--aside
  .chat--wrapper__bottom
  .profile--card
  .card__body
  .form-control,
  body.darkmode .fullImage .profile--card.comment--card .card__body.form-group .comment__text,
  body.darkmode .messenger--main .feed .chat--card:not(.readed),
  body.darkmode .feed .card .card__comments .profile--card .card__body .form-control,
  body.darkmode .message--new .modal-body .card,
  body.darkmode .poll__wrapper .custom-control .count,
  body.darkmode .combineSelect input,
  body.darkmode .combineSelect select {
    background-color: transparent !important; }
  body.darkmode .insights--aside .chart--card .line.text--prup {
    stroke: #f81dff; }
  body.darkmode .text--prup {
    color: #f81dff;
    fill: #f81dff; }
  body.darkmode .login-pages .illustration::before {
    background-color: #000;
    background-image: none; }
  body.darkmode .profile__card__wallpaper .card__top .card__img {
    box-shadow: 0 0 0px 3px #3c3c3c !important; }
  body.darkmode .outline--common.option__link.stroke path,
  body.darkmode .stroke path {
    fill: none !important;
    stroke: #f6f7f9; }

.form-control[readonly] {
  background-color: transparent; }

body {
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: center; }
  @media only screen and (max-width: 1700px) {
    body {
      background-color: #f6f7f9; } }

header {
  height: 100vh;
  position: sticky;
  top: 0;
  width: 100px;
  background-color: #fff; }
  @media only screen and (max-width: 1130px) {
    header {
      width: 90px; } }
  @media only screen and (max-width: 601px) {
    header {
      position: fixed;
      width: 100%;
      bottom: 0;
      z-index: 100;
      height: 60px;
      left: 0;
      top: auto;
      box-shadow: rgba(35, 35, 35, 0.03) 3px -4px 12px; } }
  header .section__rule {
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 10px; }
    @media only screen and (max-width: 601px) {
      header .section__rule {
        padding: 10px; } }
  header .logo {
    text-align: center; }
    header .logo svg {
      width: 35px;
      margin-left: auto;
      margin-right: auto;
      display: flex; }
      header .logo svg .cls-1 {
        fill: url(#linear-gradient) !important;
        opacity: 1 !important; }
    @media only screen and (max-width: 601px) {
      header .logo {
        display: none; } }
  header .navbar {
    padding: 0;
    justify-content: center; }
    @media only screen and (max-width: 601px) {
      header .navbar {
        justify-content: space-between; } }
    @media only screen and (max-width: 601px) {
      header .navbar .navbar-nav {
        flex-direction: row;
        justify-content: space-between;
        width: 100%; } }
  header .nav__link {
    border-radius: 13px;
    margin: 10px 0;
    height: 60px;
    width: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: 0.3s linear; }
    @media only screen and (max-width: 601px) {
      header .nav__link {
        margin: 0;
        height: 45px;
        width: 45px; } }
    header .nav__link svg {
      width: 20px; }
    header .nav__link .cls-1 {
      fill: #232323; }
    header .nav__link:hover {
      background-color: #f6f7f9; }
    header .nav__link .cls-2 {
      fill: #fe4545; }
    header .nav__link.active {
      background-color: #e9e9e9; }
      header .nav__link.active .cls-1 {
        opacity: 1; }
  header .logout {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    @media only screen and (max-width: 601px) {
      header .logout {
        display: none; } }
    header .logout hr {
      margin: 0;
      border-color: rgba(35, 35, 35, 0.1); }

.mob--header {
  order: -1;
  position: sticky;
  top: -70px;
  z-index: 100;
  background-color: #f6f7f9;
  transition: 0.3s ease-in; }
  @media only screen and (min-width: 600px) {
    .mob--header {
      display: none; } }
  .mob--header.active {
    transition: 0.3s ease-out;
    top: 0px; }
  .mob--header .section__rule {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between; }
  .mob--header .logo {
    text-align: center; }
    .mob--header .logo svg,
    .mob--header .logo img {
      width: auto !important;
      height: 33px;
      overflow: visible; }
      .mob--header .logo svg .cls-1,
      .mob--header .logo img .cls-1 {
        fill: url(#linear-gradient--mob) !important; }
  .mob--header .navbar {
    padding: 0; }
    .mob--header .navbar .navbar-nav {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 100%; }
  .mob--header .nav__link {
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    transition: 0.3s linear; }
    .mob--header .nav__link svg {
      height: 20px;
      width: auto;
      fill: #232323; }
    .mob--header .nav__link.hamburger-menu svg {
      height: 26px; }
    .mob--header .nav__link .cls-1 {
      fill: #232323; }
    .mob--header .nav__link .cls-2 {
      fill: #fe4545; }

footer {
  background-color: rgba(255, 255, 255, 0.06);
  margin-top: 40px;
  padding-top: 40px; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  footer .small__title {
    font-size: 15px;
    padding: 6px 0;
    color: #fff;
    font-weight: 500; }
  footer .form-inline .form-group {
    position: relative;
    width: 100%;
    margin: 10px 0; }
  footer .form-inline .form-control {
    width: 100%;
    height: 56px;
    border-radius: 16px;
    border: none;
    box-shadow: none !important;
    background-color: #fff;
    padding: 0 20px;
    padding-right: 50px; }
  footer .form-inline button, footer .form-inline input[type="submit"] {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    background-color: transparent;
    color: #fe4545;
    border: 0;
    font-size: 30px;
    padding: 0 16px; }
  footer .download {
    margin-top: 30px; }
    footer .download img {
      height: 40px;
      width: auto; }
  footer .copyright {
    justify-content: space-between;
    align-items: center; }
    footer .copyright .small__title {
      color: #f6f7f9;
      font-weight: 400; }
    footer .copyright a {
      color: #fff; }
      footer .copyright a:hover {
        color: #fe4545; }
  footer canvas, footer #fakeVideo {
    display: none;
    height: 600px;
    width: 600px;
    position: absolute;
    transform: scale(0);
    opacity: 0;
    visibility: none;
    z-index: -6; }

.profile__card__wallpaper .card__wallpaper {
  width: calc(100% + 100px);
  height: 400px;
  margin-left: -50px;
  margin-top: -30px; }
  @media only screen and (max-width: 601px) {
    .profile__card__wallpaper .card__wallpaper {
      width: calc(100% + 20px);
      height: 400px;
      margin-left: -10px;
      margin-bottom: 0;
      height: 240px; } }
  .profile__card__wallpaper .card__wallpaper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center; }
.profile__card__wallpaper .card__top,
.profile__card__wallpaper .card__subcribe {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0px;
  align-items: flex-start;
  height: 50px; }
  @media only screen and (max-width: 601px) {
    .profile__card__wallpaper .card__top,
    .profile__card__wallpaper .card__subcribe {
      height: 40px; } }
  .profile__card__wallpaper .card__top .card__img,
  .profile__card__wallpaper .card__subcribe .card__img {
    height: 70px;
    width: 70px;
    min-width: 70px;
    border-radius: 50%;
    display: block;
    border: 2px solid rgba(35, 35, 35, 0.3);
    height: 100px;
    width: 100px;
    min-width: 100px;
    margin-bottom: 0;
    transform: translateY(-70px);
    background-color: #fff;
    box-shadow: 0 0 0px 3px #fff; }
    .profile__card__wallpaper .card__top .card__img.active,
    .profile__card__wallpaper .card__subcribe .card__img.active {
      border: 2px solid #fe4545;
      padding: 3px; }
    .profile__card__wallpaper .card__top .card__img img,
    .profile__card__wallpaper .card__subcribe .card__img img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      text-align: center;
      color: #fff;
      display: flex;
      justify-content: center;
      overflow: hidden; }
    @media only screen and (max-width: 601px) {
      .profile__card__wallpaper .card__top .card__img,
      .profile__card__wallpaper .card__subcribe .card__img {
        height: 56px;
        width: 56px;
        min-width: 56px; } }
    @media only screen and (max-width: 601px) {
      .profile__card__wallpaper .card__top .card__img,
      .profile__card__wallpaper .card__subcribe .card__img {
        height: 70px;
        width: 70px;
        min-width: 70px;
        transform: translateY(-40px); } }
    .profile__card__wallpaper .card__top .card__img .pp-badge,
    .profile__card__wallpaper .card__subcribe .card__img .pp-badge {
      height: 45px;
      width: auto;
      position: absolute;
      bottom: -20px;
      left: 50%;
      transform: translateX(-50%);
      object-fit: contain; }
      .profile__card__wallpaper .card__top .card__img .pp-badge[src=""],
      .profile__card__wallpaper .card__subcribe .card__img .pp-badge[src=""] {
        display: none; }
  .profile__card__wallpaper .card__top .card__top__link,
  .profile__card__wallpaper .card__subcribe .card__top__link {
    margin-left: auto;
    display: flex;
    align-items: center; }
    .profile__card__wallpaper .card__top .card__top__link .outline,
    .profile__card__wallpaper .card__subcribe .card__top__link .outline {
      padding: 5px 20px;
      font-size: 18px; }
    .profile__card__wallpaper .card__top .card__top__link .dropdown .dropdown-menu,
    .profile__card__wallpaper .card__subcribe .card__top__link .dropdown .dropdown-menu {
      position: absolute;
      top: 80%;
      padding: 0.5rem;
      right: 0;
      left: auto;
      padding: 12px 0;
      border: 0;
      box-shadow: 0 0 9px #00000014;
      text-align: center;
      color: #666;
      font-weight: 300;
      width: max-content;
      padding: 12px; }
      .profile__card__wallpaper .card__top .card__top__link .dropdown .dropdown-menu .dropdown-item,
      .profile__card__wallpaper .card__subcribe .card__top__link .dropdown .dropdown-menu .dropdown-item {
        padding: 6px 12px; }
    .profile__card__wallpaper .card__top .card__top__link .dropdown .dropdown-toggle::after,
    .profile__card__wallpaper .card__subcribe .card__top__link .dropdown .dropdown-toggle::after {
      content: none; }
    .profile__card__wallpaper .card__top .card__top__link .dropdown button,
    .profile__card__wallpaper .card__subcribe .card__top__link .dropdown button {
      text-align: left; }
    .profile__card__wallpaper .card__top .card__top__link .outline--common,
    .profile__card__wallpaper .card__subcribe .card__top__link .outline--common {
      border: 1px solid #ebebeb;
      border-radius: 12px;
      color: #898989; }
    .profile__card__wallpaper .card__top .card__top__link svg,
    .profile__card__wallpaper .card__subcribe .card__top__link svg {
      height: 16px;
      width: auto; }
    .profile__card__wallpaper .card__top .card__top__link .option__link,
    .profile__card__wallpaper .card__subcribe .card__top__link .option__link {
      height: 40px;
      width: 40px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      padding: 0;
      margin-left: 10px;
      fill: #898989;
      display: inline-flex;
      justify-content: center;
      align-items: center; }
  .profile__card__wallpaper .card__top .card__top__body,
  .profile__card__wallpaper .card__subcribe .card__top__body {
    padding: 0 26px; }
.profile__card__wallpaper .card__body {
  background-color: #fff;
  padding: 20px;
  padding-left: 40px; }
  @media only screen and (max-width: 601px) {
    .profile__card__wallpaper .card__body {
      padding: 1em; } }
  .profile__card__wallpaper .card__body p,
  .profile__card__wallpaper .card__body small {
    color: #232323; }
.profile__card__wallpaper .profile__card__bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  @media only screen and (max-width: 601px) {
    .profile__card__wallpaper .profile__card__bottom {
      flex-direction: column;
      align-items: flex-start; } }
  .profile__card__wallpaper .profile__card__bottom .profile-numbers {
    display: flex;
    width: 40%;
    justify-content: space-between; }
    @media only screen and (max-width: 601px) {
      .profile__card__wallpaper .profile__card__bottom .profile-numbers {
        margin-left: 0 !important;
        margin-top: 10px;
        width: 100%;
        justify-content: flex-start; } }
    .profile__card__wallpaper .profile__card__bottom .profile-numbers a:not(:first-child) {
      margin-left: 8px; }
    .profile__card__wallpaper .profile__card__bottom .profile-numbers .profile-numbers--title {
      margin-bottom: 0;
      font-size: 28px;
      font-weight: bold;
      line-height: 20px; }
      @media only screen and (max-width: 601px) {
        .profile__card__wallpaper .profile__card__bottom .profile-numbers .profile-numbers--title {
          font-size: 22px; } }
.profile__card__wallpaper .follow {
  background-image: linear-gradient(135deg, #fe4545, #d70153);
  border: none;
  padding: 12px 24px;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;
  text-transform: capitalize;
  line-height: 17px;
  position: relative;
  white-space: nowrap;
  backface-visibility: hidden;
  will-change: transform;
  -webkit-perspective: 1000;
  box-shadow: none;
  transition: 0.3s ease-out;
  padding: 14px 30px;
  color: #232323;
  background-color: #e9e9e9;
  background-image: none;
  border: 1px solid #232323;
  font-weight: normal;
  margin-right: 0;
  margin-left: 14px;
  border-radius: 30px !important;
  color: #232323 !important; }
  .profile__card__wallpaper .follow span {
    margin-left: 6px; }
  @media only screen and (max-width: 1130px) {
    .profile__card__wallpaper .follow {
      font-size: 16px; } }
  @media only screen and (max-width: 455px) {
    .profile__card__wallpaper .follow {
      font-size: 14px;
      padding: 14px 20px;
      line-height: 14px;
      border-width: 1px; } }
  .profile__card__wallpaper .follow:active {
    transition: 0.3s ease-in;
    transform: translateY(0px);
    box-shadow: none !important;
    outline: none; }
  .profile__card__wallpaper .follow.deactive {
    background-color: #f6f7f9;
    background-image: none;
    color: rgba(35, 35, 35, 0.3); }
  .profile__card__wallpaper .follow img {
    height: 26px;
    width: auto;
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    filter: invert(1);
    opacity: 0.4;
    transition: 0.3s linear; }
    @media only screen and (max-width: 601px) {
      .profile__card__wallpaper .follow img {
        left: -4px; } }
  .profile__card__wallpaper .follow.active {
    background-image: linear-gradient(135deg, #fe4545, #d70153);
    border: 0 !important;
    color: #fff !important; }
    .profile__card__wallpaper .follow.active img {
      filter: invert(0);
      opacity: 1; }
.profile__card__wallpaper .card__subcribe {
  height: auto;
  margin-top: 1em;
  gap: 1em;
  flex-wrap: wrap; }
  .profile__card__wallpaper .card__subcribe .card__top__link {
    margin-left: 0; }
    .profile__card__wallpaper .card__subcribe .card__top__link .outline--common.option__link {
      width: auto;
      border-radius: 20px;
      padding: 6px 1.5em;
      height: auto;
      font-size: 0.8em;
      margin-left: 0;
      margin-right: 1em; }
      .profile__card__wallpaper .card__subcribe .card__top__link .outline--common.option__link:hover {
        transform: scale(1.1);
        background-color: #f9f9f9; }
      .profile__card__wallpaper .card__subcribe .card__top__link .outline--common.option__link.active {
        background-image: linear-gradient(135deg, #fe4545, #d70153);
        border: 0;
        color: #fff;
        transform: scale(1.1); }

.signup--with {
  display: flex;
  justify-content: space-between; }
  .signup--with .cls-1 {
    fill: #0a0a0a; }
  .signup--with svg {
    height: 22px;
    width: auto; }
  .signup--with label {
    margin: 0 12px; }
  .signup--with a {
    padding: 10px 14px;
    border: 1px solid #0a0a0a; }

.pp__img {
  position: relative;
  margin-right: 6px; }
  .pp__img svg {
    height: 50px !important;
    transform: rotate(-90deg);
    width: 50px;
    overflow: visible; }
  .pp__img circle {
    stroke-width: 2.8; }
  .pp__img .progress-bar__background {
    fill: none;
    stroke: rgba(254, 69, 69, 0.1); }
  .pp__img .progress-bar__progress {
    fill: none;
    stroke: rgba(254, 69, 69, 0.1);
    stroke: #fe4545;
    stroke-dasharray: 117 100;
    stroke-dashoffset: 100;
    stroke-linecap: round;
    transition: stroke-dasharray 1s ease-in-out; }
  .pp__img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px; }

.dnav {
  font-weight: 600;
  font-size: 17px;
  color: rgba(35, 35, 35, 0.3);
  margin-bottom: 25px; }
  @media only screen and (max-width: 455px) {
    .dnav {
      margin-bottom: 12px; } }
  .dnav .section__rule {
    width: 100%;
    margin-left: 0;
    padding: 0; }
  .dnav .nav__item {
    padding-left: 26px; }
    .dnav .nav__item.left {
      width: 235px; }
  .dnav .d-flex {
    align-items: center; }
    .dnav .d-flex.ml-auto .nav__item:nth-child(2) {
      padding: 0 13px;
      padding-left: 18px; }
    .dnav .d-flex.ml-auto .nav__item:last-child {
      padding-left: 26px; }
    .dnav .d-flex.ml-auto .nav__link.active {
      position: relative; }
      .dnav .d-flex.ml-auto .nav__link.active:before {
        position: absolute;
        top: 0;
        right: 5px;
        background-color: #fe4545;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        content: ""; }
  .dnav svg path {
    fill: rgba(35, 35, 35, 0.7); }
  .dnav .form-group .form-control:focus, .dnav .form-group .form-control:focus-within {
    background-color: #fff;
    transform: scale(1.03); }
  .dnav .dropdown-toggle::after {
    content: none; }
  .dnav .dropdown-menu {
    border: 0;
    box-shadow: rgba(35, 35, 35, 0.1) -3px 4px 12px;
    transition: 0.3s ease-in;
    border-radius: 20px;
    font-size: 14px;
    width: max-content;
    overflow: hidden;
    padding: 17px 12px; }
    .dnav .dropdown-menu:hover {
      transition: 0.3s ease-out;
      box-shadow: rgba(35, 35, 35, 0.1) -5px 6px 12px; }
    .dnav .dropdown-menu .nav {
      align-items: flex-start; }
    .dnav .dropdown-menu .nav-item {
      text-align: left;
      width: 100%; }
    .dnav .dropdown-menu .nav-link {
      margin: 0;
      padding: 12px 23px;
      border-radius: 20px; }
      .dnav .dropdown-menu .nav-link:hover {
        background-color: #f6f7f9;
        color: #fe4545; }
        .dnav .dropdown-menu .nav-link:hover svg,
        .dnav .dropdown-menu .nav-link:hover path {
          fill: #fe4545; }
      .dnav .dropdown-menu .nav-link svg {
        height: 18px;
        margin-right: 4px; }
  .dnav .notification {
    right: -80px;
    max-width: 290px;
    box-shadow: rgba(35, 35, 35, 0.1) -3px 4px 12px;
    transition: 0.3s ease-in; }
    .dnav .notification:hover {
      transition: 0.3s ease-out;
      box-shadow: rgba(35, 35, 35, 0.1) -5px 6px 12px; }
    .dnav .notification .card {
      padding: 12px !important;
      border-radius: 20px;
      margin-bottom: 0; }
      .dnav .notification .card:hover {
        background-color: #fbfbfb; }
      .dnav .notification .card .card__img {
        height: 50px;
        width: 50px; }
      .dnav .notification .card .para {
        font-size: 14px;
        line-height: 1.3; }
    .dnav .notification .card__action {
      margin-top: 12px; }

.dash_nav {
  background-color: #fff;
  font-size: 16px;
  font-weight: 600;
  color: rgba(35, 35, 35, 0.9); }
  .dash_nav .logo {
    margin-bottom: 1em !important; }
    .dash_nav .logo svg {
      height: 45px; }
  .dash_nav svg {
    margin-right: 12px;
    overflow: visible;
    fill: rgba(35, 35, 35, 0.7);
    height: 20px;
    width: auto;
    object-fit: contain; }
  .dash_nav .nav-link {
    border-radius: 20px;
    padding: 15px 23px;
    margin: 6px 10px;
    border-radius: 20px; }
    .dash_nav .nav-link:hover, .dash_nav .nav-link:focus-within {
      color: #fe4545; }
      .dash_nav .nav-link:hover svg, .dash_nav .nav-link:focus-within svg {
        fill: #fe4545; }
  .dash_nav .active {
    background-color: rgba(254, 69, 69, 0.1);
    color: #fe4545; }
    .dash_nav .active svg {
      fill: #fe4545; }
  .dash_nav .grade {
    background-color: rgba(254, 69, 69, 0.1);
    display: flex;
    justify-content: space-between; }
    .dash_nav .grade b {
      font-weight: bold; }
  .dash_nav .nav-item:first-child .active {
    margin-bottom: 1em; }
  .dash_nav .pro {
    margin-top: 30px;
    margin-bottom: 25px; }
    @media only screen and (max-width: 455px) {
      .dash_nav .pro {
        margin-bottom: 12px; } }
    .dash_nav .pro .nav-link {
      display: block;
      box-shadow: 0px 10px 20px rgba(242, 101, 34, 0.05);
      border-radius: 20px;
      border: 1px solid #e7e3be;
      height: 250px;
      position: relative;
      z-index: 2;
      overflow: hidden;
      background-image: linear-gradient(180deg, #fffefa 0%, #fbf2da 100%); }
    .dash_nav .pro .card__title {
      font-size: 17px;
      color: rgba(35, 35, 35, 0.3);
      line-height: 20px;
      margin-top: 4px;
      margin-bottom: 1em; }
    .dash_nav .pro button {
      background-image: linear-gradient(135deg, #fe4545, #d70153);
      border: none;
      padding: 12px 24px;
      font-size: 15px;
      color: #fff;
      border-radius: 5px;
      text-transform: capitalize;
      line-height: 17px;
      position: relative;
      white-space: nowrap;
      backface-visibility: hidden;
      will-change: transform;
      -webkit-perspective: 1000;
      box-shadow: none;
      transition: 0.3s ease-out;
      padding: 9px 11px; }
      .dash_nav .pro button span {
        margin-left: 6px; }
      @media only screen and (max-width: 1130px) {
        .dash_nav .pro button {
          font-size: 16px; } }
      @media only screen and (max-width: 455px) {
        .dash_nav .pro button {
          font-size: 14px;
          padding: 14px 20px;
          line-height: 14px;
          border-width: 1px; } }
      .dash_nav .pro button:active {
        transition: 0.3s ease-in;
        transform: translateY(0px);
        box-shadow: none !important;
        outline: none; }
      .dash_nav .pro button.deactive {
        background-color: #f6f7f9;
        background-image: none;
        color: rgba(35, 35, 35, 0.3); }
    .dash_nav .pro img {
      position: absolute; }

.common__page .screen .section__rule {
  padding-top: 30px; }
.common__page aside.left {
  width: 235px;
  background-color: #fff; }
.common__page aside.right {
  width: calc(100% - 235px);
  padding: 25px; }
  .common__page aside.right main > .row {
    margin: 0 -15px; }
.common__page .banner img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden; }
.common__page .sticky {
  position: sticky;
  top: 15px; }
.common__page .side__content {
  width: 330px;
  min-width: 330px;
  padding-top: 10px; }
.common__page main > .wrapper {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px; }
.common__page hr {
  border-top: 2px solid rgba(78, 78, 78, 0.05);
  opacity: 1; }
.common__page .card__intro {
  display: flex;
  align-items: center; }
  .common__page .card__intro .card__img {
    background-image: linear-gradient(180deg, #f5fdff 0%, #d2f4ff 100%);
    border: 1px solid #d3f5ff;
    border-radius: 20px;
    padding: 20px;
    height: 90px;
    width: 90px;
    margin-right: 20px; }
    .common__page .card__intro .card__img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .common__page .card__intro .section__title {
    margin-bottom: 4px; }
  .common__page .card__intro .small__title {
    color: rgba(35, 35, 35, 0.3);
    margin-bottom: 0;
    font-size: 14px; }
  .common__page .card__intro .nav.sec {
    margin-left: auto; }
.common__page .progress {
  height: 5px;
  border-radius: 10px;
  background-color: rgba(254, 69, 69, 0.05); }
  .common__page .progress .progress-bar {
    background-color: #fe4545;
    border-radius: 10px; }

.breadcrumb {
  color: rgba(35, 35, 35, 0.3);
  background-color: transparent;
  padding: 0;
  margin-bottom: 25px; }
  @media only screen and (max-width: 455px) {
    .breadcrumb {
      margin-bottom: 12px; } }

.accordion .accord__link svg.arrow {
  transform: rotate(-180deg);
  transition: 0.3s ease-in; }
  .accordion .accord__link svg.arrow path {
    fill: #fe4545; }
.accordion .accord__link.collapsed svg.arrow {
  transform: rotate(0deg); }
  .accordion .accord__link.collapsed svg.arrow path {
    fill: rgba(35, 35, 35, 0.7); }
.accordion .accord__link:hover {
  border-color: #fe4545; }
  .accordion .accord__link:hover svg.arrow path {
    fill: #fe4545; }

.pr-40 {
  padding-right: 40px; }

a.active {
  color: #fe4545; }

.transform-none {
  transform: none !important; }

mark.tag {
  background-color: #fffefa;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ebba16;
  display: inline-flex;
  -webkit-box-pack: center;
  font-size: 14px;
  font-weight: 400;
  color: rgba(35, 35, 35, 0.3); }
  mark.tag svg {
    padding-right: 6px;
    width: 30px; }

/*# sourceMappingURL=othercsscomp.css.map */
