.right--aside {
  width: 440px;
  background-color: #fff;
  z-index: 1;
  @include responsivelg {
    width: 340px;
  }
  @include responsivemd {
    width: 50%;
    min-width: 300px;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #fff;
    z-index: 999;
    overflow-y: scroll;
    height: 100vh;
    @include transition-in;
  }
  &.active {
    @include responsivemd {
      right: 0;
    }
  }

  .right--aside__wrapper {
    padding: 30px;
    padding-left: 50px;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    //     &:hover {
    //       //  scrollbar-width: thin;
    //       &::-webkit-scrollbar {
    //         background: rgba(#c2c2c2, 0.2); /* make scrollbar transparent */
    //         -webkit-appearance: none;
    //         width: 8px;
    //         height: 4px;
    //       }
    //       &::-webkit-scrollbar-thumb {
    //         background: #b2b2b2;
    //       }
    //     }
    &::-webkit-scrollbar {
      background: transparent; /* make scrollbar transparent */
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }
    @include responsivexlg {
      padding-left: 30px;
    }
    @include responsivelg {
      padding: 20px;
    }
  }
  form {
    @include mb;
    .form-group {
      width: 100%;
      position: relative;
      .form-control {
        border: 0;
        background-color: $white;
        box-shadow: none !important;
        outline: none !important;
        height: 46px;
        border-radius: 0;
        padding: 0 40px;
        // text-indent: 20px;
        @include responsivemd {
          height: 42px;
        }
        &::placeholder {
          color: $para !important;
        }

        &:focus,
        &:focus-within {
          color: $para;
        }
      }
      svg {
        height: 20px;
      }

      .search {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        opacity: 0.6;
        .cls-1,
        .cls-2 {
          fill: $para;
        }
      }
      .voice {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: scale(1) translateY(-50%);
        @include transition-in;
        transform-origin: center;
        svg {
          height: 18px;
          width: auto;
          .cls-2,
          .cls-3 {
            @include responsivemd {
              fill: $primary-color;
            }
          }
        }
        &.active {
          transform: scale(0) translateY(-50%);
          @include transition-out;
        }
      }
      .cross {
        font-size: 30px;
        opacity: 0;
        transform: scale(0) translateY(-50%);
        right: 9px;
        &.active {
          opacity: 1;
          transform: scale(1) translateY(-50%);
        }
      }
    }
    position: relative;
    @include searchList;
    &.form {
      @include responsivemd {
        display: flex;
      }
      .filter--trigger {
        font-size: 30px;
        color: #333;
        padding-right: 10px;
      }
      .form-control {
        @include responsivemd {
          background-color: #fff;
          border: 1px solid rgba($dark, 0.5);
          @include br12;
        }
      }
    }
  }

  section {
    @include mb;
  }
  @include profile--card;

  .profile-numbers {
    display: flex;
    justify-content: space-between;
    .profile-numbers--title {
      font-size: 28px;
      font-weight: bold;
      // color: #F28F8F;
      margin-bottom: 0px;
      text-align: center;
      line-height: 16px;
    }
    small {
      color: $dark;
    }
  }

  .recommended {
    .profile--card {
      margin-bottom: 1em;
      .card__img {
        height: 60px;
        width: 60px;
        min-width: 60px;
      }
    }
  }
  .moment {
    @include slicknav;
    img {
      @include image;
    }
    .slick-list {
      margin: -6px;
    }
    .item {
      height: 140px;
      padding: 6px;
      .card__img {
        display: block;
        height: 100%;
        width: 100%;
      }
      @include responsivemd {
        height: 160px;
      }
    }
  }

  footer {
    .footer--link {
      .para {
        font-size: 15px;
      }
      .para:not(:last-child) {
        margin-right: 16px;
        margin-bottom: 9px;
      }
    }
  }
}

.aside--search {
  .sticky-top {
    height: 100vh;
    overflow-y: scroll;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      background: transparent; /* make scrollbar transparent */
      -webkit-appearance: none;
      width: 0;
      height: 0;
    }
  }

  @include responsivemd {
    width: 100%;
    background-color: transparent;
    width: calc(100% - 50px);
    background-color: #fff;
    margin-left: auto;
  }

  form.form {
    @include responsivemd {
      display: none;
    }
  }

  label {
    color: rgba($dark, 0.7);
    margin-bottom: 0;
    @include noSelect;
  }

  .custom-switch {
    padding-left: 0;
    label {
      width: 100%;
      &:before,
      &:after {
        left: auto;
        right: 0;
      }
      &:before {
        background-color: #f1f2f3;
        border: none;
        height: 20px;
        width: 40px;
        @include br12;
        box-shadow: none !important;
        outline: 0;
        top: 1px;
      }
      &:after {
        right: 22px;
        background-color: #fff;
        height: 14px;
        width: 14px;
        top: 4px;
      }
    }
    .custom-control-input:checked ~ .custom-control-label {
      &:after {
        transform: translateX(19px) rotate(357deg);
      }
      &:before {
        @include bg;
      }
    }
  }

  .card__title {
    font-size: 18px;
    margin-bottom: 14px;
  }

  .form-group {
    margin: 1.5em 0;
    .row {
      margin: 0 -8px;
      & > div {
        padding: 0 8px;
      }
    }
  }

  .select-wrapper {
    @include selectWhite;
  }

  .form-control {
    height: 42px;
    background-color: $white;
    width: 100%;
    @include br12;
    font-size: 14px;
  }
  .calender {
    height: 20px !important;
    right: 10px !important;
    pointer-events: none;
  }
  .section__title {
    a {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      svg {
        margin-left: auto;
        transform: rotate(180deg);
        @include transition-in;
      }
      &.collapsed {
        svg {
          transform: rotate(0);
        }
      }
    }
  }
  .filter {
    article {
      margin-bottom: 40px;
    }
  }

  .advance-filter {
    label.mb--label {
      margin-bottom: 12px;
    }
  }
}

// responsive
.mob--search.right--aside {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  z-index: 1;
  background-color: $white;
  .right--aside__wrapper {
    padding: 0;
    // width: 300px;
  }
  form.form .form-control {
    background-color: transparent;
  }
  .popular {
    .d-flex {
      @include scrollbar;
    }
    .card {
      padding: 16px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;

      .card__top {
        margin: 0;
        margin-bottom: 10px;
        .card__title {
          margin-right: 10px;
        }
      }

      .card__body {
        max-width: 200px;
        white-space: normal;
        p {
          display: inline;
        }
      }
    }
    .item {
      scroll-snap-align: start;
    }
  }
}

.profile--aside--menu {
  width: 100%;
  background-color: transparent !important;
  padding: 0px;
  &.active {
    right: 0;
  }
  .right--aside__wrapper {
    width: 280px;
    background-color: #fff;
    margin-left: auto;
  }
  .profile--card {
    .card__title {
      font-size: 16px;
    }
  }
  .card__top__link {
    white-space: nowrap;

    .outline {
      padding: 5px 20px;
      font-size: 18px;
    }

    .outline--common {
      @include border;
    }

    svg {
      height: 16px;
      width: auto;
    }

    .option__link {
      height: 30px;
      width: 30px;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      line-height: 37px;
      margin-top: -6px;
      margin-left: 10px;
      fill: #898989;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
  &.profile--right--aside {
    .profile {
      margin-bottom: 24px;
    }
    hr {
      border-color: #a0a0a029;
    }
    .wallet {
      font-size: 14px;
      @include border;
      padding: 5px 10px;
      margin: 0;
      margin-right: 1rem;

      svg {
        display: inline-block;
        height: 18px;
        width: auto;
        vertical-align: text-bottom;
        margin-right: 4px;
        .cls-1 {
          opacity: 1;
          fill: #898989;
        }
      }
      &.active {
        background-color: #fce9e9;
        border: none;
      }
    }

    .other--nav {
      font-size: 18px;

      .card__title {
        @include card-title;
      }

      .list-group {
        .list-group-item {
          border: 0;
          padding-left: 0;
          padding-right: 0;
          color: $dark;
          font-weight: 600;
          background-color: transparent !important;
          @include responsivemd {
            font-weight: 400;
          }
          i {
            margin-right: 12px;
          }
          svg {
            width: auto;
            height: 20px;
            margin-right: 12px;
            overflow: visible;
            vertical-align: sub;
            .cls-1 {
              fill: $dark;
            }
          }
          &:hover {
            color: $primary-color;
            & > .toggle,
            .cls-1 {
              fill: $primary-color;
            }
          }
          &.level-1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }

          & > .toggle {
            height: 7px;
            width: auto;
            fill: $dark;
            @include transition;
            transform: rotate(-180deg);
            .cls-1 {
              fill: $dark;
            }
          }

          &.collapsed > .toggle {
            transform: rotate(0deg);
          }
        }
        .level-2 {
          background-color: $white;
          @include border-radius;
          padding: 6px 0;
          .list-group-item {
            padding-left: 1.25em;
          }
        }
      }
    }
  }
}
