﻿

.hash {
    padding: 2px;
}



body.darkmode .message--new form .form-group .form-control, body.darkmode .message--new form .form-group .form-control::placeholder, body.darkmode #ott--modal .para, body.darkmode .card, body.darkmode .card .card__action a, body.darkmode .card .card__title, body.darkmode .card .user__text, body.darkmode .card__action a, body.darkmode .card time, body.darkmode .dark, body.darkmode .dropdown a .card .dropdown a, body.darkmode .feed .card .card__action a, body.darkmode .feed .card .card__comments .card__top .para, body.darkmode .feed .card .card__comments .profile--card .card__body .form-control, body.darkmode .feed .card .user__text, body.darkmode .feed .card time, body.darkmode .feed .dropdown-menu .nav-link, body.darkmode .form-control, body.darkmode .form-control::placeholder, body.darkmode .fullImage .card .card__comments .card__top .para, body.darkmode .fullImage .card .card__comments .profile--card .card__body .form-control, body.darkmode .fullImage .card .dropdown-menu .nav-link, body.darkmode .fullImage .card__horizontal .card__comments .card__top .para, body.darkmode .fullImage .card__horizontal .card__comments .profile--card .card__body .form-control, body.darkmode .insights--aside .chart--card .para, body.darkmode .insights--aside .chart--card svg text, body.darkmode .login-pages__footer .nav-link, body.darkmode .messenger--main .nav-tabs .nav-link, body.darkmode .modal--post .card__link .select--input--wrapper .form-control, body.darkmode .modal--post .card__link .select--input--wrapper ::placeholder, body.darkmode .modal--post .card__link .select--input--wrapper label, body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper .form-control, body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper ::placeholder, body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper label, body.darkmode .modal-content, body.darkmode .notification--main .nav-tabs .nav-link, body.darkmode .page--search form .form-group .form-control::placeholder, body.darkmode .para, body.darkmode .profile--edit .feed aside.tab-content form .form-control, body.darkmode .profile--edit .feed aside.tab-content form .form-control::placeholder, body.darkmode .profile--main .feed .nav-tabs .nav-link, body.darkmode .profile--right--aside .other--nav .list-group .level-2, body.darkmode .profile--right--aside .other--nav .list-group .list-group-item, body.darkmode .profile__card__wallpaper .card__body p, body.darkmode .profile__card__wallpaper .card__body small, body.darkmode .right--aside .profile-numbers small, body.darkmode .search-wrapper--main .search-wrapper .form-group .form-control, body.darkmode .search-wrapper--main .search-wrapper .form-group .form-control::placeholder, body.darkmode .section__title, body.darkmode .sucess--part .card__title, body.darkmode .tail-datetime-calendar .calendar-actions, body.darkmode .user__text, body.darkmode a, body.darkmode dropdown-menu .nav-link, body.darkmode h2, body.darkmode label, body.darkmode time {
    color: #d3d3d3 !important
}


body.darkmode .message--new .modal-body .card .card__top .card__title, body.darkmode .message--new .modal-body .card__horizontal .card__top .card__title, body.darkmode .accounts--top .card .card__title a, body.darkmode .feed .card .card__top .card__title, body.darkmode .feed .card .card__top .card__title a, body.darkmode .profile--right--aside .other--nav .card__title, body.darkmode .right--aside .profile--card .card__title, body.darkmode .tail-datetime-calendar .calendar-datepicker table tr td {
    color: #f3f3f3
}

body.darkmode .dropdown-menu .nav-link:hover, body.darkmode .feed .dropdown-menu .nav-link:hover, body.darkmode .fullImage .card .dropdown-menu .nav-link:hover, body.darkmode .profile--edit .profile--edit--wrapper .feed nav .nav-tabs .nav-link.active, body.darkmode .profile--edit .profile--edit--wrapper .feed nav .nav-tabs .nav-link:hover {
    background-color: rgba(246,247,249,0.03) !important
}

body.darkmode .message--new form .form-group .search .cls-1, body.darkmode .message--new form .form-group .search .cls-2, body.darkmode .card .card__top .card__top__link svg, body.darkmode .card .card__top .card__top__link svg circle, body.darkmode .feed .card .card__top .card__top__link svg, body.darkmode .feed .nav-tabs .nav-link svg .cls-1, body.darkmode .fullImage .card .card__action a.share svg, body.darkmode .mob--header .nav__link .cls-1, body.darkmode .mob--header .nav__link svg, body.darkmode .modal .card__link svg path, body.darkmode .modal .card__link svg rect, body.darkmode .notification--main .nav-tabs .nav-link svg .cls-1, body.darkmode .notification--main .title__wrapper .title__link svg .cls-1, body.darkmode .page--search .nav-tabs .nav-link svg .cls-1, body.darkmode .page--search .nav-tabs .nav-link svg path, body.darkmode .page--search form .form-group .search .cls-1, body.darkmode .page--search form .form-group .search .cls-2, body.darkmode .profile--aside--menu.profile--right--aside .other--nav .list-group .list-group-item > .toggle, body.darkmode .profile--aside--menu.profile--right--aside .other--nav .list-group .list-group-item > .toggle .cls-1, body.darkmode .profile--card svg, body.darkmode .profile--edit .card__wallpaper .circle svg, body.darkmode .profile--edit .card__wallpaper .circle svg path, body.darkmode .profile--main .feed .nav-tabs .nav-link svg .cls-1, body.darkmode .profile--main .feed .nav-tabs .nav-link svg path, body.darkmode .profile--right--aside .other--nav .list-group .list-group-item svg .cls-1, body.darkmode .right--aside form .form-group .search .cls-1, body.darkmode .right--aside form .form-group .search .cls-2, body.darkmode .search-wrapper--main .title__link svg .cls-1, body.darkmode .section__title svg path, body.darkmode .title__link svg path, body.darkmode .voice.voice__only .cls-2 .voice.voice__only .cls-1, body.darkmode svg {
    fill: #d3d3d3
}

body.darkmode .feed .card .card__action a svg, body.darkmode .fullImage .card .card__action a svg, body.darkmode .messenger--main .feed .chat--card .user__text svg .cls-1, body.darkmode .profile--card .card__link svg path, body.darkmode .profile--card .card__link svg rect, body.darkmode .slick-arrow:not(.slick-disabled) svg path {
    fill: #d3d3d3 !important
}





body.darkmode .message--new .close, body.darkmode .aside--search .custom-switch label:before, body.darkmode .aside--search .select-wrapper, body.darkmode .form-control, body.darkmode .insights--aside .chat--wrapper--top a.title__link, body.darkmode .insights--aside .chat--wrapper--top div.title__link, body.darkmode .login-pages + .login-pages__footer, body.darkmode .login-pages .login-pages__main, body.darkmode .main.profile--main .profile__card__wallpaper .card__body, body.darkmode .messenger--aside .chat--wrapper .chat--wrapper--top .chat--card, body.darkmode .messenger--main .search-wrapper--main, body.darkmode .mob--header, body.darkmode .modal--tips .form-group, body.darkmode .modal-content, body.darkmode .profile--aside--menu .right--aside__wrapper, body.darkmode .right--aside .form-control, body.darkmode .tail-datetime-calendar, body.darkmode .tail-datetime-calendar .calendar-actions, body.darkmode main {
    background-color: #313131 !important
}


    body.darkmode .message--new .close, body.darkmode #modal--logout .close, body.darkmode #modal--logout .modal-body button.deactive, body.darkmode #ott--modal .close, body.darkmode .badge--modal .close, body.darkmode .card__link .select--input--wrapper, body.darkmode .chat--wrapper__body .chat--box__body .user--text, body.darkmode .chat--wrapper__body .shared-feed .feed .card, body.darkmode .feed .card button.deactive, body.darkmode .fullImage .card__horizontal button.deactive, body.darkmode .fullImage .card button.deactive, body.darkmode .image--multi__dots, body.darkmode .login-pages .form-control, body.darkmode .messenger--main.insights--main .feed .chat--card.active, body.darkmode .modal--post .card__link .select--input--wrapper, body.darkmode .modal--post .close, body.darkmode .modal--post .poll__wrapper .poll--buttom .select--input--wrapper, body.darkmode .modal--tips .close, body.darkmode .page--search .seeAll.deactive, body.darkmode .right--aside form .form-group .form-control, body.darkmode .right--aside form .list-group .list-group-item, body.darkmode .shared .card, body.darkmode .shared > .card__body .card__body .image--multi__dot, body.darkmode .tail-datetime-calendar .calendar-timepicker .timepicker-field button.picker-step.step-down, body.darkmode .tail-datetime-calendar .calendar-timepicker .timepicker-field button.picker-step.step-up, body.darkmode .tail-datetime-calendar .calendar-timepicker .timepicker-field input[type=text] {
        background-color: rgba(255,255,255,0.2) !important;
        color: #d3d3d3;
        z-index: 3
    }




.message--new {
    padding: 0
}

    .message--new .modal-content {
        padding: 30px;
        border: 0;
        border-radius: 5px;
        box-shadow: rgba(35,35,35,0.1) -3px 4px 12px;
        transition: 0.3s ease-in
    }

        .message--new .modal-content:hover {
            transition: 0.3s ease-out;
            box-shadow: rgba(35,35,35,0.1) -5px 6px 12px
        }

    .message--new .modal-body {
        padding: 0px;
        position: relative
    }

        .message--new .modal-body button {
            background-image: linear-gradient(135deg,#fe4545,#d70153);
            border: none;
            padding: 12px 24px;
            font-size: 15px;
            color: #fff;
            border-radius: 5px;
            text-transform: capitalize;
            line-height: 17px;
            position: relative;
            white-space: nowrap;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            will-change: transform;
            -webkit-perspective: 1000;
            box-shadow: none;
            transition: 0.3s ease-out
        }

            .message--new .modal-body button span {
                margin-left: 6px
            }

@media only screen and (max-width:1130px) {
    .message--new .modal-body button {
        font-size: 16px
    }
}

@media only screen and (max-width:455px) {
    .message--new .modal-body button {
        font-size: 14px;
        padding: 14px 20px;
        line-height: 14px;
        border-width: 1px
    }
}

.message--new .modal-body button:active {
    transition: 0.3s ease-in;
    transform: translateY(0px);
    box-shadow: none !important;
    outline: none
}

.message--new .modal-body button.deactive {
    background-color: #f6f7f9;
    background-image: none;
    color: rgba(35,35,35,0.3)
}

@media only screen and (max-width:601px) {
    .message--new .modal-body button {
        width: 100%
    }
}

.message--new .modal-body .modal-title {
    margin-bottom: 20px
}

.message--new .close {
    background-color: #e9e9e9;
    height: 42px;
    width: 42px;
    border-radius: 12px;
    line-height: 40px;
    padding: 0;
    font-size: 40px;
    margin: 0;
    color: rgba(35,35,35,0.5);
    opacity: 1
}

@media only screen and (max-width:601px) {
    .message--new .close {
        background-color: transparent;
        color: #232323
    }
}

.message--new .close svg {
    height: 22px;
    width: auto;
    transform: translateY(-1px)
}

    .message--new .close svg .cls-1 {
        opacity: 1;
        fill: rgba(35,35,35,0.5)
    }

@media only screen and (max-width:601px) {
    .message--new .close svg .cls-1 {
        fill: #232323
    }
}

@media only screen and (max-width:601px) {
    .message--new .close svg {
        height: 18px
    }
}

.message--new .modal-header {
    border: 0;
    padding: 0
}

    .message--new .modal-header.title__wrapper .section__title {
        flex-grow: 2;
        text-align: center
    }

@media only screen and (max-width:601px) {
    .message--new .modal-header.title__wrapper .section__title {
        text-align: left;
        margin-left: 16px
    }
}

.message--new form {
    margin-right: 16px;
    flex-grow: 2
}

    .message--new form .form-group {
        width: 100%;
        position: relative;
        margin-bottom: 0
    }

        .message--new form .form-group .form-control {
            border: 1px solid #d5d5d5;
            background-color: transparent;
            color: rgba(35,35,35,0.3) !important;
            box-shadow: none !important;
            outline: none !important;
            height: 46px;
            border-radius: 6px;
            padding: 0 26px;
            text-indent: 20px
        }

            .message--new form .form-group .form-control::placeholder {
                color: rgba(35,35,35,0.3) !important
            }

        .message--new form .form-group svg {
            height: 16px
        }

        .message--new form .form-group .search {
            position: absolute;
            top: 50%;
            left: 12px;
            transform: translateY(-50%);
            opacity: 0.6
        }

            .message--new form .form-group .search .cls-1, .message--new form .form-group .search .cls-2 {
                fill: rgba(35,35,35,0.3)
            }

        .message--new form .form-group .voice {
            position: absolute;
            top: 50%;
            right: 12px;
            transform: scale(1) translateY(-50%);
            transition: 0.3s ease-in
        }

            .message--new form .form-group .voice.active {
                transform: scale(0) translateY(-50%);
                transition: 0.3s ease-out
            }

        .message--new form .form-group .cross {
            font-size: 30px;
            opacity: 0;
            transform: scale(0) translateY(-50%)
        }

            .message--new form .form-group .cross.active {
                opacity: 1;
                transform: scale(1) translateY(-50%)
            }

.message--new .modal-body .card, .message--new .modal-body .card__horizontal {
    border: 0;
    box-shadow: rgba(35,35,35,0.1) -3px 4px 12px;
    transition: 0.3s ease-in;
    font-size: 18px;
    background-color: #fff;
    position: relative;
    z-index: 1;
    padding: 1em;
    transition: 0.3s ease-in;
    border-radius: 0
}

    .message--new .modal-body .card:hover, .message--new .modal-body .card__horizontal:hover {
        transition: 0.3s ease-out;
        box-shadow: rgba(35,35,35,0.1) -5px 6px 12px
    }

@media only screen and (max-width:601px) {
    .message--new .modal-body .card, .message--new .modal-body .card__horizontal {
        font-size: 14px;
        padding: 0px;
        box-shadow: none !important
    }
}

.message--new .modal-body .card__horizontal img, .message--new .modal-body .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center
}

.message--new .modal-body .card .card__img, .message--new .modal-body .card__horizontal .card__img {
    display: block;
    overflow: hidden;
    position: relative;
    margin-bottom: 1em;
    max-width: 100%
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__img, .message--new .modal-body .card__horizontal .card__img {
        height: 360px;
        margin-bottom: 8px
    }
}

.message--new .modal-body .card .locked .absolute__link, .message--new .modal-body .card__horizontal .locked .absolute__link {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

    .message--new .modal-body .card .locked .absolute__link svg, .message--new .modal-body .card__horizontal .locked .absolute__link svg {
        width: auto;
        height: 28px
    }

.message--new .modal-body .card .locked .card__img__content, .message--new .modal-body .card__horizontal .locked .card__img__content {
    text-align: center
}

    .message--new .modal-body .card .locked .card__img__content .card__title, .message--new .modal-body .card__horizontal .locked .card__img__content .card__title {
        margin-bottom: 0;
        margin-top: 10px
    }

.message--new .modal-body .card .bg, .message--new .modal-body .card__horizontal .bg {
    background-image: linear-gradient(135deg,#fe4545,#d70153)
}

.message--new .modal-body .card .image--multi, .message--new .modal-body .card__horizontal .image--multi {
    display: flex;
    max-height: 614px
}

@media only screen and (max-width:840px) {
    .message--new .modal-body .card .image--multi, .message--new .modal-body .card__horizontal .image--multi {
        scroll-snap-type: x;
        overflow-x: scroll;
        scrollbar-width: none;
        white-space: nowrap;
        flex-wrap: nowrap;
        margin-bottom: 1em
    }

        .message--new .modal-body .card .image--multi::-webkit-scrollbar, .message--new .modal-body .card__horizontal .image--multi::-webkit-scrollbar {
            background: transparent;
            -webkit-appearance: none;
            width: 0;
            height: 0
        }
}

@media only screen and (max-width:840px) {
    .message--new .modal-body .card .image--multi > *, .message--new .modal-body .card__horizontal .image--multi > * {
        scroll-snap-align: start
    }
}

.message--new .modal-body .card .image--multi .card__img, .message--new .modal-body .card__horizontal .image--multi .card__img {
    flex-grow: 2
}

@media only screen and (max-width:840px) {
    .message--new .modal-body .card .image--multi .card__img, .message--new .modal-body .card__horizontal .image--multi .card__img {
        min-width: 100%;
        width: 100%;
        height: 100%;
        scroll-snap-align: start;
        margin-bottom: 0
    }
}

.message--new .modal-body .card .image--multi .image--multi__left, .message--new .modal-body .card__horizontal .image--multi .image--multi__left {
    padding-left: 1em;
    width: 368px;
    min-width: 368px
}

@media only screen and (max-width:1370px) {
    .message--new .modal-body .card .image--multi .image--multi__left, .message--new .modal-body .card__horizontal .image--multi .image--multi__left {
        width: 300px;
        min-width: 300px
    }
}

@media only screen and (max-width:1300px) {
    .message--new .modal-body .card .image--multi .image--multi__left, .message--new .modal-body .card__horizontal .image--multi .image--multi__left {
        width: calc(50% - 18px);
        min-width: calc(50% - 18px)
    }
}

@media only screen and (max-width:840px) {
    .message--new .modal-body .card .image--multi .image--multi__left, .message--new .modal-body .card__horizontal .image--multi .image--multi__left {
        padding-left: 0px;
        min-width: 100%;
        width: 200%;
        display: flex;
        height: calc(100% - 18px)
    }
}

@media only screen and (max-width:840px) {
    .message--new .modal-body .card .image--multi .image--multi__left, .message--new .modal-body .card__horizontal .image--multi .image--multi__left {
        height: 100%
    }
}

.message--new .modal-body .card .image--multi .image--multi__left .card__img, .message--new .modal-body .card__horizontal .image--multi .image--multi__left .card__img {
    block-size: calc(50% - 18px)
}

@media only screen and (max-width:840px) {
    .message--new .modal-body .card .image--multi .image--multi__left .card__img, .message--new .modal-body .card__horizontal .image--multi .image--multi__left .card__img {
        block-size: calc(100%)
    }
}

.message--new .modal-body .card .card__title, .message--new .modal-body .card__horizontal .card__title {
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
    margin-bottom: 15px;
    color: #fff
}

.message--new .modal-body .card__horizontal button, .message--new .modal-body .card button {
    background-image: linear-gradient(135deg,#fe4545,#d70153);
    border: none;
    padding: 12px 24px;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    text-transform: capitalize;
    line-height: 17px;
    position: relative;
    white-space: nowrap;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform;
    -webkit-perspective: 1000;
    box-shadow: none;
    transition: 0.3s ease-out
}

    .message--new .modal-body .card__horizontal button span, .message--new .modal-body .card button span {
        margin-left: 6px
    }

@media only screen and (max-width:1130px) {
    .message--new .modal-body .card__horizontal button, .message--new .modal-body .card button {
        font-size: 16px
    }
}

@media only screen and (max-width:455px) {
    .message--new .modal-body .card__horizontal button, .message--new .modal-body .card button {
        font-size: 14px;
        padding: 14px 20px;
        line-height: 14px;
        border-width: 1px
    }
}

.message--new .modal-body .card__horizontal button:active, .message--new .modal-body .card button:active {
    transition: 0.3s ease-in;
    transform: translateY(0px);
    box-shadow: none !important;
    outline: none
}

.message--new .modal-body .card__horizontal button.deactive, .message--new .modal-body .card button.deactive {
    background-color: #f6f7f9;
    background-image: none;
    color: rgba(35,35,35,0.3)
}

.message--new .modal-body .card__horizontal time, .message--new .modal-body .card time {
    font-size: 14px;
    color: rgba(35,35,35,0.3)
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card__horizontal time, .message--new .modal-body .card time {
        font-size: 12px
    }
}

.message--new .modal-body .card .card__top, .message--new .modal-body .card__horizontal .card__top {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 25px
}

@media only screen and (max-width:455px) {
    .message--new .modal-body .card .card__top, .message--new .modal-body .card__horizontal .card__top {
        margin-bottom: 12px
    }
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__top, .message--new .modal-body .card__horizontal .card__top {
        margin-bottom: 0;
        padding: 15px
    }
}

.message--new .modal-body .card .card__top .card__img, .message--new .modal-body .card__horizontal .card__top .card__img {
    height: 70px;
    width: 70px;
    min-width: 70px;
    border-radius: 50%;
    display: block;
    border: 2px solid rgba(35,35,35,0.3);
    margin-bottom: 0
}

    .message--new .modal-body .card .card__top .card__img.active, .message--new .modal-body .card__horizontal .card__top .card__img.active {
        border: 2px solid #fe4545;
        padding: 3px
    }

    .message--new .modal-body .card .card__top .card__img img, .message--new .modal-body .card__horizontal .card__top .card__img img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        overflow: hidden
    }

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__top .card__img, .message--new .modal-body .card__horizontal .card__top .card__img {
        height: 56px;
        width: 56px;
        min-width: 56px
    }
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__top .card__img, .message--new .modal-body .card__horizontal .card__top .card__img {
        height: 40px;
        width: 40px;
        min-width: 40px
    }
}

.message--new .modal-body .card .card__top .card__title, .message--new .modal-body .card__horizontal .card__top .card__title {
    color: #232323;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0px;
    margin-bottom: 6px;
    line-height: 0.8
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__top .card__title, .message--new .modal-body .card__horizontal .card__top .card__title {
        font-size: 1em
    }
}

.message--new .modal-body .card .card__top .card__top__link, .message--new .modal-body .card__horizontal .card__top .card__top__link {
    margin-left: auto;
    align-self: flex-start
}

    .message--new .modal-body .card .card__top .card__top__link svg, .message--new .modal-body .card__horizontal .card__top .card__top__link svg {
        height: 4px;
        width: auto
    }

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__top .card__top__link svg, .message--new .modal-body .card__horizontal .card__top .card__top__link svg {
        height: 3px
    }
}

.message--new .modal-body .card .card__top .card__top__body, .message--new .modal-body .card__horizontal .card__top .card__top__body {
    padding: 0 1em
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__top .card__top__body, .message--new .modal-body .card__horizontal .card__top .card__top__body {
        padding: 0 12px
    }
}

.message--new .modal-body .card .user__text, .message--new .modal-body .card__horizontal .user__text {
    color: #232323;
    margin-bottom: 20px;
    font-size: 18px
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .user__text, .message--new .modal-body .card__horizontal .user__text {
        margin-bottom: 8px;
        font-size: 15px
    }
}

.message--new .modal-body .card .card__action, .message--new .modal-body .card__horizontal .card__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__action, .message--new .modal-body .card__horizontal .card__action {
        flex-wrap: wrap;
        padding: 0 15px 15px
    }
}

.message--new .modal-body .card .card__action a, .message--new .modal-body .card__horizontal .card__action a {
    color: rgba(35,35,35,0.55);
    transition: 0.3s linear
}

    .message--new .modal-body .card .card__action a svg, .message--new .modal-body .card__horizontal .card__action a svg {
        fill: rgba(35,35,35,0.55);
        overflow: visible;
        margin-right: 3px;
        width: auto;
        height: 20px;
        stroke: rgba(35,35,35,0.55);
        stroke-width: 0
    }

    .message--new .modal-body .card .card__action a.love.active .number, .message--new .modal-body .card__horizontal .card__action a.love.active .number {
        color: #fe4545 !important
    }

    .message--new .modal-body .card .card__action a.love.active svg, .message--new .modal-body .card__horizontal .card__action a.love.active svg {
        fill: #fe4545;
        fill: url(#linear-gradient) !important;
        stroke-width: 0
    }

@media only screen and (max-width:840px) {
    .message--new .modal-body .card .card__action a.love.active svg, .message--new .modal-body .card__horizontal .card__action a.love.active svg {
        fill: #fe4545 !important
    }
}

.message--new .modal-body .card .card__action a.love svg, .message--new .modal-body .card__horizontal .card__action a.love svg {
    fill: none !important;
    stroke: rgba(35,35,35,0.55);
    stroke-width: 1px
}

.message--new .modal-body .card .card__action a.bookmark.active svg, .message--new .modal-body .card__horizontal .card__action a.bookmark.active svg {
    fill: #fe4545 !important;
    fill: url(#linear-gradient) !important;
    stroke-width: 0
}

@media only screen and (max-width:840px) {
    .message--new .modal-body .card .card__action a.bookmark.active svg, .message--new .modal-body .card__horizontal .card__action a.bookmark.active svg {
        fill: #fe4545 !important
    }
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__action a.bookmark, .message--new .modal-body .card__horizontal .card__action a.bookmark {
        margin-left: auto
    }
}

.message--new .modal-body .card .card__action a.bookmark svg, .message--new .modal-body .card__horizontal .card__action a.bookmark svg {
    fill: rgba(35,35,35,0.55)
}

.message--new .modal-body .card .card__action a.share, .message--new .modal-body .card__horizontal .card__action a.share {
    margin-right: 0
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__action a .label, .message--new .modal-body .card__horizontal .card__action a .label {
        display: none
    }
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__action a, .message--new .modal-body .card__horizontal .card__action a {
        margin-right: 15px
    }
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__action > button, .message--new .modal-body .card__horizontal .card__action > button {
        width: 100%;
        margin-top: 1em
    }
}

.message--new .modal-body .card .card__comments, .message--new .modal-body .card__horizontal .card__comments {
    padding-left: 20px;
    transition: 0.3s all linear
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__comments, .message--new .modal-body .card__horizontal .card__comments {
        padding-left: 0
    }
}

.message--new .modal-body .card .card__comments .profile--card, .message--new .modal-body .card__horizontal .card__comments .profile--card {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    transition: 0.3s linear
}

@media only screen and (max-width:840px) {
    .message--new .modal-body .card .card__comments .profile--card, .message--new .modal-body .card__horizontal .card__comments .profile--card {
        padding: 5px 10px
    }
}

.message--new .modal-body .card .card__comments .profile--card .card__img, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__img {
    height: 70px;
    width: 70px;
    min-width: 70px;
    border-radius: 50%;
    display: block;
    border: 2px solid rgba(35,35,35,0.3);
    height: 35px;
    width: 35px;
    min-width: 35px;
    margin-bottom: 0 !important
}

    .message--new .modal-body .card .card__comments .profile--card .card__img.active, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__img.active {
        border: 2px solid #fe4545;
        padding: 3px
    }

    .message--new .modal-body .card .card__comments .profile--card .card__img img, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__img img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        text-align: center;
        color: #fff;
        display: flex;
        justify-content: center;
        overflow: hidden
    }

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__comments .profile--card .card__img, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__img {
        height: 56px;
        width: 56px;
        min-width: 56px
    }
}

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__comments .profile--card .card__img, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__img {
        height: 30px;
        width: 30px;
        min-width: 30px
    }
}

.message--new .modal-body .card .card__comments .profile--card .card__link, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__link {
    margin-left: auto;
    display: flex
}

    .message--new .modal-body .card .card__comments .profile--card .card__link button, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__link button {
        background: none;
        padding: 0;
        color: rgba(35,35,35,0.3)
    }

    .message--new .modal-body .card .card__comments .profile--card .card__link a, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__link a {
        margin-left: 1em
    }

    .message--new .modal-body .card .card__comments .profile--card .card__link svg, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__link svg {
        height: 23px;
        width: auto
    }

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__comments .profile--card .card__link svg, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__link svg {
        height: 18px
    }
}

.message--new .modal-body .card .card__comments .profile--card .card__body, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__body {
    padding: 0 16px;
    flex-grow: 2;
    height: 45px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ebebeb;
    border-radius: 12px;
    color: #898989;
    border-radius: 12px;
    margin-left: 14px;
    padding-left: 0
}

    .message--new .modal-body .card .card__comments .profile--card .card__body .form-control, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__body .form-control {
        height: 100%;
        border: none;
        box-shadow: none !important;
        font-weight: 500 !important;
        color: #232323;
        background-color: transparent;
        flex-grow: 2;
        text-indent: 12px
    }

        .message--new .modal-body .card .card__comments .profile--card .card__body .form-control::placeholder, .message--new .modal-body .card__horizontal .card__comments .profile--card .card__body .form-control::placeholder {
            font-weight: 400 !important
        }

.message--new .modal-body .card .card__comments .comment--card, .message--new .modal-body .card__horizontal .card__comments .comment--card {
    margin: 10px 0
}

.message--new .modal-body .card .card__comments .card__top, .message--new .modal-body .card__horizontal .card__comments .card__top {
    margin-bottom: 0 !important
}

    .message--new .modal-body .card .card__comments .card__top .card__top__body, .message--new .modal-body .card__horizontal .card__comments .card__top .card__top__body {
        flex-grow: 2
    }

    .message--new .modal-body .card .card__comments .card__top .card__title, .message--new .modal-body .card__horizontal .card__comments .card__top .card__title {
        padding-left: 12px;
        font-size: 15px;
        margin-bottom: 0 !important
    }

    .message--new .modal-body .card .card__comments .card__top time, .message--new .modal-body .card__horizontal .card__comments .card__top time {
        margin-left: 1em
    }

    .message--new .modal-body .card .card__comments .card__top .para, .message--new .modal-body .card__horizontal .card__comments .card__top .para {
        color: rgba(35,35,35,0.7);
        padding-left: 52px;
        font-size: 17px
    }

@media only screen and (max-width:601px) {
    .message--new .modal-body .card .card__comments .card__top .para, .message--new .modal-body .card__horizontal .card__comments .card__top .para {
        padding-left: 43px;
        font-size: 12px
    }
}

.message--new .modal-body .card .card__audio, .message--new .modal-body .card__horizontal .card__audio {
    display: flex;
    align-items: center
}

    .message--new .modal-body .card .card__audio .btn--play, .message--new .modal-body .card__horizontal .card__audio .btn--play {
        height: 60px;
        width: 60px;
        margin-right: 1em;
        border-radius: 50%;
        font-size: 1.8em;
        padding: 0
    }

@media only screen and (max-width:840px) {
    .message--new .modal-body .card .card__audio .btn--play, .message--new .modal-body .card__horizontal .card__audio .btn--play {
        height: 45px;
        width: 45px;
        font-size: 1.4em;
        margin: 10px
    }
}

.message--new .modal-body .card .card__audio .wave--wrapper, .message--new .modal-body .card__horizontal .card__audio .wave--wrapper {
    flex-grow: 2
}

.message--new .modal-body .card .card--img--wrapper .card__img, .message--new .modal-body .card__horizontal .card--img--wrapper .card__img {
    max-height: calc(100vw - 690px)
}

.message--new .modal-body .card .card__file, .message--new .modal-body .card__horizontal .card__file {
    display: flex;
    flex-wrap: nowrap;
    padding: 1em;
    border-radius: 12px;
    background-color: #fce9e9;
    margin-bottom: 1em
}

    .message--new .modal-body .card .card__file .card__file__file, .message--new .modal-body .card__horizontal .card__file .card__file__file {
        height: 80px
    }

        .message--new .modal-body .card .card__file .card__file__file img, .message--new .modal-body .card__horizontal .card__file .card__file__file img {
            width: auto
        }

    .message--new .modal-body .card .card__file .card__file__body, .message--new .modal-body .card__horizontal .card__file .card__file__body {
        flex-grow: 2;
        display: flex;
        justify-content: space-between;
        margin-left: 1em;
        align-items: center
    }

        .message--new .modal-body .card .card__file .card__file__body .card__title, .message--new .modal-body .card__horizontal .card__file .card__file__body .card__title {
            color: #232323;
            margin-bottom: 0
        }

        .message--new .modal-body .card .card__file .card__file__body .card__link, .message--new .modal-body .card__horizontal .card__file .card__file__body .card__link {
            margin-left: 1em
        }

            .message--new .modal-body .card .card__file .card__file__body .card__link a, .message--new .modal-body .card__horizontal .card__file .card__file__body .card__link a {
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative
            }

                .message--new .modal-body .card .card__file .card__file__body .card__link a:hover svg, .message--new .modal-body .card__horizontal .card__file .card__file__body .card__link a:hover svg {
                    stroke-dasharray: 450
                }

            .message--new .modal-body .card .card__file .card__file__body .card__link svg, .message--new .modal-body .card__horizontal .card__file .card__file__body .card__link svg {
                height: 50px;
                width: 50px;
                opacity: 0.5;
                position: absolute;
                top: 0;
                left: 0;
                stroke-dasharray: 230;
                stroke-dashoffset: 230;
                transition: 0.3s linear
            }

                .message--new .modal-body .card .card__file .card__file__body .card__link svg g, .message--new .modal-body .card__horizontal .card__file .card__file__body .card__link svg g {
                    stroke: #fe4545
                }

.message--new .modal-body .chat--card {
    margin-bottom: 10px;
    box-shadow: none !important
}

    .message--new .modal-body .chat--card .card__img {
        overflow: visible;
        height: 45px !important;
        width: 45px !important;
        min-width: 45px !important
    }

        .message--new .modal-body .chat--card .card__img .online {
            height: 12px;
            width: 12px;
            border-radius: 50%;
            background-color: #00af03;
            position: absolute;
            bottom: 0px;
            right: 0px;
            border: 2px solid #fff
        }

    .message--new .modal-body .chat--card:not(.readed) {
        background-color: transparent
    }

    .message--new .modal-body .chat--card button {
        background: none !important;
        padding: 0 !important
    }

    .message--new .modal-body .chat--card .card__top__link {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: space-between;
        white-space: nowrap
    }

        .message--new .modal-body .chat--card .card__top__link time {
            display: block
        }

            .message--new .modal-body .chat--card .card__top__link time i {
                font-size: 7px;
                vertical-align: middle;
                color: #fe4545
            }

    .message--new .modal-body .chat--card .card__top {
        align-items: flex-start
    }

        .message--new .modal-body .chat--card .card__top .card__title {
            font-size: 16px
        }

    .message--new .modal-body .chat--card .user__text {
        margin-right: 10px;
        max-width: 90px;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        font-size: 14px
    }

        .message--new .modal-body .chat--card .user__text svg {
            height: 16px
        }

            .message--new .modal-body .chat--card .user__text svg .cls-1 {
                fill: #232323;
                opacity: 0.5
            }

    .message--new .modal-body .chat--card .card__top, .message--new .modal-body .chat--card .user__text {
        margin-bottom: 0
    }

    .message--new .modal-body .chat--card .card__top__body {
        align-self: center;
        padding: 0;
        padding-left: 1em;
        width: 100%
    }

        .message--new .modal-body .chat--card .card__top__body time {
            display: block;
            font-size: 12px
        }

            .message--new .modal-body .chat--card .card__top__body time i {
                font-size: 7px;
                vertical-align: middle;
                color: #fe4545
            }

    .message--new .modal-body .chat--card .user__text--wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2px
    }

.message--new .modal-body .chat--card {
    padding: 0
}

    .message--new .modal-body .chat--card .card__top .card__img {
        height: 40px;
        width: 40px;
        min-width: 40px
    }

        .message--new .modal-body .chat--card .card__top .card__img .online {
            height: 10px;
            width: 10px;
            bottom: -2px;
            right: 2px
        }

    .message--new .modal-body .chat--card .card__top .card__top__body {
        padding: 0 10px
    }

    .message--new .modal-body .chat--card .card__top .card__title {
        font-weight: 500;
        font-size: 16px
    }

@media only screen and (max-width:601px) {
    .message--new .modal-body .chat--card .card__top {
        padding: 0
    }
}

@media only screen and (max-width:601px) {
    .message--new .modal-content {
        padding: 15px
    }
}
/*added
*/
#myTab .nav-link.active {
    color: #fe4545;
}

#myTab .nav-link {
    color: black;
}

#myTabContent.tab-content {
    margin-top: 10px;
}


/*content styes moved
*/
.NSFW_true {
    display: none;
}

.card__img .content {
    position: absolute;
    bottom: 0;
    /*background: rgb(0, 0, 0);/* /* Fallback color */
    /*background: rgba(0, 0, 0, 0.5);*/ /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    padding: 20px;
}

@media print {
    html, body {
        display: none; /* hide whole page */
    }
}

.ott--modal .form-group.otp input {
    min-width: 55px;
}

.skeleton--loader svg{
       width:100%;
    } 
    

