@font-face {
  font-family: "ProximaNova";
  src: url("./font/ProximaNova-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Mark Simonson";
  src: url("./font/Mark Simonson - Proxima Nova Semibold.otf")
    format("opentype");
  font-weight: 500;
}
@-webkit-keyframes animate {
  17% {
    border-radius: 50% 50% 20px 20px;
  }
  25% {
    transform: translateY(9px);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9);
  }
  75% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes animate {
  17% {
    border-radius: 50% 50% 20px 20px;
  }
  25% {
    transform: translateY(9px);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9);
  }
  75% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animate {
  17% {
    border-radius: 50% 50% 20px 20px;
  }
  25% {
    transform: translateY(9px);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9);
  }
  75% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}
@-moz-keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}
@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes infinite--loader {
  0% {
    left: 0;
    width: 30%;
  }
  50% {
    width: 60%;
    left: 20%;
  }
  100% {
    width: 30%;
    left: 70%;
  }
}
@-moz-keyframes infinite--loader {
  0% {
    left: 0;
    width: 30%;
  }
  50% {
    width: 60%;
    left: 20%;
  }
  100% {
    width: 30%;
    left: 70%;
  }
}
@keyframes infinite--loader {
  0% {
    left: 0;
    width: 30%;
  }
  50% {
    width: 60%;
    left: 20%;
  }
  100% {
    width: 30%;
    left: 70%;
  }
}
@-webkit-keyframes interval {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes interval {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes interval {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
.progress {
  vertical-align: baseline;
  height: 2px;
  border: 0;
  width: 100%;
  transition: 0.3s ease-out;
  -webkit-appearance: none;
  appearance: none;
}

label {
  cursor: pointer;
}

/* --------------------------------------------------------
version: 1.0
last modified: 24.2.2020 by anjit
author: Anjit Pariyar	
email: anjitpariyar@gmail.com
github: https://github.com/anjitzero
----------------------------------------------------------*/
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 589px) {
  html {
    font-size: 12px;
  }
}

a:hover {
  text-decoration: none;
  color: currentColor;
}

a:active,
a:focus {
  outline: 0;
  border: none;
  outline-style: none;
}

a {
  transition: 0.3s ease;
  color: currentColor;
  box-shadow: none;
  -webkit-box-shadow: none;
}
a:hover {
  color: #fe4545;
}
a a:active {
  color: #fe4545;
}

a:active {
  color: #ff6f6f;
}

label {
  box-shadow: none;
  -webkit-box-shadow: none;
}

h1,
h2,
h3 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #232323;
}
@media only screen and (max-width: 600px) {
  h1,
  h2,
  h3 {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 455px) {
  h1,
  h2,
  h3 {
    margin-bottom: 10px;
  }
}

.logo img {
  height: 4rem;
  object-fit: contain;
}

body {
  font-family: "ProximaNova", sans-serif;
  font-weight: 400;
  position: relative;
  scroll-behavior: smooth;
  /* color: rgba(35, 35, 35, 0.3);  */
}

.section__rule {
  margin: 0 auto;
  max-width: 1920px;
}
@media only screen and (min-width: 0px) {
  .section__rule {
    padding: 20px 0;
    width: 100%;
  }
}

img[src$=".jpg"] {
  background-color: #f6f7f9;
}

.slick-slide {
  outline: none;
}

input::placeholder {
  color: rgba(35, 35, 35, 0.3);
}

.description p {
  font-size: 1em;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  /* no standardized syntax available, no ie-friendly solution available */
}

select + i {
  position: absolute;
  right: 0;
  position: absolute;
  right: 8px;
  pointer-events: none;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
}

.select-wrapper,
.select--wrapper {
  position: relative;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.row {
  margin: 0;
}

@media only screen and (max-width: 480px) {
  .col-sm-6 {
    padding: 0 6px !important;
  }
}
.fixed-top {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  overflow-y: scroll;
  z-index: 10000 !important;
}

hr {
  border-top: 2px solid rgba(255, 255, 255, 0.16);
  width: 100%;
  margin: 35px 0;
}
@media only screen and (max-width: 455px) {
  hr {
    margin: 25px 0px;
  }
}

mark {
  background-color: #232323;
  color: #fff;
  padding: 3px 14px;
}

@media only screen and (max-width: 678px) {
  p {
    margin-bottom: 8px;
  }
}

a {
  display: inline-block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.form-check-input {
  position: relative;
  margin-top: 0;
  margin-left: -1.25rem;
  margin-right: 11px;
}

button.disabled {
  cursor: not-allowed;
}

button:visited,
button:focus {
  outline: none;
}

body.overflow {
  overflow-y: hidden;
}

.relative {
  display: none !important;
}

[class^="bi-"]::before,
[class*=" bi-"]::before {
  vertical-align: sub;
}

html {
  overflow-y: overlay;
}

a[type="button"] {
  box-shadow: none !important;
  -webkit-appearance: none !important;
  border: none !important;
}

/*# sourceMappingURL=custom.css.map */
