// @import './component_css/innner.scss';

@import "./component_css/inner";
@import "./component_css/othercsscomp";

// only this page need bold font thats why bro
@font-face {
  font-family: "ProximaNova";
  src: url("./font/Proxima-Nova-Bold.otf") format("opentype");
  font-weight: bold;
}

@include keyframes(water-wave) {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@include keyframes(bottom-top) {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  10% {
    transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    // transform: rotate(160deg);
    opacity: 1;
  }

  100% {
    transform: rotate(200deg);
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  @keyframes bottom-top {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      opacity: 1;
    }

    100% {
      transform: translateY(-100%);
      opacity: 0;
    }
  }
}

@include keyframes(left-right) {
  0% {
    transform: rotate(0deg) scale(0.2);
  }

  20% {
    transform: rotate(-40deg) scale(1);
  }

  100% {
    transform: rotate(-200deg) scale(1.5);
  }
}
@include keyframes(rotateY) {
  0% {
    transform: skew(0deg) rotateY(0deg);
  }

  50% {
    transform: skew(6deg) rotateY(15deg);
  }

  100% {
    transform: skewY(-10deg) rotateY(-15deg);
  }
}

$common-padding: 70px;

body {
  flex-wrap: wrap;
}

.login-pages {
  max-width: 1920px;
  @include responsivelg {
    // height: auto;
  }
  .br {
    border-radius: 8px !important;
  }

  .illustration {
    @include bg;
    overflow: hidden;
    @include responsivemd {
      display: none;
    }
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      @include bg;
      opacity: 0.8;
    }
    .animation--part {
      .logo {
        position: absolute;
        bottom: -60px;
        right: -50px;

        svg {
          height: 175px;
          width: auto;
          @include responsivemd {
            height: 125px;
          }
        }
      }
    }

    .person--circular--wrapper {
      position: absolute;
      top: 140px;
      right: -8%;
      z-index: 0;
      opacity: 0;
      animation: bottom-top 30s 0s linear infinite;
      transform-origin: 100% center;
      height: 88%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      top: 160px;
      right: -25%;
      height: 89%;
      @include responsive(1700px) {
        height: 77%;
        right: -8%;
        top: 180px;
      }
      @include responsivexlg {
        // height: 79%;
      }

      @include responsivelg {
        transform-origin: 260% center;
      }

      @include responsivemd {
        right: -27px;
        top: 120px;
      }

      @for $i from 0 through 10 {
        &:nth-child(#{$i}) {
          &,
          .person--circular {
            // animation-delay: $i * 6 + 6s;
            animation-delay: $i * 3s;
          }
          .circle--lg,
          .circle--sm {
            // animation-delay: $i *4 + 4s !important;
            animation-delay: $i * 4 + 0s !important;

            animation-duration: $i + 3s !important;
          }
        }
        &:nth-child(3n) {
          transform-origin: 95% 10%;
        }
      }

      .person--circular {
        position: relative;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        overflow: hidden;
        opacity: 0.8;
        transform: scale(0.2);
        animation: left-right 30s 0s linear infinite;

        img {
          @include image;
          border-radius: 50%;
          opacity: 0.3;
        }
        & > div,
        & > div:before,
        & > div:after {
          content: "";
          @include position;
          background-color: transparent;
          border: 2px solid #fff;
          top: 0;
          left: 0;
          border-radius: 50%;
        }
        .circle--sm {
          transform: scale(0);
          // border:none;
          animation-delay: 3s !important;
          &:before {
            transform: scale(1.5);
          }
          &:after {
            transform: scale(1.75);
          }
        }
        .circle--sm,
        .circle--lg {
          animation: water-wave 6s ease-in-out infinite;
        }
        .pp--image {
          background-color: hsla(0, 0%, 100%, 0.64);
          padding: 10px;
          transform: scale(0.4);
          box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.3);
          border: none;
          &:before,
          &:after {
            content: none;
          }
        }
        .circle--lg {
          transform: scale(1);
          &:before {
            transform: scale(0.83);
          }
          &:after {
            transform: scale(0.93);
          }
        }
      }
    }
  }

  .profile--card {
    @include card--profile;
  }

  .popular--user {
    transform: translateX(-50px - $common-padding);
    .profile--card {
      margin-bottom: 40px;
      .card__img {
        height: 100px;
        width: 100px;
        min-width: 100px;
        box-shadow: 0 0 0 7px #fff;
        padding: 6px;
        border-width: 3px;
        background-color: #fff;
      }
    }
  }

  .login-pages__main {
    flex-grow: 2;
    padding: 50px $common-padding;
    position: relative;

    @include responsivelg {
      padding: 30px;
      min-height: 100vh;
    }
    @include responsivemmd {
      height: 100%;
      min-height: 100vh;
    }

    button.common {
      font-size: 17px !important;
      height: 50px;
    }

    .login__top {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-bottom: 40px;

      @include responsivemd {
        margin-bottom: 0px;
        flex-direction: column;
        align-items: flex-start;
      }
      .mob-login {
        margin-bottom: 30px;
      }
      form {
        display: flex;
        @include responsivemd {
          display: block;
          width: 100%;
        }
        small {
          display: block;
          text-align: right;
          margin-right: 20px;
          margin-top: 8px;
          @include responsivemmd {
            font-size: 1em;
          }
        }
      }
    }

    @include app;
    .form-group {
      @include responsivemd {
        width: 100%;
      }
    }
    .form-control {
      @include input;
      margin-right: 20px;
      width: 200px;
      background-color: #fafafa;
      @include responsivemd {
        background-color: #fff;
        width: 100%;
        margin: 0;
      }
    }
    textarea.form-control {
      height: 100px;
    }
    button[type="submit"] {
      @include button;
      font-weight: 600;
      color: $primary-color;
      background-color: transparent;
      background-image: none;
      border: 1px solid $primary-color;
      font-weight: normal;
      @include responsivemd {
        width: 100%;
        color: #fff;
        @include bg;
      }
      &:hover {
        @include bg;
        color: #fff;
      }
      &:active {
        transform: scale(1.06);
      }
    }
    .app {
      @include responsivelg {
        display: none;
      }
      a {
        width: 50%;
        text-align: center;
        background-color: #0a0a0a;
        @include br;
        padding: 2px;
        img {
          display: inline;
        }
      }
    }
    .check-list {
      @include checkbox;
      .form-check {
        font-size: 15px;
      }
      .list-group .list-group-item {
        padding: 0.7em 0.8em;
        margin: 0.3em;
      }
      .form-group {
        .form-group {
          input {
            border: 0;
            background-color: transparent;
          }
          label {
            padding: 0;
          }
        }
      }
    }
    .step-2,
    .step-3 {
      display: none;
    }
  }

  .signup--wrapper {
    .video--wrapper {
      min-height: 400px;
      width: 130%;
      max-width: 600px;
      margin-left: -50%;
      position: relative;
      // background-color: #000;
      // @include bg;
      display: flex;
      justify-content: center;
      align-items: center;
      @include br;
      @include responsivelg {
        min-height: 330px;
        margin-left: -45%;
      }
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        @include br;
      }
    }

    .signup--left {
      flex-grow: 2;
      @include responsivemd {
        display: none;
      }
    }

    .signup--right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 550px;
      @include responsive(1556px) {
        width: 580px;
      }
      @include responsivelg {
        width: 420px;
        flex-grow: 2;
      }
    }

    .signup--bottom {
      button {
        @include button;
        width: 100%;
        @include loaderbtn;

        @include card__margin;
      }
    }

    .signup--wrapper__half {
      max-width: 380px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      transition: 0.3s linear;
      @include responsivelg {
        min-height: 0;
      }

      .sign-up--form {
        display: none;
        width: 100% !important;
        @include responsivelg {
          display: block;
        }
      }

      .logo--top {
        @include responsivemd {
          display: none;
        }
      }

      .mob-login {
        margin-bottom: 30px;
      }
    }

    .logo--top {
      img {
        height: 45px;
        width: auto;
        @include card__margin;
      }
    }

    .sign-up--form {
      .form-control {
        width: 100%;
      }
    }

    @include responsivemd {
      display: none;
      position: absolute;
      height: auto;
      width: 100%;
      bottom: 25px;
      left: 0;
      background-color: #fff;
      padding: 30px;
    }
  }

  .mob-login {
    @include responsivemin(835px) {
      display: none;
    }
    & > .section__title {
      color: $primary-color;
      margin-bottom: 5px;
    }
    .mobpp {
      width: 100%;
      height: auto;
      transition: 0.3s ease-in;
      margin: 30px auto;
      animation: rotateY 5s linear 2s infinite forwards alternate;
      max-height: 37vh;
      object-fit: contain;
    }
  }

  .mob-login--top {
    @include card__margin;
    .logo--top {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    img {
      height: 30px;
      width: auto;
    }
    .link {
      color: $dark;
      font-size: 14px;
    }
  }

  .password--text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    justify-content: space-between;
    .progress {
      height: 4px;
      width: 60px;
      .weak {
        width: 33%;
        background-color: #ff0920 !important;
      }
      .mid {
        width: 66%;
        background-color: #ffc107 !important;
      }
      .strong {
        width: 99%;
        background-color: #28a745 !important;
      }
    }
  }
}

.login-pages__footer {
  // position: absolute;
  // bottom:0;
  // left:0;
  // width: 100%;
  background-color: #fff;
  width: 100%;
  @include responsivemd {
    position: relative;
  }
  .nav {
    justify-content: space-evenly;
    padding: 0 $common-padding;
    @include responsivemd {
      justify-content: flex-start;
      padding: 0 30px;
      @include scrollbar;
      display: none;
    }
  }
  .nav-link {
    margin: 0;
    color: $dark;
    font-size: 14px;
  }
  .section__rule {
    @include responsivemd {
      padding: 30px;
      // padding-bottom: 30px;
    }
  }
  @include app;
  .app {
    a {
      width: 50%;
      text-align: center;
      background-color: #0a0a0a;
      @include br;
      padding: 2px;
      img {
        display: inline;
      }
    }
  }
  .mob-login {
    @include responsivemin(835px) {
      display: none;
    }
  }
}

.landing--page {
  .login-pages__main {
    display: flex;
    align-items: center;
  }

  .illustration {
    @include responsivemd {
      display: block;
      padding: 0;
    }
    .animation--part {
      .logo {
        bottom: -70px;
        @include responsivemd {
          bottom: -50px;
        }
      }
      .person--circular--wrapper {
        height: 86%;
      }
    }
  }

  .modal {
    @include modal;
    .card__link {
      display: flex;
      justify-content: center;
      margin-top: 2em;
    }
    p.para {
      color: $dark;
      text-align: center;
    }
  }

  $color: (
    main: #c9a04e,
    minor: #f7f6f2,
    bg: #1a202e,
  );
  $particles: 50;
  $width: 500;
  $height: 300;
  $gravityY: 150;
  $frequency: infinite;

  $box-shadow: ();
  $box-shadow2: ();

  @for $i from 0 through $particles {
    $box-shadow: $box-shadow,
      random($width)-$width /
        2 +
        px
        random($height)-$height /
        1.2 +
        px
        hsl(random(360), 100, 50);
    $box-shadow2: $box-shadow2, 0 0 #fff;
  }

  @mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
      @content;
    }

    @-moz-keyframes #{$animationName} {
      @content;
    }

    @-o-keyframes #{$animationName} {
      @content;
    }

    @-ms-keyframes #{$animationName} {
      @content;
    }

    @keyframes #{$animationName} {
      @content;
    }
  }

  @mixin animation-delay($settings) {
    -moz-animation-delay: $settings;
    -webkit-animation-delay: $settings;
    -o-animation-delay: $settings;
    -ms-animation-delay: $settings;
    animation-delay: $settings;
  }

  @mixin animation-duration($settings) {
    -moz-animation-duration: $settings;
    -webkit-animation-duration: $settings;
    -o-animation-duration: $settings;
    -ms-animation-duration: $settings;
    animation-duration: $settings;
  }

  @mixin animation($settings) {
    -moz-animation: $settings;
    -webkit-animation: $settings;
    -o-animation: $settings;
    -ms-animation: $settings;
    animation: $settings;
  }

  @mixin transform($settings) {
    transform: $settings;
    -moz-transform: $settings;
    -webkit-transform: $settings;
    -o-transform: $settings;
    -ms-transform: $settings;
  }

  .firework {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
  }

  .firework > .before,
  .firework > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: $box-shadow2;
    @include animation-delay((0s, 0s, 0s));
    @include animation(
      (
        1s bang ease-out 1s $frequency backwards,
        1s gravity ease-in 1s $frequency backwards,
        5s position linear 1s $frequency backwards
      )
    );
  }

  .firework > .after {
    @include animation-delay((0s, 0s, 0s));
    @include animation-duration((0s, 0s, 6s));
  }

  @include keyframes(bang) {
    to {
      box-shadow: $box-shadow;
    }
  }

  @include keyframes(gravity) {
    to {
      @include transform(translateY($gravityY + px));
      opacity: 0;
    }
  }

  @include keyframes(position) {
    0%,
    19.9% {
      margin-top: 10%;
      margin-left: 40%;
    }
    20%,
    39.9% {
      margin-top: 40%;
      margin-left: 30%;
    }
    40%,
    59.9% {
      margin-top: 20%;
      margin-left: 70%;
    }
    60%,
    79.9% {
      margin-top: 30%;
      margin-left: 20%;
    }
    80%,
    99.9% {
      margin-top: 30%;
      margin-left: 80%;
    }
  }

  .signup--wrapper {
    max-width: 400px;
    @include responsivemd {
      display: block;
      position: relative;
      padding: 0;
    }
  }

  & + footer {
    position: fixed;
    bottom: 0;
    @include responsivemd {
      position: relative;
    }
  }
}

.profile--logout--aside {
  .logo {
    margin-bottom: 100px;
    img {
      height: 3rem;
      object-fit: contain;
    }
  }
  section {
    margin-bottom: 60px;
  }
  @include app;
  .app {
    a {
      width: 50%;
      text-align: center;
      background-color: #0a0a0a;
      @include br;
      padding: 2px;
      img {
        display: inline;
      }
    }
  }
  .signup--right {
    button {
      width: 100%;
      @include button;
      height: 50px;
      font-size: 18px;
      @include br12;
      margin-bottom: 15px;
      &.br {
        color: $dark;
        background-color: transparent;
        background-image: none;
        border: 1px solid $dark;
        font-weight: normal;
      }
    }
    .logo--top {
      margin-bottom: 60px;
    }
    .signup--bottom--bottom {
      margin-bottom: 20px;
    }
    .signup--bottom {
      @include responsivelg {
        margin-top: 10px;
      }
    }
    .btn--toggle {
      width: 100% !important;
    }
  }
  .section--video {
    position: relative;
    video {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 50px;
      color: #fff;
      opacity: 0.5;
      overflow: visible;
      color: #fff;
      opacity: 0.5;
    }
  }
  footer {
    margin-top: 0;
    padding-top: 0;
  }
}

.profile--logout {
  max-width: 1080px;
  margin: 0 50px;
  background-color: rgba(255, 255, 255, 0.5);
  .profile__card__wallpaper {
    .card__body {
      @include box-shadow;
      padding: 40px;
    }
    .card__wallpaper {
      height: 30vh;
    }
    .card__top__link {
      .option__link {
        height: 40px;
        min-width: 40px;
        text-align: center;
        vertical-align: middle;
        border-radius: 40px;
        line-height: 37px;
        margin-top: -6px;
        margin-left: 10px;
        fill: #898989;
        width: auto;
        padding: 0 18px;
      }
    }
    .profile__card__bottom {
      margin-bottom: 1.5em;
    }
  }

  .card {
    height: max-content;
  }
  .re-late {
    position: relative;
    .absolute--info {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: linear-gradient(135deg, #fe4545, #d70153);
      display: flex;
      padding: 14px;
      align-items: flex-end;
      opacity: 0.6;
      .user__text {
        color: $white !important;
        margin-bottom: 0;
        font-size: 14px;
        @include lineclamp(2);
      }
    }
  }
  .card--button--group {
    // padding-left: 2em;
    grid-column: span 2;
    @include responsivelg {
      grid-column: span 1;
    }
    @include responsivesm {
      grid-column: span 2;
      margin-top: 1em;
    }
    .outline--common {
      padding: 10px 1.5em;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 0.7em;
      width: 220px;
      color: #232323;
      background-color: transparent;
      background-image: none;
      border: 1px solid #232323;
      font-weight: normal;
      display: flex;
      align-items: center;
      img {
        width: 30px;
        height: auto;
        margin-right: 0.6em;
      }
      span {
        flex-grow: 2;
      }
    }
  }
}

.btn--toggle {
  width: 100% !important;
}
