@import "./component_css/header";
@import "./component_css/commonClass";
@import "./component_css/right--aside";

.carousel {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
}

.carousel.slick-initialized {
  visibility: visible;
  opacity: 1;
}

.tail-datetime-calendar .calendar-actions,
.tail-datetime-calendar
  .calendar-datepicker
  table
  tr
  td.calendar-day.date-select,
.tail-datetime-calendar
  .calendar-datepicker
  table
  tr
  td.calendar-month.date-select,
.tail-datetime-calendar
  .calendar-datepicker
  table
  tr
  td.calendar-year.date-select,
.tail-datetime-calendar
  .calendar-datepicker
  table
  tr
  td.calendar-decade.date-select {
  color: $white;
  @include bg;
  border: 0;
}
.tail-datetime-calendar
  .calendar-datepicker
  table
  tr
  td.calendar-day.date-select {
  border-radius: 8px;
}
.tail-datetime-calendar .calendar-actions span[data-action]:hover {
  background-color: transparent !important;
}
.tail-datetime-calendar .calendar-actions span.action-prev,
.tail-datetime-calendar .calendar-actions span.action-next {
  filter: invert(1);
  &:before {
    content: none;
  }
}

main {
  flex-grow: 2;
  // background-color:#fff;
  @include mainP;
  width: calc(100% - 560px);
  max-width: 1200px;
  // @include responsive(1700px){
  background-color: $white;
  // }
  @include responsivemmd {
    padding: 0 0px;
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
  }
  & > * {
    @include responsivemmd {
      padding: 0 10px;
    }
  }
  section {
    @include mb;
  }

  .post {
    position: sticky;
    top: -110px;
    z-index: 100;
    @include transition-in;
    @include responsivemmd {
      position: relative;
      top: 0px;
      z-index: 1;
      display: none;
    }
    &.active {
      @include transition-out;
      top: 0px;
    }
    .profile--card {
      display: flex;
      align-items: center;
      width: 100%;
      background-color: #fff;
      padding: 20px;
      transition: 0.3s linear;
      box-shadow: rgba(35, 35, 35, 0.03) -3px 4px 12px;
      @include responsivemmd {
        padding: 8px;
      }
      &.active {
        @include box-shadow;
      }
      .card__img {
        @include circle--img;
        @include responsivemmd {
          height: 40px;
          width: 40px;
          min-width: 40px;
        }
      }
      .card__title {
        @include card-title;
      }
      @include card__link;
      svg path {
        @include transition;
      }
      .card__link {
        input[type="file"] {
          height: 0;
          width: 0;
          opacity: 0;
          visibility: hidden;
        }
        a:hover {
          svg path {
            fill: $primary-color;
          }
        }
      }
      .card__body {
        padding: 0 16px;
        flex-grow: 2;
        height: 50px;
        margin: 0;
        @include responsivemmd {
          padding: 0;
        }
        .form-control {
          height: 100%;
          border: none;
          box-shadow: none !important;
          font-weight: 500 !important;
          @include lineclamp(1);
        }
      }
    }
  }

  .moments {
    @include responsivemmd {
      order: -1;
      margin-top: 20px;
      padding: 0;
    }
    .title__wrapper {
      @include responsivemmd {
        display: none;
      }
    }
    .stories {
      @include scrollbar;
      // justify-content: space-between;
      .img__wrapper {
        scroll-snap-align: start;
        &:first-child {
          @include responsivemmd {
            padding-left: 10px;
          }
        }
        &:last-child {
          @include responsivemmd {
            padding-right: 10px;
          }
        }
        @include responsivemmd {
          scroll-snap-align: end;
        }
      }
      .card__img {
        @include circle--img;
        margin: auto;
        margin-bottom: 5px;
        position: relative;
        @include transition-in;
        scroll-snap-align: end;

        &:hover {
          padding: 0;
          @include transition-out;
        }

        &.self {
          overflow: visible;
          &:before {
            @include bg;
            content: "";
            height: calc(100% - 6px);
            width: calc(100% - 6px);
            border-radius: 50%;
            position: absolute;
            top: 3px;
            left: 3px;
            opacity: 0.8;
          }
        }
        .add {
          @include absolute--svg;
        }
      }
      .img__wrapper {
        text-align: center;
        margin-right: 30px;
        @include responsivemmd {
          margin-right: 12px;
        }
      }
    }
  }

  .accounts--top {
    @include slicknav;
    @include responsivemmd {
      // display: none;
    }
    .section__title {
      @include responsivemmd {
        margin-bottom: 5px;
      }
    }
    .slick-list {
      margin: -10px;
      @include responsivemmd {
        margin: -4px;
      }
      .item {
        padding: 15px 10px;
        @include responsivemmd {
          padding: 12px 4px;
        }
      }
    }
    .card {
      border: none;
      font-size: 16px;
      padding: 1em;
      @include box-shadow;
      @include responsivemmd {
        padding: 8px;
      }
      .card__top {
        display: flex;
        margin: 0 -5px;
        margin-bottom: -40px;
        @include responsivemmd {
          margin: 0 -3px;
          margin-bottom: -30px;
        }
        .card__img {
          height: 100px;
          margin: 0 5px;
          @include bg;
          flex-grow: 2;
          // width: fit-content;
          // width: -moz-min-content;
          width: calc(50% -10px);
          min-width: calc(50% - 10px);
          @include responsivemmd {
            margin: 0 3px;
          }
          img {
            @include image;
            opacity: 0.4;
          }
        }
      }
      .profile__img--wrapper {
        position: relative;
        margin: auto;
        .profile__img {
          @include circle--img;
          height: 60px;
          width: 60px;
          min-width: 60px;
          border: 4px solid #fff;
        }
        .lock {
          @include absolute--svg;
          bottom: 2px;
          right: 2px;
        }
      }
      .card__title {
        @include card-title;
      }
    }
  }

  @include feed;

  // @include modal--post;
}

@import "./component_css/footer";
