﻿@using Templates.ViewModels
@model CreateNewUserViewModel

@{
    Layout = "_EmailLayoutText";
    ViewContext.ViewData["EmailTitle"] = "Hello " + Model.FullName;
}

Your account was just signed in.
<br/>
<b>@Model.Message</b>
- Fanbucket team