﻿@model FanBucketEntity.Wrappers.PagedResponse<List<FanBucketEntity.ViewModel.UserDetailsViewModel>>

<div class="post-list">

    @foreach (var item in Model.Data)
    {


            <a href="/User/Details?Id=@item.Id" class=" list-group-item-action " aria-current="true">
                <div class="profile--card">
                    <div class="card__img active">
                        <img src="@item.ProfileImgLocation" alt="">
                    </div>
                    <div class="card__body">
                        <h2 class="card__title">@item.Fullname (@item.Username)</h2>
                        <p class="para small">@item.Email</p>

                    </div>
                    @if (!item.Badges.Any(x => x.Name == "Verified"))
                    {
                        <form asp-page-handler="Verify" class="ml-auto" method="post">
                            <input type="hidden" name="UserId" value="@item.Id" />
                            <input type="submit" class="dashboard--common--btn" value="Verify" />
                        </form>
                    }
                </div>

            </a>

    }

</div>

<!-- Display pagination links -->
<div class="pagination">
    Total Records: @Model.TotalRecords | &nbsp;
    @if (Model.PreviousPage != null)
    {
        <a href="javascript:void(0);" onclick="searchFilter(@Model.PreviousPageNumber)">Previous Page  </a> @Html.Raw("&nbsp;");

    }
    @if (Model.NextPage != null)
    {
        <a href="javascript:void(0);" onclick="searchFilter(@Model.NextPageNumber)"> Next Page</a> @Html.Raw("&nbsp;");

    }

</div>



