﻿@page
@model FanBucketUI.Pages.Admin.NewUsersModel
@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
}

<main class="insights--aside dashboard--main">
    <div class="right--aside__wrapper chat--wrapper">
        <section class="dashboard__general">
            <h2 class="section__title">New Members</h2>
            <div class="row">
                @foreach (var item in Model.newUsrlist)
                {
                    <a href="/@item.Username" class="list-group-item-action" aria-current="true">
                        <div class="profile--card">
                            <div class="card__img active">
                                <img src="@item.ProfileImgLocation" alt="">
                            </div>
                            <div class="card__body">
                                <h2 class="card__title">@item.Fullname</h2>
                                <p class="para small">@item.Email</p>
                            </div>
                        </div>
                    </a>
                   
                }
            </div>
        </section>
    </div>
</main>
