﻿@page
@model FanBucketUI.Pages.Admin.PostReportedDetailsModel
@{
    ViewData["Title"] = "Reported Post:Details";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var Username = uservice.GetUsername(User);
    var userFullname = uservice.GetName(User);
    var userImg = uservice.GetProfileImg(User);
}
<main class="insights--aside dashboard--main">
    <div class="right--aside__wrapper chat--wrapper">
        <section class="dashboard__general">
            <div class="">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title text-body"> Reported Post Details</div>
                    </div>
                    <div class="card-body">
                        @{

                            int i = 1;
                        }
                        <div class="">
                            Last Reported Date: @Html.DisplayFor(x => x.reportedPost.LastReportedDate)<br />
                            @*Post: @Html.DisplayFor(x => x.reportedPost.PostId)<br />*@
                            Post Title: @Html.DisplayFor(x => x.reportedPost.PostTitle)<br />
                            Post Status: @Html.DisplayFor(x => x.reportedPost.Status)<br />
                            Posted By: @Html.DisplayFor(x => x.reportedPost.PostCreatedBy)
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Reported Date</th>
                                        <th>Reason</th>
                                        <th>Remarks</th>
                                        <th>Posted By </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.reportedPost.Reports)
                                    {

                                        <tr>
                                            <td>@i</td>
                                            <td>@item.CreatedOn</td>
                                            <td>
                                                @item.ReportingReason
                                            </td>
                                            <td>@item.Remarks</td>
                                            <td>@item.ReportedByFullname</td>
                                        </tr>


                                        i++;
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                <div class="card pt-0">
                    <div class="card-header">
                        <div class="card-title  text-body">Post Review</div>
                    </div>
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" asp-for="PostReviewViewModel.PostId" value="@Model.reportedPost.PostId" />
                            <div class="col-sm-6 col-md-6">
                                <div class="form-group">
                                    <label asp-for="PostReviewViewModel.Status" class="control-label"></label>
                                    <select asp-for="PostReviewViewModel.Status" class="form-control" asp-items="Model.NewStatus">
                                        <option value="">Select Status</option>
                                    </select>
                                    <span asp-validation-for="PostReviewViewModel.Status" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12">
                                <div class="form-group">
                                    <label asp-for="PostReviewViewModel.Remarks" class="control-label"></label>
                                    <textarea asp-for="PostReviewViewModel.Remarks" class="form-control"></textarea>
                                    <span asp-validation-for="PostReviewViewModel.Remarks" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>


        </section>
    </div>
</main>


