﻿@page
@model FanBucketUI.Pages.Admin.ReportedUsersModel
@{
    ViewData["Title"] = "Reported Users";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var Username = uservice.GetUsername(User);
    var userFullname = uservice.GetName(User);
    var userImg = uservice.GetProfileImg(User);
}
<main class="insights--aside dashboard--main">
    <div class="right--aside__wrapper chat--wrapper">
        <section class="dashboard__general">
            <h2 class="section__title">  Reported Users</h2>
            <div class="">
                @{

                    int i = 1;
                }
                <div class="feed">
                    <div class="card-body">
                        <table class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Last Reported Date</th>
                                    <th>User</th>
                                    <th>No Of Reports</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.reportedPostList)
                                {

                                    <tr>
                                        <td>@i</td>
                                        <td>@item.LastReportedDate</td>
                                        <td>
                                           <a href="/Users/Detail?Id=@item.UserFullname">@item.UserFullname</a>

                                        </td>
                                        @*<td>@item.PostTitle</td>*@
                                        <td>@item.NoOfReports</td>
                                        <td><a href="/User/Details?Id=@item.UserId">View Detail</a></td>
                                    </tr>


                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </section>
    </div>
</main>


