﻿@page
@model FanBucketUI.Pages.Admin.ReportedPostsModel
@{
    ViewData["Title"] = "Reported Posts";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var Username = uservice.GetUsername(User);
    var userFullname = uservice.GetName(User);
    var userImg = uservice.GetProfileImg(User);
}
<main class="insights--aside dashboard--main">
    <div class="right--aside__wrapper chat--wrapper">
        <section class="dashboard__general">
            <h2 class="section__title"> Reported Posts</h2>
            <div class="">
                @{

                    int i = 1;
                }
                <div class="feed">
                    <div class="card-body">
                        <table class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Last Reported Date</th>
                                    <th>Post</th>
                                    @*<th>Post Title</th>*@
                                    <th>No Of Reports</th>
                                    <th>Posted By</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.reportedPostList)
                                {

                                    <tr>
                                        <td>@i</td>
                                        <td>@item.LastReportedDate</td>
                                        <td>
                                            <div class="card__img" data-id="@item.PostId">
                                                View Post
                                            </div>

                                        </td>
                                        @*<td>@item.PostTitle</td>*@
                                        <td>@item.NoOfReports</td>
                                        <td>@item.PostCreatedBy</td>
                                        <td><a href="/Admin/PostReportedDetails?Id=@item.PostId">View Detail</a></td>
                                        @*<td><span class="badge bg-success">Active</span></td>*@
                                    </tr>


                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </section>
    </div>
</main>


