﻿@page
@model FanBucketUI.Pages.Admin.UsersModel
@{
    Layout = "../Shared/_LayoutAdmin.cshtml";
}

<main class="insights--aside dashboard--main">
    <div class="right--aside__wrapper chat--wrapper">
        <section class="dashboard__general">
            <h2 class="section__title">Users</h2>
            <div class="row">
                <div class="col-lg-12">
                    <!-- Search form -->
                    <div class="post-search-panel p-1 mb-4">
                        <input type="text" id="keywords" class="form-control" placeholder="Search with username or email..." onkeyup="searchFilter();">
                    </div>

                    <div class="post-wrapper">
                        <!-- Loading overlay -->
                        <div class="loading-overlay" style="display: none;"><div class="overlay-content">Loading...</div></div>

                        <!-- list container -->
                        <div id="postContent">
                            <!-- Display list -->

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
@section Scripts{
    <script src="~/js/UserList.js"></script>

}

