﻿@page
@model FanBucketUI.Pages.Admin.UserReportedDetailsModel
@{
    ViewData["Title"] = "User Reported:Details";
    Layout = "../Shared/_LayoutAdmin.cshtml";
}
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var Username = uservice.GetUsername(User);
    var userFullname = uservice.GetName(User);
    var userImg = uservice.GetProfileImg(User);
}
<main class="insights--aside dashboard--main">
    <div class="right--aside__wrapper chat--wrapper">
        <section class="dashboard__general">
            <h2 class="section__title"> Posts Reported</h2>
            <div class="">
                @{

                    int i = 1;
                }
                <div class="">
                    Last Reported Date: @Html.DisplayFor(x => x.reportedUser.LastReportedDate)
                    Post: @Html.DisplayFor(x => x.reportedUser.UserId)
                    Full Name: @Html.DisplayFor(x => x.reportedUser.UserFullname)
                </div>
                <div class="feed">
                    <div class="card-body">
                        <table class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Reported Date</th>
                                    <th>Reason</th>
                                    <th>Remarks</th>
                                    <th>Posted By </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.reportedUser.Reports)
                                {

                                    <tr>
                                        <td>@i</td>
                                        <td>@item.CreatedOn</td>
                                        <td>
                                            @item.ReportingReason
                                        </td>
                                        <td>@item.Remarks</td>
                                        <td>@item.ReportedById</td>
                                    </tr>


                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Post Review</h3>
                </div>

                <form method="post" class="card-body" enctype="multipart/form-data">
                    <input type="hidden" asp-for="ReportActionViewModel.UserId" value="@Model.reportedUser.UserId" />
                    <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label asp-for="ReportActionViewModel.Action" class="control-label"></label>
                            <select asp-for="ReportActionViewModel.Action" asp-items="Model.Actions">
                                <option value="">Select an Option</option>
                            </select>
                            <span asp-validation-for="ReportActionViewModel.Action" class="text-danger"></span>
                        </div>
                    </div>
                     <div class="col-sm-6 col-md-6">
                        <div class="form-group">
                            <label asp-for="ReportActionViewModel.BlockDays" class="control-label"></label>
                            <select asp-for="ReportActionViewModel.BlockDays" asp-items="Model.Days">
                                <option value="">Select an Option</option>
                            </select>
                            <span asp-validation-for="ReportActionViewModel.BlockDays" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="ReportActionViewModel.Remarks" class="control-label"></label>
                            <textarea asp-for="ReportActionViewModel.Remarks" class="form-control"></textarea>
                            <span asp-validation-for="ReportActionViewModel.Remarks" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>

        </section>
    </div>
</main>


