﻿@page
@model FanBucketUI.Pages.Post.CommentsModel
@{
    Layout = null;
}
<style>
    .hidden {
        display: none;
    }

    .comment__text {
        /* box-shadow: none !important;
        font-weight: 500 !important;
        color: #232323;
        background-color: transparent;
        flex-grow: 2;
        text-indent: 12px;
        border-radius: 10px;
        margin-left: 50px;
        width: 100%; */
    }
</style>
@inject FanBucketUI.API_Context.SessionHelper uservice;
@{
    var CurrentUserId = Guid.Parse(uservice.GetId(User));
}

@foreach (var item in Model.postMaster.OrderByDescending(x => x.CreatedDate))
{
    <div class="card__top profile--card" id="Comment_@item.Id">

        <div class="card__top__body">
            <a href="/@item.CreatorUsrName" class="d-flex align-items-center">
                <div class="card__img">
                    <img src="@item.CreatorImg" alt="">
                </div>
                <h2 class="card__title ">@item.CreatedBy</h2>
                <time class="small">@item.DateString</time>
            </a>
            <form class="commentEditForm hidden">
                <input type="hidden" value="@item.PostId" name="Post" />
                <input type="hidden" value="@item.Id" name="CommentId" />
                <input type="text" placeholder="Write a comment" name="Comment" value="@item.Comment" class="form-control comment__text hidden">
            </form>

            <p class="para">@item.Comment</p>
        </div>
        @if (item.CreatedById == CurrentUserId)
        {
            <div class="card__top__link dropdown">
                <a class="dropdown-toggle" type="button" data-toggle="dropdown" href="#!" data-target="commentone__dropdown" data-disabled="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="11.784" height="2.703" viewBox="0 0 11.784 2.703">
                        <g id="Group_144" data-name="Group 144" transform="translate(6425.085 6208.133)" opacity="0.3">
                            <path id="Path_95" data-name="Path 95" d="M-6416-6206.782a1.351,1.351,0,0,0,1.351,1.352,1.351,1.351,0,0,0,1.351-1.352,1.351,1.351,0,0,0-1.351-1.351A1.351,1.351,0,0,0-6416-6206.782Z" />
                            <path id="Path_96" data-name="Path 96" d="M-6417.842-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6417.842-6206.782Z" />
                            <path id="Path_97" data-name="Path 97" d="M-6422.383-6206.782a1.35,1.35,0,0,0-1.351-1.351,1.351,1.351,0,0,0-1.351,1.351,1.351,1.351,0,0,0,1.351,1.352A1.351,1.351,0,0,0-6422.383-6206.782Z" />
                        </g>
                    </svg>

                </a>

                <div class="dropdown-menu" id="commentone__dropdown">
                    <li class="nav-item">
                        <button class="nav-link dropdown-item edit--comment--trigger" data-id="@item.Id" data-val="@item.PostId">
                            Edit Comment
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link dropdown-item delete--comment--trigger" data-id="@item.Id" data-val="@item.PostId">
                            Delete Comment
                        </button>
                    </li>
                </div>



            </div>
        }
    </div>
}




