﻿@page
@model FanBucketUI.Pages.Post.FeedModel
@{
    ViewData["Title"] = "Feed";
    Layout = "../Shared/_LayoutUser.cshtml";
}
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var Username = uservice.GetUsername(User);
    var userFullname = uservice.GetName(User);
    var userImg = uservice.GetProfileImg(User);
}

@*<?php
    include './template/mobnav.php';
    ?>*@
<head>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NJJ5GBN');</script>
    <!-- End Google Tag Manager -->
</head>
<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJJ5GBN"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
<section class="post">
    <article class="profile--card">
        <a class="card__img">
            <img src="@userImg" alt="">
        </a>
        <div class="card__body form-group pr">
            <input id="my-post--value" type="text" placeholder="Share to your fans" class="form-control">
            <div type="button" class="user--gesture__blocked post--modal__trigger" data-toggle="modal" data-target="#post--modal" id="my-post--value"></div>
        </div>
        <div class="card__link">
            <a href="#" class="pr">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.68" height="21.68" viewBox="0 0 21.68 21.68">
                    <g id="Group_34" data-name="Group 34" transform="translate(6522.683 6688.971)">
                        <path id="Path_41" data-name="Path 41" d="M-6507.2-6688.971h-9.29a6.2,6.2,0,0,0-6.19,6.19v9.29a6.06,6.06,0,0,0,.94,3.259,5.509,5.509,0,0,0,.96,1.2,6.144,6.144,0,0,0,4.29,1.74h9.29a6.205,6.205,0,0,0,6.2-6.2v-9.29A6.2,6.2,0,0,0-6507.2-6688.971Zm-9.29,20.18a4.686,4.686,0,0,1-3.38-1.441l4.5-5.939,2.76,4.01-2.14,3.37Zm12.46-1.231a4.684,4.684,0,0,1-3.17,1.231h-5.77l6.13-9.66,4.32,5.42A4.669,4.669,0,0,1-6504.033-6670.022Zm1.53-5.389-4.48-5.62-4.75,7.48-3.59-5.181-5.43,7.191a4.589,4.589,0,0,1-.43-1.95v-9.29a4.69,4.69,0,0,1,4.69-4.69h9.29a4.7,4.7,0,0,1,4.7,4.69Z" fill="#f28f8f" />
                        <path id="Path_42" data-name="Path 42" d="M-6510.4-6683.7a1.016,1.016,0,0,0-1.016,1.016,1.015,1.015,0,0,0,1.016,1.015,1.014,1.014,0,0,0,1.015-1.015A1.014,1.014,0,0,0-6510.4-6683.7Z" fill="#f28f8f" />
                    </g>
                </svg>
                <input type="file" accept="image/gif,image/jpeg,image/png,image/bmp" multiple="" id="post__card__link__input" class="post__card__link__input">
                <label for="post__card__link__input" class="user--gesture__blocked"></label>
            </a>
            <a href="#" type="button" class=" post--modal__trigger" data-toggle="modal" data-target="#post--modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.68" height="21.68" viewBox="0 0 21.68 21.68">
                    <g id="Group_39" data-name="Group 39" transform="translate(6481.337 6688.971)">
                        <path id="Path_43" data-name="Path 43" d="M-6465.857-6688.971h-9.29a6.2,6.2,0,0,0-6.19,6.19v9.29a6,6,0,0,0,.94,3.25,5.334,5.334,0,0,0,.96,1.21,6.142,6.142,0,0,0,4.29,1.74h9.29a6.205,6.205,0,0,0,6.2-6.2v-9.29A6.2,6.2,0,0,0-6465.857-6688.971Zm4.93,14.94a5.471,5.471,0,0,1-5.47,5.469h-8.21a5.393,5.393,0,0,1-3.58-1.359c-.12-.1-.23-.21-.34-.32a4.81,4.81,0,0,1-.71-.92,5.3,5.3,0,0,1-.83-2.87v-8.21a5.415,5.415,0,0,1,1.25-3.471,4.736,4.736,0,0,1,1.04-.959,5.363,5.363,0,0,1,3.17-1.03h8.21a5.362,5.362,0,0,1,3.53,1.3,2.284,2.284,0,0,1,.33.3,2.408,2.408,0,0,1,.3.33,5.38,5.38,0,0,1,1.31,3.531Z" fill="#f28f8f" />
                        <g id="Group_38" data-name="Group 38">
                            <path id="Path_44" data-name="Path 44" d="M-6474.774-6683.192a1.252,1.252,0,0,0-1.253,1.252,1.253,1.253,0,0,0,1.253,1.253,1.252,1.252,0,0,0,1.252-1.253A1.251,1.251,0,0,0-6474.774-6683.192Z" fill="#f28f8f" />
                            <g id="Group_35" data-name="Group 35">
                                <rect id="Rectangle_15" data-name="Rectangle 15" width="7.493" height="1" transform="translate(-6472.46 -6682.44)" fill="#f28f8f" />
                            </g>
                            <path id="Path_45" data-name="Path 45" d="M-6474.774-6679.384a1.253,1.253,0,0,0-1.253,1.253,1.252,1.252,0,0,0,1.253,1.252,1.251,1.251,0,0,0,1.252-1.252A1.252,1.252,0,0,0-6474.774-6679.384Z" fill="#f28f8f" />
                            <g id="Group_36" data-name="Group 36">
                                <rect id="Rectangle_16" data-name="Rectangle 16" width="7.493" height="1" transform="translate(-6472.46 -6678.631)" fill="#f28f8f" />
                            </g>
                            <path id="Path_46" data-name="Path 46" d="M-6474.774-6675.575a1.253,1.253,0,0,0-1.253,1.253,1.252,1.252,0,0,0,1.253,1.252,1.251,1.251,0,0,0,1.252-1.252A1.252,1.252,0,0,0-6474.774-6675.575Z" fill="#f28f8f" />
                            <g id="Group_37" data-name="Group 37">
                                <rect id="Rectangle_17" data-name="Rectangle 17" width="7.493" height="1" transform="translate(-6472.46 -6674.823)" fill="#f28f8f" />
                            </g>
                        </g>
                    </g>
                </svg>

            </a>
            <a href="#" type="button" class="post--modal__trigger" data-toggle="modal" data-target="#post--modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.679" height="21.68" viewBox="0 0 21.679 21.68">
                    <g id="Group_41" data-name="Group 41" transform="translate(6439.991 6688.971)">
                        <path id="Path_47" data-name="Path 47" d="M-6424.511-6688.971h-9.29a6.194,6.194,0,0,0-6.19,6.19v9.29a6,6,0,0,0,.94,3.25,5.294,5.294,0,0,0,.96,1.21,6.139,6.139,0,0,0,4.29,1.74h9.29a6.2,6.2,0,0,0,6.2-6.2v-9.29A6.2,6.2,0,0,0-6424.511-6688.971Zm4.929,14.94a5.469,5.469,0,0,1-5.469,5.469h-8.21a5.39,5.39,0,0,1-3.58-1.359c-.121-.1-.23-.21-.34-.32a4.771,4.771,0,0,1-.71-.92,5.291,5.291,0,0,1-.83-2.87v-8.21a5.413,5.413,0,0,1,1.25-3.471,4.736,4.736,0,0,1,1.04-.959,5.361,5.361,0,0,1,3.17-1.03h8.21a5.36,5.36,0,0,1,3.529,1.3,2.234,2.234,0,0,1,.33.3,2.476,2.476,0,0,1,.3.33,5.376,5.376,0,0,1,1.309,3.531Z" fill="#f28f8f" />
                        <g id="Group_40" data-name="Group 40">
                            <path id="Path_48" data-name="Path 48" d="M-6432.622-6681.94a1.253,1.253,0,0,0-1.253,1.253,1.252,1.252,0,0,0,1.253,1.252,1.252,1.252,0,0,0,1.252-1.252A1.253,1.253,0,0,0-6432.622-6681.94Z" fill="#f28f8f" />
                            <path id="Path_49" data-name="Path 49" d="M-6425.68-6681.94a1.253,1.253,0,0,0-1.253,1.253,1.252,1.252,0,0,0,1.253,1.252,1.251,1.251,0,0,0,1.252-1.252A1.252,1.252,0,0,0-6425.68-6681.94Z" fill="#f28f8f" />
                        </g>
                        <path id="Path_50" data-name="Path 50" d="M-6432.2-6675.277a3.044,3.044,0,0,0,3.045,3.043,3.044,3.044,0,0,0,3.044-3.043Z" fill="#f28f8f" />
                    </g>
                </svg>
            </a>
        </div>
    </article>
</section>

<section class="moments">
    <h2 class="section__title">Moments</h2>
    <div class="title__wrapper">

        <div id="momentsfeed">
        </div>
        @*<a href="#" class="title__link">Watch All</a>*@
    </div>

</section>


<section class="accounts--top" style="height:250px;">
    <h2 class="section__title">Now Trending</h2>
    <div class="carousel">
        @*<div class="item">
            <div class="card">
            <div class="card__top">
            <div class="card__img">
            <img src="~/Content/gallery/mohamed-lammah-CcOPMtEQqEQ-unsplash-min.jpg" alt="">
            </div>
            <div class="card__img">
            <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
            </div>
            </div>
            <div class="profile__img--wrapper">
            <a href="#" class="profile__img">
            <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
            </a>
            </div>
            <div class="card__body text-center">
            <h2 class="card__title"><a href="#">testc Name </a> </h2>
            <p class="para small">test address</p>
            </div>
            </div>
            </div>
            <div class="item">
            <div class="card">
            <div class="card__top">
            <div class="card__img">
            <img src="~/Content/gallery/mohamed-lammah-CcOPMtEQqEQ-unsplash-min.jpg" alt="">
            </div>
            <div class="card__img">
            <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
            </div>
            </div>
            <div class="profile__img--wrapper">
            <a href="#" class="profile__img">
            <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
            </a>
            </div>
            <div class="card__body text-center">
            <h2 class="card__title"><a href="#">testc Name </a> </h2>
            <p class="para small">test address</p>
            </div>
            </div>
            </div>
            <div class="item">
            <div class="card">
            <div class="card__top">
            <div class="card__img">
            <img src="~/Content/gallery/mohamed-lammah-CcOPMtEQqEQ-unsplash-min.jpg" alt="">
            </div>
            <div class="card__img">
            <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
            </div>
            </div>
            <div class="profile__img--wrapper">
            <a href="#" class="profile__img">
            <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
            </a>
            </div>
            <div class="card__body text-center">
            <h2 class="card__title"><a href="#">testc Name </a> </h2>
            <p class="para small">test address</p>
            </div>
            </div>
            </div>
            <div class="item">
            <div class="card">
            <div class="card__top">
            <div class="card__img">
            <img src="~/Content/gallery/mohamed-lammah-CcOPMtEQqEQ-unsplash-min.jpg" alt="">
            </div>
            <div class="card__img">
            <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
            </div>
            </div>
            <div class="profile__img--wrapper">
            <a href="#" class="profile__img">
            <img src="~/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg" alt="">
            </a>
            </div>
            <div class="card__body text-center">
            <h2 class="card__title"><a href="#">testc Name </a> </h2>
            <p class="para small">test address</p>
            </div>
            </div>
            </div>*@
    </div>
</section>

<section class="feed" id="viewFeed">
    <h2 class="section__title">Your Feed</h2>


</section>
@{
    await Html.RenderPartialAsync("_CommonLoader");
}
@*<span id="End">&nbsp;</span>
*@
<div class="modal fade  modal--form modal--fancy" id="intrest--modal" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header title__wrapper">
                <h2 class="section__title">What are you interested in?</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.73 13.73"><<g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><polygon class="cls-1" points="13.73 0.78 12.95 0 6.87 6.08 0.78 0 0 0.78 6.08 6.87 0 12.95 0.78 13.73 6.87 7.65 12.95 13.73 13.73 12.95 7.65 6.87 13.73 0.78" /></g></g></svg>
                </button>
            </div>
            <div class="modal-body">


                <form action="" method="post" id="interestModalForm">
                    <div class="form__wrapper">
                        <div class="form-group">
                            <div class="list-group">
                                @{
                                    var i = 0;
                                }
                                @foreach (var item in Model.interests)
                                {
                                    <div class="form-check">
                                        <input name="InterestIds[]" class="form-check-input userInterests" type="checkbox" value="@item.Id" id="InterestIds--@i">
                                        <label class="list-group-item list-group-item-action form-check-label" for="InterestIds--@i">
                                            <i class="bi bi-plus-circle"></i>
                                            <i class="bi bi-check-circle-fill active"></i>
                                            <span>@item.Name</span>

                                        </label>
                                    </div>
                                    i++;
                                }

                            </div>
                        </div>

                        <div class="card__link">
                            <button type="submit" class="deactive mr-3">
                                Skip
                            </button>
                            <button type="submit">
                                Save
                            </button>

                        </div>

                    </div>

                </form>
                @{
                    var test = Model.usr != null && Model.usr.UserInterestCount == 0 ? "true" : "false";

                }
                <input type="hidden" value="@test" id="intrest_count" />
            </div>
        </div>
    </div>
</div>



@section Scripts{
<script src="~/js/site.js"></script>

<script src="https://js.stripe.com/v3"></script>



<script>

    var stripe = Stripe('pk_test_51JNrobCtlkxgnzHQ3mlHM3Gye5AlUtEIwVmlT4NFwiw1xmVyeMe0cEfUG4yq2zJtnY9mG5YTumuxlWFRL20CP16400SS9uYq8K');

    var checkoutButton = document.getElementById('btnPay');

        checkoutButton.addEventListener('click', function () {
            debugger;
            var auth = $('#token___Auth').val();
            var url = apiURL + '/Payment/PaymentInit';
            var modal = {
                PostId: '',
                PostTitle: '',
                PostAmount: 5

            }
            modal.PostId =$(this).attr('data-id');
            modal.PostTitle = "Post";
            modal.PostAmount = 5;
            $.ajax({
                type: 'POST',
                url: url,
                dataType: "json",
                data: JSON.stringify(modal),
                contentType: "application/json",
                headers: {
                    Authorization: "Bearer " + auth
                },
                success: function (response) {
                   stripe.redirectToCheckout({
                // Make the id field from the Checkout Session creation API response
                // available to this file, so you can provide it as argument here
                // instead of the {{CHECKOUT_SESSION_ID}} placeholder.
                sessionId: response.returnMsg
            }).then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, display the localized error message to your customer
                // using `result.error.message`.
            });
                },
                //complete: function(){
                //        alert("complete");
                //},
                failure: function (jqXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });


        });
</script>
<script>



    //    const apiURL = 'http://localhost:5001/api';
     $(document).ready(function () {
         var showinterest = $('#intrest_count').val();
         console.log(showinterest);
          if (showinterest=="true") {
               $('#intrest--modal').modal('show');
            }
    //	window.location.hash = '';

        $("#interestModalForm").submit(function (event) {
            var auth = $('#token___Auth').val();

            event.preventDefault(); //prevent default action
            var post_url = $(this).attr("action"); //get form action url
            post_url =apiURL + '/UserInterest'; //get form action url
            var request_method = $(this).attr("method"); //get form GET/POST method
            //var form_data = new FormData(this[0]); //Creates new FormData object
             // Get form
           // var form = $('#interestModalForm')[0];

           //// Create an FormData object
           // var data = new FormData(form);
           // var dataString = $(form).serialize();
           //  dataString = $('#interestModalForm').serialize();
             var InterestIds = [];
              $(".userInterests").each(function(){
                  if ($(this).is(":checked")) {
                      InterestIds.push($(this).val());
                  }
              });
            $.ajax({
            type: request_method,
            url: post_url,
            dataType: "json",
            data: JSON.stringify(InterestIds),
            contentType: "application/json",
            headers: {
                Authorization:"Bearer " + auth
            },
            success: function (response) {
                $('#intrest--modal').modal('hide');
                console.log(response);
                EventNotification(response);
                },
            //complete: function(){
            //        alert("complete");
            //},
            failure: function (jqXHR, textStatus, errorThrown) {
                 alert(errorThrown);
            }
            });
                @*
                    $.ajax({
                    url: post_url,
                    crossDomain: true,
                    type: request_method,
                    "data": {"InterestIds": InterestIds},
                    contentType: "application/json",
                    cache: false,
                    //dataType: "json",
                    processData: false,
                    headers: {
                        Authorization:
                            "Bearer " + auth
                    }
                    }).done(function (data) {
                    console.log(data);
                    }).fail(function (result) {
                    console.log(result);
                    });*@

            event.preventDefault();
        });
    });
</script>

}
