﻿@page
@model FanBucketUI.Pages.Post.MomentsModel
@{
    ViewData["Title"] = "Moments";
    Layout = null;

}
@inject FanBucketUI.API_Context.SessionHelper uservice
@{
    var Username = uservice.GetUsername(User);
    var userFullname = uservice.GetName(User);
    var userImg = uservice.GetProfileImg(User);
    var userId = Guid.Parse(uservice.GetId(User));
    var OwnMoment = Model.moments.Where(x => x.Creator.CreatorId == userId).FirstOrDefault();
}


<div class="stories d-flex ">
    @*<div class="img__wrapper">
            <a class="card__img	 active self" href="#">
                <img src="./gallery/ali-yahya-43cZUXtT3yc-unsplash-min.jpg" alt="">
                <div class="add">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.53 14.53"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><rect class="cls-1" x="6.26" width="2.01" height="14.53"></rect><rect class="cls-1" y="6.26" width="14.53" height="2.01"></rect></g></g></svg>
                </div>
            </a>
            <a href="#" class="para small">Add Moments</a>
        </div>*@
    @if (OwnMoment != null)
    {
        <div class="img__wrapper">
            <a class="card__img  active trigger--moment" href="#" id="@OwnMoment.Creator.CreatorId" data-val="@OwnMoment.Creator.Creator" data-img="@OwnMoment.Creator.CreatorImg">
                @foreach (var _item in OwnMoment.MomentDetail.OrderByDescending(x => x.CreatedDate))
                {
                    <input type="hidden" value="@_item.PostId" data-val="@_item.CreatedDate" />

                }
                <img src="@OwnMoment.Creator.CreatorImg" alt="">
            </a>
            <a href="#" class="para small">@OwnMoment.Creator.Creator</a>
        </div>
    }

    @foreach (var item in Model.moments.Where(x => x.Creator.CreatorId != userId).OrderByDescending(x => x.MaxDate))
    {
        <div class="img__wrapper">
            <a class="card__img  active trigger--moment" href="#" id="@item.Creator.CreatorId" data-val="@item.Creator.Creator" data-img="@item.Creator.CreatorImg">
                @foreach (var _item in item.MomentDetail.OrderByDescending(x => x.CreatedDate))
                {
                    <input type="hidden" value="@_item.PostId" data-val="@_item.CreatedDate" />

                }
                <img src="@item.Creator.CreatorImg" alt="">
            </a>
            <a href="#" class="para small">@item.Creator.Creator</a>
        </div>
    }
    @*href="#" data-toggle="modal" data-target="#moments--modal"*@

</div>


