﻿@page
@model FanBucketUI.Pages.Post.ReportPostModel
@{
    Layout = null;
}

<h2 class="section__title">Why are you reporting this post ?</h2>
<div class="list-group reportListReason">
    <a href="#" data-val="Spam" class="list-group-item reportReason">It's spam</a>
    <a href="#" data-val="Nudity" class="list-group-item reportReason">Nudity or sexual activity</a>
    <a href="#" data-val="Hate" class="list-group-item reportReason">Hate speech or symbols</a>
    <a href="#" data-val="Unlike" class="list-group-item reportReason">I just don't like it</a>

</div>