﻿@page
@model FanBucketUI.Pages.Post.TopAccountsModel
@{
    Layout = null;
    var staticFeatureLeft = "/Content/gallery/mohamed-lammah-CcOPMtEQqEQ-unsplash-min.jpg";
    var staticFeatureRight = "/Content/gallery/devon-byers-M-Zr085ub6Q-unsplash-min.jpg";
}



@foreach (var item in Model.topAccs)
{
    var featuredLeft = string.IsNullOrEmpty(item.FeaturedImageLeft) ? staticFeatureLeft : item.FeaturedImageLeft;
    var featuredRight = string.IsNullOrEmpty(item.FeaturedImageRight) ? staticFeatureRight : item.FeaturedImageRight;

    <div class="item">
        <div class="card">
            <div class="card__top">
                <div class="card__img">
                    <img src="@(featuredLeft)" alt="">
                </div>
                <div class="card__img">
                    <img src="@(featuredRight)" alt="">
                </div>
            </div>
            <div class="profile__img--wrapper">
                <a href="/@item.Username" class="profile__img">
                    <img src="@item.ProfileImgLocation" alt="">
                </a>
            </div>
            <div class="card__body text-center">
                <h2 class="card__title"><a href="/@item.Username">@item.FullName</a> </h2>
                <p class="para small">@item.Username</p>
            </div>
        </div>
    </div>
}



